.fh-checkbox > [type="checkbox"]:checked,
.fh-checkbox > [type="checkbox"]:not(:checked),
.fh-radio > [type="radio"]:checked,
.fh-radio > [type="radio"]:not(:checked){
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
}

.fh-checkbox > [type="checkbox"]:checked + label,
.fh-checkbox > [type="checkbox"]:not(:checked) + label,
.fh-radio > [type="radio"]:checked + label,
.fh-radio > [type="radio"]:not(:checked) + label {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
    padding-left: 37px;
    background-color: transparent !important;
    position: relative;
    cursor: pointer;
}

.fh-checkbox > [type="checkbox"]:checked + label:before,
.fh-checkbox > [type="checkbox"]:not(:checked) + label:before,
.fh-radio > [type="radio"]:checked + label:before,
.fh-radio > [type="radio"]:not(:checked) + label:before {
    position: absolute;
    display: inline-block;
    bottom: 1px;
    left: 0;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    border: 2px solid #999;
    color: #fff;
}

.fh-checkbox > [type="checkbox"]:checked + label:hover:before,
.fh-checkbox > [type="checkbox"]:not(:checked) + label:hover:before,
.fh-radio > [type="radio"]:checked + label:hover:before,
.fh-radio > [type="radio"]:not(:checked) + label:hover:before {
    background-color: #57cb85;
}

.fh-checkbox > [type="checkbox"]:checked:focus + label:before,
.fh-checkbox > [type="checkbox"]:not(:checked):focus + label:before,
.fh-radio > [type="radio"]:checked:focus + label:before,
.fh-radio > [type="radio"]:not(:checked):focus + label:before {
    border-color: #6fb5fb;
    box-shadow: 0 0 6px 0 #6fb5fb;
}

.fh-checkbox > [type="checkbox"]:checked[disabled] + label,
.fh-checkbox > [type="checkbox"]:not(:checked)[disabled] + label,
.fh-radio > [type="radio"]:checked[disabled] + label,
.fh-radio > [type="radio"]:not(:checked)[disabled] + label {
    cursor: not-allowed;
    opacity: .4;
}

.fh-checkbox > [type="checkbox"]:checked[disabled] + label:before,
.fh-checkbox > [type="checkbox"]:not(:checked)[disabled] + label:before,
.fh-radio > [type="radio"]:checked[disabled] + label:before,
.fh-radio > [type="radio"]:not(:checked)[disabled] + label:before {
    opacity: .7;
}

.fh-checkbox > [type="checkbox"]:checked + label:before,
.fh-checkbox > [type="checkbox"]:not(:checked) + label:before {
  font-size: 13px;
  text-align: center;
  font-family: "fontawesome";
  -webkit-transition: border-color .2s ease-in, background-color .2s ease-in;
  -moz-transition: border-color .2s ease-in, background-color .2s ease-in;
  -o-transition: border-color .2s ease-in, background-color .2s ease-in;
  -ms-transition: border-color .2s ease-in, background-color .2s ease-in;
  transition: border-color .2s ease-in, background-color .2s ease-in; }

.fh-checkbox > [type="checkbox"]:checked + label:before {
  content: "\f00c";
  color: #FFF;
  background-color: #57cb85;
  border-color: #57cb85; }

.fh-checkbox > [type="checkbox"]:not(:checked) + label:before {
  content: ""; }