/*
.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 202px;
    height: 202px;
    cursor: move;
}
.cropit-preview-image-container {
    cursor: move;
}
.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/
/*.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 202px;
    height: 202px;
    cursor: move;
}*/
.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 3px solid #777;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
}
.cropit-preview-image-container {
    cursor: move;
}
.cropit-preview-background {
    opacity: .6;
    cursor: auto;
}
.image-size-label {
    margin-top: 10px;
}
input, .export {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    z-index: 10;
    display: block;
}
button {
    margin-top: 10px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-editor img{
    max-width: unset !important;
    height:auto

}