/* main page */

#content {
    top:0;
    right:0;
    position: relative;
    width: 97%;
    margin: 0 10px;
    padding: 10px 0;
    height: 500px;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#contentHistory{
    display: block;
    position: relative;
    width: 99%;
    margin: 0 10px;
    height: 500px;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* side navigation */
#sidemenu {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: transparent;
    height: 500px;
}


#sidemenu li {
    display: block;
    text-align: left;
    font-size: 1.1em;
    width: 100%;
    background-color: #eee;
    margin-bottom: 10px;
}

.horizontal-menu{
    margin-bottom: 25px;
}

#sidemenu span.horizontal{
    background-color: #eee;
    margin-right: 10px;
    padding: 15px 20px;
}

#sidemenu span.horizontal a{
    overflow-y: hidden;
    color: #555;
    text-decoration: none;
    padding: 0 22px;
    font-weight: normal;
    font-size: 15px;
    margin-right: 2px;
}

#sidemenu span.horizontal a.open{
    padding: 15px 46px 30px 42px;
    margin: -15px -22px -15px -20px;
    background: #fff;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#sidemenu span.horizontal:hover {
    background: #f2f2f2;
}

#sidemenu li a.menu-items{
    display: block;
    padding: 10px 20px;
    height: 60px;
    overflow-y: hidden;
    color: #555;
    text-decoration: none;
}

#sidemenu li p{
    font-size: 12px;
    margin-left: 5px !important;
}

#sidemenu li.calories {
    display: block;
    padding: 10px 0;
    height: 220px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    color: #555;
    text-decoration: none;
    width: 100%;
    border-left: 4px solid dodgerblue ;
}

#sidemenu li.calories .text{
    margin: 0 10px 10px 10px !important;
}

#sidemenu li.calories .text p{
    margin-bottom: 10px;
}

#sidemenu li a.menu-items:hover {
    background: #f2f2f2;
}

#sidemenu li a.menu-items strong {
    display: block;
    margin-top: 5px;
}

#sidemenu li a.menu-items.open {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#sidemenu li.daily_update a.menu-items.open {
    color: #f8ba01;
    border-left: 4px solid #f8ba01;
}

#sidemenu li.advice a.menu-items.open {
    color: red;
    border-left: 4px solid red;
}

#advice h4 {
    color: red;
}

#sidemenu li.history a.menu-items.open {
    color: #ff0066;
    border-left: 4px solid #ff0066;
}

#history h4 {
    color: #ff0066;
}

#sidemenu li.weight a.menu-items.open {
    color: limegreen;
    border-left: 4px solid limegreen;
}

#sidemenu li.app a.menu-items.open {
    color: #eb6b22;
    border-left: 4px solid #eb6b22;
}

#sidemenu li.log a.menu-items.open {
    color: #00bfff;
    border-left: 4px solid #00bfff;
}

#sidemenu span.horizontal a.menu-items.open {
    color: blue;
    border-top: 4px solid blue;
}

/* extra styles */
.bigtxtfield {
    display: block;
    width: 350px;
    color: #555;
    padding: 4px 6px;
    margin-bottom: 15px;
}

.bigtxtarea {
    display: block;
    width: 440px;
    height: 90px;
    padding: 5px 9px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 1.2em;
}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#sidemenu li a.menu-items i{
    font-size: 16px;
    width: 25px;
}

#sidemenu li a.menu-items span{
    font-size: 16px;
    font-weight: normal;
}

#sidemenu li a.menu-items p{
    padding-left: 20px;
}

.outerline{
    position: relative;
    display: inline-block;
    height: 480px;
    padding: 5px;
    margin: 0 10px 10px 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

/* main page */
#graphcontent {
    display: block;
    margin: 5px 0 0 200px;
    position: absolute;
    width: 460px;
    height: 380px;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding-top: 15px;
}

/* side navigation */
#graphmenu {
    margin: 5px 0 0 10px;
    padding: 0;
    float: left;
    background: transparent;
    height: 380px;
}

#graphmenu li {
    display: block;
    text-align: left;
    font-size: 1.1em;
    width: 180px;
    background-color: #eee;
    margin-bottom: 7px;
}

#graphmenu li a {
    display: block;
    padding: 8px 15px;
    overflow-y: hidden;
    color: #555;
    height: 40px;
    text-decoration: none;
}

#graphmenu li p{
    margin-top: 5px;
    font-size: 12px;
}

#graphmenu li.calories {
    display: block;
    padding: 10px 0;
    height: 255px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    color: #555;
    text-decoration: none;
    width: 224px;
    margin-left: -4px;
    border-left: 4px solid dodgerblue ;
}

#graphmenu li.calories .text{
    margin: 0 10px !important;
}

#graphmenu li.calories .text p{
    margin-bottom: 10px;
}

#graphmenu li a:hover {
    background: #f2f2f2;
}

#graphmenu li a strong {
    display: block;
    margin-top: 5px;
}

#graphmenu li a.open {
    width: 180px;
    height: 98px;
    background: #fff;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#graphmenu li.daily_update a.open {
    color: #f8ba01;
    border-left: 4px solid #f8ba01;
}

#graphmenu li.advice a.open {
    color: red;
    border-left: 4px solid red;
}

#graphmenu li.weight a.open {
    color: limegreen;
    border-left: 4px solid limegreen;
}

#graphmenu span.horizontal a.open {
    color: blue;
    border-top: 4px solid blue;
}

#graphmenu li a span{
    font-size: 14px;
    font-weight: bold;
}
