
<!-- Start Page Banner -->

<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Food Management</span></h4>
            <div ng-include src="'views/food-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#foodSuggestion" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to Food Suggestion List</a>
            <h4 class="classic-title"><span><i class="fa fa-eye"></i> &nbsp;View Food Suggestion</span></h4>
            <div class="row">
                <div class="col-md-12 margin-top-10">
                    <div class="testimonial">
                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" ng-src="{{myImgSrc}}" >
                            </div>
                            <div class="media-body">
                                <div class="col-md-3" ><strong>Suggested User:</strong></div><div class="col-md-9"><span>{{viewFoodSuggestionDetails.user_name}}</span></div>
                                <div class="col-md-3 margin-top-10"><strong>Suggested Date:</strong></div><div class="col-md-9 margin-top-10"><span>{{viewFoodSuggestionDetails.suggestiondate}}</span></div>
                                <div class="col-md-3 margin-top-10"><strong>Suggested Food:</strong></div><div class="col-md-9 margin-top-10"><span>{{viewFoodSuggestionDetails.foodname}}</span></div>
                                <div class="col-md-3 margin-top-10"><strong>Description:</strong></div><div class="col-md-9 margin-top-10 wrap"><span>{{viewFoodSuggestionDetails.fooddescription}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->
