<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->

<html lang="en" class="body-bg">
<head>

    <style>
        .centerize {
            text-align: center;
            margin-top: 20px;
        }
        .btn-small {
            padding: 14px 50px !important;
        }
    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74736118-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Cyberhealths is a modern innovation and online fitness program developed with the motive to help the users in weight loss, weight gain, diabetes control, etc,…">

    <!-- Basic -->
    <title>Cyberhealths</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--  Date picker Bootstrap css-->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <!-- slide show -->
    <link type="text/css" rel="stylesheet" href="css/supersized.css"/>
    <link type="text/css" rel="stylesheet" href="css/supersized.shutter.css"/>

    <!-- Custom links  -->
    <!-- combine of style, passowrd, font-site, yellow, spinner, loader css files  -->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen"/>
    <!-- Pop-up Styles  -->
    <link type="text/css" rel="stylesheet" href="plugin/popup/style.css"/>

    <!--Message flash-->
    <link type="text/css" rel="stylesheet" href="css/angular-flash.css" />


    <link type="text/css" rel="stylesheet" href="css/BeatPicker.css"/>

    <!--video player CSS styles-->
    <link rel="stylesheet" type="text/css" href="css/video-js.css" media="screen"/>

        <!-- Date picker requires jQuery-UI -->
     <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css"/>-->
        <style>svg {width: 100%; height: 100%}</style>
</head>

<body ng-app="commonApp" >

<!-- Full Body Container -->
<div id="container" class="boxed-page" ng-controller="LoginController">
    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Stat Toggle Nav Link For Mobiles -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- End Toggle Nav Link For Mobiles -->
                    <a class="navbar-brand" href="">
                        <img class="hidden-xs" width="209" height="57" alt="" src="images/cyber-logo.png">
                        <img class="hidden-md hidden-lg hidden-sm" width="180" height="49" alt="" src="images/cyber-logo-small.png">
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <!-- Start Navigation List -->

                    <ul  class="nav navbar-nav navbar-right" style="min-width: 450px !important;left:100px !important">
                        <li><a class="active" href="">Home</a></li>
                        <li><a class="{{activeClass.healthy}}" href="views/home/#/healthy-tips"><span class="highlight-menu-item">Healthy Living</span></a></li>
                        <li><a class="{{activeClass.coach}}" href="views/home/#/coach">I'm&nbsp;a&nbsp;Coach</a></li>
                        <div ng-if="loaded">
                            <div class="loader-style-home">
                                <div class="loader"></div>
                            </div>
                        </div>
                        <ul class="social-list remove-style noMobileApp">
                            <li class="navbar-common" >
                               <ul class="nav navbar-nav dropdownmenu">
                                   <li>
                                       <a id="login-button" class="login itl-tooltip modal_trigger username-login" style="display:none;" data-ng-click="reset()" href="#modal">Login / Register</a>
                                       <a href="" id="welcome-text" style="display:none;color:#f8ba01!important">{{userdetails.loginName}}&nbsp;<span class="fa fa-caret-down"></span></a>
                                       <ul class="dropdown remove-style">
                                           <li><a  href={{redirecturl}}>Dashboard</a></li>
                                           <li><a href=""  ng-controller="UserLogoutController" ng-click="doLogout()">Logout</a></li>
                                       </ul>
                                  </li>
                               </ul>
                            </li>
                        </ul>
                         <li class="social-list remove-style mobileApp">
                            <a id="mobile-login-button" class="login itl-tooltip modal_trigger"  style="display:none;"
                             data-ng-click="reset()" data-placement="bottom" href="#modal">Login / Register</a>
                        </li>
                    </ul>
                    <!-- End Navigation List -->
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Logo & Naviagtion -->

    <!-- Login Alert section popup-->
    <div id="section-modal" class="popupContainer width-28" style="display:none;left: 36%!important">
        <header class="popupHeader width-100">
            <span class="header_title">Alert</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>
        <section class="popupBody">
            <!-- Register Form -->
            <div class="common_model">
                <div class="text-center"><img width="118" height="100" src="images/alert-ring.png"/></div><br/>
                <h5 class="text-center">Your session has expired<br/>Please login again!!!</h5>
                <div class="action_btns margin-top-20 margin-bottom-10">
                    <div class="one_half"><a href="#modal"  data-ng-click="reset()" class="btn btn_red modal_trigger relogin">OK</a></div>
                    <div class="one_half last"><a onclick="return false;" class="btn back_btn modal_close">Cancel</a></div>
                </div>
            </div>
        </section>
    </div>

    <div ng-include src="'views/common/login-popup.html'"></div>


    <div class="container" style="width: 100% !important;">
    <div class="row">
        <!-- Carousel -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="10000" id="bs-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1"></li>
                <li data-target="#bs-carousel" data-slide-to="2"></li>
                <li data-target="#bs-carousel" data-slide-to="3"></li>
                <li data-target="#bs-carousel" data-slide-to="4"></li>
                <li data-target="#bs-carousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
               <div class="item slides active">
                    <div class="slide-1"  id="slide-1" style="display: block;">
                        <div class="hero">
                            <hgroup>
                                <h1 id="slider1_firsttext">It’s not a short term diet</h1>
                                <h2 id="slider1_secondtext">It’s a long term lifestyle change</h2>
                                <br/>
                                <h3 id="slider1_thirdtext" class="hidden-xs">Cyberhealths is a <b>FAMILY</b> of fitness trainers, techies, athletes, dreamers, and entrepreneurs who are relentless in their passion for health education.</h3>
                            </hgroup>
                            <span class="noMobileApp">
                                <button id="slider1_button"  class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                            </span>
                            <span class="mobileApp">
                            <span class="android">
                                <!-- This is android -->
                                <button class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                            </span>
                            <span class="iphone">
                                <!-- This is iphone -->
                                 <button class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                            </span>
                        </span>
                        </div>
                        <video width="100%" height="100%" loop="" autoplay="" muted="">
                            <source src="https://cdn.cyberhealths.com/Application/banner-video.mp4" type="video/mp4">
                        </video>
                    </div>
               </div>
               <div class="item slides">
                    <div class="slide-2">
                        <img src="images/slider-back-1.jpg">
                    </div>
                    <div class="hero" id="hero_slider2">
                        <hgroup>
                            <h1 id="slider2_firsttext">Coaches:</h1>
                            <br class="hidden-xs"/>
                            <h2 id="slider2_secondtext">Train Anyone,</h2>
                            <br class="hidden-xs"/>
                            <h2 id="slider2_thirdtext">Anywhere in the World.</h2>
                        </hgroup>
                        <br class="hidden-xs"/>

                        <button id="slider2_button" class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                    </div>
               </div>
               <div class="item slides">
                    <div class="slide-3">
                        <img src="images/slider-back-2.jpg">
                    </div>
                    <div class="hero">
                        <hgroup>
                            <h2 id="slider3_firsttext" class="pull-left">Sweat Now!</h2> <br/>
                            <h2 id="slider3_secondtext" class="pull-right ">Shine Later!</h2>
                        </hgroup> <br/><br/><br/>
                    </div>
               </div>
              <div class="item slides">
                    <div class="slide-4">
                        <img src="images/slider-back-3.jpg">
                    </div>
                    <div class="hero" id="slide_4_div">
                        <hgroup>
                            <h2 id="slider4_firsttext" class="pull-right">You don’t have to eat less</h2> <br/>
                            <h2 id="slider4_secondtext">You just have to eat right</h2>
                        </hgroup>
                        <button class="btn btn-hero btn-lg pull-right" id="slider4_button" role="button" onclick="$('.loginNow').click()">Register Now</button>
                    </div>
              </div>
              <div class="item slides">
                    <div class="slide-5">
                        <img src="images/slider-back-4.jpg">
                    </div>
                    <div class="hero slider5_hero">
                        <hgroup>
                            <h2 id="slider5_firsttext">"Every human being is the author of his own health or disease”</h2>
                            <h3 id="slider5_secondtext">– Buddha</h3>
                        </hgroup>
                        <button id="slider5_button" class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                    </div>
              </div>
                <div class="item slides">
                    <div class="slide-6">
                        <img src="images/slider-back-5.jpg">
                    </div>
                    <div class="hero text_last_slide">
                        <hgroup>
                            <h2 id="slider6_firsttext">It's Will Power<br/></h2>
                            <h2 id="slider6_secondtext">It's Mind Over Matter<br/></h2>
                            <h2 id="slider6_thirdtext">It's Determination<br/></h2>
                        </hgroup>
                        <button id="slider6_button" class="btn btn-hero btn-lg" role="button" onclick="$('.loginNow').click()">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /carousel -->
        <!-- Carousel -->
        <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
            <!--<div class="carousel-inner">-->
                <!--<div class="item active">-->
                    <!--<img  src="images/slider-back-1.jpg" alt="First slide">-->
                  <!--&lt;!&ndash;  <img class="hidden-lg hidden-md hidden-sm" src="images/slider-back-1.jpg" style="height: 350px;">&ndash;&gt;-->
                    <!--&lt;!&ndash; Static Header &ndash;&gt;-->
                    <!--<div class="slider-font margin-left-10">-->
                        <!--<div class="col-md-7 col-sm-9 col-xs-12 margin-bottom-20">-->
                            <!--<span class="hidden-xs"><br/></span>-->
                            <!--<h1><span class="small uppercase">YOU'VE COME TO THE RIGHT PLACE.<br/>Determine a healthy life-style for prolonging your life.</span></h1>-->
                            <!--<span class="hidden-xs margin-top-20"><br/></span>-->
                            <!--<div class="divH1 h4">-->
                                <!--<br/>-->
                                <!--Just record your weight. We,-->
                                <!--<span class="hidden-xs"><br/><br/></span>-->
                                    <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">-->
                                        <!--<ul>-->
                                            <!--<li>Reveal your daily needed calorie budget. Grab it and Get Started!!</li>-->
                                            <!--<li>Provide you a better food and exercise catalogue.</li>-->
                                            <!--<li>Assist you with in-time pertinent advice from our knowledgeable experts.</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<img  src="images/slider-back-new.png" alt="Second slide">-->
                  <!--&lt;!&ndash;  <img class="hidden-lg hidden-md hidden-sm" src="images/slider-back-4.jpg" style="height: 350px;">&ndash;&gt;-->
                    <!--&lt;!&ndash; Static Header &ndash;&gt;-->
                    <!--<div class="slider-font margin-left-10">-->
                        <!--<img width="100%" height="auto" src="images/responsive-new.png"/>-->
                        <!--<div class="col-md-7 col-sm-9 col-xs-12">-->
                            <!--<h2><span class="small">RECORD YOUR DAILY INTAKE AND WORKOUT ROUTINES ANYWHERE AT ANYTIME!</span></h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<img  src="images/slider-back-5.jpg" alt="Third slide">-->
                   <!--&lt;!&ndash; <img class="hidden-lg hidden-md hidden-sm" src="images/slider-back-5.jpg" style="height: 350px;">&ndash;&gt;-->
                    <!--&lt;!&ndash; Static Header &ndash;&gt;-->
                    <!--<div class="slider-font margin-top-30 margin-left-10">-->
                    <!--<h1 class="col-md-7 col-sm-9 col-xs-12 slider-font margin-bottom-20">-->
                            <!--<span class="hidden-xs"><br/></span>-->
                            <!--<span class="slide3-font">ACHIEVE YOUR HEALTH AND <br/>FITNESS GOAL WITH A HEALTHY <br/>AND NUTRITIONAL FOOD HABIT.<br/></span>-->
                            <!--<span class="text-bold h4"><span class="hidden-xs"><br/></span>-->
                                <!--Register with us! we will take care of you.-->
                            <!--</span>-->
                          <!--<span class="noMobileApp">-->
                              <!--<a href="" class="btn-system btn-large button-xs" onclick="$('.loginNow').click()"><i class="fa fa-user"></i> Register Now</a>-->
                          <!--</span>-->
                        <!--<span class="mobileApp">-->
                            <!--<span class="android centerize">-->
                                <!--&lt;!&ndash; This is android &ndash;&gt;-->
                                 <!--<a href="" class="btn-system btn-large button-xs" onclick="$('.loginNow').click()" target="_self"><i class="fa fa-user"></i> Register Now</a>-->
                            <!--</span>-->
                            <!--<span class="iphone centerize">-->
                                <!--&lt;!&ndash; This is iphone &ndash;&gt;-->
                                 <!--<a href="" class="btn-system btn-large button-xs" onclick="$('.loginNow').click()" target="_self"><i class="fa fa-user"></i> Register Now</a>-->
                            <!--</span>-->
                        <!--</span>-->
                        <!--</h1>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /carousel &ndash;&gt;-->
    </div>
</div>

    <!-- Start Purchase Section -->
    <!-- <div class="section purchase">
        <div class="container slider-hight">
            <div class="col-md-7 col-sm-9 col-xs-10">
                <div id="text-slideshow">
                    <div class="slideshow-element">
                        <div class="slider-font margin-bottom-20" style="padding-top: 60px">
                            <span class="hidden-xs"><br/></span>
                            <h1><span class="small">YOU'VE COME TO THE RIGHT PLACE.<br/>Determine a healthy life-style for prolonging your life.</span></h1>
                            <span><br/><br/><br/></span>
                            <div class="divH1 h4 margin-top-20" style="padding-top: 20px">
                                <br/>
                                Just record your weight. We,
                                <span class="hidden-xs"><br/><br/></span>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <ul>
                                            <li>Reveal your daily needed calorie budget. Grab it and Get Started!!</li>
                                            <li>Provide you a better food and exercise catalogue.</li>
                                            <li>Asist you with in-time pertinent advice from our knowledgable experts.</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="slideshow-element">
                        <img width="100%" height="auto" src="images/responsive.png"/>
                        <div class="slider-font">
                            <h1><span class="small">RECORD YOUR DAILY INTAKE AND WORKOUT ROUTINES ANYWHERE AT ANYTIME!</span></h1>
                        </div>
                    </div>
                    <div class="slideshow-element">
                        <h1 class="slider-font margin-bottom-20">
                            <span class="hidden-xs"><br/></span>
                            <span>ACHIEVE YOUR HEALTH AND FITNESS  GOAL WITH A HEALTHY AND NUTRITIONAL FOOD HABIT.<span style="font-family: Tahoma, Verdana, Segoe, sans-serif;"><br/>
                            <span class="h4"><br/>
                                Register with us! we wil take care of you.
                            </span>
                            <a href="" class="btn-system btn-large" onclick="$('.loginNow').click()"><i class="fa fa-user"></i> Register Now</a>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="section-video-content text-center hidden">
                <h1 class="fittext wite-text uppercase">
                    Modern way of Digital Weight <br/>Loss Solution for this modern world
                </h1> -->

                <!-- End Animations Text -->


                <!-- Start Buttons -->
                <!-- <a class="btn-system btn-large"><i class="fa fa-download"></i> Get Our Mobile App Soon</a>

            </div> -->
            <!-- End Section Content -->
        <!-- </div> --><!-- .container -->
    <!-- End Purchase Section -->

    <div class="section service">
        <div class="container">
                <div class="page-content">
                    <div class="row">
                        <!-- Classic Heading -->
                    <h5 class="classic-title"><span>How it works</span></h5>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 pull-right margin-top-20 no-padding">
                        <video id="my-video" class="video-js" controls="true" preload="auto" style="width: 100%;height: auto" poster="images/user-poster.png" data-setup="{}">
                          <source src="https://cyberhealth.s3.amazonaws.com/DemoVideos/userapp.mp4" type="video/mp4">
                        </video>
                       <div ng-cloak class="noMobileApp">
                            <div class="centerize">
                                <a href="views/home/#/user-registration" class="btn-system btn-small" ><i class="fa fa-user"></i> Register</a>
                            </div>
                       </div>

                        <div ng-cloak class="mobileApp">
                            <div class="android centerize">
                                <!-- This is android -->
                                <a href="" class="btn-system btn-small" onclick="$('.loginNow').click()" target="_self"><i class="fa fa-user"></i> Register</a>
                            </div>
                            <div class="iphone centerize">
                                <!-- This is iphone -->
                                <a href="" class="btn-system btn-small" onclick="$('.loginNow').click()" target="_self"><i class="fa fa-user"></i> Register</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 no-padding">
                            <!-- Start Service Icon 1 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-sign-in icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">1. Become a Member - It's Free</h4>
                                    <p>Join today and start enjoying our valuable features and get exclusive
                                        access to our food and exercise diary.
                                    </p>
                                </div>
                            </div>
                            <!-- End Service Icon 1 -->

                            <!-- Start Service Icon 2 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-pencil icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">2. Update Your Profile</h4>
                                    <p>
                                        Complete your profile to optimize your user experience with individualized programs.
                                    </p>
                                </div>
                            </div>
                            <!-- End Service Icon 2 -->

                            <!-- Start Service Icon 3 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-refresh icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">3. Daily Updates</h4>
                                    <p>Keep a food and fitness diary to gain powerful insight about your daily habits.</p>
                                </div>
                            </div>
                    </div>
                   <!--  End Service Icon 3-->
                     <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 no-padding">
                            <!-- Start Service Icon 4 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-bullseye icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">4. Set up your Goal</h4>
                                    <p>Create your own individual goals, go at your own pace and monitor your daily progress.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 4 -->


                            <!-- Start Service Icon 5 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-user-plus icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">5. Subscribe Coach</h4>
                                    <p>Our skilled coaches access your specific health conditions and fitness goals to provide guidance and motivation.</p>
                                </div>
                            </div>
                            <!-- End Service Icon 5 -->

                            <!-- Start Service Icon 6 -->
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                                <div class="service-icon">
                                    <i class="fa fa-book icon-medium"></i>
                                </div>
                                <div class="service-content">
                                    <h4 class="text-orange text-bold">6. Fitness & Health Courses</h4>
                                    <p>Enroll in courses that are interesting to you, while continuously challenging and educating yourself.</p>
                                </div>
                            </div><br/><br/>
                            <!-- End Service Icon 6 -->
                            <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                                <br/><br/>
                            </div>
                    </div>

                </div>
        </div>

            <!-- End Accordion -->
        </div>
    </div>

    <!-- End Footer Section -->
    <div id="form">
        <p id="feedback_button">
            <img class="hidden-xs" src="images/feedback.png">
            <img class="hidden-lg hidden-md hidden-sm" src="images/feedback-1.png">
        </p>
        <div class="feedback-margin-adjust">


        <form id="feedback-form" name="feedbackForm" novalidate>
            <div class="user-success" ng-show="isFeedback">Thanks for your feedback!!!</div>
           <input class="section-input margin-top-5" name="name" ng-model="feedback.name" placeholder="Name*" required/>
             <span ng-show="feedbackForm.name.$dirty&&feedbackForm.name.$invalid">
                 <span class="error-message" ng-show="feedbackForm.name.$error.required"><span>Required.</span></span>
             </span>
            <input type="email" class="section-input margin-top-10" name="emailid" ng-model="feedback.emailId" placeholder="Email ID*" validate-email required/>
            <span ng-show="feedbackForm.emailid.$dirty&&feedbackForm.emailid.$invalid">
                 <span class="error-message" ng-show="feedbackForm.emailid.$error.required"><span>Required.</span></span>
                 <span class="error-message" ng-show="feedbackForm.emailid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID.</span></span>
            </span>
            <input class="section-input margin-top-10" name="mobile" ng-model="feedback.mobile" ng-pattern="/^\d+$/" ng-minlength="10" maxlength="10" placeholder="Phone number"/>
            <span ng-show="feedbackForm.mobile.$dirty&&feedbackForm.mobile.$invalid">
                 <span class="error-message " ng-show="feedbackForm.mobile.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                 <span class="error-message " ng-show="!feedbackForm.mobile.$error.pattern&&feedbackForm.mobile.$error.minlength"><span>Should&nbsp;be&nbsp;of&nbsp;length&nbsp;10.</span></span>
              </span>
            <select class="full-width course-select feedbk margin-top-10" name="platform" ng-model="feedback.platform" required>
                <option value="">Select your platform*</option>
                <option value="WEB">Web</option>
                <option value="IOS">ios</option>
                <option value="ANDROID">Android</option>
            </select>
            <span ng-show="feedbackForm.platform.$dirty&&feedbackForm.platform.$invalid">
                 <span class="error-message textarea-errormessage55" ng-show="feedbackForm.platform.$error.required"><span>Required.</span></span>
             </span>
            <textarea class="forum-textarea" name="description" ng-model="feedback.description" placeholder="Description* " maxlength="500" required></textarea>
                <span ng-show="feedbackForm.description.$dirty&&feedbackForm.description.$invalid ">
                 <span class="error-message textarea-errormessage-70" ng-show="feedbackForm.description.$error.required"><span>Required.</span></span>
             </span>
            <a href="" class="btn main-button" ng-click="addUserFeedback()" ng-disabled="feedbackForm.$invalid">Submit feedback </a>
        </form>
        </div>
    </div>
</div>
<!-- End Content -->
</div>

<!-- End Services Section -->
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">
        <div ng-view autoscroll="true"></div>
    </div>
</div>

<!-- Start Footer Section -->
<footer>
    <div class="container" ng-controller="LoginController">
        <div class="row footer-widgets">

            <!-- Start Twitter Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <p>Join us on social Media and stay up-to-date and receive fun updates about our new releases. Cyberhealths is always growing and evolving to bring you the best of everything.</p>
                    <ul class="remove-style social-icons margin-top-10">
                        <li>
                            <a class="facebook" target="_blank" href="{{commonDetails.facebookurl}}"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" target="_blank" href="{{commonDetails.twitterurl}}"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google" target="_blank" href="{{commonDetails.googleurl}}"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" target="_blank" href="{{commonDetails.linkedinurl}}"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Twitter Widget -->

            <!-- Start Flickr Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget social-widget">
                    <h4>Mobile Apps<span class="head-line"></span></h4>
                    <p>Tab the icons below, to get our latest mobile apps</p>
                    <div ng-cloak class="noMobileApp">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-center">
                            <a href="https://itunes.apple.com/us/app/cyberhealths/id1274913078?mt=8" target="_blank">  <img title="App Store" class="margin-top-20" src="images/appstore.png"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
                            <a href="https://play.google.com/store/apps/details?id=com.deemsysinc.cyberhealthapp" target="_blank"><img title="Google Play" class="margin-top-20" src="images/googleplay.png"></a>
                        </div>
                     </div>
                    <div ng-cloak class="mobileApp">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding android">
                            <a href="https://itunes.apple.com/us/app/cyberhealths/id1274913078?mt=8" target="_blank"> <img title="App Store"  class="margin-top-20" src="images/appstore.png"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding iphone">
                            <a href="https://itunes.apple.com/us/app/cyberhealths/id1274913078?mt=8" target="_blank"> <img title="App Store"  class="margin-top-20" src="images/appstore.png"></a>
                        </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding android">
                       <a href="https://play.google.com/store/apps/details?id=com.deemsysinc.cyberhealthapp" target="_blank"><img title="Google Play" class="margin-top-20" src="images/googleplay.png"></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding iphone">
                        <a href="https://play.google.com/store/apps/details?id=com.deemsysinc.cyberhealthapp" target="_blank"><img title="Google Play" class="margin-top-20" src="images/googleplay.png"></a>
                    </div>
                    </div>
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Flickr Widget -->

            <!-- Start Contact Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4><img width="300" height="75" src="images/cyber-logo-footer.png" alt="Footer Logo" /></h4>
                    <!--<div class="secure-seal text-center"><span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=eTz78gba5GzeWIkXUn0HT7zxrpOxkKbcL6FW4FYKjQTcLbSRmBRww6SRDZUV"></script></span>
                    </div>-->
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Contact Widget -->

        </div>

        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p style="text-transform: none">&copy;&nbsp;2018-2020&nbsp;Deemsys Inc -  All Rights Reserved</p>
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-nav remove-style">

                        <li><a href="views/home/#/aboutus">About Us</a>
                        </li>
                        <li><a href="views/home/#/terms-of-use">Terms Of Use</a>
                        </li>
                        <li><a href="views/home/#/policy">Privacy Policy</a>
                        </li>
                        <li><a href="views/home/#/faq">FAQs</a>
                        </li>
                        <li><a href="views/home/#/contact">Contact Us</a>
                        </li>
                    </ul>
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div>
        <!-- End Copyright -->
    </div>
</footer>


<!-- End Full Body Container -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>-->


<!-- JS  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<!-- ANGULAR JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.1.0/angular-moment.min.js"></script>
<script src="https://cdn.rawgit.com/dalelotts/angular-bootstrap-datetimepicker/master/src/js/datetimepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.templates.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>
<script src="angular/ocLazyLoad.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
<script src="angular/angular-flash.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-touch.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.1/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.1/ui-bootstrap-tpls.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->
<script type="text/javascript" src="https://vjs.zencdn.net/6.4.0/video.js"></script>
<!--[if IE 8]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- If you'd like to support IE8 -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.3/jquery.fitvids.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
<!--<script type="text/javascript" src="../../js/nivo-lightbox.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/lettering/0.7.0/jquery.lettering.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>-->
<script type="text/javascript" src="plugin/popup/jquery.leanModal.min.js"></script>
<script src="app/requestHandler.js"></script>
<script src="app/userFeedback/userFeedbackService.js"></script>
<script src="angular/angular-utils-pagination/dirPagination.js"></script>
<script src="app/commonApp.js"></script>
<script src="js/home-index-script.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="js/supersized.shutter.min.js"></script>


<!-- datepicker require jQuery-ui script -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>-->

<script type="text/javascript">
    $(document).ready(function(){
        $("#feedback_button").click(function(){
            if($('#form').css('left')=='0px'){
                $("#feedback-form").slideToggle(800);
                $('#form').animate({left:'-270px'},  500);
            }else{
                $('#form').animate({left:'0'},  500);
                $("#feedback-form").slideToggle(300);
            }
        });
    });

</script>

<script type="text/javascript">

/* finding user device*/

    var isAndroid = (/android/i.test(navigator.userAgent.toLowerCase()));
    var isIphone = (/iphone/i.test(navigator.userAgent.toLowerCase()));

    $(".android").hide();
    $(".iphone").hide();
    $(".mobileApp").hide();
    $(".noMobileApp").show();

    if(isAndroid){
        $(".mobileApp").show();
        $(".noMobileApp").hide();
        $(".android").show();
        $(".iphone").hide();
        $("#mobile-login-button").show();
    }
    else if(isIphone){
        $(".mobileApp").show();
        $(".noMobileApp").hide();
        $(".android").hide();
        $(".iphone").show();
        $("#mobile-login-button").show();
    }
  $(".modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

</script>

<script type="text/javascript">

    jQuery(function($){
        $.supersized({

            // Functionality
            slide_interval          :   6000,       // Length between transitions
            transition              :   1,          // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
            transition_speed        :   700,        // Speed of transition

            // Components
            slide_links             :   'blank',    // Individual links for each slide (Options: false, 'num', 'name', 'blank')
            slides                  :   [           // Slideshow Images
                {image : 'images/gym.jpg', title : '', thumb : '', url : ''}
            ]

        });
    });

$('#featuresDiv').load('images/info/features.svg');
</script>

</body>
</html>

