<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta property="og:image" content="http://192.168.1.219/cyberhealths/images/share-image.jpg"/>
    <meta property="og:title" content="Share Title"/>
    <meta property="og:description" content="Share Description" />
    <meta property="og:url" content="http://54.175.148.24/1#/jobs-details/1"/>
    <meta property="og:site_name" content="Cyberhealths"/>
    <meta property="og:type" content="website"/>
    <meta name="author" content="Cyberhealths"/>
    <meta property="fb:app_id" content="2054449691447123">
    <!--<meta property="fb:app_id" content="1709760479274591">-->

    <meta name="description" content="Cyberhealths is modern and digital way of weight loss, weight gain, and fitness program. Also we offer online courses for all health aspects.">
    <!-- Basic -->
    <title>Cyberhealths::User</title>

    <!-- Bootstrap CSS  -->
    <!--<link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" media="screen">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" media="screen">

    <!-- Font Awesome CSS -->
    <!--<link rel="stylesheet" href="../../plugin/fonts/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- CSS Styles  -->
    <!-- Deemsys combine of style, passowrd, font-site, yellow, spinner, loader css files  -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="../../plugin/popup/style.css" media="screen">
     <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css" media="screen">
     <!--Message flash-->
    <link type="text/css" rel="stylesheet" href="../../css/angular-flash-small.css" />
    <!-- Favicons-->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>
     <!--ng-animation-->
    <link data-require="animate.css@*" data-semver="3.2.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" />

    <!-- Main CSS -->
    <link href="../../plugin/social-share/socialMedia.css" rel="stylesheet" type="text/css" />

    <!-- Animate Master CSS -->
    <link href="../../plugin/social-share/animate.css" rel="stylesheet" type="text/css" />


</head>
<body ng-app="userApp" class="back-image">

<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<!-- Container -->
<div id="container" class="boxed-page" ng-controller="UserInitialController">

<!-- Start Header -->
<div class="hidden-header"></div>
<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-5 hidden-xss" ng-init="init()">
                    <!-- Start Contact Info -->
                    <div ng-hide="hideValue" ng-cloak class="ng-cloak" >
                        <ul class="contact-details remove-style" >
                           <!--  <li class="hidden-xs"><a><i class="fa fa-map-marker"></i> {{address}}</a>
                            </li> -->
                            <li class="hidden-sm hidden-xss"><a><i class="fa fa-envelope-o"></i> {{commonDetails.supportemail}}</a>
                            </li>
                            <!-- <li class="hidden-sm hidden-xs"><a><i class="fa fa-phone"></i> {{commonDetails.mobile}}</a>
                            </li> -->
                        </ul>
                    </div>
                    <!-- End Contact Info -->
                </div><!-- .col-md-6 -->
                <div class="col-lg-4 col-md-4 col-sm-5 padding-left-0">
                    <!-- Start Social Links -->
                    <ul class="social-list remove-style">
                        <li class="navbar-user">
                            <ul class="nav navbar-nav dropdownmenu">
                                <li>
                                    <a href="#" onclick="return false;">{{username}}&nbsp;<span class="fa fa-caret-down"></span> </a>
                                    <ul class="dropdown remove-style">
                                        <li><a href="#profile">My Profile</a></li>
                                        <li><a href="#demography">My Demography</a></li>
                                        <li><a href="#friends">My Friends</a></li>
                                        <li><a href="#coach">My Coaches</a></li>
                                        <li><a href="#medications">My Medications</a></li>
                                        <li><a href="#my-courses">My Courses</a></li>
                                        <li><a href="#group-goal">My Goals</a></li>
                                        <li><a href="#payments">My Payments</a></li>
                                        <li><a href="" ng-controller="UserLogoutController" ng-click="doLogout()">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" target="_blank" href="{{commonDetails.facebookurl}}"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter"  target="_blank" href="{{commonDetails.twitterurl}}"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" target="_blank" href="{{commonDetails.googleurl}}"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" target="_blank" href="{{commonDetails.linkedinurl}}"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <!-- End Social Links -->
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .top-bar -->
    <!-- End Top Bar -->


    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="#dashboard">
                    <img class="hidden-xs" width="209" height="57" alt="" src="../../images/cyber-logo.png">
                    <img class="hidden-md hidden-lg hidden-sm" width="180" height="49" alt="" src="../../images/cyber-logo-small.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right active-class">
                    <li>
                        <a class="{{activeClass.dashboard}}" href="#dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a class="{{activeClass.myCourses}}" href="#my-courses">Courses</a>
                    </li>
                    <li>
                        <a class="{{activeClass.friends}}" href="#friends">Friends</a>
                    </li>
                    <li>
                        <a class="{{activeClass.groupGoal}}" href="#group-goal">Goal</a>
                    </li>
                    <li>
                        <a class="{{activeClass.coach}}" href="#coach">Coach</a>
                    </li>
                    <li>
                        <a class="{{activeClass.medications}}" href="#medications">Medications</a>
                    </li>
                    <li>
                        <a class="{{activeClass.forums}}" href="#forums">Forums</a>
                    </li>
                    <li>
                        <a class="{{activeClass.contact}}" href="#contact">Contact Us</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
    </div>
    <!-- End Header Logo & Naviagtion -->

</header>
<!-- End Header -->

<div class="default-banner">
    <div ng-view autoscroll="true"></div>
</div>

<!-- Start Footer Section -->
<footer>
    <div class="container">
        <div class="row footer-widgets">

            <!-- Start Twitter Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <p>Join our social network to stay up to date and get notices about our new releases!</p>
                    <ul class="remove-style social-icons margin-top-10">
                        <li>
                            <a class="facebook" target="_blank" href="{{commonDetails.facebookurl}}"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" target="_blank" href="{{commonDetails.twitterurl}}"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google" target="_blank" href="{{commonDetails.googleurl}}"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" target="_blank" href="{{commonDetails.linkedinurl}}"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Twitter Widget -->

            <!-- Start Flickr Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget social-widget">
                    <h4>Mobile Apps<span class="head-line"></span></h4>
                    <p>Get our mobile apps for handy use shortly</p>
                    <img width="213" height="36" title="Coming Soon" class="margin-top-20" src="../../images/available.png">
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Flickr Widget -->

            <!-- Start Contact Widget -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4><img width="209" height="57" src="../../images/cyber-logo-footer.png" alt="Footer Logo" /></h4>
                   <!-- <div class="secure-seal text-center"><span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=eTz78gba5GzeWIkXUn0HT7zxrpOxkKbcL6FW4FYKjQTcLbSRmBRww6SRDZUV"></script></span>
                    </div>-->
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Contact Widget -->

        </div>

        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017 Deemsys Inc -  All Rights Reserved</p>
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-nav remove-style">
                        <li><a href="#aboutus">About Us</a>
                        </li>
                        <li><a href="#terms-of-use">Terms Of Use</a>
                        </li>
                        <li><a href="#policy">Privacy Policy</a>
                        </li>
                        <li><a href="#faq">FAQs</a>
                        </li>
                        <li><a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div>
        <!-- End Copyright -->
    </div>
</footer>
<!-- End Footer Section -->

<!-- Social Media share-->
<div id="social-modal" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Social Media Share</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <!--<div id="share-wrapper">
        <ul class="share-inner-wrp">
            &lt;!&ndash; Facebook &ndash;&gt;
            <li class="facebook button-wrap"><a href="#">Facebook</a></li>

            &lt;!&ndash; Twitter &ndash;&gt;
            <li class="twitter button-wrap"><a href="#">Tweet</a></li>

            &lt;!&ndash; Linked In &ndash;&gt;
            <li class="linkedin button-wrap"><a href="#">Linked In</a></li>

            &lt;!&ndash; whatsapp &ndash;&gt;
            <li class="whatsapp button-wrap hidden-lg hidden-sm hidden-md"><a href="#">Whatsapp</a></li>

            &lt;!&ndash; Email &ndash;&gt;
            <li class="email button-wrap"><a href="#">Email</a></li>

            &lt;!&ndash; Google &ndash;&gt;
            <li class="google button-wrap"><a href="#">Google+</a></li>

        </ul>
    </div>-->

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            Please share your experience
            <div class="margin-top-15 text-center" id="share-wrapper">
                <ul class="cv-social-media">
                    <a class="facebook animated fadeIn button-wrap" href="#"><li id="facebook" class="fa fa-facebook"></li></a>
                    <a class="twitter animated fadeIn button-wrap" href="#"><li id="twitter" class="fa fa-twitter"></li></a>
                    <a class="linkedin animated fadeIn button-wrap" href="#"><li id="linkedin" class="fa fa-linkedin"></li></a>
                    <a class="google animated fadeIn button-wrap" href="#"><li id="google-plus" class="fa fa-google-plus"></li></a>
                </ul>
            </div>
            <div class="action_btns margin-top-20">
                <div class="one_half modal_close"><a href="" class="btn btn_blue" ng-click="doDeleteGoal()">Yes</a></div>
                <div class="one_half last modal_close"><a class="btn btn_red">No</a></div>
            </div>
        </div>
    </section>
</div>

<div id="form" ng-init="getFeedback()">
    <p id="feedback_button"><img src="../../images/feedback.png"></p>
    <div class="feedback-margin-adjust">
    <form id="feedback-form" name="feedbackForm" novalidate>
        <div class="user-success" ng-show="isFeedback">Thanks for your feedback!!!</div>
        <input class="search-input margin-top-5" name="name" ng-model="feedback.name" placeholder="Name*" required/>
         <span ng-show="feedbackForm.name.$dirty&&feedbackForm.name.$invalid">
             <span class="error-message" ng-show="feedbackForm.name.$error.required"><span>Required.</span></span>
         </span>
        <input type="email" class="search-input margin-top-10" name="emailid" ng-model="feedback.emailId" placeholder="Email ID*" validate-email required/>
        <span ng-show="feedbackForm.emailid.$dirty&&feedbackForm.emailid.$invalid">
             <span class="error-message" ng-show="feedbackForm.emailid.$error.required"><span>Required.</span></span>
             <span class="error-message" ng-show="feedbackForm.emailid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID.</span></span>
        </span>
        <input class="search-input margin-top-10" name="mobile" ng-model="feedback.mobile" ng-pattern="/^\d+$/" ng-minlength="10" maxlength="10" placeholder="Phone number"/>
        <span ng-show="feedbackForm.mobile.$dirty&&feedbackForm.mobile.$invalid">
             <span class="error-message " ng-show="feedbackForm.mobile.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
             <span class="error-message " ng-show="!feedbackForm.mobile.$error.pattern&&feedbackForm.mobile.$error.minlength"><span>Should&nbsp;be&nbsp;of&nbsp;length&nbsp;10.</span></span>
          </span>
        <select class="full-width course-select feedbk margin-top-10" name="platform" ng-model="feedback.platform" required>
            <option value="">Select your platform*</option>
            <option value="WEB">Web</option>
            <option value="IOS">ios</option>
            <option value="ANDROID">Android</option>
        </select>
        <span ng-show="feedbackForm.platform.$dirty&&feedbackForm.platform.$invalid">
             <span class="error-message textarea-errormessage55" ng-show="feedbackForm.platform.$error.required"><span>Required.</span></span>
         </span>
        <textarea class="forum-textarea" name="description" ng-model="feedback.description" placeholder="Description* " maxlength="500" required></textarea>
            <span ng-show="feedbackForm.description.$dirty&&feedbackForm.description.$invalid ">
             <span class="error-message textarea-errormessage-70" ng-show="feedbackForm.description.$error.required"><span>Required.</span></span>
         </span>
        <a href="" class="btn main-button" ng-click="addUserFeedback()" ng-disabled="feedbackForm.$invalid">Submit feedback </a>
    </form>
    </div>
</div>

</div>

<div id="review-modal" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Alert</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="text-center"><img src="../../images/alert-ring.png"/></div><br/>
            <div ng-show="checkPath==0">
                <h5 class="text-center">Please Update your profile <br/> to continue</h5>
            </div>
            <div ng-show="checkPath==1">
                <h5  class="text-center">Please Update your demography<br/> to continue</h5>
            </div>
            <div class="action_btns margin-top-20">
                <div class="col-md-8 col-md-offset-2">
                    <div class=" modal_close"><a onclick="return false;" class="btn btn_red back_btn">OK</a></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- End Container -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- ANGULAR JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>
<script src="../../angular/ocLazyLoad.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
<script src="../../angular/angular-flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-touch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.3.10/roundProgress.min.js"></script>
<!--<script src="../../angular/angular-datepicker.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.3/jquery.fitvids.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
<!--<script type="text/javascript" src="../../js/nivo-lightbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>-->
<!--<script type="text/javascript" src="../../js/count-to.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lettering/0.7.0/jquery.lettering.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.6/jquery.nicescroll.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="http://blacklabel.github.io/multicolor_series/js/multicolor_series.js"></script>
<script type="text/javascript" src="../../angular/angular-nicescroll.js"></script>
<script type="text/javascript" src="../../plugin/popup/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="../../js/rotate.js"></script>
<script src="../../app/requestHandler.js"></script>
<script src="../../app/userFeedback/userFeedbackService.js"></script>
<script src="../../app/userApp.js"></script>
<script src="../../app/userFeedback/userFeedbackService.js"></script>

<!-- social -->
<!--<script type="text/javascript" src="../../js/jquery-social.min.js"></script>-->
<script type="text/javascript" src="../../js/jquery-socialmedia.js"></script>

<script>
    "use strict";
    // Page Loader

    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(window).load(function () {
        $('#loader').fadeOut();
    });

    /*hidden header*/
    var headerEle = function () {
        var $headerHeight = $('header').height();
        $('.hidden-header').css({ 'height' : 110  + "px" });
    };

    $(window).load(function () {
        headerEle();
    });

    $(window).resize(function () {
        headerEle();
    });

    /*Scroll*/
    $(document).ready(function() {
        $('body').niceScroll({
            zindex: 10000,
            cursorcolor: "#424242",
            cursorwidth: "8px",
            cursorborder: "1px solid #424242",
            cursorborderradius: 0
        });  // The document page (body)
    });

    $(document).ready(function(){
        $("#feedback_button").click(function(){
            if($('#form').css('left')=='0px'){
                $("#feedback-form").slideToggle(800);
                $('#form').animate({left:'-270px'},  500);
            }else{
                $('#form').animate({left:'0'},  500);
                $("#feedback-form").slideToggle(300);
            }
        });
    });

</script>

</body>
</html>