

<div class="row">
    <div ng-if="viewload">
        <div class="loader-style">
            <div class="loader"></div>
        </div>
    </div>
    <div class="col-md-8 height-320 margin-bottom-10">
        <h3 class="text-orange margin-bottom-10">{{usercoachdetails.name}}</h3>
        <div class="col-md-5 no-padding"><strong>Specialist</strong></div>
        <div class="col-md-7">: {{usercoachdetails.specialist}}</div>
        <div class="col-md-5 no-padding"><strong>Qualification</strong></div>
        <div class="col-md-7">: {{usercoachdetails.qualification}}</div>
        <div class="col-md-5 no-padding"><strong>Experience</strong></div>
        <div class="col-md-7">: {{usercoachdetails.experience}} years</div>
        <div class="col-md-12 no-padding margin-top-10"><strong>About Me :</strong></div>
        <div class="col-md-12 no-padding">{{usercoachdetails.about}}</div>
    </div>
    <div class="col-md-4">
        <img class="coach-image" ng-src="{{usercoachdetails.imageurl | trusted}}"/>
        <h4 class="margin-bottom-10">Average Ratings : {{coachReviews.averageRatings}}</h4>
        <span class="col-md-5 no-padding"><average-star-rating ng-model="averageRate" max="5"></average-star-rating></span>
        <span class="col-md-7">( {{coachReviews.totalRatings}} Reviews )</span>
        <span class="col-md-12 margin-top-10 no-padding" ng-if="coachReviews.averageRatings!=0"><a href="" class="btn-sm btn-warning" ng-click="coachReview(usercoachdetails.userid)">View Reviews</a></span>
    </div>
    <div class="col-md-12 text-center">
        <span ng-show="usercoachdetails.coachEnrollStatus==0"><a href="" ng-click="doSubscribeCoach(usercoachdetails.userid)" class="btn register_button"> Subscribe </a></span>
        <span ng-hide="usercoachdetails.coachEnrollStatus==0"><a href="" ng-click="doUnsubscribeCoach(usercoachdetails.userid)" class="btn cancel_button"> Unsubscribe </a></span>
    </div>
</div>

