<style>
    body{
        overflow-x: hidden !important;
    }
</style>

<div class="page-banner1" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div id="demography-content" ng-init="userCoachInit()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!--<a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>-->
                <div flash-message="2000" class="col-lg-3 col-md-3 col-sm-3 no-padding pull-right"></div>
                <h5 class="classic-title"><a href="#coach"><i class="fa fa-male"></i>&nbsp;&nbsp;MY COACH</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#coach-search"><i class="fa fa-search"></i>&nbsp;&nbsp;COACH SEARCH</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#coach-invitations"><i class="fa fa-envelope"></i>&nbsp;&nbsp;COACH INVITATION</a></span></h5>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5 margin-bottom-10">
                <div class="search-content">
                    <input class="coach-input" ng-model="coachsearch" placeholder="Search coach here..">
                </div>
                <div class="padding-top-15"><strong>VIEW COACH INVITATIONS</strong></div>

                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="coach-list">
                    <div class="content_scrollbar" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}" scroller>
                        <div ng-show="usercoachlist.length>0" class="coach-view-width">
                            <div class="coach-view col-lg-12 col-md-12 col-sm-12" ng-class="{'active': usercoach.userid == usercoachdetails.userid }" ng-repeat="usercoach in usercoachfilter = (usercoachlist | startsWithLetterSearch : coachsearch )" ng-click="doGetCoachDetailsByUser(usercoach.userid)">
                                <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                                    <img class="img-circle" ng-src="{{usercoach.imageurl | trusted}}">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 no-padding">
                                    <h4 class="col-lg-12 col-md-12 col-sm-12">{{usercoach.name}}</h4>
                                    <p class="col-lg-12 col-md-12 col-sm-12">{{usercoach.emailid}}</p>
                                    <div class="average col-lg-3 col-md-3 col-sm-3">
                                        <average-star-rating ng-model="usercoach.averageRating" max="5"></average-star-rating>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>( {{usercoach.totalReviews}} Reviews )</small>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="usercoachfilter.length==0" class="text-center margin-top-50">
                                <img src="../../images/no-coach-small.png" width="120" height="120"/>
                                <h3 class="text-gray">NO COACH FOUND!!!</h3><br/><br/><br/>
                            </div>
                        </div>

                        <div ng-show="usercoachlist.length==0" class="text-center margin-top-50">
                            <img src="../../images/no-coach-small.png" width="120" height="120"/>
                            <h3 class="text-gray">NO COACH FOUND!!!</h3><br/><br/><br/>
                        </div>

                    </div>
                   
                </div>


            </div>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <div ng-include src="'views/'+coach.status+'.html'"></div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>