

<div class="row" ng-cloak class="ng-cloak">
    <div ng-if="viewload">
        <div class="loader-style">
            <div class="loader"></div>
        </div>
    </div>
    <div ng-show="usercoachlist.length>0">
        <div class="col-lg-8 col-md-8 col-sm-8 height-320 margin-bottom-10">
            <h3 class="text-orange margin-bottom-10">{{usercoachdetails.name}}</h3>
            <div class="col-lg-3 col-md-5 col-sm-5 no-padding"><strong>Specialist<span class="pull-right">:</span></strong></div>
            <div class="col-lg-9 col-md-7 col-sm-7 wrap">{{usercoachdetails.specialist}}</div>
            <div class="col-lg-3 col-md-5 col-sm-5 no-padding"><strong>Qualification<span class="pull-right">:</span></strong></div>
            <div class="col-lg-9 col-md-7 col-sm-7 wrap">{{usercoachdetails.qualification}}</div>
            <div class="col-lg-3 col-md-5 col-sm-5 no-padding"><strong>Experience<span class="pull-right">:</span></strong></div>
            <div class="col-lg-9 col-md-7 col-sm-7 wrap">{{usercoachdetails.experience}} years</div>
            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10"><strong>About Me :</strong></div>
            <div class="col-lg-12 col-md-12 col-sm-12 no-padding wrap-all">{{usercoachdetails.about}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img ng-src="{{usercoachdetails.imageurl | trusted}}"/>
            <h5 class="margin-tb-10">Average Ratings : {{coachReviews.averageRatings}}</h5>
            <average-star-rating ng-model="averageRate" max="5"></average-star-rating>
            ( {{coachReviews.totalRatings}} Reviews )
            <span class="col-lg-12 col-md-12 col-sm-12 margin-top-10 no-padding" ng-if="coachReviews.averageRatings!=0"><a href="" class="btn-sm btn-warning" ng-click="coachReview(usercoachdetails.userid)">View Reviews</a></span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <span ng-show="usercoachdetails.coachEnrollStatus==0"><a href="" class="btn register_button" ng-click="priceTable(usercoachdetails.userid)"> Subscribe </a></span>
            <span ng-show="usercoachdetails.coachEnrollStatus==2"><a href="" class="btn register_button" ng-click="priceTable(usercoachdetails.userid)"> Renew Subscription </a></span>
            <span ng-show="usercoachdetails.coachEnrollStatus==1"><a href="" class="btn register_button" disabled> Subscribed </a></span>
            <!-- <span ng-hide="usercoachdetails.coachEnrollStatus==0"><a href="" ng-click="doUnsubscribeCoach(usercoachdetails.userid)" class="btn cancel_button"> Unsubscribe </a></span>-->
        </div>
    </div>

    <div ng-show="usercoachlist.length==0" class="text-center margin-top-50">
        <img src="../../images/no-coach.png" width="200" height="200"/>
        <h1 class="text-gray">NO COACH FOUND!!!</h1>
    </div>

</div>

