<style>
    body{
        overflow-x: hidden !important;
    }
</style>

<div class="row">
    <div class="panel no-margin no-box-shadow">
        <div class="panel-body">
            <div ng-if="reviewload">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
            <span ng-if="subscribed==0"><a href="" ng-click="coachView(coachViewId)" class="btn-sm btn-warning pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back</a></span>
            <span ng-if="subscribed==1"><a href="#coach" class="btn-sm btn-warning pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back</a></span>
            <span ng-if="subscribed==1"><a id="modal_review" ng-click="reset()" href="#review" class="btn-sm btn-success pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Add Reviews</a></span>
            <h4 class="classic-title"><span>Reviews</span></h4>
            <div class="content_scrollbar">
                <ul>
                    <li ng-repeat="reviews in coachReviews">
                        <div class="col-md-1 no-padding">
                            <img class="img-circle" ng-src="{{reviews.review_imageurl | trusted}}">
                        </div>
                        <div class="col-md-4">
                            <strong>{{reviews.review_username}}</strong><br/>
                            <span class="small-font text-gray">{{reviews.reviewddatetime}}</span>
                        </div>
                        <div class="col-md-5">
                            <strong>{{reviews.reviewtitle}}</strong><br/>
                            <span class="small-font text-gray">{{reviews.reviewdescription}}</span>
                        </div>

                        <div class="col-md-2">
                            Ratings : {{reviews.ratinglevel}}<br/>
                            <average-star-rating ng-model="reviews.ratinglevel"  max="5"></average-star-rating>
                        </div>
                        <div class="col-md-12 margin-tb-5"><hr/></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="../../js/script.js"></script>
