

<div class="row">
    <div ng-if="viewload">
        <div class="loader-style">
            <div class="loader"></div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <button class="cancel" ng-click="coachView(coachViewId)">Cancel</button>
        </div>
    </div>

    <div class="promos">
        <div class="promo disabled">
            <div class="deal">
                <span>BASIC</span>
                <span>This is really a good deal!</span>
            </div>
            <span class="price">$79&nbsp;<small>/ month</small></span>
            <ul class="features">
                <li>Some great feature</li>
                <li>Another super feature</li>
                <li>And more...</li>
            </ul>
            <button>Sign up</button>
        </div>
        <div class="promo scale">
            <div class="deal">
                <span>PREMIUM</span>
                <span>This is really a good deal!</span>
            </div>
            <span class="price backred">$89&nbsp;<small>/ 3 month</small></span>
            <ul class="features">
                <li>Some great feature</li>
                <li>Another super feature</li>
                <li>And more...</li>
            </ul>
            <button>Sign up</button>
        </div>
        <div class="promo">
            <div class="deal">
                <span>PLUS</span>
                <span>Basic membership</span>
            </div>
            <span class="price">$69&nbsp;<small>/ 6 month</small></span>
            <ul class="features">
                <li>Choose the one on the left</li>
                <li>We need moneyy</li>
                <li>And more...</li>
            </ul>
            <button>Sign up</button>
        </div>
    </div>
    <a href="#thanksPage">Thanks page</a>
</div>

