

<div class="row" ng-cloak class="ng-cloak">
    <div ng-if="viewload">
        <div class="loader-style">
            <div class="loader"></div>
        </div>
    </div>
    <div ng-show="usercoachlist.length>0">
        <div class="col-lg-8 col-md-8 col-sm-8 margin-bottom-10">
            <h2><strong>COACH DETAILS</strong></h2>  

          <table class="table table-bordered table-striped margin-top-10">
                <tr>
                    <td class="col-md-4">Name</td>
                    <td class="col-md-8">{{usercoachdetails.name}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Email Id</td>
                    <td class="col-md-8">{{usercoachdetails.emailid}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Date of Birth</td>
                    <td class="col-md-8">{{usercoachdetails.dob}}</td>
                </tr>
              <tr>
                  <td class="col-md-4">Gender</td>
                  <td class="col-md-8">{{usercoachdetails.gender==null?'NA':(usercoachdetails.gender==1?'Male':Female)}}</td>
              </tr>
              <tr>
                  <td class="col-md-4">Business Name</td>
                  <td class="col-md-8">{{usercoachdetails.businessname==null?"NA":usercoachdetails.businessname}}</td>
              </tr>
              <tr>
                  <td class="col-md-4">Business Address</td>
                  <td class="col-md-8">{{usercoachdetails.businessaddress==null?"NA":usercoachdetails.businessaddress}}</td>
              </tr>
                <tr>
                    <td class="col-md-4">Phone Number</td>
                    <td class="col-md-8">{{usercoachdetails.phone}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Specialist</td>
                    <td class="col-md-8">{{usercoachdetails.specialist}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Qualification</td>
                    <td class="col-md-8">{{usercoachdetails.qualification}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Experience</td>
                    <td class="col-md-8"><span ng-show="years==undefined"> NA </span><span ng-show="years>0"> {{years}} <span ng-show="years==1">Year&nbsp;</span><span ng-show="years>1">Years&nbsp;</span></span><span ng-show="months>0"> {{months}} <span ng-show="months==1">Month</span><span ng-show="months>1"> Months</span></span></td>
                </tr>
              <tr>
                  <td class="col-md-4">About</td>
                  <td class="col-md-8">{{usercoachdetails.about}}</td>
              </tr>
           </table>                     
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <span><a href="" class="btn register_button" ng-click="doSendInterestToCoach(usercoachdetails.userid)" ng-show="usercoachdetails.relationship=='NA'||usercoachdetails.relationship==5"> I'm Interested </a></span>
              <h3  class="text-success" ng-show="usercoachdetails.relationship==1"><i class="fa fa-check-circle">&nbsp;&nbsp;Interest Request Sent </i></h3>
              <h3  class="text-success" ng-show="usercoachdetails.relationship==3||usercoachdetails.relationship==4"><i class="fa fa-check-circle">&nbsp;&nbsp;Already a Member </i></h3> 
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" ng-show="usercoachdetails.relationship==2">
              <span><a href="" class="btn register_button" ng-click="acceptCoachInvitationsByUser(usercoachdetails.userid)">Accept</a></span>&nbsp;
              <span><a href="" class="btn register_button request_sent" ng-click="denyCoachInvitationsByUser(usercoachdetails.userid)"> Deny</a></span>
            </div>  
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center;">

            <div class="col-md-12 col-md-12 col-sm-12">
            <img ng-src="{{usercoachdetails.imageurl | trusted}}"/>
            <h3 class="text-orange margin-bottom-10 text-uppercase margin-top-7">{{usercoachdetails.name}}</h3>
            <div ng-hide="avgRatings==0">
             <h5 class="margin-tb-10" >Average Ratings : {{averageRate}}</h5>
            <div class="margin-left-69"><average-star-rating ng-model="averageRate" max="5"></average-star-rating></div>
            ( {{totalRatings}} Reviews )
            <span class="col-lg-12 col-md-12 col-sm-12 margin-top-10 no-padding" ng-if="coachReviews.averageRatings!=0" ng-hide="avgRatings==0" ><a href="" class="btn-sm btn-warning" ng-click="coachReview(usercoachdetails.userid)">View Reviews</a></span>
            </div>
            </div>
            <!--For No reviews in coach-->
            <div ng-show="avgRatings==0" class="col-md-12 col-md-12 col-sm-12">
                <h4 class="text-gray">No Reviews Available</h4>
            </div>


        <!-- <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <span ng-show="usercoachdetails.coachEnrollStatus==0"><a href="" class="btn register_button" ng-click="priceTable(usercoachdetails.userid)"> Subscribe </a></span>
            <span ng-show="usercoachdetails.coachEnrollStatus==2"><a href="" class="btn register_button" ng-click="priceTable(usercoachdetails.userid)"> Renew Subscription </a></span>
            <span ng-show="usercoachdetails.coachEnrollStatus==1"><a href="" class="btn register_button" disabled> Subscribed </a></span> -->
            <!-- <span ng-hide="usercoachdetails.coachEnrollStatus==0"><a href="" ng-click="doUnsubscribeCoach(usercoachdetails.userid)" class="btn cancel_button"> Unsubscribe </a></span>-->
        <!-- </div> -->
    </div>

    <div ng-show="usercoachlist.length==0" class="text-center margin-top-50">
        <img src="../../images/no-coach.png" width="200" height="200"/>
        <h1 class="text-gray">NO COACH FOUND!!!</h1>
    </div>

</div>

<script type="text/javascript" src="../../js/script.js"></script>

