

<!-- Start Page Banner -->
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-auto">
            <div class="col-md-12">
                <a href="#courses" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <h5 class="classic-title"><span><i class="fa fa-book"></i>&nbsp;&nbsp;COURSES - COURSE CATEGORY</span></h5>
            </div>

            <div class="col-md-12 margin-bottom-10">
                <div class="col-md-4 no-padding">
                    <a href="#courseView">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-md-6 margin-top-5">
                                    <h4>Natural Health Tips for Skin</h4>

                                    <p class="margin-top-10">25 Students</p>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <img src="../../images/course-1.jpg">
                                    <div class="text-bold"><span class="course-price free">Free</span></div>
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                    <div class="col-md-10 no-padding">
                                        <h5>course author name</h5>
                                        <p>course author specialist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="#courseView">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-md-6 margin-top-5">
                                    <h4>Natural Health Tips for Skin</h4>

                                    <p class="margin-top-10">25 Students</p>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <img src="../../images/course-1.jpg">
                                    <div class="text-bold"><span class="course-price free">Free</span></div>
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                    <div class="col-md-10 no-padding">
                                        <h5>course author name</h5>
                                        <p>course author specialist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="#courseView">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-md-6 margin-top-5">
                                    <h4>Natural Health Tips for Skin</h4>

                                    <p class="margin-top-10">25 Students</p>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <img src="../../images/course-1.jpg">
                                    <div class="text-bold"><span class="course-price free">Free</span></div>
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                    <div class="col-md-10 no-padding">
                                        <h5>course author name</h5>
                                        <p>course author specialist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="#courseView">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-md-6 margin-top-5">
                                    <h4>Natural Health Tips for Skin</h4>

                                    <p class="margin-top-10">25 Students</p>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <img src="../../images/course-1.jpg">
                                    <div class="text-bold"><span class="course-price free">Free</span></div>
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                    <div class="col-md-10 no-padding">
                                        <h5>course author name</h5>
                                        <p>course author specialist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="#courseView">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-md-6 margin-top-5">
                                    <h4>Natural Health Tips for Skin</h4>

                                    <p class="margin-top-10">25 Students</p>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <img src="../../images/course-1.jpg">
                                    <div class="text-bold"><span class="course-price free">Free</span></div>
                                </div>
                                <div class="col-md-12 margin-top-5">
                                    <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                    <div class="col-md-10 no-padding">
                                        <h5>course author name</h5>
                                        <p>course author specialist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>