

<!-- Start Page Banner -->
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-auto">
            <div class="col-md-12" ng-init="courseSectionDetails()">
                <div class="margin-rl">
                    <a href="#courseDetail/{{sectionDetail.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                    <div flash-message="2000" class="col-md-4 pull-right"></div>
                    <h4 class="classic-title"><span>Course View</span></h4>
                    <div class="row margin-top-10 margin-bottom-10">
                        <div class="col-md-8">
                            <h2 class="margin-bottom-10">Section {{sectionno}} : {{sectionDetail.sectiontitle}}</h2>
                            <p class="margin-tb-10 wrap" ng-bind-html="sectionDetail.sectioncontent | html" >
                               <!-- {{sectionDetail.sectioncontent}}-->
                            </p>
                            <hr/>
                            <input type="hidden" name="indexvalue" ng-model="currentIndex"/>
                            <div class="text-center margin-top-20">
                                <a href="" class="btn course_button" ng-disabled="prevdisable" ng-click="getPreviousIndex()"><i class="fa fa-backward"></i>&nbsp;&nbsp; Previous Section</a>
                                <a href="" class="btn course_button margin-left-20" ng-disabled="nextdisable" ng-click="getNextIndex()">Next Section  &nbsp;&nbsp;<i class="fa fa-forward"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>{{sectionDetail.coursename}}</h2>
                            <h4 class="text-gray margin-tb-10">{{sectionDetail.coursesubtitle}}</h4>
                            <h5 class="margin-tb-10" ng-repeat="sections in sectionList">Section{{$index+1}}: <a href="" ng-click="courseSectionDetailsbyId(sections.sectionid)">{{sections.sectiontitle}}</a></h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

