

<!-- Start Page Banner -->
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-auto">
            <div class="col-md-12">
                <a href="#courses" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span>Natural Health Tips for Skin</span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-md-3">
                        <img class="margin-bottom-15" src="../../images/course-test.jpg">
                        <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                        <div class="col-md-10">
                            <h5>course author name</h5>
                            <p>course author specialist</p>
                            <h5 class="margin-top-10"><i class="fa fa-users text-gray"></i> - 12123 Students</h5>
                            <h5 class="margin-top-10"><i class="fa fa-book text-gray"></i> - 23 Sections</h5>
                        </div>
                        <a href="" class="col-md-12 suggest_button margin-top-10">Enroll to this course</a>
                    </div>
                    <div class="col-md-5">
                        <h4 class="margin-bottom-5">Course Description:</h4>
                        <p class="margin-tb-10">
                            Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                        </p>
                        <h5 class="margin-bottom-10">Section 1 : Combination skin is usually dry or normal in s</h5>
                        <h5 class="margin-bottom-10">Section 2 : Combination skin is usually dry or normal in </h5>
                        <h5 class="margin-bottom-10">Section 3 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 4 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 5 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 6 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 7 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 8 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 9 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 10 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 11 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 12 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 13 : Combination skin is usually dry or normal in</h5>
                        <h5 class="margin-bottom-10">Section 14 : Combination skin is usually dry or normal in</h5>
                    </div>
                    <div class="col-md-4">
                        <h4 class="margin-bottom-15">&nbsp;&nbsp;Related Courses</h4>
                        <a href="#courseView">
                            <div class="dashboard arrange">
                                <div class="course-grid-user">
                                    <div class="col-md-6 margin-top-5">
                                        <h4>Natural Health Tips for Skin</h4>
                                        <p class="margin-top-10">25 Students</p>
                                        <p>25 Sections</p>
                                    </div>
                                    <div class="col-md-6 no-padding">
                                        <img src="../../images/course-1.jpg">
                                        <div class="text-bold"><span class="course-price free">Free</span></div>
                                    </div>
                                    <div class="col-md-12 margin-top-5">
                                        <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                        <div class="col-md-10 no-padding">
                                            <h5>course author name</h5>
                                            <p>course author specialist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#courseView">
                            <div class="dashboard arrange">
                                <div class="course-grid-user">
                                    <div class="col-md-6 margin-top-5">
                                        <h4>Natural Health Tips for Skin</h4>
                                        <p class="margin-top-10">25 Students</p>
                                        <p>25 Sections</p>
                                    </div>
                                    <div class="col-md-6 no-padding">
                                        <img src="../../images/course-1.jpg">
                                        <div class="text-bold"><span class="course-price free">Free</span></div>
                                    </div>
                                    <div class="col-md-12 margin-top-5">
                                        <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                        <div class="col-md-10 no-padding">
                                            <h5>course author name</h5>
                                            <p>course author specialist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#courseView">
                            <div class="dashboard arrange">
                                <div class="course-grid-user">
                                    <div class="col-md-6 margin-top-5">
                                        <h4>Natural Health Tips for Skin</h4>
                                        <p class="margin-top-10">25 Students</p>
                                        <p>25 Sections</p>
                                    </div>
                                    <div class="col-md-6 no-padding">
                                        <img src="../../images/course-1.jpg">
                                        <div class="text-bold"><span class="course-price free">Free</span></div>
                                    </div>
                                    <div class="col-md-12 margin-top-5">
                                        <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                                        <div class="col-md-10 no-padding">
                                            <h5>course author name</h5>
                                            <p>course author specialist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
