

<!-- Start Page Banner -->
<div class="page-banner1" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-auto" ng-init="mycourseinit()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="margin-rl">
                    <div flash-message="2000" class="col-lg-3 col-md-3 col-sm-3 no-padding pull-right"></div>
                    <h5 class="classic-title"><span><a href="#myCourses"><i class="fa fa-male"></i>&nbsp;&nbsp;MY COURSES</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#courses"><i class="fa fa-search"></i>&nbsp;&nbsp;COURSE SEARCH</a></h5>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-10">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-padding" ng-repeat="mycourses in myCourseList" ng-show="!myCourseList.length==0">
                    <a href="#courseDetail/{{mycourses.courseid}}">
                        <div class="dashboard arrange">
                            <div class="course-grid-user">
                                <div class="col-lg-6 col-md-6 col-sm-6 margin-top-5 course-info-grid-user">
                                    <h4 class="course-name wrap" title="{{mycourses.coursename}}">{{mycourses.coursename}}</h4>
                                    <p class="margin-top-10">{{mycourses.categoryname}}</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <img class="course-image" ng-src="{{mycourses.promoimage | trusted}}">
                                 </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 margin-top-5">
                                    <div class="col-lg-2 col-md-3 col-sm-3 no-padding margin-top-5"><img class="course-author-img" ng-src="{{mycourses.imageurl | trusted}}"></div>
                                    <div class="col-lg-10 col-md-9 col-sm-9 no-padding">
                                        <h5 class="one-line-clamp">{{mycourses.ownername}}</h5>
                                        <p class="one-line-clamp">{{mycourses.specialistin}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="margin-top-50" ng-show="myCourseList.length==0">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img class="margin-top-20 pull-right" src="../../images/no-courses.png" width="250" height="167"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h1 class="text-gray margin-top-50">NO COURSES FOUND!!!</h1><br/>
                        <a class="main-button" href="#courses"><i class="fa fa-book"></i>&nbsp;&nbsp;Enroll Courses Here</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>