

<!-- Start Page Banner -->
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-auto">
            <div class="col-md-12">
                <div class="margin-rl">
                    <a href="#myCourses" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                    <div flash-message="2000" class="col-md-4 pull-right"></div>
                    <h4 class="classic-title"><span>Natural Health Tips for Skin</span></h4>
                    <div class="row margin-top-10 margin-bottom-10">
                        <div class="col-md-3">
                            <img class="margin-bottom-15" src="../../images/course-test.jpg">
                            <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
                            <div class="col-md-10">
                                <h5>course author name</h5>
                                <p>course author specialist</p>
                            </div>
                            <div class="col-md-12 no-padding"><br/>
                                <h5 class="margin-bottom-5">Course Description:</h5>
                                <p class="margin-tb-10">
                                    Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="margin-bottom-10">Section 1 : Combination skin is usually dry or normal in</h5>
                            <p class="margin-tb-10">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                            <p class="margin-tb-10">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                            <p class="margin-tb-10">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                            <div class="text-center margin-top-20">
                                <a href="" class="course_button"><i class="fa fa-backward"></i>&nbsp;&nbsp; Previous Section</a>
                                <a href="" class="course_button margin-left-20">Next Section  &nbsp;&nbsp;<i class="fa fa-forward"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="margin-bottom-15">Sections</h4>
                            <h5 class="margin-bottom-10">Section 1 : <a href="">Combination skin is usually dry or normal in s</a></h5>
                            <h5 class="margin-bottom-10">Section 2 : <a href="">Combination skin is usually dry or normal in </a></h5>
                            <h5 class="margin-bottom-10">Section 3 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 4 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 5 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 6 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 7 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 8 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 9 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 10 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 11 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 12 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 13 : <a href="">Combination skin is usually dry or normal in</a></h5>
                            <h5 class="margin-bottom-10">Section 14 : <a href="">Combination skin is usually dry or normal in</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
