<style xmlns="http://www.w3.org/1999/html">
    /*weight level*/

    #weight_level{
        position:relative;
        height:200px;
        width:90px;
        margin-top:20px;
        margin-left:70px;
        font-size: 13px;
        overflow:hidden;
        background-color: #eee;
    }
    .weight_level{
        position:absolute;
        width: 90px;
        bottom: 0;
        background-color: #003366;
    }
    .red{
        background-color: red;
    }
    .green{
        background-color: limegreen;
    }
    .yellow{
        background-color: #ffcc00;
    }

</style>

<div class="page-banner1">

    <div id="w" class="clearfix">
        <ul id="sidemenu">

            <li class="daily_update">
                <a href="#daily_update" class="open"><i class="fa fa-child fa-4x"></i><span>Daily Updates</span>
                    <br/>
                    <p>Enter your Daily Updates</p>
                </a>
            </li>

            <li class="weight">
                <a href="#weight"><i class="fa fa-tachometer fa-4x"></i><span>Weight</span>
                    <br/>
                    <p>Update Age & Set Goal</p>
                </a>
            </li>

            <li class="advice">
                <a href="#advice"><i class="fa fa-exclamation-triangle fa-4x"></i><span>Advices</span>
                    <br/>
                    <p>Get daily tips for you</p>
                </a>
            </li>

            <li class="calories">
                <div class="text">
                    <h4>
                        some text
                    </h4>
                    <p>sdscfasfa jhchzxc jbcuzx ck ighicx izug shcizx ch zhgizx</p>
                </div>

                <div class="col-md-6 text-center">
                    <h5>Gain</h5>
                    <div class="gain margin-top-10" data-percent="65"></div>
                    <h4>547</h4>
                    <p>of 1700 Cals</p>
                </div>
                <div class="col-md-6 text-center">
                    <h5>Spent</h5>
                    <div class="spent margin-top-10" data-percent="55"></div>
                    <h4>547</h4>
                    <p>of 1700 Cals</p>
                </div>


            </li>

        </ul>

        <div id="content">
            <div id="daily_update">
                <div class="col-md-7">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab" onclick="return false;">Food Gain</a></li>
                        <li><a href="#tab-2" data-toggle="tab" onclick="return false;">Energy Spent</a></li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!-- Tab Content 1 -->
                        <div class="tab-pane in active" id="tab-1">

                            <ul class="session">
                                <li class="active" ng-click="getBreakfast()">Break Fast</li>
                                <li ng-click="getBrunch()">Brunch</li>
                                <li ng-click="getLunch()">Lunch</li>
                                <li ng-click="getSnacks()">Snacks</li>
                                <li ng-click="getDinner()">Dinner</li>
                            </ul>

                            <div class="tab_container">

                                <div class="tab_content">
                                    <div class="content-2">
                                        <a id="modal_trigger_food" href="#modal-food" onclick="return false;" class="suggest_button">Suggest Food</a>
                                        <div class="food_option">
                                            <span>idle</span>
                                            <span>Chappathi</span>
                                            <span>Vada</span>
                                            <span>Pongal</span>
                                            <span>idle</span>
                                            <span>idle</span>
                                            <span>Chappathi</span>
                                            <span>Vada</span>
                                            <span>Pongal</span>
                                            <span>idle</span>
                                            <span>Dosa</span>
                                            <span>Vada</span>
                                            <span>Pongal</span>
                                            <span>Vada</span>
                                            <span>Pongal</span>
                                        </div>
                                    </div>
                                    <div class="content-1">
                                        <div angucomplete-alt id="ex10" placeholder="Search Food" pause="100" selected-object="foodSelected" local-data="foodSearchResult" search-fields="foodname" title-field="foodname" image-field="foodImagePath" minlength="1" input-class="weight_input full-width" match-class="highlight" input-changed="inputChanged" clear-selected="true" >
                                        </div>

                                    </div>
                                    <div class="food_scrollbar style">
                                        <ul class="food">
                                            <li class="row" ng-repeat="foodDiaryData in userFoodDiaryData">
                                                <div class="col-md-2 no-padding"><img ng-src="{{foodDiaryData.foodImagePath+'200x200.jpg'}}"></div>
                                                <div class="col-md-10 no-padding">
                                                    <span class="pull-right food_close">x</span>
                                                    <p class="food_name">{{foodDiaryData.foodname}}</p>
                                                    <p>
                                                        <span class="pull-right text-green"><i class="fa fa-angle-up"></i>&nbsp;{{foodDiaryData.measureid.calories}}  calories</span>
                                                    <div class="select_food">
                                                        {{foodDiaryData.measureid.servings}}&nbsp;{{foodDiaryData.measureid.measurename}}
                                                    </div>
                                                    </p>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div><!-- #tab1 -->

                            </div> <!-- .tab_container -->
                        </div>
                        <!-- Tab Content 2 -->
                        <div class="tab-pane padding-top-5" id="tab-2">
                            <div class="content-3">
                                <a id="modal_trigger_exercise" href="#modal-exercise" class="suggest_button">Suggest Exercise</a>
                                <div class="spent_option">
                                    <span>Running</span>
                                    <span>Walking</span>
                                    <span>Swimming</span>
                                    <span>Pull Up</span>
                                    <span>Push Up</span>
                                    <span>Cycling</span>
                                    <span>Chappathi</span>
                                    <span>Vada</span>
                                    <span>Pongal</span>
                                    <span>idle</span>
                                    <span>Dosa</span>
                                    <span>Vada</span>
                                    <span>Pongal</span>
                                    <span>Vada</span>
                                    <span>Pongal</span>
                                    <span>idle</span>
                                    <span>idle</span>
                                    <span>Chappathi</span>
                                </div>
                            </div>
                            <div class="content-1">
                                <input type="text" class="full-width" name="q" id="tipue_drop_input4" autocomplete="off" required placeholder="Enter the Exercise...">
                                <div id="tipue_drop_content4"></div>
                            </div>
                            <div class="food_scrollbar style height-310">
                                <ul class="food">
                                    <li class="row">
                                        <div class="col-md-2 no-padding"><img src="../../images//excer-2.jpg"></div>
                                        <div class="col-md-10 no-padding">
                                            <span class="pull-right food_close">x</span>
                                            <p class="food_name">Running</p>
                                            <p>
                                                <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 135 calories</span>
                                            <div class="select_food">
                                                <select>
                                                    <option>1 kms(20km/hr)</option>
                                                    <option>2 kms</option>
                                                    <option>3 kms</option>
                                                </select>
                                            </div>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-2 no-padding"><img src="../../images/excer-1.jpg"></div>
                                        <div class="col-md-10 no-padding">
                                            <span class="pull-right food_close">x</span>
                                            <p class="food_name">Walking</p>
                                            <p>
                                                <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 135 calories</span>
                                            <div class="select_food">
                                                <select>
                                                    <option>1 kms(4km/hr)</option>
                                                    <option>2 kms</option>
                                                    <option>3 kms</option>
                                                </select>
                                            </div>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- End Tab Panels -->
                </div>
                <div class="col-md-4 pull-right margin-top-10">
                    <i class="fa fa-calendar-o"></i> Date : <input type="text" class="main" id="datepicker"/>
                </div>
            </div>

            <div id="weight" class="contentblock hidden">
                <div class="outerline">
                    <div class="col-md-8">
                        <div class="content-weight">
                            <div class="row margin-top-10">
                                <div class="col-md-4 text-right padding-top-4">
                                    <h5>Height :</h5>
                                </div>
                                <div class="col-md-8">
                                    <input class="weight_input"/>
                                    <input type="radio" id="3" class="height" name="height" />
                                    <label for="3">cm</label>
                                    <input type="radio" id="4" class="height" name="height" />
                                    <label for="4">ft</label>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-4 text-right padding-top-4">
                                    <h5>Weight :</h5>
                                </div>
                                <div class="col-md-8">
                                    <input class="weight_input"/>
                                    <input type="radio" id="5" class="height" name="weight" />
                                    <label for="5">Kg</label>
                                    <input type="radio" id="6" class="height" name="weight" />
                                    <label for="6">Lb</label>
                                </div>

                                <div class="col-md-12 text-center margin-top-20 margin-bottom-10">
                                    <a href="" class="weight_button">Update</a>
                                </div>
                            </div>
                        </div>
                        <div class="content-weight">
                            <div class="row">
                                <div class="col-md-7 text-right">
                                    <h5>Your Idle Weight :</h5>
                                    <h5 class="margin-top-10">Your Original Weight :</h5>
                                </div>
                                <div class="col-md-5">
                                    <h5><span class="yellow">&nbsp;&nbsp;</span> 65 Kgs</h5>
                                    <h5 class="margin-top-10"><span class="green">&nbsp;&nbsp;</span> 58 Kgs</h5>
                                </div>
                            </div>
                        </div>

                        <div class="content-goal">
                            <div class="row margin-right-2">
                                <div class="col-md-12 margin-bottom-10">
                                    <h5>Set the Goal</h5>
                                </div>
                                <div class="col-md-3 no-padding">
                                    <div class="set_goal">
                                        <div class="set_goal_item low">
                                            <p>Low</p>
                                            <h6>
                                                <span>1 Month<br/>
                                                <i class="fa fa-angle-up"></i> 1 Kgs<br/></span>
                                                <a href="">Set Goal</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 no-padding">
                                    <div class="set_goal">
                                        <div class="set_goal_item medium">
                                            <p>Medium</p>
                                            <h6>
                                                <span>1 Month<br/>
                                                <i class="fa fa-angle-up"></i> 2 Kgs<br/></span>
                                                <a href="">Set Goal</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 no-padding">
                                    <div class="set_goal">
                                        <div class="set_goal_item high">
                                            <p>High</p>
                                            <h6>
                                                <span>1 Month<br/>
                                                <i class="fa fa-angle-up"></i> 3 Kgs<br/></span>
                                                <a href="">Set Goal</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 no-padding">
                                    <div class="set_goal">
                                        <div class="set_goal_item custom">
                                            <p>Set Yours</p>
                                            <h6>
                                                <span class="pull-left">Month<br/><input id="month" type="number" min="1" max="10" step="1" value ="1"/></span>
                                                <span class="pull-right">Weight<br/><input id="weight_to" type="number" min="1" max="10" step="1" value ="1"/></span><br/><br/>
                                                <a href="">Set Goal</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p hidden id="weight_entry">50%</p>
                        <div id="weight_level">
                            <div id="col" class="weight_level"></div>
                        </div>
                        <div class="weight_mask">
                            <img src="../../images/weight.png">
                            <!--<img src="../../images/weight_female.png">-->
                        </div>
                        <div class="weight_measure">
                            <div class="level_high"><div>HIGH</div></div>
                            <div class="level_maintain"><div>MAINTAIN</div></div>
                            <div class="level_low"><div>LOW</div></div>
                        </div>
                        <div class="pull-right margin-right-40 small margin-top-10">Weight Level</div>
                    </div>
                </div>
            </div><!-- @end #ideas-content -->

            <div id="advice" class="contentblock hidden">
                <div class="outerline">
                    <div class="col-md-5 margin-top-5">
                        <h4>For a High Protein Meal</h4>
                        consider having soybean, milk.<br><br>
                        <h5>What Can I Eat:</h5>
                        Snacks OR Skimmed milk<br><br>

                        <h4>For a High Fibre Meal</h4>
                        consider having roti, nuts or pulses.<br><br>
                        <h5>What Can I Eat:</h5>
                        Jowar ki roti OR Green gram<br>
                        Channa Sundal
                    </div>
                    <div class="col-md-7 margin-top-5">
                        <img src="../../images/soyabean-milk-1.jpg"/><br/><br/>
                        <p>
                            Soy milk, also referred to as soymilk or soya milk, is a
                            plant milk produced by soaking dried soybeans and
                            grinding them in water.
                            <br/><br/>
                            A traditional staple of East Asian cuisine,
                            soy milk is a stable emulsion of oil,
                            water and protein. Soy milk can be
                            produced at home using a soy milk machine.
                        </p>
                    </div>
                </div>
            </div><!-- @end #ideas-content -->
        </div><!-- @end #content -->

        <div id="update">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../images/member02.jpg">
                </div>
                <div class="col-md-8 no-padding">
                    <h4>Mugesh Kumar</h4>
                    <p>9042081474</p>
                    <p>mugeshmail@gmail.com</p>
                    <div class="margin-top-10">
                        <div class="col-md-4 no-padding">
                            <h6>Age</h6>
                            <h6>Weight</h6>
                            <h6>Height</h6>
                        </div>
                        <div class="col-md-8">
                            <h6>: 25</h6>
                            <h6>: 58 <small>kgs</small></h6>
                            <h6>: 5.8 <small>ft</small></h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <h6>Today's Update</h6>
            <div>
                <div>
                    <table hidden>
                        <caption>Date table</caption>
                        <tbody>
                        <tr><td>A</td><td>90%</td></tr>
                        <tr><td>B</td><td>68%</td></tr>
                        <tr><td>C</td><td>30%</td></tr>
                        <tr><td>D</td><td>20%</td></tr>
                        </tbody>
                    </table>
                    <div class="left">
                        <div id="grafico">
                            <div class="riga top-33"><div>MAINTAIN</div></div>
                            <div class="riga top-66"><div>LOW</div></div>
                            <div id="1" class="riga"><div>HIGH</div></div>
                            <div id="col0" class="column"></div>
                            <div id="col1" class="column"></div>
                            <div id="col2" class="column"></div>
                            <div id="col3" class="column"></div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="health">
                            <div class="col-md-3 no-padding">
                                <img src="../../images/i-protein.jpg" class="margin-left-5">
                                <p>Protein<br/><strong>312</strong><br/>gms</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <img src="../../images/i-fats.jpg" class="margin-left-5">
                                <p>Fats<br/><strong>42</strong><br/>gms</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <img src="../../images/i-carbs.jpg" class="margin-left-5">
                                <p>Carbs<br/><strong>08</strong><br/>gms</p>
                            </div>
                            <div class="col-md-3 no-padding">
                                <img src="../../images/i-fibre.jpg" class="margin-left-5">
                                <p>Fibre<br/><strong>11</strong><br/>gms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- @end #w -->


</div>

<!-- Food Suggestion popup-->
<div id="modal-food" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Food suggestion</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <p>Food Name:</p>
            <input type="text"/>
            <p>Food Description:</p>
            <textarea type="text" class="height-150"/></textarea>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="#" class="btn btn_blue">Send Request</a></div>
                <div class="one_half last modal_close"><a class="btn btn_red">Cancel</a></div>
            </div>
        </div>
    </section>
</div>

<!-- Food Suggestion popup-->
<div id="modal-exercise" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">exercise suggestion</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <p>Exercise Name:</p>
            <input type="text"/>
            <p>Exercise Description:</p>
            <textarea type="text" class="height-150"/></textarea>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="#" class="btn btn_blue">Send Request</a></div>
                <div class="one_half last modal_close"><a class="btn btn_red">Cancel</a></div>
            </div>
        </div>
    </section>
</div>

<!-- User Add Food-->
<div id="modal-add-food" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Add Food</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="user_register">
            <p>Exercise Name:</p>
            <input type="text"/>
            <p>Exercise Description:</p>
            <textarea type="text" class="height-150"/></textarea>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="#" class="btn btn_blue">Send Request</a></div>
                <div class="one_half last modal_close"><a class="btn btn_red">Cancel</a></div>
            </div>
        </div>
    </section>
</div>



<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript" src="../../plugin/date-picker/moment.js"></script>

<script type="text/javascript">
    $("#modal_trigger_food").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#modal_trigger_exercise").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>


<script>
    function viewGraph1(){
        $('.weight_level');
        var ha = document.getElementById('weight_entry').innerText;
        var hacolor = parseFloat(ha);
        if (hacolor <= 45) {
            $('#col').addClass('green');
            $('#col').animate({height: ha}, 1200);
        }
        else if(hacolor >= 55) {
            $('#col').addClass('red');
            $('#col').animate({height: ha}, 1200);
        }
        else if (45> hacolor < 55) {
            $('#col').addClass('yellow');
            $('#col').animate({height: ha}, 1200);
        }

    }
    $(document).ready(function(){
        viewGraph1();
    });
</script>

<script>
    function viewGraph(){
        $('.column').css('height','0');
        $('table tr').each(function(index) {
            var ha = $(this).children('td').eq(1).text();
            $('#col'+index).animate({height: ha}, 1500).html("<div>"+ha+"</div>");
        });
    }
    $(document).ready(function(){
        viewGraph();
    });

</script>

<script type="text/javascript">
    $(function(){
        $('#sidemenu a').on('click', function(e){
            e.preventDefault();

            if($(this).hasClass('open')) {
                // do nothing because the link is already open
            } else {
                var oldcontent = $('#sidemenu a.open').attr('href');
                var newcontent = $(this).attr('href');

                $(oldcontent).fadeOut('fast', function(){
                    $(newcontent).fadeIn().removeClass('hidden');
                    $(oldcontent).addClass('hidden');
                });


                $('#sidemenu a').removeClass('open');
                $(this).addClass('open');
            }
        });
    });
</script>

<!--new tab script-->

<script type="text/javascript">

    $(document).ready(function() {

        $(".tab_content").show();

        $("ul.session li").click(function() {
            $("ul.session li").removeClass("active");
            $(this).addClass("active");
        });
    });

</script>

<script>
    $('.gain').percentcircle({
        animate : true,
        diameter : 100,
        guage: 3,
        coverBg: '#fff',
        bgColor: '#efefef',
        fillColor: '#CCCC00',
        percentSize: '18px',
        percentWeight: '20px'
    });
</script>

<script>
    $('.spent').percentcircle({
        animate : true,
        diameter : 100,
        guage: 3,
        coverBg: '#fff',
        bgColor: '#efefef',
        fillColor: '#57cb85',
        percentSize: '18px',
        percentWeight: '20px'
    });
</script>


<script>

    // Code to convert select to UL
    $('.select_food').each(function(){
        var $select = $(this).find('select'),
                $list = $('<ul/>');
        $select.find('option').each(function(){
            $list.append('<li>' + $(this).text() + '</li>');
        });
//Remove the select after the values are taken
        $select.after( $list ).remove();


//Append Default text to show the selected
        $(this).append('<span>select</span>');
        var firsttxt = $(this).find('li:first-child').text();
        $(this).find('span').html(firsttxt+' <i class="fa fa-pencil"></i>');


// On click show the UL
        $(this).on('click','span',function(e){
            e.stopPropagation();
            $(this).parent().find('ul').show();
        });

// On select of list select the item
        $(this).on('click','li',function(){
            var gettext = $(this).text();
            $(this).parents('.select_food').find('span').html(gettext+' <i class="fa fa-pencil"></i>');
            $(this).parent().fadeOut();
        });

    });

    // On click out hide the UL
    $(document).on('click',function(){
        $('.select_food ul').fadeOut();
    });

</script>

<script>
    var picker = new Pikaday({
        format:'MM/DD/YYYY',
        field: document.getElementById('datepicker'),
        firstDay: 1,
        minDate: new Date(1940, 0, 1),
        maxDate: new Date(new Date().getFullYear()-7, 12, 31),
        yearRange: [1940, new Date().getFullYear()-7],
        defaultDate: new Date(new Date().getFullYear()-25,0,1)
    });

</script>