
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="profile">
            <div class="col-md-12 no-padding">
                <div class="profile-image center-block"><img id="profile-image-change" src="../../images/member02.jpg"></div>
                <h4 class="margin-top-20">Mugesh Kumar</h4>
                <p class="text-green">Normal Health</p>
                <div class="margin-top-10">
                    <div class="col-md-5 no-padding">
                        <h6>Height<span class="pull-right">:</span></h6>
                        <h6>Weight<span class="pull-right">:</span></h6>
                        <h6>Hip<span class="pull-right">:</span></h6>
                        <h6>Waist<span class="pull-right">:</span></h6>
                        <h6>BMI<span class="pull-right">:</span></h6>
                        <h6>Blood Pressure<span class="pull-right">:</span></h6>
                    </div>
                    <div class="col-md-7">
                        <h6 class="text-green">Idle Height</h6>
                        <h6 class="text-red">Low Weight</h6>
                        <h6 class="text-green">Normal</h6>
                        <h6 class="text-green">Normal</h6>
                        <h6 class="text-green">Normal</h6>
                        <h6 class="text-green">Normal</h6>
                    </div>
                </div>
            </div>
        </div>

        <div id="profile-content">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h5 class="classic-title"><span><i class="fa fa-male"></i> &nbsp;DEMOGRAPHY</span></h5>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Height :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="weight_input"/>  .
                            <input class="weight_input"/>&nbsp;
                            <input type="radio" id="cm" name="height" />
                            <label for="cm">cm</label>
                            <input type="radio" id="ft" name="height" />
                            <label for="ft">ft</label>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Weight :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="weight_input"/>  .
                            <input class="weight_input"/>&nbsp;
                            <input type="radio" id="Kg" name="weight" />
                            <label for="Kg">Kg</label>
                            <input type="radio" id="Lb" name="weight" />
                            <label for="Lb">Lb</label>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Hip :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="weight_input"/>  .
                            <input class="weight_input"/>&nbsp;
                            <input type="radio" checked id="hip" name="hip" />
                            <label for="hip">Inch</label>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Waist :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="weight_input"/>  .
                            <input class="weight_input"/>&nbsp;
                            <input type="radio" checked id="waist" name="waist" />
                            <label for="waist">Inch</label>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>BMI :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="weight_input"/>  .
                            <input class="weight_input"/>&nbsp;
                            <input type="radio" checked id="bmi" name="bmi" />
                            <label for="bmi">Kg/m<sup>2</sup></label>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Blood Pressure :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Blood Group :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Protein :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Fat :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Carbo Hydrate :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Fiber :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Calories Intake :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <div class="col-md-5 padding-top-4">
                            <h5>Waist :</h5>
                        </div>
                        <div class="col-md-7 no-padding">
                            <input class="demography_input"/>
                        </div>
                    </div>
                    <div class="col-md-12"><hr/></div>
                    <div class="col-md-12 text-center margin-top-10">
                        <a href="" class="register_button">Save Changes</a>
                        <a href="#dashboard" class="cancel_button">Cancel</a>
                    </div>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<!-- create coach popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Profile Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="image-editor">
                <div class="cropit-image-preview center-block"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">

                <div class="action_btns margin-top-20">
                    <div class="one_half">
                        <div class="fileUpload food-button">
                            <span>Choose File</span>
                            <input type="file" class="upload cropit-image-input" />
                        </div>
                    </div>
                    <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close">Upload Image</a></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- create coach popup-->
<div id="modal-changePassword" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Password</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form>
                <p>Current Password</p>
                <input type="text"/>
                <p>New Password</p>
                <input type="text"/>
                <p>Confirm New Password</p>
                <input type="text"/>
                <div class="action_btns margin-top-20">
                    <div class="one_half"><a class="btn btn_red">Change Password</a></div>
                    <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">Cancel</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#modal_trigger1").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

<script>
    $(function() {
        $('.image-editor').cropit({
            imageState: {
                src: ''
            }
        });

        $('.export').click(function() {
            var imageData = $('.image-editor').cropit('export');
            document.getElementById("profile-image-change").src=imageData;
        });
    });
</script>

<script>
    if (top.location != location) {
        top.location.href = document.location.href ;
    }
    $(function(){
        window.prettyPrint && prettyPrint();
        $('#dp1').datepicker({
            format: 'mm-dd-yyyy'
        });
        var startDate = new Date(2012,1,20);
        var endDate = new Date(2020,1,25);

        var checkin = $('#dpd1').datepicker({
            onRender: function(date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function(ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
    });
</script>

