<!-- Start Testimonials Section -->
<div class="section service" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 min-height-450">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <h4 class="classic-title"><span>Most Viewed</span></h4>
                <div id="showMostViewed" class="wrap">
                    <div ng-repeat="userforum in userforumlist | limitTo:20">
                        <h5><a class="forum-topic wrap" href="#forumDetails/{{userforum.postid}}">{{userforum.posttitle}}</a></h5>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 min-height-450">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h1>FORUMS</h1>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <span class="col-lg-5 col-md-5 col-sm-5"><a href="#addforum" class="forum_button col-lg-12 col-md-12 col-sm-12" ><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add New Post</a></span>
                    <span class="col-lg-7 col-md-7 col-sm-7 no-padding"><input type="text" class="search-input" ng-model="forumsearch" placeholder="Search forum topics here..."></span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr/>
                    <h5>
                        <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                            Posted By
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                            Forum
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 text-center no-padding">
                            Comments
                        </div>
                    </h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr/>
                </div>
                <div ng-switch="(userforumlist | startsWithLetterForum:forumsearch).length">
                    <!--<span class="ng-empty" ng-switch-when="0">
                        <div class="col-md-12 text-center margin-top-50">
                            <img src="../../images/no-faq.png"/>
                            <h1 class="text-gray">NO RESULTS FOUND!!!</h1>
                        </div>
                    </span>-->
                    <div ng-switch-default>
                        <div class="col-lg-12 col-md-12 col-sm-12" dir-paginate="userforum in forumfilter=(userforumlist | startsWithLetterForum :forumsearch | itemsPerPage: 8)" ng-show="userforumlist !=0">
                            <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                                <img class="img-circle forum-list-img" ng-src="{{userforum.userimage|trusted}}">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p class="wrap text-bold">{{userforum.username}}</p>
                                <p>{{userforum.postedon}}</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                <h5 class="wrap"><a href="#forumDetails/{{userforum.postid}}">{{userforum.posttitle}}</a></h5>
                                <p class="forum-list-content wrap">{{userforum.postdescription}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <i class="fa fa-comments"></i>  &nbsp;{{userforum.totalcomment}}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                <hr/>
                            </div>
                        </div>
                        <div ng-show="userforumlist==0 || !forumfilter.length">
                            <h1 class="col-lg-12 col-md-12 col-sm-12 margin-top-50 text-gray text-center">
                                <img src="../../images/no-faq.png" width="180" height="120"/>
                                NO RECORDS FOUND!!!
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10">
                        <dir-pagination-controls  boundary-links="true"> </dir-pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<script type="text/javascript" src="../../js/script.js"></script>