<!-- Start Testimonials Section -->
<div class="section service" ng-init="init()" xmlns="http://www.w3.org/1999/html" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 min-height-450">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <h4 class="classic-title"><span>Most Viewed</span></h4>
                <div id="showMostViewed" class="wrap">
                    <div ng-repeat="userforum in userforumlist | limitTo:20">
                        <h5><a class="forum-topic wrap" ng-class="{'forums-active':userforum.postid==forumActive}" href="#forum-details/{{userforum.postid}}">{{userforum.posttitle}}</a></h5>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 min-height-450">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h1>SINGLE FORUM</h1>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <a href="#forums" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back to Forums List</a>
                    <div flash-message="2000" class="col-lg-7 col-md-7 col-sm-7 no-padding pull-right"></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="margin-bottom-20 wrap">{{userforumdetails.posttitle}}</h3>
                    <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                        <img class="img-circle forum-list-img" ng-src="{{userforumdetails.userimage | trusted}}"/>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <p>Posted by : <strong>{{userforumdetails.username}}</strong></p>
                        <p>Posted on : {{userforumdetails.postedon}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-tb-10 wrap">
                        {{userforumdetails.postdescription}}<br/>
                        <div class="margin-top-10">
                            <a href="" ng-click="doMarkPostAsAbuse()" class="h6">Report Abuse</a>
                            <span ng-if="userCheck"> | <a href="#edit-forum/{{userforumdetails.postid}}"  class="btn abuse"  class="h6" >Edit</a></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <h4>Comments</h4>
                        <div class="text-center margin-tb-20" ng-show="forumAnswers.length==0">
                            <img src="../../images/no-reviews.png" width="176" height="120"/>
                            <h1 class="text-gray">NO COMMENTS</h1>
                        </div>
                        <div ng-repeat="forumAnswerList in forumAnswers" ng-hide="forumAnswers.length==0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <hr/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                        <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                                            <img class="img-circle" ng-src="{{forumAnswerList.userimage | trusted}}"/>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <h5>{{forumAnswerList.username}}</h5>
                                            <p>{{forumAnswerList.postedon}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <p class="wrap"><strong>{{forumAnswerList.comments}}</strong></p>
                                        <a href="" ng-click="doMarkCommentAsAbuse(forumAnswerList.ansid)" class="h6">Report Abuse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h4 class="margin-top-20">Post Comment</h4>
                        <form name="userCommentForm" novalidate>
                            <span ng-show="userCommentForm.comments.$dirty&&userCommentForm.comments.$invalid&& !userCommentForm.comments.$pristine">
                                <span class="error-message textarea-errormessage40" ng-show="userCommentForm.comments.$error.required"><span>Required.</span></span>
                            </span>
                            <textarea class="forum-textarea" name="comments" ng-model="comments" placeholder="Enter the comments" maxlength="400" required></textarea>
                            <a href="" ng-click="doPostForumAnswers()" class="btn main-button" ng-disabled="userCommentForm.$invalid">POST COMMENT</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<script type="text/javascript" src="../../js/script.js"></script>