
<div class="page-banner1" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div id="demography-content">
            <div class="col-lg-8 col-md-9 col-sm-12 margin-bottom-20">
                <div flash-message="2000" class="col-lg-4 col-md-4 col-sm-4 pull-right no-padding"></div>
                <div class="my-friends">

                    <h5 class="classic-title friend"><span><a href="" ng-click="initialLoad()"><i class="fa fa-users my-friends-list"></i>&nbsp;My Friends</a></span>
                        &nbsp;|&nbsp;<a href="" class="friends-request" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;Request Received<b class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 2}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 2}).length}}]</b></a>
                        &nbsp;|&nbsp;<a href="" class="friends-request-sent" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;Request Sent</a><a class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 1}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 1}).length}}]</a>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="myFriendsList.length==0 || viewDetails==1" >
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <input type="text" class="friend-input" placeholder="Search my friend here..." ng-model="myfriendssearch"/>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 no-padding">
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage*pageSize+1}}&nbsp;-&nbsp;<span ng-show="(currentPage+1)*pageSize<=myFriendsList.length">{{(currentPage+1)*pageSize}}</span><span ng-show="(currentPage+1)*8>myFriendsList.length">{{myFriendsList.length}}</span>&nbsp;of&nbsp;{{myFriendsList.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=numberOfPages()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div ng-hide="viewDetails==1">
                        <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="myfriends in friendsfilter=( myFriendsList | filter: {name : myfriendssearch} | startFrom:currentPage*pageSize | limitTo:pageSize)" ng-show="myFriendsList.length!=0">
                            <a href="" ng-click="doViewMembers(myfriends.userid)" class="img-shadow"><img ng-src="{{myfriends.imageurl | trusted}}"/></a>
                            <h5 class="wrap"><a href="" ng-click="doViewMembers(myfriends.userid)">{{myfriends.name}}</a></h5>
                        </div>
                        <h1 class="col-lg-12 col-md-12 col-sm-12 margin-top-50 text-gray text-center" ng-show="!friendsfilter.length" ng-if="!loaded">
                            <img src="../../images/no-friend.png" width="150" height="150"/><br/>
                            NO FRIENDS FOUND!!!<br/><br/><br/>
                        </h1>
                        </div>
                        <div ng-show="viewDetails==1">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                                    <div class="margin-right-20"><img class="border-image" ng-src="{{myImgSrc}}"/></div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td class="col-lg-3 col-md-3 col-sm-3">Name</td>
                                            <td class="col-lg-9 col-md-9 col-sm-9">{{viewMemberDetails.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email ID</td>
                                            <td>{{viewMemberDetails.emailid}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                <div ng-if="viewMemberDetails.gender == 1">
                                                    Male
                                                </div>

                                                <div ng-if="viewMemberDetails.gender == 2">
                                                    Female
                                                </div>

                                                <div ng-if="viewMemberDetails.gender == null">
                                                    N/A
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="viewMemberDetails.isprivacy==0">
                                            <td>DOB</td>
                                            <td>{{viewMemberDetails.dob}}</td>
                                        </tr>
                                        <tr ng-if="viewMemberDetails.isprivacy==0">
                                            <td>Phone</td>
                                            <td>{{viewMemberDetails.phone}}</td>
                                        </tr>
                                        <tr ng-if="viewMemberDetails.isprivacy==0">
                                            <td>Address</td>
                                            <td><span  class="line-clamp-xlg">{{viewMemberDetails.city}},{{viewMemberDetails.state}},{{viewMemberDetails.country}}</span></td>
                                        </tr>
                                        <tr ng-if="viewMemberDetails.isprivacy==0">
                                            <td>Zipcode</td>
                                            <td>{{viewMemberDetails.zipcode}}</td>
                                        </tr>
                                        <tr ng-if="viewMemberDetails.isprivacy==0">
                                            <td>Food Style</td>
                                            <td ng-if="viewMemberDetails.preferfood==1">Indian</td>
                                            <td ng-if="viewMemberDetails.preferfood==2">US</td>
                                            <td ng-if="viewMemberDetails.preferfood==3">None</td>
                                        </tr>
                                        <tr>
                                            <td>About</td>
                                            <td>{{viewMemberDetails.about}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                     <a href="" class="main_button" ng-click="initialLoad()"><i class="fa fa-arrow-circle-o-left"></i> Back to Myfriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-request">
                    <h5 class="classic-title friend"><a href="" class="my-friends-list" ng-click="initialLoad()"><i class="fa fa-users"></i>&nbsp;My Friends</a>
                        &nbsp;|&nbsp;<span><a href="" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;Request Received</a></span><a class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 2}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 2}).length}}]</a>
                        &nbsp;|&nbsp;<a href="" class="friends-request-sent" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;Request Sent</a><a class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 1}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 1}).length}}]</a>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                   <!-- <div class="row" ng-hide="(requestedFriendsList | filter: {friendStatus: 2}).length==0">
                        <div class="col-md-7">
                            <input type="text" class="friend-input" placeholder="Search here..." ng-model="requestreceivedsearch"/>
                        </div>
                        <div class="col-md-5 text-center margin-top-10">
                                <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=0">
                                    <i class="fa fa-angle-double-left"></i>
                                </button>
                                <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <span class="friends-list-no">&nbsp;&nbsp;{{currentPage1*pageSize1+1}}&nbsp;-&nbsp;<span ng-show="(currentPage1+1)*pageSize1<=(requestedFriendsList | filter: {friendStatus: 2}).length">{{(currentPage1+1)*pageSize1}}</span><span ng-show="(currentPage1+1)*8>(requestedFriendsList | filter: {friendStatus: 2}).length">{{(requestedFriendsList | filter: {friendStatus: 2}).length}}</span>&nbsp;of&nbsp;{{(requestedFriendsList | filter: {friendStatus: 2}).length}}&nbsp;Friends&nbsp;&nbsp;</span>
                                <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 2}).length/pageSize1 - 1" ng-click="currentPage1=currentPage1+1">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                                <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 2}).length/pageSize1 - 1" ng-click="currentPage1=numberOfPages1()-1">
                                    <i class="fa fa-angle-double-right"></i>
                                </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="friendsrequest in receivedfilter=( requestedFriendsList | filter:{name : requestreceivedsearch} | startFrom:currentPage1*pageSize1 | limitTo:pageSize1)" ng-show="friendsrequest.friendStatus == 2">
                            <div>
                            <a href="" class="img-shadow"><img ng-src="{{friendsrequest.imageurl | trusted}}"/></a>
                            <h5 class="wrap">{{friendsrequest.name}}<br/>
                                <a href="" class="btn-xs btn-success margin-top-5" ng-click="acceptFriends(friendsrequest.userid)">Accept</a>
                                <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(friendsrequest.userid)">Cancel</a>
                            </h5>
                            </div>
                        </div>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="!receivedfilter.length || (requestedFriendsList | filter: {friendStatus: 2}).length==0" ng-if="!loaded">
                            <img src="../../images/no-request.png"/><br/>
                            NO REQUEST FOUND!!!
                        </h1>

                    </div>-->
                    <div class="row" ng-hide="requestreceived.length==0" >
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <input type="text" class="friend-input" placeholder="Search my friend here..." ng-model="requestreceivedsearch"/>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 no-padding">
                            <button class="friends-button" ng-disabled="currentPage2 == 0" ng-click="currentPage2=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage2 == 0" ng-click="currentPage2=currentPage2-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage2*pageSize2+1}}&nbsp;-&nbsp;<span ng-show="(currentPage2+1)*pageSize2<=requestreceived.length">{{(currentPage2+1)*pageSize2}}</span><span ng-show="(currentPage2+1)*8>requestreceived.length">{{requestreceived.length}}</span>&nbsp;of&nbsp;{{requestreceived.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage2 >= requestreceived.length/pageSize2 - 1" ng-click="currentPage2=currentPage2+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage2 >= requestreceived.length/pageSize2 - 1" ng-click="currentPage2=numberOfPages2()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="received in receivedfilter=( requestreceived | filter: {name : requestreceivedsearch} | startFrom:currentPage2*pageSize2 | limitTo:pageSize2)" ng-show="requestreceived.length!=0">
                            <a href="" class="img-shadow"><img ng-src="{{received.imageurl | trusted}}"/></a>
                            <h5 class="wrap">{{received.name}}<br/>
                                <a href="" class="btn-xs btn-success margin-top-5" ng-click="acceptFriends(received.userid)">Accept</a>
                                <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(received.userid)">Cancel</a>
                            </h5>
                        </div>
                        <h1 class="col-lg-12 col-md-12 col-sm-12 margin-top-50 text-gray text-center" ng-show="!receivedfilter.length" ng-if="!loaded">
                            <img src="../../images/no-friend.png" width="150" height="150"/><br/>
                            NO FRIENDS FOUND!!!<br/><br/><br/>
                        </h1>

                    </div>
                </div>
                <div class="friend-request-sent">
                    <h5 class="classic-title friend"><a href="" class="my-friends-list" ng-click="initialLoad()"><i class="fa fa-users"></i>&nbsp;My Friends</a>
                        &nbsp;|&nbsp;<a href="" class="friends-request" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;Request Received</a><a class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 2}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 2}).length}}]</a>
                        &nbsp;|&nbsp;<span><a href="" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;Request Sent</a></span><a class="text-red text-bold" ng-show="(requestedFriendsList | filter: {friendStatus: 1}).length!=0">&nbsp;[{{(requestedFriendsList | filter: {friendStatus: 1}).length}}]</a>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="requestsent.length==0">
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <input type="text" class="friend-input" placeholder="Search here..." ng-model="requestsentsearch"/>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 no-padding">
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage1*pageSize1+1}}&nbsp;-&nbsp;<span ng-show="(currentPage1+1)*pageSize1<=requestsent.length">{{(currentPage1+1)*pageSize1}}</span><span ng-show="(currentPage1+1)*8>requestsent.length">{{requestsent.length}}</span>&nbsp;of&nbsp;{{requestsent.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage1 >= requestsent.length/pageSize1 - 1" ng-click="currentPage1=currentPage1+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 >= requestsent.length/pageSize1 - 1" ng-click="currentPage1=numberOfPages1()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="friendsrequest in sentfilter =( requestsent | filter:{name : requestsentsearch} | startFrom:currentPage1*pageSize1 | limitTo:pageSize1)" ng-show="friendsrequest.friendStatus == 1">
                            <div>
                                <a href="" class="img-shadow"><img ng-src="{{friendsrequest.imageurl | trusted}}"/></a>
                                <h5 class="wrap">{{friendsrequest.name}}<br/>
                                    <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(friendsrequest.userid)">Cancel Request</a>
                                </h5>
                            </div>
                        </div>
                        <h1 class="col-lg-12 col-md-12 col-sm-12 margin-top-50 text-gray text-center" ng-show="!sentfilter.length || requestsent.length==0" ng-if="!loaded">
                            <img src="../../images/no-request.png" width="200" height="181"/><br/>
                            NO REQUEST SENT!!!<br/><br/><br/>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="col-sm-12 hidden-lg hidden-md no-padding"><div class="margin-top-10 margin-bottom-20"><hr/></div></div>
                <h5 class="classic-title friend"><span><a href="#friends"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Friends</a></span></h5>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input type="text" class="friend-input" placeholder="Search new friend name..." ng-model="friendsearch" ng-change="searchFriends(friendsearch)">
                    </div>
                </div>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="margin-top-10 friends-scroll-responsive" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}">
                    <div ng-show="searchFriendsList.length>0">
                        <div ng-repeat="searchfriends in searchFriendsList">
                            <div class="col-lg-2 col-md-2 col-sm-1 no-padding">
                                <img class="img-circle" ng-src="{{searchfriends.imageurl | trusted}}"/>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <h5 class="wrap">{{searchfriends.name}}</h5>
                                <p class="margin-bottom-5">{{searchfriends.emailid}}</p>
                                <div class="margin-top-5">
                                    <a href="" class="invite_button" ng-if="searchfriends.friendStatus == 0" ng-click="inviteFriends(searchfriends.userid)">Invite</a>
                                    <a href="" class="invite_button request_sent" ng-if="searchfriends.friendStatus == 1" ng-click="denyFriends(searchfriends.userid)">Cancel Request</a>
                                    <a href="" class="invite_button disabled" ng-if="searchfriends.friendStatus == 2">Request Received</a>
                                    <a href="" class="invite_button disabled" ng-if="searchfriends.friendStatus == 3">Friend</a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div ng-show="searchFriendsList.length==0" class="margin-top-50 text-center">
                        <img src="../../images/no-friend.png" width="150" height="150">
                        <h3 class="text-gray" ng-show="searchFriendsList.length == 0">NO USERS FOUND!!!</h3><br/><br/><br/>
                    </div>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>

<script>
    $(document).ready(function(){
        $(".friend-request").hide();
        $(".friend-request-sent").hide();
        $(".my-friends-list").click(function(){
            $(".friend-request").hide();
            $(".friend-request-sent").hide();
            $(".my-friends").show();
        });
        $(".friends-request").click(function(){
            $(".friend-request").show();
            $(".my-friends").hide();
            $(".friend-request-sent").hide();
        });
        $(".friends-request-sent").click(function(){
            $(".friend-request").hide();
            $(".my-friends").hide();
            $(".friend-request-sent").show();
        });
    });
</script>
