
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-520">
            <div class="col-md-8">
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <div class="my-friends">

                    <h5 class="classic-title"><span><a href="" ng-click="initialLoad()"><i class="fa fa-users my-friends-list"></i>&nbsp;&nbsp;My Friends</a></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="friends-request" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Request Received</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="friends-request-sent" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Request Sent </a>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="myFriendsList.length==0">
                        <div class="col-md-7">
                            <input type="text" class="friend-input" placeholder="Search my friend here..." ng-model="myfriendssearch"/>
                        </div>
                        <div class="col-md-5 text-center margin-top-10">
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage*pageSize+1}}&nbsp;-&nbsp;<span ng-show="(currentPage+1)*pageSize<=myFriendsList.length">{{(currentPage+1)*pageSize}}</span><span ng-show="(currentPage+1)*8>myFriendsList.length">{{myFriendsList.length}}</span>&nbsp;of&nbsp;{{myFriendsList.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=numberOfPages()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="myfriends in friendsfilter=( myFriendsList | filter:myfriendssearch | startFrom:currentPage*pageSize | limitTo:pageSize)" ng-show="myFriendsList.length!=0">
                            <a href="" class="img-shadow"><img ng-src="{{myfriends.imageurl | trusted}}"/></a>
                            <h5 class="wrap"><a href="">{{myfriends.name}}</a></h5>
                        </div>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="!friendsfilter.length" ng-if="!loaded">
                            <img src="../../images/no-friend.png"/><br/>
                            NO FRIENDS FOUND!!!
                        </h1>
                    </div>
                </div>
                <div class="friend-request">
                    <h5 class="classic-title"><a href="" class="my-friends-list" ng-click="initialLoad()"><i class="fa fa-users"></i>&nbsp;&nbsp;My Friends</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Request Received</a></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="friends-request-sent" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Request Sent</a>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="(requestedFriendsList | filter: {friendStatus: 2}).length==0">
                        <div class="col-md-7">
                            <input type="text" class="friend-input" placeholder="Search here..." ng-model="requestreceivedsearch"/>
                        </div>
                        <div class="col-md-5 text-center margin-top-10">
                                <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=0">
                                    <i class="fa fa-angle-double-left"></i>
                                </button>
                                <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <span class="friends-list-no">&nbsp;&nbsp;{{currentPage1*pageSize1+1}}&nbsp;-&nbsp;<span ng-show="(currentPage1+1)*pageSize1<=(requestedFriendsList | filter: {friendStatus: 2}).length">{{(currentPage1+1)*pageSize1}}</span><span ng-show="(currentPage1+1)*8>(requestedFriendsList | filter: {friendStatus: 2}).length">{{(requestedFriendsList | filter: {friendStatus: 2}).length}}</span>&nbsp;of&nbsp;{{(requestedFriendsList | filter: {friendStatus: 2}).length}}&nbsp;Friends&nbsp;&nbsp;</span>
                                <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 2}).length/pageSize1 - 1" ng-click="currentPage1=currentPage1+1">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                                <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 2}).length/pageSize1 - 1" ng-click="currentPage1=numberOfPages1()-1">
                                    <i class="fa fa-angle-double-right"></i>
                                </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="friendsrequest in receivedfilter=( requestedFriendsList | filter:requestreceivedsearch | startFrom:currentPage1*pageSize1 | limitTo:pageSize1)" ng-show="friendsrequest.friendStatus == 2">
                            <div>
                            <a href="" class="img-shadow"><img ng-src="{{friendsrequest.imageurl | trusted}}"/></a>
                            <h5 class="wrap">{{friendsrequest.name}}<br/>
                                <a href="" class="btn-xs btn-success margin-top-5" ng-click="acceptFriends(friendsrequest.userid)">Accept</a>
                                <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(friendsrequest.userid)">Deny</a>
                            </h5>
                            </div>
                        </div>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="!receivedfilter.length || (requestedFriendsList | filter: {friendStatus: 2}).length==0" ng-if="!loaded">
                            <img src="../../images/no-request.png"/><br/>
                            NO REQUEST FOUND!!!
                        </h1>

                    </div>
                </div>
                <div class="friend-request-sent">
                    <h5 class="classic-title"><a href="" class="my-friends-list" ng-click="initialLoad()"><i class="fa fa-users"></i>&nbsp;&nbsp;My Friends</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="friends-request" ng-click="initialLoad()"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Request Received</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="" ng-click="initialLoad()"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Request Sent</a></span>
                    </h5>
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="row" ng-hide="(requestedFriendsList | filter: {friendStatus: 1}).length==0">
                        <div class="col-md-7">
                            <input type="text" class="friend-input" placeholder="Search here..." ng-model="requestsentsearch"/>
                        </div>
                        <div class="col-md-5 text-center margin-top-10">
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage1*pageSize1+1}}&nbsp;-&nbsp;<span ng-show="(currentPage1+1)*pageSize1<=(requestedFriendsList | filter: {friendStatus: 1}).length">{{(currentPage1+1)*pageSize1}}</span><span ng-show="(currentPage1+1)*8>(requestedFriendsList | filter: {friendStatus: 1}).length">{{(requestedFriendsList | filter: {friendStatus: 1}).length}}</span>&nbsp;of&nbsp;{{(requestedFriendsList | filter: {friendStatus: 1}).length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 1}).length/pageSize1 - 1" ng-click="currentPage1=currentPage1+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 >= (requestedFriendsList | filter: {friendStatus: 1}).length/pageSize1 - 1" ng-click="currentPage1=numberOfPages1()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="friendsrequest in sentfilter =( requestedFriendsList | filter:requestsentsearch | startFrom:currentPage1*pageSize1 | limitTo:pageSize1)" ng-show="friendsrequest.friendStatus == 1">
                            <div>
                                <a href="" class="img-shadow"><img ng-src="{{friendsrequest.imageurl | trusted}}"/></a>
                                <h5 class="wrap">{{friendsrequest.name}}<br/>
                                    <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(friendsrequest.userid)">Cancel Request</a>
                                </h5>
                            </div>
                        </div>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="!sentfilter.length || (requestedFriendsList | filter: {friendStatus: 1}).length==0" ng-if="!loaded">
                            <img src="../../images/no-request.png"/><br/>
                            NO REQUEST SENT!!!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="classic-title"><span><a href="#friends"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Friends</a></span></h5>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="friend-input" placeholder="Search new friend name..." ng-model="friendsearch" ng-change="searchFriends(friendsearch)">
                    </div>
                </div>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="row margin-top-20 content_scrollbar height-350">
                    <div ng-repeat="searchfriends in searchFriendsList" ng-show="searchFriendsList.length!=0">
                        <div>
                            <div class="col-md-3">
                                <img class="img-circle" ng-src="{{searchfriends.imageurl | trusted}}"/>
                            </div>
                            <div class="col-md-9">
                                <h5>{{searchfriends.name}}</h5>
                                <!--<p class="margin-bottom-5" ng-if="searchfriends.isPrivacy == 1">{{searchfriends.emailid}}</p>-->
                                <div class="margin-top-5">
                                    <a href="" class="invite_button" ng-if="searchfriends.friendStatus == 0" ng-click="inviteFriends(searchfriends.userid)">Invite</a>
                                    <a href="" class="invite_button request_sent" ng-if="searchfriends.friendStatus == 1" ng-click="denyFriends(searchfriends.userid)">Cancel Request</a>
                                    <a href="" class="invite_button disabled" ng-if="searchfriends.friendStatus == 2">Request Received</a>
                                    <a href="" class="invite_button disabled" ng-if="searchfriends.friendStatus == 3">Friend</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center text-gray margin-top-50" ng-show="searchFriendsList.length == 0">NO USERS FOUND!!!</h3>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>

<script>
    $(document).ready(function(){
        $(".friend-request").hide();
        $(".friend-request-sent").hide();
        $(".my-friends-list").click(function(){
            $(".friend-request").hide();
            $(".friend-request-sent").hide();
            $(".my-friends").show();
        });
        $(".friends-request").click(function(){
            $(".friend-request").show();
            $(".my-friends").hide();
            $(".friend-request-sent").hide();
        });
        $(".friends-request-sent").click(function(){
            $(".friend-request").hide();
            $(".my-friends").hide();
            $(".friend-request-sent").show();
        });
    });
</script>
