
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" class="height-520">
            <div class="col-md-8">
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <div class="my-friends">

                    <h5 class="classic-title"><span><a href=""><i class="fa fa-users my-friends-list"></i>&nbsp;&nbsp;My Friends</a></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="friends-request"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Friends Request</a>
                    </h5>
                    <div class="row">
                        <div class="col-md-7">
                            <input type="text" class="friend-input" placeholder="Search my friend here..." ng-model="myfriendssearch"/>
                        </div>
                        <div class="col-md-5 text-center margin-top-10">
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage*pageSize+1}}&nbsp;-&nbsp;<span ng-show="(currentPage+1)*pageSize<=myFriendsList.length">{{(currentPage+1)*pageSize}}</span><span ng-show="(currentPage+1)*8>myFriendsList.length">{{myFriendsList.length}}</span>&nbsp;of&nbsp;{{myFriendsList.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage >= myFriendsList.length/pageSize - 1" ng-click="currentPage=numberOfPages()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="myfriends in friendsfilter=( myFriendsList | filter:myfriendssearch | startFrom:currentPage*pageSize | limitTo:pageSize)" ng-show="myFriendsList.length!=0">
                            <a href="" class="img-shadow"><img ng-src="{{myfriends.imageurl | trusted}}"/></a>
                            <h5 class="wrap"><a href="">{{myfriends.name}}</a></h5>
                        </div>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="myFriendsList.length==0">NO FRIENDS FOUND!!!</h1>
                        <h1 class="col-md-12 margin-top-50 text-gray text-center" ng-show="!friendsfilter.length">NO FRIENDS FOUND!!!</h1>
                    </div>
                </div>
                <div class="friend-request">
                    <h5 class="classic-title"><a href="" class="my-friends-list"><i class="fa fa-users"></i>&nbsp;&nbsp;My Friends</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href=""><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Friends Request</a></span>
                    </h5>
                    <div class="col-md-12 no-padding">
                        <h2 class="pull-left text-gray">YOUR FRIENDS REQUEST</h2>
                        <div class="pull-right">
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=0">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 == 0" ng-click="currentPage1=currentPage1-1">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="friends-list-no">&nbsp;&nbsp;{{currentPage1*pageSize1+1}}&nbsp;-&nbsp;<span ng-show="(currentPage1+1)*pageSize1<=requestedFriendsList.length">{{(currentPage1+1)*pageSize1}}</span><span ng-show="(currentPage1+1)*8>requestedFriendsList.length">{{requestedFriendsList.length}}</span>&nbsp;of&nbsp;{{requestedFriendsList.length}}&nbsp;Friends&nbsp;&nbsp;</span>
                            <button class="friends-button" ng-disabled="currentPage1 >= requestedFriendsList.length/pageSize1 - 1" ng-click="currentPage1=currentPage1+1">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="friends-button" ng-disabled="currentPage1 >= requestedFriendsList.length/pageSize1 - 1" ng-click="currentPage1=numberOfPages1()-1">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row friends-list">
                        <div class="col-md-3" ng-repeat="friendsrequest in requestedFriendsList | startFrom:currentPage1*pageSize1 | limitTo:pageSize1">
                            <a href="" class="img-shadow"><img ng-src="{{friendsrequest.imageurl | trusted}}"/></a>
                            <h5 class="wrap">{{friendsrequest.name}}<br/>
                                <a href="" class="btn-xs btn-success margin-top-5" ng-click="acceptFriends(friendsrequest.userid)">Accept</a>
                                <a href="" class="btn-xs btn-danger margin-top-5" ng-click="denyFriends(friendsrequest.userid)">Deny</a>
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <h5 class="classic-title"><span><a href="#friends"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Friends</a></span></h5>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="friend-input" placeholder="Search new friend name..." ng-model="friendsearch" ng-change="searchFriends(friendsearch)">
                    </div>
                </div>

                <div class="row margin-top-20 content_scrollbar height-350">
                    <div ng-repeat="searchfriends in searchFriendsList" ng-show="searchFriendsList.length!=0">
                        <div ng-hide="searchfriends.friendStatus == 3">
                            <div class="col-md-3">
                                <img class="img-circle" ng-src="{{searchfriends.imageurl | trusted}}"/>
                            </div>
                            <div class="col-md-9">
                                <h5>{{searchfriends.name}}</h5>
                                <p class="margin-bottom-5" ng-if="searchfriends.isPrivacy == 1">{{searchfriends.emailid}}</p>
                                <a href="" class="invite_button" ng-if="searchfriends.friendStatus == 0" ng-click="inviteFriends(searchfriends.userid)">Invite</a>
                                <a href="" class="invite_button request_sent disabled" ng-if="searchfriends.friendStatus == 1">Request Sent</a>
                                <a href="" class="invite_button disabled" ng-if="searchfriends.friendStatus == 2">Request Received</a>
                            </div>
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center text-gray margin-top-50" ng-show="searchFriendsList.length == 0">NO USERS FOUND!!!</h3>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>

<script>
    $(document).ready(function(){
        $(".friend-request").hide();
        $(".my-friends-list").click(function(){
            $(".friend-request").hide();
            $(".my-friends").show();
        });
        $(".friends-request").click(function(){
            $(".friend-request").show();
            $(".my-friends").hide();
        });
    });
</script>
