

<!-- Start Page Banner -->

    <div class="col-md-8">
        <div class="content-weight height-265">
            <div ng-include src="'views/'+goal.status+'.html'"></div>
        </div>

        <div class="content-weight">
            <div class="row margin-right-2">
                <form name="weightLogForm" novalidate>
                    <div class="col-md-6 text-center">
                        <h1 class="fa-5x fa fa-tachometer text-green"></h1>
                        <h4 class="margin-top-10">UPDATE WEIGHT</h4>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-4 no-padding margin-top-5">
                            <span>Date <span class="pull-right">:</span></span>
                        </div>
                        <div class="col-md-8 pull-right">
                            <input type="text" id="weight-log-date" class="profile_input weightoverride" block>
                            <input id="weightLogDate" hidden>
                        </div>
                        <div class="col-md-4 no-padding margin-top-20">
                            <span>Weight<span class="pull-right">:</span></span>
                        </div>
                        <div class="col-md-8 pull-right margin-top-10">
                            <input class="profile_input weightoverride" id="weightLog" name="weight" ng-model="weightlog" maxlength="5"  required validate-Float1/>
                            <span ng-show="weightLogForm.weight.$dirty&&weightLogForm.weight.$invalid">
                                <span class="error-message textarea-errormessage10" ng-show="weightLogForm.weight.$error.required"><span>Required.</span></span>
                                <span class="error-message textarea-errormessage10" ng-show="!weightLogForm.weight.$error.required&&weightLogForm.weight.$error.validateFloat1"><span>Invalid&nbsp;Data.</span></span>
                            </span>
                        </div>
                        <div class="col-md-11 no-padding text-center margin-top-20 margin-bottom-10">
                            <a href="" class="weight_button" ng-disabled="weightLogForm.$invalid" ng-click="doInsertOrUpdateWeightLog()">
                                <span ng-if="spinner"><span class="three-quarters-loader">Loading…</span></span>{{weightUpdateText}}</a>
                        </div>
                    </div>


                <!--<div class="col-md-12">
                    <h5>&nbsp;&nbsp;Update Weight <span class="pull-right">Date :</span>  <div class="input-group ui-datepicker ">
                        <input style="z-index:1000"
                                ng-model="weightLogDate" ng-click="open($event,'opened1')" ng-change="setWeightLogDate()"  type="text"
                               ng-keypress="prevent()"
                               class="profile_input override "
                               id = "popup1"
                               datepicker-popup="{{format}}"
                               is-open="dpOpened.opened1"
                               min="minDate"
                               max="maxDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)"
                               ng-required="true"
                               close-text="Close" required block>
                    </div> </h5>
                </div>-->


                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding">
        <p hidden id="weight_entry">40%</p>
        <div id="weight_level">
            <div id="col" class="weight_level"></div>
        </div>
        <div class="weight_mask">
            <span ng-show="userProfile.gender==1"><img src="../../images/weight.png"></span>
            <span ng-show="userProfile.gender==2"><img src="../../images/weight_female.png"></span>
        </div>
        <div class="weight_measure">
            <div class="level_high"><div>HIGH</div></div>
            <div class="level_maintain"><div>MAINTAIN</div></div>
            <div class="level_low"><div>LOW</div></div>
        </div>
        <div class="text-center small margin-top-10">Weight Level</div>
        <br/>
        <div class="col-md-7 no-padding">
            <h5>Idle Weight <span class="pull-right">: &nbsp;</span></h5>
            <h5 class="margin-top-10">Original Weight <span class="pull-right">: &nbsp;</span></h5>
        </div>
        <div class="col-md-5 no-padding">
            <h5><span class="yellow">&nbsp;&nbsp;</span> 65 Kgs</h5>
            <h5 class="margin-top-10"><span class="green">&nbsp;&nbsp;</span> 58 Kgs</h5>
        </div><br/><br/>
        <p>Your Are Adviced to increase your weight by 7 Kgs</p>
    </div>

<!-- End Page Banner -->

<script>
    function viewGraph1(){
        $('.weight_level');
        var ha = document.getElementById('weight_entry').innerText;
        var hacolor = parseFloat(ha);
        if (hacolor <= 45) {
            $('#col').addClass('green');
            $('#col').animate({height: ha}, 1200);
        }
        else if(hacolor >= 55) {
            $('#col').addClass('red');
            $('#col').animate({height: ha}, 1200);
        }
        else if (45> hacolor < 55) {
            $('#col').addClass('yellow');
            $('#col').animate({height: ha}, 1200);
        }

    }
    $(document).ready(function(){
        viewGraph1();
    });

</script>

<script type="text/javascript">
    $(document).ready(function() {

        var options = {
            drops:"up",
            maxDate : new Date(),
            singleDatePicker: true
        };

        $('#weight-log-date').daterangepicker(options, function(start, end, label) {
            document.getElementById("weightLogDate").value = start.format('DD/MM/YYYY');
        });

    });
</script>