

<!-- Start Page Banner -->

    <div class="col-md-12">
        <div class="graph-weight height-320">
            <div class="hc-graph" graph="weightGraph"></div>
        </div>

        <div class="graph-weight">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-7">Started Date<span class="pull-right">:</span></div>
                    <div class="col-md-5">01/10/2015</div>
                    <div class="margin-top-10">
                        <div class="col-md-7">Ends On<span class="pull-right">:</span></div>
                        <div class="col-md-5">25/11/2015</div>
                    </div>
                    <div class="margin-top-10">
                        <div class="col-md-7">Target Weight<small>(Kgs)</small><span class="pull-right">:</span></div>
                        <div class="col-md-5">50Kgs</div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <a class="weight_button" ng-click="viewGoal()">Back</a>
                </div>
            </div>
        </div>
    </div>

<!-- End Page Banner -->