
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content">
            <div class="col-md-12">
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <h5 class="classic-title"><a href="#groupGoal"><i class="fa fa-bullseye"></i>&nbsp;&nbsp;MY GOALS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#groupGoalRequest"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;GOAL REQUEST</a></h5>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 no-padding">
                    <img src="../../images/weight-loss.png">
                </div>
                <div class="col-md-8">
                    <h4>{{goalDetail.title}}&nbsp;</h4>
                    <p class="margin-top-5">{{goalDetail.description}}&nbsp;</p><br/>
                    <div class="col-md-2 no-padding height-60">
                        <img class="img-circle" src="{{goalDetail.user_imageurl|trusted}}">
                    </div>
                    <div class="col-md-10">
                        <h6>Created By</h6>
                        <p>{{goalDetail.user_name}}&nbsp;</p>
                    </div>
                    <div class="col-md-12 no-padding margin-top-20">
                        <div class="col-md-3 no-padding">
                            <div class="text-bold">Start Date <span class="pull-right">:</span></div>
                            <div class="text-bold">End Date <span class="pull-right">:</span></div>
                            <div class="text-bold">Goal Type <span class="pull-right">:</span></div>
                            <div class="text-bold">Goal Status <span class="pull-right">:</span></div>
                            <div class="text-bold">Participants <span class="pull-right">:</span></div>
                        </div>
                        <div class="col-md-8">
                            <div>{{goalDetail.startdate}}</div>
                            <div>{{goalDetail.enddate}}</div>
                            <div>
                                <span ng-show="goalDetail.goaltype==1">Weight Loss</span>
                                <span ng-show="goalDetail.goaltype==2">Weight Gain</span>
                            </div>
                            <div>
                                <span ng-show="goalDetail.status==1" class="text-green">Active</span>
                                <span ng-show="goalDetail.status==2" class="text-red">Completed</span>
                            </div>
                            <div>{{goalMembers.length}}</div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding margin-top-20">
                        <div ng-show="isRequest">
                            <span><a href="" class="target_button green_button" ng-click="">Join Group</a></span>
                            <span><a class="target_button red_button" ng-click="doExitConfirmation()">Exit from Goal</a></span>
                        </div>
                        <div ng-hide="isRequest">
                            <span><a href="#modal1" id="modal_trigger1" class="target_button green_button" ng-click="viewRank()">View Rank</a></span>
                            <span ng-show="goalDetail.candelete==1"><a href="#modal" id="modal_trigger" class="target_button orange_button" ng-click="">Add Members</a></span>
                            <span ng-show="goalDetail.candelete==1"><a class="target_button red_button" ng-click="doConfirmation(goalList.goalid)">Quit Goal</a></span>
                            <span ng-show="goalDetail.candelete==0"><a class="target_button red_button" ng-click="doExitConfirmation()">Exit from Goal</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <span ng-show="isRequest">
                    <a href="#groupGoalRequest" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                </span>
                <span ng-hide="isRequest">
                    <a href="#groupGoal" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                </span>
                <input class="pull-right friend-search" placeholder="Search friend here..." ng-model="searchfriend"/>
                <h4 class="margin-top-5">Group Members</h4>
                <hr/>
                <div class="content_scrollbar height-335">
                    <div ng-repeat="member in goalMembers | filter:searchfriend | orderBy:'-isownerstatus'">
                        <div class="col-md-1 no-padding">
                            <img class="img-circle" src="{{member.user_imageurl|trusted}}">
                        </div>
                        <div class="col-md-6">
                            <h4>{{member.user_name}}</h4>
                        </div>
                        <div class="col-md-2">
                            <span ng-show="member.status==1"><strong class="text-green text-bold">Joined</strong></span>
                            <span ng-show="member.status==0"><strong class="text-orange">Pending</strong></span>
                        </div>
                        <div class="col-md-3 margin-top-3">
                            <div ng-show="goalDetail.candelete==0">
                                <span ng-show="member.isownerstatus==1"><a href="" class="invite_button disabled">Admin</a></span>
                                <span ng-show="member.isownerstatus==0"><a href="" class="invite_button request_sent disabled">Member</a></span>
                            </div>
                            <div ng-show="goalDetail.candelete==1">
                                <span ng-show="member.isownerstatus==1"><a href="" class="invite_button disabled">Admin</a></span>
                                <span ng-show="member.isownerstatus==0"><a href="" class="invite_button request_sent" ng-click="doRemoveMember(member.userid)">Remove</a></span>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<!-- create coach popup-->
<div id="modal" class="popupContainer-width" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">Add Members</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <input type="text" placeholder="Search friends here.." ng-model="friendsearch">
            <hr/>
            <div class="margin-top-10 content_scrollbar height-350">
                <div ng-repeat="myFriends in myRemainderFriendsList  | filter:friendsearch">
                    <div class="col-md-1 no-padding">
                        <img src="{{myFriends.imageurl|trusted}}">
                    </div>
                    <div class="col-md-7">
                        <h4>{{myFriends.name}}</h4>
                    </div>
                    <div class="col-md-4 margin-top-10">
                        <a href="" class="invite_button" ng-click="doAddMember(myFriends.userid)">Send Request</a>
                    </div>
                    <div class="col-md-12 no-padding">
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- create coach popup-->
<div id="modal1" class="popupContainer-width" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">Ranking List</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="margin-top-10" ng-repeat="rank in rankList">
                <div class="col-md-2 no-padding text-center">
                    <img src="../../images/rank-{{rank.rank}}.jpg">
                </div>
                <div class="col-md-2">
                    <img src="{{rank.user_imageurl | trusted}}">
                </div>
                <div class="col-md-8">
                    <h4>{{rank.user_name}}</h4>
                    <p>Weight : {{rank.weight}} kgs</p>
                </div>
                <div class="col-md-12 no-padding">
                    <hr/>
                </div>
            </div>
            <div class="col-md-12">
                <br/>
            </div>
        </div>
    </section>
</div>

<!-- create coach popup-->
<div id="confirmation" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Confirmation</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div>It will delete entire group!<br/>Are you sure want to delete this Group?</div>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_red modal_close" ng-click="doQuitGroup(deleteId)">Yes</a></div>
                <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">No</a></div>
            </div>
        </div>
    </section>
</div>

<!-- create coach popup-->
<div id="confirmation-remove" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Confirmation</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div>It will delete entire group!<br/>Are you sure want to delete this Group?</div>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_red modal_close" ng-click="doExitGroup()">Yes</a></div>
                <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">No</a></div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#modal_trigger1").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

