
<div class="page-banner1">
    <div id="w" class="clearfix">

        <div id="demography-content">
            <form name="nutritionForm">
            <div class="col-md-12">
                <div flash-message="2000" class="col-md-3 no-padding pull-right"></div>
                <h5 class="classic-title"><a href="#demography"><i class="fa fa-male"></i>&nbsp;&nbsp;DEMOGRAPHY</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#nutrients"><i class="fa fa-life-saver"></i>&nbsp;&nbsp;NUTRIENTS</a></span></h5>
            </div>
            <div class="row">
            <div class="col-md-4">
                <div class="col-md-7 padding-top-4">
                    <h5>Saturated fat :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="saturatedfat" maxlength="20"  ng-model="nutrients.saturatedfat" validate-Float/>
                                <span ng-show="nutritionForm.saturatedfat.$dirty&&nutritionForm.saturatedfat.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.saturatedfat.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 padding-top-4">
                    <h5>Mono unsaturated fat :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input"  name="monounsaturatedfat" maxlength="20"  ng-model="nutrients.monounsaturatedfat"  validate-Float/>
                                <span ng-show="nutritionForm.monounsaturatedfat.$dirty&&nutritionForm.monounsaturatedfat.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.monounsaturatedfat.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7 padding-top-4">
                    <h5>Poly unsaturated fat:</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="polyunsaturatedfat" maxlength="20" ng-model="nutrients.polyunsaturatedfat" validate-Float/>
                                 <span ng-show="nutritionForm.polyunsaturatedfat.$dirty&&nutritionForm.polyunsaturatedfat.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.polyunsaturatedfat.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Sugar :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="sugar" ng-model="nutrients.sugar" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.sugar.$dirty&&nutritionForm.sugar.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.sugar.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Calcium :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="calcium"  ng-model="nutrients.calcium" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.calcium.$dirty&&nutritionForm.calcium.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.calcium.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Iron :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="iron"  ng-model="nutrients.iron" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.iron.$dirty&&nutritionForm.iron.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.iron.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Sodium :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="sodium"  ng-model="nutrients.sodium" maxlength="20" validate-Float />
                             <span ng-show="nutritionForm.sodium.$dirty&&nutritionForm.sodium.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.sodium.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Potassium :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="potassium"  ng-model="nutrients.potassium" maxlength="20" validate-Float/>
                             <span ng-show="nutritionForm.potassium.$dirty&&nutritionForm.potassium.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.potassium.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminA :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminA"  ng-model="nutrients.vitaminA" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.vitaminA.$dirty&&nutritionForm.vitaminA.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminA.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminC :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminC"  ng-model="nutrients.vitaminC" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.vitaminC.$dirty&&nutritionForm.vitaminC.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminC.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Zinc :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="zinc"  ng-model="nutrients.zinc" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.zinc.$dirty&&nutritionForm.zinc.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.zinc.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Phosphorous :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="phosphorous" ng-model="nutrients.phosphorous" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.phosphorous.$dirty&&nutritionForm.phosphorous.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.phosphorous.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminB12 :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminB12" ng-model="nutrients.vitaminB12" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.vitaminB12.$dirty&&nutritionForm.vitaminB12.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminB12.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminE :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminE"  ng-model="nutrients.vitaminE" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.vitaminE.$dirty&&nutritionForm.vitaminE.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminE.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminK :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminK" ng-model="nutrients.vitaminK" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.vitaminK.$dirty&&nutritionForm.vitaminK.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminK.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Thiamin :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="thiamin"  ng-model="nutrients.thiamin" maxlength="20" validate-Float/>
                                 <span ng-show="nutritionForm.thiamin.$dirty&&nutritionForm.thiamin.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.thiamin.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Riboflavin :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="riboflavin"  ng-model="nutrients.riboflavin" maxlength="20" validate-Float/>
                                <span ng-show="nutritionForm.riboflavin.$dirty&&nutritionForm.riboflavin.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.riboflavin.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Niacin :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="niacin"  ng-model="nutrients.niacin" maxlength="20" validate-Float/>
                                <span ng-show="nutritionForm.niacin.$dirty&&nutritionForm.niacin.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.niacin.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>Folicacid :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="folicacid"  ng-model="nutrients.folicacid" maxlength="20" validate-Float/>
                                <span ng-show="nutritionForm.folicacid.$dirty&&nutritionForm.folicacid.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.folicacid.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>
            <div class="col-md-4 margin-top-15">
                <div class="col-md-7 padding-top-4">
                    <h5>VitaminB6 :</h5>
                </div>
                <div class="col-md-5 no-padding">
                    <input class="demography_input" name="vitaminB6"  ng-model="nutrients.vitaminB6" maxlength="20" validate-Float/>
                                <span ng-show="nutritionForm.vitaminB6.$dirty&&nutritionForm.vitaminB6.$invalid">
                             <span class="error-message textarea-errormessage10" ng-show="nutritionForm.vitaminB6.$error.validateFloat"><span>Enter&nbsp;valid&nbsp;data.</span></span>
                         </span>
                </div>
            </div>

            <div class="col-md-12 margin-tb-5"><hr/></div>
            <div class="col-md-12 text-center">
                <a href="" class="btn register_button" ng-disabled="isCleanNutrition() || nutritionForm.$invalid" ng-click="doUpdateNutrition()" >Save Changes</a>
                <a href="#dashboard" class="btn cancel_button">Cancel</a>
            </div>
            </div>
            </form>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>





<script type="text/javascript" src="../../js/script.js"></script>
