
<div class="page-banner1">
    <div id="w" class="clearfix">
        <div id="demography-content" ng-init="paymentDetails()">
            <form name="demographyForm">
                <div class="col-md-12">
                    <a href="#coachPayments" class="btn-sm btn-warning pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back</a>
                    <h5 class="classic-title"><span><i class="fa fa-money"></i>&nbsp;&nbsp;COACH PAYMENT DETAILS</span></h5>
                </div>

                <div class="row">
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 margin-bottom-15">
                            <img ng-src="{{paymentDetails.imageurl | trusted}}">
                        </div>
                    </div>
                    <div class="col-md-8 no-padding">
                        <h4>
                            <div class="col-md-4">Coach Name</div>
                            <div class="col-md-8">:&nbsp;&nbsp;&nbsp;{{paymentDetails.name}}</div>
                            <div class="col-md-4 margin-top-10">Coach Email id</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;{{paymentDetails.name}}@gmail.com</div>
                            <div class="col-md-4 margin-top-10">Purchased Amount</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->32 $</div>
                            <div class="col-md-4 margin-top-10">Purchased Date</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->12/05/2015</div>
                            <div class="col-md-4 margin-top-10">From Date</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->12/05/2015</div>
                            <div class="col-md-4 margin-top-10">To Date</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->12/07/2015</div>
                            <div class="col-md-4 margin-top-10">Status</div>
                            <div class="col-md-8 margin-top-10 text-green">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->Active</div>
                            <div class="col-md-4 margin-top-10">Payment Id</div>
                            <div class="col-md-8 margin-top-10">:&nbsp;&nbsp;&nbsp;<!--{{paymentDetails.name}}-->34HA92HS0OMHV</div>
                        </h4>
                    </div>
                </div>
            </form>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>


<script type="text/javascript" src="../../js/script.js"></script>
