
<div class="page-banner1" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div id="demography-content" ng-init="courseListInit()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- Stat Search -->
                <div ng-show="usercourselist.length>0">
                    <div class="pull-right" id="hidden-search">
                        <a href="#" onclick="return false;" class="show-list-search search_button"><i class="fa fa-search"></i></a>
                        <div class="search-list-form override">
                            <form autocomplete="off" class="searchform">
                                <input type="text" ng-model="coursepay" placeholder="Search here...">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Search -->
                <h5 class="classic-title"><span><a href="#payments"><i class="fa fa-money"></i>&nbsp;&nbsp;COURSE PAYMENTS</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#coach-payments"><i class="fa fa-dollar"></i>&nbsp;&nbsp;COACH PAYMENTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#payment-settings"><i class="fa fa-paypal"></i>&nbsp;&nbsp;PAYPAL SETTINGS</a></h5>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="margin-top-50" ng-show="usercourselist.length==0">
                    <div class="col-lg-6 col-md-6 col-sm-6 margin-top-20">
                        <img class="pull-right" src="../../images/no-courses.png" weight="250" height="167">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h1 class="margin-top-50 text-gray">NO COURSES PURCHASED!!!</h1><br/>
                        <a href="#courses" class="main-button"><i class="fa fa-book"></i> Get course here</a>
                    </div>
                </div>

                <div ng-show="usercourselist.length>0">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr class="warning">
                            <th class="col-lg-2 col-md-2 col-sm-2">Course Name&nbsp;<i ng-click="sortCourseName()" class="{{sortcoursenameicon}}"></i></th>
                            <th class="col-lg-2 col-md-2 col-sm-2">Category&nbsp;<i ng-click="sortCategoryName()" class="{{sortcategoryicon}}"></i></th>
                            <th class="col-lg-1 col-md-1 col-sm-1">Author&nbsp;<i ng-click="sortAuthorName()" class="{{sortauthoricon}}"></i></th>
                            <th class="col-lg-2 col-md-2 col-sm-2">Purchased On&nbsp;<i ng-click="sortPurchaseDate()" class="{{sortpruchasedonicon}}"></i></th>
                            <th class="col-lg-2 col-md-2 col-sm-2">Purchased Amount ($)&nbsp;<i ng-click="sortAmount()" class="{{sortamounticon}}"></i></th>
                            <th class="col-lg-4 col-md-4 col-sm-4">Receipt ID</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr dir-paginate="mycourse in coursefilter=(usercourselist  | startsWithLetterCourse: coursepay | orderBy:sortKey:reverse | itemsPerPage: 8)" ng-show="usercourselist.length!=0">
                            <td><span class="line-clamp-xs">{{mycourse.coursename}}</span></td>
                            <td><span class="line-clamp-xs">{{mycourse.categoryname}}</span></td>
                            <td><span class="line-clamp-lxs">{{mycourse.ownername}}</span></td>
                            <td><span class="line-clamp-xs">{{mycourse.purchasedon}}</span></td>
                            <td><span class="line-clamp-xs">{{mycourse.purchaseamount}}</span></td>
                            <td><a href="" ng-click="doViewPaymentDetails(mycourse.inwardid)">{{mycourse.inwardid}}</a></td>
                        </tr>
                        <tr ng-show="!coursefilter.length"><td colspan="6" class="text-center">No Records Found !!!</td></tr>
                        </tbody>
                    </table>
                </div>

                <!-- Start Pagination -->
                <dir-pagination-controls ng-show="paginationLoad" boundary-links="true"> </dir-pagination-controls>
                <!-- End Pagination -->
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<!-- Category popup-->
<div id="paymentView" class="popupContainer-width" style="display:none;">

    <header class="popupHeader width-100">
        <span class="header_title">Payment details</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div ng-if="loaded">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
            <table class="table table-bordered margin-top-10">
                <tbody>
                <tr class="warning">
                    <td class="col-lg-4 col-md-4 col-sm-4">Receipt ID</td>
                    <td class="col-lg-8 col-md-8 col-sm-8">{{paymentDetails.inwardid}}</td>
                </tr>
                <tr>
                    <td>Payer Email</td>
                    <td>{{paymentDetails.payeremail}}</td>
                </tr>
                <tr class="warning">
                    <td>Paypal First Name</td>
                    <td>{{paymentDetails.paypalfirstname}}</td>
                </tr>
                <tr>
                    <td>Paypal Last Name</td>
                    <td>{{paymentDetails.paypallastname}}</td>
                </tr>
                <tr class="warning">
                    <td>Payer Id</td>
                    <td>{{paymentDetails.payerID}}</td>
                </tr>
                <tr>
                    <td>Transaction Date</td>
                    <td>{{paymentDetails.transactiondate}}</td>
                </tr>
               <!-- <tr class="warning">
                    <td>Transaction Fee</td>
                    <td>{{paymentDetails.transactionfee}} $</td>
                </tr>-->
                <tr class="warning">
                    <td>Transaction Amount</td>
                    <td>{{paymentDetails.transactionamount}} $</td>
                </tr>
                <tr>
                    <td>Transaction Status</td>
                    <td>{{paymentDetails.transactionstatus}}</td>
                </tr>
                <tr class="warning">
                    <td>Currency Code</td>
                    <td>{{paymentDetails.currencycode}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>


<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
