
<!-- Start Page Banner -->
<div class="page-banner1" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div id="demography-content" ng-init="getSettingDetails()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div flash-message="2000" class="col-lg-4 col-md-4 col-sm-4 pull-right no-padding"></div>
                <h5 class="classic-title"><a href="#payments"><i class="fa fa-money"></i>&nbsp;&nbsp;COURSE PAYMENTS</a>&nbsp;&nbsp;<!--|&nbsp;&nbsp;<a href="#coach-payments"><i class="fa fa-dollar"></i>&nbsp;&nbsp;COACH PAYMENTS</a>&nbsp;&nbsp;-->|&nbsp;&nbsp;<span><a href="#payment-settings"><i class="fa fa-paypal"></i>&nbsp;&nbsp;PAYPAL SETTINGS</a></span></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 min-height-450">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                    <form name="paypalSettingsForm" novalidate>
                        <div class="row form-set">
                            <div class="col-lg-4 col-md-4 col-sm-4 margin-top-10">
                                <h4>Paypal Email <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 margin-top-10">
                                <input type="email" class="search-input" placeholder="Enter Paypal Email ID" name="paypalid" ng-model="paypalDetails.paypalid" required validate-email>
                                 <span ng-show="paypalSettingsForm.paypalid.$dirty&&paypalSettingsForm.paypalid.$invalid">
                                        <span class="error-message" ng-show="paypalSettingsForm.paypalid.$error.required"><span>Required.</span></span>
                                     <span class="error-message" ng-show="paypalSettingsForm.paypalid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID</span></span>
                                 </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 margin-top-10">
                                <h4>Paypal Name <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 margin-top-10">
                                <input class="search-input" name="paypalname" placeholder="Enter Paypal User Name" maxlength="100" ng-model="paypalDetails.paypalname" required validate-alpha-with-space>
                                 <span ng-show="paypalSettingsForm.paypalname.$dirty&&paypalSettingsForm.paypalname.$invalid">
                                     <span class="error-message" ng-show="paypalSettingsForm.paypalname.$error.required"><span>Required.</span></span>
                                     <span class="error-message" ng-show="paypalSettingsForm.paypalname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                                 </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 margin-top-10">
                                <h4>Currency <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 margin-top-10">
                                <select class="full-width course-select" placeholder="Select Currency" name="currencycode" ng-model="paypalDetails.currencycode" ng-options="currencycode.currencycode as currencycode.currencycode for currencycode in currencycodeData" required>
                                    <option value="">-- Select a Currency Code --</option>
                                </select>
                                <span ng-show="paypalSettingsForm.currencycode.$dirty&&paypalSettingsForm.currencycode.$invalid">
                                    <span class="error-message textarea-errormessage10" ng-show="paypalSettingsForm.currencycode.$error.required"><span>Required.</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="text-center margin-top-20">
                            <a href=""  class="btn btn-success" ng-disabled="paypalSettingsForm.$invalid || isCleanPaypalSettings()" ng-click="doUpdatePaypalDetails()">Save Changes</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/script.js"></script>