

<!-- Start Page Banner -->

<div class="white-background" ng-cloak class="ng-cloak">
    <h3 class="text-center margin-tb-10 text-green text-bold">
        <span ng-show="updateGoal==0">Set</span><span ng-show="updateGoal==1">Update</span> Your Goal
    </h3>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-italic text-center">"A goal properly set is halfway reached."</h5>
        <p class="margin-tb-5 text-center">
            Set your individual goal right away!
        </p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 text-center margin-bottom-20" ng-show="updateGoal==0 && plantype==1">
        <h3 class="text-bold margin-tb-10">MAINTAIN WEIGHT</h3>
        <span class="fa-big"><i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i></span>
    </div>

    <form name="setGoalForm" novalidate>
        <div ng-show="plantype==2">
        <div class="col-lg-5 col-md-5 col-sm-5 margin-top-15 padding-right-0">Goal Type<span class="pull-right">:</span></div>
        <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10 padding-left-8" ng-show="preferMetric==1">
            <select class="full-width main margin-bottom-1" name="goalchoice" ng-change="doCheckPossibleDate(goalchoice)" ng-model="goalchoice" ng-required="plantype==2 && preferMetric==1">
                <option value="1">lose 1/4 kg per week</option>
                <option value="2">lose 1/2 kg per week</option>
                <option value="3">lose 3/4 kg per week</option>
                <option value="4">lose 1 kg per week</option>
                <option value="5">custom</option>
            </select>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10 padding-left-8" ng-hide="preferMetric==1">
            <select class="full-width main margin-bottom-1" name="goalchoice" ng-change="doCheckPossibleDate(goalchoice)"  ng-model="goalchoice" ng-required="plantype==2 && !preferMetric==1">
                <option value="1">lose 1/2 lb per week</option>
                <option value="2">lose 1 lb per week</option>
                <option value="3">lose 1 1/2 lbs per week</option>
                <option value="4">lose 2 lbs per week</option>
                <option value="5">custom</option>
            </select>
        </div>
        </div>
        <div ng-show="plantype==2 && goalchoice==5">
            <div class="col-lg-5 col-md-5 col-sm-5 margin-top-15 padding-right-0">Goal End Date<span class="pull-right">:</span></div>
            <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10 padding-left-8">
                <input type="text" id="set-date" class="profile_input" block>
            </div>
            </div>
        <div ng-show="plantype==3 || plantype==2">
        <div class="col-lg-5 col-md-5 col-sm-5 margin-top-15 padding-right-0">Target Weight <small>(<span ng-show="userProfile.unitPreference==1">Kgs</span><span ng-show="userProfile.unitPreference==2">lbs</span>)</small><span class="pull-right">:</span></div>
        <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10 padding-left-8">
            <input id="target" type="text" ng-disabled="true" name="targetweight" ng-model="weight" class="profile_input"  maxlength="5" >

        </div>
        </div><div ng-show="plantype==1">
        <div class="col-lg-5 col-md-5 col-sm-5 margin-top-15 padding-right-0">Current Weight <small>(<span ng-show="userProfile.unitPreference==1">Kgs</span><span ng-show="userProfile.unitPreference==2">lbs</span>)</small><span class="pull-right">:</span></div>
        <div class="col-lg-7 col-md-7 col-sm-7 margin-top-15 padding-left-8">
           {{weightlog}}
        </div>
        </div>

        <div ng-show="plantype==3">
            <div class="col-lg-5 col-md-5 col-sm-5 margin-top-15 padding-right-0">End Date<span class="pull-right">:</span></div>
            <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10 padding-left-8">
                <input type="text" id="set-gain-date" class="profile_input" block>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-20" ng-hide="plantype==1">
            <h5><div class="label-info">Your current plan end date is on  {{currentEnddate}}</div></h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-20" ng-hide="goalchoice==5">
            <h5 ng-show="goalPossiblityStatus==1"><div class="label-success">This goal is possible. Your estimated date to complete this goal on {{enddate}}.Click Update goal button to proceed the goal on estimated date.</div></h5>
            <h5 ng-show="goalPossiblityStatus==2"><div class="label-danger">This goal is not possible to complete.</div></h5>
        </div>
      <!--  <div class="col-lg-12 col-md-12 col-sm-12 margin-top-20">
            <h5 ng-show="customResponse==0"><div class="label-success">This goal is not possible to complete on {{userChosenDate}}. Your estimated date to complete this goal on {{customPossibleDate}}. Click Update goal button to proceed the goal on estimated date</div></h5>
            &lt;!&ndash;<h5 ng-show="customResponse==1"><div class="label-success">This goal is possible. Your estimated date to complete this goal on {{userChosenDate}}.Click Update goal button to proceed the goal on estimated date.</div></h5>&ndash;&gt;
        </div>-->


        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-20 text-center" ng-hide="plantype==1">
            <span ng-show="updateGoal==0 && plantype!=1"><a class="btn-dis weight_button" ng-disabled="setGoalForm.$invalid" ng-click="setGoal()">Set Goal</a></span>
            <span ng-show="updateGoal==1 && plantype!=1"><a class="btn-dis target_button green_button" ng-disabled="setGoalForm.$invalid || goalPossiblityStatus==2" ng-click="updateGoalCheck()">Update Goal</a></span>
            <span ng-show="updateGoal==1"><a class="btn-dis target_button red_button" ng-click="cancelUpdate()">Cancel</a></span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <span ng-show="updateGoal==0 && plantype==1"><a href="#demography" class="btn-dis  target_button red_button">Change Plan</a></span>
        </div>

    </form>



    <input id="start"  hidden />
    <input id="end"  hidden/>

    <input id="start1"  hidden />
    <input id="end1"  hidden/>
</div>

<!-- End Page Banner -->

<script type="text/javascript">
    $(document).ready(function() {

        var options = {
            minDate : minimumDate,
            startDate : goalEndDate,
            endDate : goalEndDate,
            singleDatePicker: singlePicker
        };

        $('#set-date').daterangepicker(options, function(start, end, label) {
            document.getElementById("start").value = start.format('DD/MM/YYYY');
            document.getElementById("end").value = end.format('DD/MM/YYYY');
          //  angular.element(document.getElementById('set-date')).scope().checkCustomGoal(start.format('DD/MM/YYYY'));
        });

        var gainoptions = {
            minDate : goalStartDate,
            startDate : goalStartDate,
            endDate : goalEndDate,
            singleDatePicker: true
        };

        $('#set-gain-date').daterangepicker(gainoptions, function(start1, end1, label) {
            document.getElementById("start1").value = start1.format('DD/MM/YYYY');
            document.getElementById("end1").value = end1.format('DD/MM/YYYY');
            //angular.element(document.getElementById('set-date')).scope().checkCustomGoal(start.format('DD/MM/YYYY'));
        });

    });
</script>

