

<!-- Start Page Banner -->

<div class="white-background">
    <h3 class="text-center margin-tb-10 text-green text-bold">
        <span ng-show="updateGoal==0">Set</span><span ng-show="updateGoal==1">Update</span> Your Goal
    </h3>
    <div class="col-md-12">
        <p>
            The value property sets or returns the value of the value attribute of a text field.
            The value property contains the default value OR the value a user types in.
        </p>
    </div>
    <div class="col-md-5 margin-top-15">Target Period<span class="pull-right">:</span></div>
    <div class="col-md-7 margin-top-10">
        <input type="text" id="set-date" class="profile_input">
    </div>
    <div class="col-md-5 margin-top-15">Target Weight<small>(Kgs)</small><span class="pull-right">:</span></div>
    <div class="col-md-7 margin-top-10">
        <input type="text" class="profile_input">
    </div>

    <div class="col-md-12 margin-top-20 text-center">
        <span ng-show="updateGoal==0"><a class="btn-dis weight_button" ng-click="setGoal()">Set Goal</a></span>
        <span ng-show="updateGoal==1"><a class="btn-dis weight_button" ng-click="setGoal()">Update Goal</a></span>
    </div>

    <input id="start" hidden/>
    <input id="end" hidden/>
</div>

<!-- End Page Banner -->

<script type="text/javascript">
    $(document).ready(function() {

        $('#startDate').daterangepicker({
            singleDatePicker: true,
            startDate: moment()
        });

        $('#endDate').daterangepicker({
            singleDatePicker: true,
            startDate: moment()
        });

        var options = {
            minDate : new Date()
        };

        $('#set-date').daterangepicker(options, function(start, end, label) {
            document.getElementById("start").value = start.format('DD/MM/YYYY');
            document.getElementById("end").value = end.format('DD/MM/YYYY');
        });

    });
</script>