

<div class="page-banner1" ng-init="InitializeTimer(5)">
    <div id="w" class="clearfix">
        <div id="demography-content">
            <div class="col-md-12 text-center" style="background-image: url(../../images/subscripe.png);background-repeat: no-repeat;height: 500px">
                <div class="col-md-2"></div>
                <div class="col-md-10" ng-show="!completed">
                    <h1 class="text-bold text-orange thanks-h1">WE ARE PROCESSING YOUR PAYMENT</h1>
                    <h1 class="text-gray margin-top-20"> PLEASE DO NOT REFRESH THE PAGE!</h1><br/>
                    <h2 class="text-gray">Processing....</h2>
                </div>
                <div class="col-md-10" ng-show="completed">
                    <div ng-show="!transactionSucceed"><br/></br></br>
                        <img class="text-center" src="../../images/alert.png">
                        <h1 class="text-orange margin-top-20 sorry-h1">SORRY, YOU CAN'T ENROLL AT THIS TIME</h1>
                    </div>
                    <div ng-show="transactionSucceed">
                        <h1 class="text-bold text-orange thanks-h1">THANKS FOR YOUR <br/>SUBSCRIPTION</h1>
                        <h1 class="text-gray margin-top-20">YOUR SUBSCRIPTION IS SUCCESSFULLY COMPLETED</h1>
                    </div>
                    <h4 class="text-gray" id="countmesg"></h4>
                </div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>