<div class="dashboard-2" style="width: 100% !important;">
    <div id="user-dashboard-content">
        <div id=bloodglucosegraph class="hc-graph"></div>
    <div style="text-align: center;padding-top: 5px;">
        <input type="radio" id="fastingbg" ng-click="doGetHistoryReport(1)"  value="1" name="ml"/>
        <label for="fastingbg" style="background-color: #3366cc;color:#fff">Fasting</label>
        <input type="radio" id="randombg" ng-click="doGetHistoryReport(2)"  value="2" name="oz"/>
        <label for="randombg" style="background-color: #339966;color:#fff">Random</label>
        <input type="radio" id="postbg" ng-click="doGetHistoryReport(3)"  value="3" name="oz"/>
        <label for="postbg" style="background-color: #e67300;color:#fff">Postprandial</label>
    </div>
    </div>
     <!--<div class="col-lg-12 col-md-12 col-sm-12 no-padding">-->
         <!--<div id="user-dashboard-budget">-->
         <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
        <!--<div class="circle-wrapper-document">-->
            <!--<div class="circle-progress ng-cloak" ng-style="getStyle()">Budget <br/><small> Cal</small></div>-->
            <!--<div round-progress-->
                 <!--max="totalAvailableSpace"-->
                 <!--current="usedSpace"-->
                 <!--color="#66E066"-->
                 <!--bgcolor="{{ bgColor }}"-->
                 <!--radius="{{ radius }}"-->
                 <!--semi="isSemi"-->
                 <!--rounded="rounded"-->
                 <!--stroke="{{ stroke }}"-->
                 <!--clockwise="clockwise"-->
                 <!--responsive="responsive"-->
                 <!--duration="{{ duration }}"-->
                 <!--animation="{{ currentAnimation }}"-->
                 <!--offset="{{ offset }}">-->
            <!--</div>-->
        <!--</div>-->
         <!--</div>-->
         <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
             <!--<div class="circle-wrapper-document">-->
                 <!--<div class="circle-progress ng-cloak" ng-style="getStyle()">Gained<br/><small> Cal</small></div>-->
                 <!--<div round-progress-->
                      <!--max="totalAvailableSpace"-->
                      <!--current="usedSpace"-->
                      <!--color="#66E066"-->
                      <!--bgcolor="{{ bgColor }}"-->
                      <!--radius="{{ radius }}"-->
                      <!--semi="isSemi"-->
                      <!--rounded="rounded"-->
                      <!--stroke="{{ stroke }}"-->
                      <!--clockwise="clockwise"-->
                      <!--responsive="responsive"-->
                      <!--duration="{{ duration }}"-->
                      <!--animation="{{ currentAnimation }}"-->
                      <!--offset="{{ offset }}">-->
                 <!--</div>-->
             <!--</div>-->
         <!--</div>-->
         <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
             <!--<div class="circle-wrapper-document">-->
                 <!--<div class="circle-progress ng-cloak" ng-style="getStyle()">Burned<br/><small> Cal</small></div>-->
                 <!--<div round-progress-->
                      <!--max="totalAvailableSpace"-->
                      <!--current="usedSpace"-->
                      <!--color="#66E066"-->
                      <!--bgcolor="{{ bgColor }}"-->
                      <!--radius="{{ radius }}"-->
                      <!--semi="isSemi"-->
                      <!--rounded="rounded"-->
                      <!--stroke="{{ stroke }}"-->
                      <!--clockwise="clockwise"-->
                      <!--responsive="responsive"-->
                      <!--duration="{{ duration }}"-->
                      <!--animation="{{ currentAnimation }}"-->
                      <!--offset="{{ offset }}">-->
                 <!--</div>-->
             <!--</div>-->
         <!--</div>-->
         <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
             <!--<div class="circle-wrapper-document">-->
                 <!--<div class="circle-progress ng-cloak" ng-style="getStyle()">Net<br/><small> Cal</small></div>-->
                 <!--<div round-progress-->
                      <!--max="totalAvailableSpace"-->
                      <!--current="usedSpace"-->
                      <!--color="#66E066"-->
                      <!--bgcolor="{{ bgColor }}"-->
                      <!--radius="{{ radius }}"-->
                      <!--semi="isSemi"-->
                      <!--rounded="rounded"-->
                      <!--stroke="{{ stroke }}"-->
                      <!--clockwise="clockwise"-->
                      <!--responsive="responsive"-->
                      <!--duration="{{ duration }}"-->
                      <!--animation="{{ currentAnimation }}"-->
                      <!--offset="{{ offset }}">-->
                 <!--</div>-->
             <!--</div>-->
         <!--</div>-->
     <!--</div>-->
    <!--</div>-->
</div>
</div>
