
<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>About Us</span></h4>
                    <!-- Some Text -->
                    <img class="pull-right margin-left-20 margin-top-10 margin-bottom-20 hidden-xs" src="../../images/about-us.jpg" style="height:450px;">
                    <!--<h4 class="margin-top-15 margin-bottom-10 text-orange">WHAT IS CYBERHEALTHS?</h4>-->
                    <div class="text-justify" style="font-size: 16px;font-weight: normal;">
                      <img src="../../images/cyberhealthslogo-small.png" style="height: 32px;width: 150px;opacity: 1!important">is an online fitness and health control portal. It empowers its users to take control of their diet and fitness programs, so that they can achieve their health and weight goals – even from the comfort of their own home.<br/><br/>
                      <span style="line-height:31px;">CyberHealths, is a smart application which can tell a person whether he/she is underweight/overweight/obese or even diabetic. It can plan the perfect diet and exercise plan by suggesting food and exercises that are appropriate based on height and weight. It keeps track of the weight goal set and ensures that it is not detrimental to health.</span><br/><br/>
                      <span style="line-height:31px;">CyberHealths, also provides online courses and an interface to fitness experts, through which needed support can be provided to manage physical fitness. It encourages its users to invite friends over into CyberHealths,set group goals, challenge each other, achieve their weight goals and celebrate their accomplishments together.</span><br/><br/>
                      Overall,<img src="../../images/cyberhealthslogo-small.png" style="height: 32px;width: 150px;opacity: 1!important">aims to provide a wholesome and complete environment which can be effortlessly incorporated in the everyday lives of its users enabling them to follow healthy living. This is just the beginning….<br/><br/>
                    </div>

                    <!--   <ul class="text-justify">
                           <li>Cyberhealths is a modern innovation and online fitness program developed with the motive to help the users in weight loss, weight gain, diabetes control, etc.</li>
                           <li>Cyberhealths help the users to achieve their goals via online courses, expert advices and diet plans. It mainly focuses on weight management, physical fitness, obesity and diabetes prevention.</li>
                           <li>Cyberhealths is the best and smartest way of getting fit at home. It is a modern and digital way of getting fit.</li>
                           <li>The foremost endeavor of Cyberhealths is to make the users get fit and be healthy at home.</li>
                       </ul>
                       <h4 class="margin-top-20 margin-bottom-10 text-orange">WHY CYBERHEALTHS?</h4>
                       <div class="text-justify">
                           <strong>Did you know:</strong> <i><small>“At least one out of three adults in the United States has blood sugar higher than the normal level, it also known as pre-diabetes without prevention pre-diabetes can advance to diabetes within 10 years”.</small></i><br/><br/>
                           No worries Cyberhealths is here to save the day. As life gets chic every day, Cyberhealths is considered to be the smartest way of getting fit and healthy at home.<br/><br/>
                           <ul>
                               <li>This application is packed with a bunch of features which helps the users in weight loss, weight gain, body building, diabetes control and a lot more.</li>
                               <li>It also contains a horde of expert’s in physical fitness, diet control, etc... The users can interact with the expert’s and get health tips regarding their goal.</li>
                               <li>Cyberhealths also offers a goal setting feature in which the user can set a target and work on it.</li>
                           </ul>-->
                    </div>
                   

                   
                </div>
                
            </div>

           

            
        </div>
    </div>
</div>
<!-- End content -->

<script type="text/javascript" src="../../js/script.js"></script>