
<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>About Us</span></h4>
                    <!-- Some Text -->
                    <img class="pull-right margin-left-20 margin-top-10" src="../../images/about-us.jpg">
                    <h4 class="margin-top-15 margin-bottom-10 text-orange">WHAT IS CYBERHEALTHS?</h4>

                    <ul>
                        <li>Cyberhealths is a modern innovation and online fitness program developed with the motive to help the users in weight loss, weight gain, diabetes control, etc,…</li>
                        <li>Cyberhealths help the users to achieve their goals via online courses, expert advices and diet plans. It mainly focuses on weight management, physical fitness, obesity and diabetes prevention.</li>
                        <li>Cyberhealths is the best and smartest way of getting fit at home. It is a modern and digital way of getting fit.</li>
                        <li>The foremost endeavor of Cyberhealths is to make the users get fit and be healthy at home.</li>
                    </ul>
                    <h4 class="margin-top-20 margin-bottom-10 text-orange">WHY CYBERHEALTHS?</h4>
                    <div class="text-justify">
                        <strong>Did you know:</strong> <i><small>“At least one out of three adults in the United States has blood sugar higher than the normal level, it also known as pre-diabetes without prevention pre-diabetes can advance to diabetes within 10 years”.</small></i><br/><br/>
                        No worries Cyberhealths is here to save the day. As life is getting chic every day, Cyberhealths is considered to be the smartest way of getting fit and healthy at home.<br/><br/>
                        <ul>
                            <li>This application is packed with a bunch of features which helps the users in weight loss, weight gain, body building, diabetes control and lot more.</li>
                            <li>It also contains a horde of expert’s in physical fitness, diet control, etc... The users can interact with the expert’s and get health tips regarding their goal.</li>
                            <li>Cyberhealths also offers a goal setting feature in which the user can set a target and work on it.</li>
                        </ul>
                    </div>
                    <h4 class="margin-top-20 margin-bottom-10 text-orange">DEVELOPMENT</h4>
                    <div class="text-justify">Cyberhealths is one of the successful products of Deemsys Inc. The development of Cyberhealths is done with a great ambition to bring a change in the society and to improve the lifestyle of the users. It also offers lots of features like <strong>goal setting, online health course, online personal coach, fixing a target with a group of people and working on it, and also making friends</strong> which can be done from your house.</div>

                    <h4 class="margin-top-20 margin-bottom-10 text-orange">THE COMPANY</h4>
                    <div class="text-justify">Deemsys Inc is one of the leading software development companies in United States at Columbus Ohio. Our main focus is on developing software applications for vigor and edification domain.
                        We have marked our footprints in Creative web and UI designing, Web and Mobile Application Development, SEO/SEM Services, Digital Marketing, etc… and  technologies like Java/J2EE, Ruby on Rails, Php, Html/Css, and Angularjs. We have also done many applications on mobile platforms like iOS (iphone, ipad), Android application, and windows application development.<br/><br/>
                        Deemsys offers you the best quality in software development which no other companies could ever imagine, some of our signature products in health domain include:<br/><br/>
                    <ul>
                        <li>Breast cancer research product - <span class="text-orange">BC-research.net</span>,</li>
                        <li>Electronic Health care records(EHR)  - <span class="text-orange"> Chirovirtuvaloffice.com</span>,</li>
                        <li>Medication Monitor Systems  - <span class="text-orange">medsmonit.com</span> </li>
                    </ul></div>
                </div>
                <!--<div class="col-md-5">
                    &lt;!&ndash; Start Touch Slider &ndash;&gt;
                    <div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
                        <div class="item"><img alt="" src="../../images/deem-1.jpg"></div>
                        <div class="item"><img alt="" src="../../images/deem.png"></div>
                        <div class="item"><img alt="" src="../../images/deem.png"></div>
                    </div>
                    &lt;!&ndash; End Touch Slider &ndash;&gt;
                </div>-->
            </div>

            <!-- Divider -->
            <!--<div class="hr3 margin-tb-20"></div>

            <div class="row">

                <div class="col-md-6">
                    &lt;!&ndash; Classic Heading &ndash;&gt;
                    <h4 class="classic-title"><span>Our Skills</span></h4>

                    <div class="skill-shortcode">
                        <div class="skill">
                            <p>Web Design</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  data-percentage="60">
                                    <span class="progress-bar-span" >60%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Wordpress</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  data-percentage="80">
                                    <span class="progress-bar-span" >80%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>CSS 3</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  data-percentage="90">
                                    <span class="progress-bar-span" >90%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill">
                            <p>HTML 5</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  data-percentage="100">
                                    <span class="progress-bar-span" >100%</span>
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    &lt;!&ndash; Classic Heading &ndash;&gt;
                    <h4 class="classic-title"><span>Our Solutions</span></h4>

                    &lt;!&ndash; Accordion &ndash;&gt;
                    <div class="panel-group" id="accordion">

                        &lt;!&ndash; Start Accordion 1 &ndash;&gt;
                        <div class="panel panel-default">
                            &lt;!&ndash; Toggle Heading &ndash;&gt;
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1"  onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-desktop"></i> Fully Responsive Theme
                                    </a>
                                </h4>
                            </div>
                            &lt;!&ndash; Toggle Content &ndash;&gt;
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body"><img class="img-thumbnail image-text solution-image" alt="" src="../../images/responsive.jpg" /> <strong class="accent-color">Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <strong>printer</strong> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                            </div>
                        </div>
                        &lt;!&ndash; End Accordion 1 &ndash;&gt;

                        &lt;!&ndash; Start Accordion 2 &ndash;&gt;
                        <div class="panel panel-default">
                            &lt;!&ndash; Toggle Heading &ndash;&gt;
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed"  onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-gift"></i> Touchable Slider
                                    </a>
                                </h4>
                            </div>
                            &lt;!&ndash; Toggle Content &ndash;&gt;
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                        </div>
                        &lt;!&ndash; End Accordion 2 &ndash;&gt;

                    </div>
                </div>

            </div>-->

            <!-- Divider -->
            <div class="hr3 margin-tb-20"></div>

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>The Core Team of Deemsys</span></h4>

            <!-- Start Team Members -->
            <div class="row">

                <!-- Start Memebr 1 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="team-member">
                        <!-- Memebr Photo, Name & Position -->
                        <!--<div class="member-photo">
                            <img alt="" src="../../images/team/about-1.jpg" />
                            <div class="member-name">John Doe <span>Developer</span></div>
                        </div>-->
                        <!-- Memebr Words -->
                        <div class="member-info">
                            <h4 class="text-orange">Founder & President:</h4>
                            <div class="margin-top-10 text-justify">The founders of Deemsys Inc. have decades of higher learning teaching experience in the US. <b>Jacob Benjamin</b>, the President of the company taught Allied Health for more than 20 years and also designed and developed numerous e-learning and online courses while teaching at the Central Ohio Technical College, Newark, OH which is being used even today at the college. He has also worked closely with researchers from the Washington State University and the Ohio State University and designed and developed medication monitor and breast cancer research projects. </div>
                        </div>
                        <!-- Memebr Social Links -->
                        <!--<div class="member-socail">
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                        </div>-->
                    </div>
                </div>
                <!-- End Memebr 1 -->

                <!-- Start Memebr 2 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="team-member">
                        <!-- Memebr Photo, Name & Position -->
                       <!-- <div class="member-photo">
                            <img alt="" src="../../images/team/about-2.jpg" />
                            <div class="member-name">Silly Sally <span>Developer</span></div>
                        </div>-->
                        <!-- Memebr Words -->
                        <div class="member-info">
                            <h4 class="text-orange">Chairman:</h4>
                            <div class="margin-top-10 text-justify">The chairman of Deemsys Inc., <b>Mrs. V. Benjamin</b> also has more than 30 years of higher learning teaching experience. She taught Health Information Management Systems and communications at the Columbus State Community College. Mrs. Benjamin has the rich experience of designing and teaching online courses for more than 15 years.</div>
                        </div>
                        <!-- Memebr Social Links -->
                        <!--<div class="member-socail">
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                        </div>-->
                    </div>
                </div>
                <!-- End Memebr 2 -->

                <!-- Start Memebr 3 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="team-member">
                        <!-- Memebr Photo, Name & Position -->
                        <!--<div class="member-photo">
                            <img alt="" src="../../images/team/about-3.png" />
                            <div class="member-name">Chris John <span>Developer</span></div>
                        </div>-->
                        <!-- Memebr Words -->
                        <div class="member-info">
                            <h4 class="text-orange">Marketing Director:</h4>
                            <div class="margin-top-10 text-justify"><b>Dexter Benjamin</b> - A source of endless energy is the Marketing Director of Deemsys Inc. Dexter Benjamin graduated from the Fisher’s College of Business, The Ohio State University with a Bachelor's degree in Business and a Master's degree from the University of Bradford, U.K. He has over Seven years of hands-on experience in all levels of Marketing and Sales arena.  He brings "passion" to our brand and adds value to our business.</div>
                        </div>
                        <!-- Memebr Social Links -->
                        <!--<div class="member-socail">
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                        </div>-->
                    </div>
                </div>
                <!-- End Memebr 3 -->

                <!-- Start Memebr 4 -->
                <!--<div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member">
                        &lt;!&ndash; Memebr Photo, Name & Position &ndash;&gt;
                        <div class="member-photo">
                            <img alt="" src="../../images/team/about-4.jpg" />
                            <div class="member-name">Sara John <span>Developer</span></div>
                        </div>
                        &lt;!&ndash; Memebr Words &ndash;&gt;
                        <div class="member-info">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>
                        </div>
                        &lt;!&ndash; Memebr Social Links &ndash;&gt;
                        <div class="member-socail">
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>-->
                <!-- End Memebr 4 -->
            </div>
            <!-- End Team Members -->
        </div>
    </div>
</div>
<!-- End content -->

<script type="text/javascript" src="../../js/script.js"></script>