

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row blog-page">
            <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10">
                <h5 class="classic-title"><span>Features</span>
                </h5>
            </div>
            <div class="page-content">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 margin-top-20 pull-right">
                    <video controls="" class="border-box" poster="../../images/coach-snap.png">
                        <source src="https://cyberhealth.s3.amazonaws.com/DemoVideos/coachapp.mp4" type="video/mp4">
                    </video>

                    <div class="text-center margin-top-30">
                        <div class="centerize">
                            <a href="#coach-plan" class="price-button btn button">View Plans</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <!-- Start Service Icon 1 -->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-users icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">1. Manage Your Clients</h4>
                            <p>
                               Manage and Review your individual Clients Profile,Demography,Stats and Reports throw Application.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Icon 1 -->

                    <!-- Start Service Icon 2 -->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-gg icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">2. Diet Plans</h4>
                            <p>
                                Create Meal and Workout plans,view and Assign the Diet plans to clients for Fitness throw Application.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Icon 2 -->

                    <!-- Start Service Icon 3 -->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-comments-o icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">3. Chats</h4>
                            <p>Convey Your Message to clients Individually and Group,Anywhere any time throw Application.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 3 -->
                </div>
                    <!-- Start Service Icon 4 -->
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-calendar icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">4. Set Your Events</h4>
                            <p>Upload Your Events throw our Application.Clients can view and set Attendance.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 4 -->


                    <!-- Start Service Icon 5 -->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-calendar-check-o icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">5. Appointments</h4>
                            <p>You can give appointments to your clients for discuss clients doubt throw our application.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 5 -->

                    <!-- Start Service Icon 6 -->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 service-box service-icon-left-more text-justify">
                        <div class="service-icon">
                            <i class="fa fa-pencil-square-o icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">6. Assessment</h4>
                            <p>Assign assessment to know medical details about clients throw our application.</p>
                        </div>
                    </div><br/><br/>
                    <!-- End Service Icon 6 -->
                    <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                        <br/><br/>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>