
<!-- Start Content -->
<div id="content-page">
	<div class="container">
		<div class="row">
            <div class="col-md-12">
                <div my-map=""></div>
            </div>
			
			<div class="col-md-7">
				<!-- Classic Heading -->
				<h4 class="classic-title"><span>Contact Us</span></h4>
				<!-- Start Contact Form -->
                <form role="form" class="contact-form" id="contact-form" method="post">
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="email" class="email" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" class="requiredField" placeholder="Subject" name="subject">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <textarea rows="7"  placeholder="Message" name="message"></textarea>
                        </div>
                    </div>

                    <button type="submit" id="submit" class="btn-system btn-large">Send</button><div id="success" style="color:#34495e;"></div>
                </form>
				<!-- End Contact Form -->
			</div>
			
			<div class="col-md-5">
				<!-- Classic Heading -->
				<h4 class="classic-title"><span>Information</span></h4>
				<!-- Some Info -->
				<p>You can contact us from the below information !!!</p>
				<!-- Divider -->
				<div class="hr3 margin-bottom-15"></div>
				
				<!-- Info - Icons List -->
				<ul class="icons-list">

					<li><i class="fa fa-building">  </i> <strong>Address:</strong> {{contactUsDetails.streetaddress}},{{contactUsDetails.city}},{{contactUsDetails.state}},{{contactUsDetails.zipcode}}</li>
					<li><i class="fa fa-envelope-o"></i> <strong>Email:</strong>{{contactUsDetails.supportemail}}</li>
					<li><i class="fa fa-mobile"></i> <strong>Phone:</strong>{{contactUsDetails.mobile}}</li>
                    <li><i class="fa fa-phone"></i> <strong>Landline:</strong>{{contactUsDetails.landline}}</li>
                    <li><i class="fa fa-globe"></i> <strong>Company URL:</strong>{{contactUsDetails.companyurl}}</li>
				</ul>
				
				<!-- Divider -->
				<div class="hr1" style="margin-bottom:15px;"></div>
				
				<!-- Classic Heading-->
				<!--<h4 class="classic-title"><span>Working Hours</span></h4>
				
				&lt;!&ndash; Info - List &ndash;&gt;
				<ul class="list-unstyled">
					<li><strong>Monday - Friday</strong> - 9am to 5pm</li>
					<li><strong>Saturday</strong> - 9am to 2pm</li>
					<li><strong>Sunday</strong> - Closed</li>
				</ul>-->
				
			</div>
			
		</div>
		
	</div>
</div>
<!-- End content -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    //Contact Form

    $('#submit').click(function(){
        $.post("php/send.php", $(".contact-form").serialize(),  function(response) {
            $('#success').html(response);
        });
        return false;
    });
</script>