<style>
.main-button {
    background-color: #f8ba01 !important;
    color: white;
    display: inline-block;
    }
    a.main-button:hover, input[type="submit"]:hover {
    background: #444 !important;
}

@media (max-width: 400px) {
    span {
        font-size: 16px;
     
    }
.classic-title {
   
    padding-bottom: 1px;
   }
   .classic-title span {
    padding-bottom: 1px;
    }
}
@media (min-device-width : 768px) and (max-width: 1024px) {

#content-page {

    padding: 60px 0px !important;
    }

}
</style>

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak" ng-init="pageNo=1">
    <div class="container">
        <a href="#disease-control-tips?id=2" class="back-button pull-right">Back to Disease Control tips list</a>
        <h4 class="classic-title"><span>DIABETES MELLITUS</span></h4>
        <div class="project-page row">

        
            <!-- Start Single Project Slider -->

            <!-- Page 1 Starts-->
            <div class="text-justify col-md-12" ng-show="pageNo==1">
                <div class="margin-top-10">
                    
                    Diabetes mellitus (commonly referred to as diabetes) is a disease of the pancreas, an organ behind the stomach that produces the hormone insulin. Insulin helps the body use food for energy.<br/>
                </div>
                <div class="margin-top-10">
                    Insulin works together with glucose (sugar) in the bloodstream to help it enter the body's cells to be burned for energy. If the insulin isn't functioning properly, glucose cannot enter the cells. This causes glucose levels in the blood to rise, creating a condition of high blood sugar or diabetes, and leaving the cells without fuel. 
                </div>
                <div class="margin-top-10">

                    <div class="margin-bottom-10">
                        <h5>Types and Risk factors of Diabetes:</h5><br/>
                        <h4 class="margin-bottom-10"><strong><i>Type 1 diabetes,</i></strong></h4>
                        Type 1 diabetes occurs because the insulin-producing cells of the pancreas (beta cells) are damaged pancreas makes little or no insulin,
                    </div>  
                    
                    <div class="col-md-4 margin-bottom-10 no-padding">
                        <img src="../../images/diseaseControlTips/tips-1-4.jpg" style="height: 280px; width: 400px;" class="margin-top-10"><br/>
                    </div>

                    <div class="col-md-8 margin-top-5 padding-right-0">   
                    
                        <h5 class="margin-bottom-10"><strong><i>Risk factors:</i></strong></h5>
                        Autoimmune, genetic, and environmental factors are involved in developing this type of diabetes.<br/><br/>
                        
                        <h4 class="margin-bottom-10"><strong><i>Type 2 diabetes,</i></strong></h4>
                        Pancreas makes insulin, but it either doesn't produce enough insulin or Body does not use insulin properly (insulin resistance). Type 2 diabetes may sometimes be controlled with a combination of diet, weight management and exercise.
                        Type 2 diabetes may account for about 90% to 95% of all diagnosed cases of diabetes. Nine out of 10 people with diabetes have type 2.  Healthy lifestyle changes that can cut their risk by as much as 58% <br/><br/>
                       
                        <h5 class="margin-bottom-10"><strong><i>Risk factors:</i></strong></h5>
                        Older age, obesity (20 percent or more over the desired body weight), family history of diabetes, prior history of gestational diabetes, impaired glucose tolerance, physical inactivity, Physical stress (such as surgery or illness).<br/><br/>
                    </div> 
                        
                    <div class="margin-top-20">
                        <font size="3"> <strong><i>Gestational diabetes</i></strong></font> woman without diabetes, develops high blood sugar levels during pregnancy If not treated, it can cause problems for mothers and babies. Gestational diabetes develops in 2% to 10% of all pregnancies but usually disappears when a pregnancy is over. Placental hormones can cause high blood sugar.<br/>
                    </div>
                   

                    <div class="margin-top-10">
                        Babies born to mothers with uncontrolled gestational diabetes can be overly large at birth, making delivery more dangerous. These babies can also have breathing problems. Moreover, children exposed to diabetes in the womb are more likely to become obese during childhood and adolescence, and develop type 2 diabetes later in life.<br/>
                    </div>

                    <div class="margin-top-10">
                        <h5 class="margin-bottom-10"><strong><i>Risk factors:</i></strong></h5>
                        Family history of diabetes, Obesity, women who have had gestational diabetes have a 35% to 60% chance of developing diabetes in the next 10–20 years.<br/>
                    </div> 
                                
                    <div class="margin-top-10">
                        <font size="2"> <strong>Other specific types of diabetes </strong></font>resulting from specific genetic syndromes, surgery, drugs, malnutrition, infections, and other illnesses may account for 1% to 5% of all diagnosed cases of diabetes.<br/>
                    </div>
                    <div class="margin-top-10">
                        <h4 class="margin-bottom-10"><strong><i>Prediabetes:</i></strong></h4>
                        More than a third of American adults—around 86 million—have prediabetes, and 90% of them don’t know it.
                    </div>
                    <div class="margin-top-10">    
                        A person with prediabetes has a blood sugar level higher than normal, but not high enough for a diagnosis of diabetes. Prediabetes are at higher risk for developing type 2 diabetes and other serious health problems, including heart disease, and stroke. <br/>
                        Losing 5% to 7% (10 – 14 pounds) of body weight for a 200 pound person and get at least 150 minutes each week of physical activity, such as brisk walking will help to prevent or delay type 2 diabetes.                        
                    </div>
                    
                    <div class="text-center">
                        <ul class="pager">
                            <li  ng-click="pageNo=2" onClick="window.scrollTo(0,0);"><a class="main-button" href="">   Next Page   <i class="fa fa-angle-right"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Project Slider -->

            <!-- Page 1 Ends -->





            <!-- Page  2 Start -->
            <div class="text-justify col-md-12 margin-top-10" ng-show="pageNo==2">
                <h4 class="margin-bottom-10 no-padding "><i><strong>Prediabetes:</strong></i></h4>
                <div class="margin-top-10">
                    <ul class="margin-bottom-10">
                        <li class="margin-bottom-5">Frequent urination </li>
                        <li class="margin-bottom-5">Excessive thirst </li>
                        <li class="margin-bottom-5">Unexplained weight loss </li>
                        <li class="margin-bottom-5">Extreme hunger </li>
                        <li class="margin-bottom-5">Sudden vision changes </li>
                        <li class="margin-bottom-5">Tingling or numbness in hands or feet </li>
                        <li class="margin-bottom-5">Feeling very tired much of the time </li>
                        <li class="margin-bottom-5">Very dry skin </li>
                        <li class="margin-bottom-5">Sores that are slow to heal </li>
                        <li class="margin-bottom-10">More infections than usual. </li>
                    </ul>
                </div>
                 
                <div class="margin-top-10">
                    <h4 class="margin-bottom-10"> <strong><i>Prevalence and Incidence of Diabetes:</i></strong></h4>
                    <ol>
                        <li><h6><strong><i>Trends in Incidence and Prevalence of Diagnosed Diabetes </i></strong></h6></li>
                        <li><h6 class="margin-top-10"><strong><i>Among Adults Aged 20-79, United States, 1980-2014 </i></strong></h6></li>
                    </ol>
                </div>
                <div id="img" class="text-center margin-bottom-10">
                    <img src="../../images/diseaseControlTips/tips-1-5.jpg"/><br/>
                    <h6 class="margin-bottom-10"> Source: National Diabetes Surveillance System, 2016. </h6>
                </div>
                <div class="col-md-12 no-padding text-center padding-left-10 margin-top-10">
                    <div class="col-md-4 no-padding text-center margin-bottom-10 ">
                        <img src="../../images/diseaseControlTips/tips-1-6.jpg" style="width: 190px; height: 210px;"/><br/>
                    
                    </div>
                    <div class="col-md-4 no-padding text-center margin-bottom-10">
                        <img src="../../images/diseaseControlTips/tips-1-7.jpg" style="height: 210px;"/><br/>
                
                    </div>
                    <div class="col-md-4 no-padding text-center margin-bottom-10">
                        <img src="../../images/diseaseControlTips/tips-1-8.jpg" style="height: 210px;"/><br/><br/>
                    </div>
                </div>          
                
                <div class="text-center">
                        <ul class="pager">
                            <li ng-click="pageNo=1" onClick="window.scrollTo(0,0);" class="id"><a class="main-button" href="" ><i class="fa fa-angle-left"></i> Previous Page </a></li>
                            <li ng-click="pageNo=3" onClick="window.scrollTo(0,0);" class="id"><a class="main-button" href="" >  Next Page  <i class="fa fa-angle-right"> </i></a></li>
                        </ul>
                </div>
            </div>
            <!-- Page 2 Ends -->




            <!-- Page 3 Start -->
            <div class="text-justify col-md-12 margin-top-10" ng-show="pageNo==3">
                <div class="margin-bottom-10">
                    <ul>
                        <li class="margin-bottom-5">13.4 million women (11.2 %), 15.5 million men(13.6%) National Diabetes Report, 2012. </li>
                        <li class="margin-bottom-5">1.7 million new cases of diabetes(ADA, 2012) </li>
                        <li class="margin-bottom-5">86 million Americans had prediabetes in 2012 </li>
                        <li class="margin-bottom-5">As many as 3 million Americans have type 1 diabetes the Juvenile Diabetes Research Foundation ( JDRF) </li>
                        <li class="margin-bottom-5">Approximately 798,000 new cases of diabetes are diagnosed annually in the United States. </li>
                        <li class="margin-bottom-10">Without major changes, as many as 1 in 3 US adults could have diabetes by 2050.</li>
                    </ul>
                </div>
                <div class="text-center no-padding col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <strong><i>Countries with the most adults living with diabetes in 2013.</i></strong>
                    <table class="table table-bordered margin-top-10">
                        <tbody>
                            <tr>
                                <td class="col-md-2 col-sm-2">China</td>
                                <td class="col-md-2 col-sm-2">98.4 million</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>65.1 million</td>
                            </tr>
                            <tr>
                                <td>United States</td>
                                <td>24.4 million</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>11.9 million</td>
                            </tr>
                            <tr>
                                <td>Russian Federation</td>
                                <td>10.9 million</td>
                            </tr>
                            <tr>
                                <td>Mexico</td>
                                <td>8.7 million</td>
                            </tr><br/>
                        </tbody>
                    </table>
                </div> 
                   
                <div class="no-padding col-md-6 margin-top-10">
                    <h5 class="margin-bottom-10"><strong><i>Complications:</i></strong></h5>
                    <ul>
                        <li class="margin-bottom-5"><strong>Heart disease and stroke: </strong>People with diabetes are twice as likely to have heart disease or a stroke as people without diabetes—and at an earlier age.</li>
                        <li class="margin-bottom-5"><strong>Blindness and other eye problems: </strong>Diabetic retinopathy (damage to blood vessels in the retina), cataracts (clouding of the lens), and glaucoma (increase in fluid pressure in the eye) can all result in vision loss.</li>
                        <li class="margin-bottom-5"><strong>Kidney disease:  </strong>High blood sugar levels can damage the kidneys long before a person has symptoms. Kidney damage can cause chronic kidney disease, which can lead to kidney failure.</li>
                        <li class="margin-bottom-5"><strong>Amputations: </strong>Diabetes damages blood vessels and nerves, particularly in the feet, and can lead to serious, hard-to-treat infections. Amputation is sometimes necessary to stop the spread of infection.</li>
                    </ul>                  
                   
                    <div class="margin-top-10">                
                        <strong>Nervous system damage </strong>affects about 60 to 70 percent of people with diabetes. That can lead to a variety of <strong>nerve problems.</strong> Many people with diabetes have <strong>impaired sensation in the hands and feet or carpal tunnel syndrome.</strong> It can also cause <strong>digestive problems </strong>and erectile dysfunction.
                    
                    </div>
                </div>
                <div class="col-md-6 padding-right-10">
                    <img src="../../images/diseaseControlTips/tips-1-9.jpg" style="height: 380px; padding-top: 15px"/><br/><br/>
                </div>

                <div class="col-md-12 no-padding">
                    <div class="text-center">
                        <ul class="pager">
                            <li  ng-click="pageNo=2" onClick="window.scrollTo(0,0);"><a class="main-button" href=""><i class="fa fa-angle-left"></i> Previous Page</a></li>
                             <li  ng-click="pageNo=4" onClick="window.scrollTo(0,0);"><a class="main-button" href="">Next Page <i class="fa fa-angle-right"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Page 3 Ends -->


            <!-- Page 4 Starts -->

            <div class="text-justify col-md-12 margin-top-10" ng-show="pageNo==4">
                <div class="margin-bottom-10"><strong><i>Eat Right:</i></strong></div>
                    Healthy eating and exercise can improve overall health, help to manage blood glucose level, and decrease the risk of diabetes.
              
                <div class="col-md-5 margin-top-10 no-padding">
                     <img src="../../images/diseaseControlTips/tips-2-0.jpg"  style="height: 320px;"/>
                </div>

                <div class="col-md-7 margin-top-10 padding-right-0">
                    <ul>
                        <li class="margin-bottom-5">Eat at about the same time every day. This helps keep your insulin or medicine and sugar levels steady. </li>
                        <li class="margin-bottom-5">Eat plenty of fiber. Green leafy vegetables, whole grains and fruits are good choices. Fiber helps you feel full and helps with digestion.</li>
                        <li class="margin-bottom-5">Eat fewer empty calories, such as foods high in sugar and fat, and alcohol.</li>
                        <li class="margin-bottom-5">Avoid eating processed and prepared foods. These foods are loaded with fat, calories, and sodium, plus they often contain unhealthy ingredients such as trans fats and high fructose corn syrup.</li>
                        <li class="margin-bottom-5">Eat a variety of brightly-colored, low calorie fruits and vegetables. Aim for 6 to 9 servings a day. Especially good choices include: Leafy greens (spinach, chard, kale, collards, mustard greens, dark green or red lettuces), broccoli, broccoli rabe, red peppers, carrots; berries, cherries, apples, pears, and citrus fruit.</li>
                        <li class="margin-bottom-5">Eat cereals, breads, and pasta made with whole grains instead of white flour. Substitute brown rice for white rice and sweet potatoes for white potatoes.</li>
                        <li class="margin-bottom-10">Eat smaller portions at each meal </li>
                    </ul>
                       
                </div>
                <div class="no-padding col-md-12 margin-top-5">
                    <ul>
                        
                        <li class="margin-bottom-5">Drink water or unsweetened tea instead of fruit juices, soft drinks, or other beverages high in sugar</li>
                        <li class="margin-bottom-10">Limit the amount of alcohol </li>
                    </ul>
                    Exercise is essential for losing weight and control blood glucose.  Even small increases in physical activity can help.
                

                    <div class="margin-top-10"><strong><i>Prevention:</i></strong><br/>
                        <div class="margin-top-10">
                            A number of studies have shown that regular physical activity can significantly reduce the risk of developing type 2 diabetes. Type 2 diabetes is associated with obesity.
                            major federally funded study of 3,234 people at high risk for diabetes, showed that people can delay and possibly prevent the disease by losing a small amount of weight (5 to 7 percent of total body weight) through 30 minutes of physical activity 5 days a week and healthier eating.
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <ol>
                            <li>EAT RIGHT and BE ACTIVE<br/></li>
                        </ol>
                    </div>
                    <h4 class="margin-top-10"><b><i>References:</i></b><br/></h4>
                    <ul class="margin-top-10">
                        <li class="margin-bottom-10">
                            <a href="https://www.seenso.com/" target="_blank">https://www.seenso.com/</a>
                        </li>
                        <li class="margin-bottom-10">
                            <a href="https://www.cdc.gov" target="_blank">https://www.cdc.gov</a>
                        </li>
                    </ul>
                    
                    <div class="text-center">
                        <ul class="pager">
                            <li  ng-click="pageNo=3" onClick="window.scrollTo(0,0);"><a class="main-button" href=""><i class="fa fa-angle-left"></i> Previous Page</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Page 4 Ends -->

        </div>
    </div>
</div>
<!-- Ends Content -->
