<style>
.main-button {
    background-color: #f8ba01 !important;
    color: white;
    display: inline-block;
    }
    a.main-button:hover, input[type="submit"]:hover {
    background: #444 !important;
}

@media (max-width: 400px) {
    span {
        font-size: 16px;
     
    }
.classic-title {
   
    padding-bottom: 1px;
   }
   .classic-title span {
    padding-bottom: 1px;
    }
}
@media (min-device-width : 768px) and (max-width: 1024px) {

#content-page {

    padding: 60px 0px !important;
    }

}
</style>

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak" ng-init="pageNo=1">
    <div class="container">
        <a href="#disease-control-tips?id=3" class="back-button pull-right">Back to Disease Control tips list</a>
        <h4 class="classic-title"><span>OBESITY</span></h4>
        <div class="project-page row">

        
            <!-- Start Single Project Slider -->

            <!-- Page 1 Starts-->
            <div class="text-justify col-md-12" ng-show="pageNo==1">
                <div class="text-justify margin-top-10">
                   <div class="margin-bottom-10" >
                        Overweight - extra body weight that includes muscle, bone, fat, and water.<br/>
                    </div>
                    <div class="margin-bottom-10">
                        Obesity - high amount of extra body fat. <br/>
                    </div>
                    <div  class="margin-bottom-10">
                        Overweight and obesity together make up one of the leading preventable causes of death in the U.S. More than a third of U.S.adults are obese. Approximately 17%, of U.S. children and adolescents ages 2 to 19 are obese. Nearly 72 million adults in the United States can be defined as obese.<br/>
                    </div>
                    Most health care professionals agree that men with more than 25 percent body fat and women with more than 30 percent body fat are considered obese. Worldwide, approximately 2.5 million deaths occur annually because of obesity-related comorbidities. Approximately 280,000 adult deaths in the United States each year are related to obesity.<br/>
                </div>
                
                <div class="margin-top-15">
                    <h4 class="margin-bottom-10"><strong><i>Measurement of Obesity:</i></strong></h4>
                    <h5 class="margin-bottom-10"><strong><i>BMI</i></strong></h5>
                    The most common method of measuring obesity is the Body Mass Index (BMI). BMI is calculated by dividing body weight (kilograms) by height (metres) squared.
                    
                </div>
                <div class="col-md-12 no-padding">
                    <div class="text-center col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 no-padding ">
                        <table class="table-bordered table">
                            <tbody>
                                <thead>
                                    <tr>
                                        <td class="col-md-2 col-sm-2 text-bold">Category</td>
                                        <td class="col-md-2 col-sm-2 text-bold">Mass Index (kg/m2)</td>
                                        <td class="col-md-2 com-sm-2 text-bold">Over Ideal body weight %</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Under weight</td>
                                    <td> < 18.5 </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>Normal</td>
                                    <td>18.5 – 24.9</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>Over weight</td>
                                    <td>25 – 29.9</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>Obesity (class 1)</td>
                                    <td>30 – 34.9</td>
                                    <td>>20%</td>
                                </tr>
                                <tr>
                                    <td>Severe Obesity(class 2)</td>
                                    <td>35 – 39.9</td>
                                    <td>>100%</td>
                                </tr>
                                <tr>
                                    <td>Severe Obesity(class 3)</td>
                                    <td>40 – 49.9</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Superobesity</td>
                                    <td>>50</td>
                                    <td>>250%</td>
                                </tr><br/>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="margin-top-15" class="margin-bottom-10">
                    Obesity can also be measured by waist-to-hip ratio. Waist-to-hip ratio is a measurement tool that looks at the amount of fat on the waist, compared with the amount of fat on the hips and buttocks. The waist circumference tells the amount of stomach fat. Increased stomach fat is associated with type 2 diabetes, high cholesterol, high blood pressure, and heart disease. A waist circumference of more than 40 inches in men and more than 35 inches in women may increase the risk for heart disease and other diseases tied to being overweight. <i>Visceral or centeral,</i> fat is more metabolically active than peripheral fat and is associated with type 2 diabetes, dyslipidemia (elevated triglyceride and reduced high-density lipoprotein [HDL] levels), high blood pressure, and increased risk for cardiovascular atherosclerotic disease. 
                    The waist-to-hip ratio helps to identify patients with excess visceral adiposity. Women with a waist-to-hip ratio > 0.8 and men with a ratio > 1.0 are considered to have excess central adiposity that confers risk for developing the metabolic syndrome.<br/>
                </div>
                <div class="margin-top-10">
                    The diagnosis of morbid obesity is established by determining the patient’s BMI and the presence of any significant comorbid conditions.
                    <div class="text-center col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 no-padding ">
                        <table class="table-bordered table">
                            <tbody>
                                <thead>
                                    <tr>
                                        <td class="col-md-2 col-sm-2 text-bold">Parameter</td>
                                        <td class="col-md-2 col-sm-2 text-bold">Criterion</td>                                        
                                    </tr>
                                </thead>
                                <tr>
                                    <td colspan="2" class="col-md-4 col-sm-4 text-bold">Central Obesity</td>
                                </tr>
                                <tr>
                                    <td>Waist circumference in men</td>
                                    <td>>102 cm</td>
                                </tr>
                                <tr>
                                    <td>Waist circumference in women</td>
                                    <td>>88cm</td>
                                </tr>
                                <tr>
                                    <td>Hypertriglyceridemia</td>
                                    <td>≥150 mg/dl</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="col-md-4 col-sm-4 text-bold">Low high-density lipoprotein cholesterol</td>                                   
                                </tr>
                                <tr>
                                    <td>Men</td>
                                    <td> <40mg/dl </td>
                                   
                                </tr>
                                <tr>
                                    <td>Women</td>
                                    <td>><50 mg/dl</td>
                                </tr>
                                <tr>
                                    <td>High blood pressure</td>
                                    <td> ≥130/≥85 mm Hg </td>
                                   
                                </tr>
                                <tr>
                                    <td>Fasting Blood glucose</td>
                                    <td> ≥110 mg/dl</td>
                                </tr><br/><br/>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-centercol-md-12 col-sm-12">
                    <ul class="pager">
                        <li  ng-click="pageNo=2" onClick="window.scrollTo(0,0);"><a class="main-button" href="">   Next Page   <i class="fa fa-angle-right"></i> </a></li>
                    </ul>
                </div>
            </div>
            
            <!-- End Single Project Slider -->

            <!-- Page 1 Ends -->


            <!-- Page  2 Start -->
            <div class="text-justify col-md-12 margin-top-10" ng-show="pageNo==2">
                *Three or more of these criteria need to be present.<br/>
                <div class="margin-top-10">
                    Visceral Fat is body fat that is stored within the abdominal cavity and is therefore stored around a number of important internal organs such as the liver, pancreas and intestines. Storing higher amounts of visceral fat is associated with increased risks of a number of health problems including type 2 diabetes.<br/>
                </div>
                 
                <div class="margin-top-10">
                    <strong>Abdominal obesity,</strong> also known as <strong>central obesity,</strong> is when excessive <strong>abdominal</strong> fat around the stomach and abdomen has built up to the extent that it is likely to have a negative impact on health. There is a strong correlation between <strong>central obesity</strong> and cardiovascular disease.<br/>
                </div>
                <div class="margin-top-10">
                    Peripheral Fat accumulates right under the skin and is evenly distributed over the body surface area.
                </div>
                <div class="margin-top-10">
                    Females are more likely to deposit fat in the peripheral tissues and males tend to deposit it in the abdominal compartment. As obesity develops, the size and number of fat cells increase. 
                </div>
                <div class="margin-top-15">
                    <h5 class="margin-bottom-10"><strong><i>Causes of obesity:</i></strong></h5>
                    The development of obesity involves the interactions between excessive caloric intake, inefficient use of food energy, reduced metabolic activity, a reduction in the thermogenic response to meals, and an abnormally high set point for body weight.
                </div>
                <div class="col-md-8">
                    <ul class="margin-top-10">
                        <li class="margin-bottom-5">
                            <strong>Genetics. </strong>Studies show that the likelihood of becoming obese is passed down through a family's genes. Genes, for instance, may affect where to store extra fat in the body.
                        </li>
                         <li class="margin-bottom-5">
                            <strong>Metabolism factors. </strong>How your body uses energy is different from how another person's uses it. Metabolism and hormones differ from person to person, and these factors play a role in weight gain. 
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Polycystic ovary syndrome (PCOS), </strong>a condition characterized by high levels of androgens (male hormone), irregular or missed menstrual cycles. A woman with PCOS is more likely to be obese. <strong>Hypothyroidism,</strong> a condition in which the thyroid gland fails to produce enough thyroid hormone.
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Socioeconomic factors </strong>
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Lifestyle choices. </strong>Overeating and a lack of exercise both contribute to obesity.
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Medicines. </strong>Medicines like corticosteroids, antidepressants, and antiseizure medicines can cause weight gain.
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Emotions. </strong>Emotional eating – can lead to weight gain. Too little sleep may also contribute to weight gain.
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 padding-right-0">
                    <img src="../../images/diseaseControlTips/tips-2-1.jpg" style="height: 275px;"/><br/><br/>
                </div>
                <div class="margin-top-10">
                    <h5 class="margin-bottom-10"><strong><i>Health consequences of obesity:</i></strong></h5>
                     Most obesity-related deaths result from complications related to diabetes, cancer, and cardiovascular disease.
                </div>
                <div class="margin-top-10">
                    <ul>
                        <li class="margin-bottom-5">
                            Severe obesity can adversely affect every organ system.
                        </li>
                         <li class="margin-bottom-5">
                            Diabetes, cancer, and cardiovascular disease are common in obese patients. 
                        </li>
                        <li class="margin-bottom-5">
                            Central adiposity is associated with the presence of the metabolic syndrome.
                        </li>
                        <li class="margin-bottom-5">
                            <strong>High blood pressure. </strong>Excess weight needs more blood to circulate to the fat tissue and causes the blood vessels to become narrow (coronary artery disease). This makes the heart work harder, because it must pump more blood against more resistance from the blood vessels and can lead to a heart attack (myocardial infarction). Excess weight also raises blood cholesterol and triglyceride levels and lowers HDL ("good") cholesterol levels, adding to the risk of heart disease.
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Type 2 diabetes. </strong>Obesity is the major cause of type 2 diabetes. Obesity can make your body resistant to insulin, the hormone that regulates blood sugar. Even moderate obesity dramatically increases the risk for diabetes.
                        </li>     
                        <li class="margin-bottom-5">
                            <strong>Heart disease. </strong>Atherosclerosis, or hardening of the arteries, happens more often in obese people. Coronary artery disease is also more common in obese people because fatty deposits build up in arteries that supply the heart. <br/>
                        </li>
                        <li class="margin-bottom-5"><strong>Cancer. </strong>Being overweight or obese increases the risk for a variety of cancers. Obese women increase their risk for breast cancers. Men who are overweight have a higher risk for prostate cancer. Both men and women who are obese are at increased risk for colorectal cancer.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            <strong>Metabolic syndrome. </strong>Metabolic syndrome has several major risk factors. These are stomach obesity, high blood triglyceride levels, low HDL cholesterol levels, high blood pressure, and insulin resistance (severe type 2 diabetes). Having at least three of these risk factors confirms the diagnosis of metabolic syndrome.<br/> 
                        </li>
                        <li class="margin-bottom-5">
                            Large waist circumference. Men who have waist circumferences greater than 40 inches, and women who have waist circumferences greater than 35 inches, are at higher risk of diabetes, dyslipidemia (abnormal amounts of fat in the blood), high blood pressure, and heart disease.<br/><br/>
                        </li>                  
                    </ul>
                </div>
                
                <div class="text-center">
                    <ul class="pager">
                        <li ng-click="pageNo=1" onClick="window.scrollTo(0,0);" class="id"><a class="main-button" href="" ><i class="fa fa-angle-left"></i> Previous Page </a></li>
                        <li ng-click="pageNo=3" onClick="window.scrollTo(0,0);" class="id"><a class="main-button" href="" >  Next Page  <i class="fa fa-angle-right"> </i></a></li>
                    </ul>
                </div>
            </div>
            <!-- Page 2 Ends -->




            <!-- Page 3 Start -->
            <div class="text-justify col-md-12 margin-top-5" ng-show="pageNo==3">
                <div class="col-md-5 margin-top-5 padding-left-0">
                    <img src="../../images/diseaseControlTips/tips-2-2.jpg" style="height: 255px;"/><br/>
                </div>
                <div class="col-md-7 margin-bottom-5 padding-right-0">
                    <ul>
                        <li class="margin-bottom-5">
                            Pulmonary (breathing) problems, including sleep apnea in which a person can stop breathing for a short time during sleep. ( JDRF).
                        </li>
                        <li class="margin-bottom-5">
                            Reproductive problems in women, including menstrual irregularities and infertility.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Gallbladder disease and gallstones.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Osteoarthritis, a disease in which the joints deteriorate. This is possibly the result of excess weight on the joints.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Some cancers (endometrial, breast, colon, kidney, gallbladder, and liver)<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Mental illness such as clinical depression, anxiety, and other mental disorders.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Due to its association with insulin resistance, the risk of polycystic ovarian syndrome (PCOS) increases with adiposity.In the US approximately 60% of patients with PCOS have a BMI greater than 30.<br/>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-md-12 margin-top-5">
                    <ul>
                         <li class="margin-bottom-5">
                            Obesity leads to infertility in both men and women. Obese women have more than twice the rate of C-sections compared to women of normal weight. Obese women also have increased risk of preterm births and low birth weight infants.<br/> 
                        </li>                      
                        <li class="margin-bottom-5">
                            risk of migraine rises 50% by BMI of 30 kg/m2 and 100% by BMI of 35 kg/m2.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            High body mass index (BMI) is associated with a higher risk of developing ten common cancers including 41% of uterine cancers and at least 10% of gallbladder, kidney, liver and colon cancers in the UK.<br/>
                        </li>
                        <li class="margin-bottom-5">
                            Obesity increases one's risk of chronic kidney disease by three to four times.<br/>
                        </li>
                    </ul>
                </div>
                <div class="margin-top-10">
                    <h5 class="margin-bottom-10"><strong><i>Prevention:</i></strong></h5>
                     Maintaining a healthy weight requires a balance of the calories consumed from foods and beverages with the calories expended through physical activity and normal metabolism. 
                </div>
                <div class="col-md-8 margin-top-10">
                    <ul>
                        <li class="margin-bottom-5">
                            Eat plenty of vegetables, fruits, and whole-grain products.
                        </li>
                         <li class="margin-bottom-5">
                            Eat a variety of nutritious foods in order to avoid vitamin deficiencies 
                        </li>
                        <li class="margin-bottom-5">
                            Include low-fat or non-fat milk or dairy products.
                        </li>
                        <li class="margin-bottom-5">
                            Increase dietary fiber intake.
                        </li>
                        <li class="margin-bottom-5">
                            Maintain a diet in which 50% to 55% of calories come from complex carbohydrates
                        </li>     
                        <li class="margin-bottom-5">
                            Choose lean meats, poultry, fish, lentils, and beans for protein.
                        </li>
                        <li class="margin-bottom-5">
                            Drink lots of water.
                        </li>
                        <li class="margin-bottom-5">
                            Limit fruit juice and sodas.
                        </li>
                        <li>
                            Limit consumption of sugar and saturated fat.
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 margin-top-10 padding-right-5">
                    <img src="../../images/diseaseControlTips/tips-2-3.jpg" style="height: 229px;"/><br/>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li class="margin-bottom-5">
                            Moderate exercise has been shown to decrease blood pressure, increase HDL levels and reduce triglyceride levels.
                        </li> 
                        <li class="margin-bottom-5">
                            20 to 30 minutes of moderate exercise 5 to 7 days a week
                        </li> 
                        <li class="margin-bottom-10">
                           Lower intakes of meats, including processed meats; processed poultry; sugar-sweetened foods, particularly beverages; and refined grains.<br/>
                        </li>            
                    </ul>
                    Small changes can lead to significant benefit over time. In addition to healthy eating, an active lifestyle will help to maintain weight. More physical activity will increase the amount of calories burns. Weight loss of 5 to 10 % lowers blood pressure and other risk factors. Patients with a BMI > 35 kg/m2 with obesity-related comorbidities, and those with a BMI > 40 kg/m2 with or without comorbidities are currently eligible for <strong>bariatric</strong> surgery
                    National Institutes of Health (NIH) guidelines recommended that bariatric surgery be limited to patients aged 18 to 60 years.<br/><br/>
                
                    <h4 class="margin-top-10"><b><i>References:</i></b><br/></h4>
                        <ul class="margin-top-10">
                            <li class="margin-bottom-10">
                                <a href="https://www.cdc.gov/obesity/" target="_blank">https://www.cdc.gov/obesity/</a>
                            </li>
                            <li class="margin-bottom-10">
                                <a href="https://www.seenso.com/" target="_blank">https://www.seenso.com/</a><br/>
                            </li>
                        </ul>
                
                    <div class="col-md-12 no-padding">
                        <div class="text-center">
                            <ul class="pager">
                                <li  ng-click="pageNo=2" onClick="window.scrollTo(0,0);"><a class="main-button" href=""><i class="fa fa-angle-left"></i> Previous Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Page 3 Ends -->


        </div>
    </div>
</div>
<!-- Ends Content -->
