<style>
.main-button {
   
    color: white !important;
    display: inline-block;
   
}
@media (min-device-width : 768px) and (max-width: 1024px) {

#content-page {

    padding: 60px 0px !important;
    }
    
}

</style>

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row blog-page" style="margin-top: -1%">
            <div class="col-md-12">
                <h5 class="classic-title"><a href="#healthy-tips"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;Articles</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#useful-videos"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;Videos</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#disease-control-tips"><i class="fa fa-users"></i>&nbsp;&nbsp;Disease Control</a></span>
                </h5>

           
            <!--Sidebar-->
            <div class="col-md-4 col-lg-4 col-sm-4 sidebar left-sidebar">


                
                <!-- Popular Posts widget -->
                <div class="widget widget-popular-posts">
                    <h4>Popular Tips <span class="head-line"></span></h4>
                    <ul class="remove-style">
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(1)"><img src="../../images/diseaseControlTips/tips-1-small.jpg" alt="" width="65" height="65" /></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(1)">Attention-Deficit/Hyperactivity Hisorder </a></h5>
                                <span>Feb 06,2017</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(2)"><img src="../../images/diseaseControlTips/tips-2-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(2)">Diabetes Mellitus</a></h5>
                                <span>Feb 14, 2017</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(3)"><img src="../../images/diseaseControlTips/tips-3-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(3)">Obesity</a></h5>
                                <span>Feb 22, 2017</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(4)"><img src="../../images/diseaseControlTips/tips-4-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(4)">Cancer</a></h5>
                                <span>Mar 02, 2017</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        
                        <li>
                            
                            <div class="widget-content">
                                <span>Coming Soon.,</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        
                    </ul>
                </div>

            </div>
            <!--End sidebar-->

            <!---start Blog post -->
            <div class="col-lg-8 col-md-7 col-sm-7 sidebar right-sidebar">
                  <!--  <h4 class="classic-title" style="margin-top: 3%"></h4>-->
                            
                <!-- Start Post -1 -->
                <div id="1" class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <img alt="" src="../../images/diseaseControlTips/tips-1.jpg" width="100%" height="auto">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content1">
                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                        <h2><a href="#disease-control-tips-1">Attention-Deficit/Hyperactivity Disorder </a></h2>
                        <ul class="post-meta remove-style">
                            <li>By <a href="">Cyber Health</a></li>
                            <li>Feb 06, 2017</li>
                            <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                            <li><a href="#">4 Comments</a></li>-->
                        </ul>
                        <p>Attention-deficit/hyperactivity disorder (ADHD) is a chronic disorder that is considered to be a neuro-psychiatric disorder or a disorder of nervous system. ADHD is a common behavioral disorder </p>
                        <a class="main-button" href="#disease-control-tips-1">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->

                <!-- Start Post -2 -->
                <div id="2" class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <img alt="" src="../../images/diseaseControlTips/tips-2.jpg" width="100%" height="auto">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content1">
                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                        <h2><a href="#disease-control-tips-3">Diabetes Mellitus</a></h2>
                        <ul class="post-meta remove-style">
                            <li>By <a href="">Cyber Health</a></li>
                            <li>Feb 14, 2017</li>
                            <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                            <li><a href="#">4 Comments</a></li>-->
                        </ul>
                        <p>Diabetes mellitus (commonly referred to as diabetes) is a disease of the pancreas, an organ behind the stomach that produces the hormone insulin. Insulin helps the body use food for energy.  </p>
                        <a class="main-button" href="#disease-control-tips-2">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->

                <!-- Start Post -3 -->
                <div id="3" class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <img alt="" src="../../images/diseaseControlTips/tips-3.jpg" width="100%" height="auto">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content1">
                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                        <h2><a href="#disease-control-tips-3">Obesity</a></h2>
                        <ul class="post-meta remove-style">
                            <li>By <a href="">Cyber Health</a></li>
                            <li>Feb 22, 2017</li>
                            <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                            <li><a href="#">4 Comments</a></li>-->
                        </ul>
                        <p>DOverweight - extra body weight that includes muscle, bone, fat, and water.<br/>
                        Obesity - high amount of extra body fat. </p>
                        <a class="main-button" href="#disease-control-tips-3">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->

                <!-- Start Post -4 -->
                <div id="4" class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <img alt="" src="../../images/diseaseControlTips/tips-4.jpg" width="100%" height="auto">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content1">
                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                        <h2><a href="#disease-control-tips-4">Cancer</a></h2>
                        <ul class="post-meta remove-style">
                            <li>By <a href="">Cyber Health</a></li>
                            <li>Mar 02, 2017</li>
                            <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                            <li><a href="#">4 Comments</a></li>-->
                        </ul>
                        <p>Human body contains approximately 37.2 trillion cells. Normally, human cells grow and divide to form new cells as the body needs them. When cells grow old or become damaged, they die, and new cells </p>
                        <a class="main-button" href="#disease-control-tips-4">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->


                 <!-- Start Post  -->
               
                        <h2><a href="#disease-control-tips-4">Coming Soon.,</a></h2>
                        
                <!-- End Post -->
            </div>
            <!--Ends blog post -->
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>