

<!-- Start Content -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <h4 class="classic-title"><span>Frequently Asked Questions</span></h4>
            <div class="col-md-12">
                <div class="col-md-5"></div>
                <div class="col-md-6"><input class="form-control" ng-model="faqsearch" placeholder="Search"></div>
                <div class="col-md-1"><i class="fa fa-search"></i></div>
            </div>
            <div class="col-md-12">
                <table>
                    <tr ng-repeat="userfaq in faqfilter = (userfaqlist | filter :{question : faqsearch})" ng-show="userfaq.length!=0">
                       <!--<td class="faq-slno">
                            <h3>{{$index+1}}.</h3>
                        </td>-->
                        <td>
                            <h3>{{userfaq.question}}</h3>
                            <p class="wrap">{{userfaq.answer}}</p><hr/><br/>
                        </td>
                    </tr>
                    <tr ng-show="userfaq.length==0"><td colspan="2">No Records Found !!!</td></tr>
                    <tr ng-show="!faqfilter.length"><td colspan="2">No Records Found !!!</td></tr>
                </table>
            </div>

        </div>
    </div>
</div>