

<!-- Start Content -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 no-padding pull-right">
                    <input class="form-control input-form-control-override" ng-model="faqsearch" placeholder="Search terms here...">
                </div>
                <h4 class="classic-title margin-top-5"><span>Frequently Asked Questions</span></h4>
            </div>
            <div class="col-md-12 min-height-385">
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div ng-repeat="userfaq in faqfilter = (userfaqlist | filter :{question : faqsearch})" ng-show="userfaq.length!=0">
                    <div class="news-block margin-top-7">
                        <h4 class="text-muted">{{userfaq.question}}</h4>
                        <h5 class="text-justify margin-top-7 text-darkgray">{{userfaq.answer}}</h5>
                    </div>
                </div>
                <div ng-show="userfaq.length==0 || !faqfilter.length">
                    <div class="margin-top-50 text-center">
                        <img class="margin-top-20" src="../../images/no-faq.png"/>
                        <h1 class="text-gray">NO FAQ FOUND !!!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>