

<!-- Start Content -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <h4 class="classic-title"><span>Frequently Asked Questions</span></h4>
            <div class="col-md-12">
                <table>
                    <tr>
                        <td class="faq-slno">
                            <h3>1.</h3>
                        </td>
                        <td>
                            <h3>What are the advantages of purchasing a website template?</h3>
                            <p>
                                The major advantage is price: You get a high quality design for just $20-$70.
                                You dont have to hire a web designer or web design studio. Second advantage is time frame:
                                It usually takes 5-15 days for a good designer to produce a web page of such quality.
                            </p><br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="faq-slno">
                            <h3>2.</h3>
                        </td>
                        <td>
                            <h3>What are the advantages of purchasing a website template?</h3>
                            <p>
                                The major advantage is price: You get a high quality design for just $20-$70.
                                You dont have to hire a web designer or web design studio. Second advantage is time frame:
                                It usually takes 5-15 days for a good designer to produce a web page of such quality.
                            </p><br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="faq-slno">
                            <h3>3.</h3>
                        </td>
                        <td>
                            <h3>What are the advantages of purchasing a website template?</h3>
                            <p>
                                The major advantage is price: You get a high quality design for just $20-$70.
                                You dont have to hire a web designer or web design studio. Second advantage is time frame:
                                It usually takes 5-15 days for a good designer to produce a web page of such quality.
                            </p><br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="faq-slno">
                            <h3>4.</h3>
                        </td>
                        <td>
                            <h3>What are the advantages of purchasing a website template?</h3>
                            <p>
                                The major advantage is price: You get a high quality design for just $20-$70.
                                You dont have to hire a web designer or web design studio. Second advantage is time frame:
                                It usually takes 5-15 days for a good designer to produce a web page of such quality.
                            </p><br/>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>