

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <a href="#healthy-tips?id=17" class="back-button pull-right">Back to healthy tips list</a>
        <h4 class="classic-title"><span>BEETROOT AND BLOOD PRESSURE</span></h4>
        <div class="project-page row">

            <!-- Start Single Project Slider -->
            <div class="project-media margin-top-5 col-md-12">
                
                <div class="col-md-6 no-padding text-justify margin-top-10">
                    
                    High blood pressure is a major risk factor for developing cardiovascular disease, which can cause heart attacks or strokes. Diets rich in inorganic nitrate are associated with lower blood pressure. <br/><br/>
                
                    Dietary nitrate has been demonstrated to have a range of beneficial vascular effects, including blood pressure, inhibiting platelet aggregation, preserving or improving endothelial dysfunction, enhancing exercise performance in healthy individuals and patients with peripheral arterial disease. <br/>
                    
                    Beetroot contains high levels of dietary nitrate (>2500/100gm) , which the body converts into biologically active nitrite and nitric oxide, which causes the blood vessels to dilate – lowers the blood pressure.<br/><br/>

                    Beetroot, also known as beet, has been gaining in popularity as a new super food due to recent studies claiming that beets and beetroot juice can improve athletic performance, lower blood pressure, and increase blood flow. Beetroot is a good source of iron and folate (naturally occurring folic acid). It also contains nitrates, betaine, magnesium and other antioxidants (notably betacyanin). <br/><br/>

                </div>
                <div class="col-md-3 margin-top-10"  style="padding-right: 0px">
                    <img src="../../images/healthyTips/tips-17-1.jpg" style="height: 270px; width: 330px;"/><br/><br/><br/>
                </div>
                <div class="col-md-3 margin-top-10"  style="padding-right: 0px">
                    <img src="../../images/healthyTips/tips-17-2.jpg" style="height: 270px;"/><br/><br/><br/>
                </div>
            </div>
                                   
                <div class="project-media text-justify margin-top-5 col-md-12">    
                    

                    Beetroot juice contains antioxidants, including betacyanin, which scavenge free radicals. In addition, beetroot contains high levels of nitrates and folic acid. Also it decrease fatigue and increase physical performance. <br/><br/>

                    Proper cardiovascular functioning requires nitrite and nitric oxide, byproducts of the nitrates in our diet. Nitric oxide has long been recognized as a potent vasodilator, and recent studies have confirmed that this effect can lower blood pressure in individuals without hypertension. Nitrate ingestion may lower the oxygen cost of physical activity by increasing metabolic efficiency of the cell, thus reducing energy waste and demand on the cardio respiratory system.<br/><br/>
                    
                    Consumption of BRJ significantly reduced resting systolic blood pressure and increased plasma nitrate and nitrite in both of the dosing schemes (JACC Heart Fail, 2016).People with heart failure who intake beet juice after working out observe a marked improvement in force and velocity (American Heart Association, 2015). 60ml of the juice per day was linked to a 7 per cent drop in blood pressure for three hours afterwards. It’s thought to help reduce arterial stiffness (American Journal of Clinical Nutrition). One daily 250ml glass of beetroot juice was shown to lower systolic blood pressure by eight points and diastolic by four points in four weeks (Queen Mary University of London). <br/><br/>         
                </div>
               
                <!-- End Single Project Slider -->
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>