

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <a href="#healthy-tips?id=3" class="back-button pull-right">Back to healthy tips list</a>
        <h4 class="classic-title"><span>GLOBAL REPORT ON DIABETES</span></h4>
        <div class="project-page row">

            <!-- Start Single Project Slider -->
            <div class="project-media col-md-12">
                <div class="text-justify margin-top-5">
                    Diabetes is a chronic condition in which sugars build up in the blood beyond a normal level.<br/><br/>
                    Healthy body uses the hormone insulin to move sugars (“glucose”) into the cells. In diabetes body either cannot produce enough insulin or is resistant to its own insulin, so excess sugars can’t move into the cells and, instead, stay in the blood.  When glucose in the bloodstream can’t enter into cells, it leads to health problems.<br/><br/>
                    There are 2 main forms of the disease.<br/><br/>
                    Type 1 diabetes is characterized by a lack of insulin production and cannot be prevented.<br/><br/>
                    Type 2 diabetes results from the body's ineffective use of insulin and can be prevented – just 30 minutes of moderate-intensity physical activity on most days and a healthy diet can drastically reduce the risk of developing type 2 diabetes.<br/><br/>
                    One-in-11 people today have diabetes, World Health Organization (WHO) says.<br/><br/>
                    Diabetic cases had nearly quadrupled to 422 million (or 8.5% of the population) in 2014 from 108 million (4.7%) in 1980. High blood sugar levels are a major killer - linked to 3.7 million deaths around the world each year. WHO projects that diabetes will be the 7th leading cause of death in 2030 (Mathers & Loncar, 2006).<br/>
                    <ul class="margin-top-10">
                        <li>In 2014, more than 1 in 3 adults aged over 18 years were overweight and more than one in 10 were obese.</li>
                        <li>422 million adults were living with diabetes in 2014 - that's 314 million more than there were in 1980.</li>
                        <li><strong>8.5%</strong> of adults worldwide has diabetes.</li>
                        <li><strong>1.5 million</strong> people died as a result of diabetes in 2012. Higher-than-optimal blood glucose caused an additional 2.2 million deaths by increasing the risks of cardiovascular and other diseases (WHO, 2016).</li>
                        <li><strong>2.2 million</strong> additional deaths were caused by higher-than-optimal blood glucose.</li>
                        <li><strong>43%</strong> of these 3.7m people died before they were 70 years old.</li>
                        <br/>
                        <h6>Source: WHO</h6>
                    </ul>
                    The report lumps both type 1 and type 2 diabetes together, but the surge in cases is predominantly down to type 2 - the form closely linked to poor lifestyle.<br/><br/>
                    As the world's waistlines have ballooned - with one-in-three people now overweight, so too has the number of diabetes cases.<br/><br/>
                    Failing to control levels of sugar in the blood has devastating health consequences. Diabetes complications can lead to heart attack, stroke, blindness, kidney failure and lower limb amputation.<br/><br/>
                    It triples the risk of a heart attack and leaves people 20 times more likely to have a leg amputated, as well as increasing the risk of stroke, kidney failure, blindness and complications in pregnancy.<br/><br/>
                    Diabetes itself is the eighth biggest killer in the world, accounting for 1.5 million deaths each year. But a further 2.2 million deaths are linked to high blood sugar levels.<br/><br/>
                    In 1980s the highest rates were found in affluent countries. But now low and middle income countries bearing the largest burden.<br/><br/>
                    <div class="text-center margin-bottom-15">
                        <img src="../../images/healthyTips/tips-3-1.jpg"/>
                        <h6>Source: WHO</h6>
                    </div>
                    The Middle East has seen the prevalence of diabetes soar from 5.9% of adults in 1980 to 13.7% in 2014. Greatest rise in diabetes, moving from 6 million to 43 million - it is a huge, huge increase.<br/><br/>
                    Middle East has highest rates of diabetes in the world, due to the increase in type 2 diabetes.<br/><br/>
                    "In Qatar and Kuwait have more than 20% of the population with diabetes and people beyond 45 or 60 years old it is 30-40% (WHO, 2014). Diet and inactivity were a major problem.<br/><br/>
                    More than three quarters of teenagers in the middle east are doing less than the recommended level of exercise. Numbers of diabetes cases increases unless "drastic action" was taken.<br/><br/>
                    <div class="text-center margin-bottom-15">
                        <img src="../../images/healthyTips/tips-3-2.jpg"/>
                        <h6>Source: American Diabetes Association.
 In 2012, 29.1 million Americans, or 9.3% of the population, had diabetes.
</h6>
                    </div><br/>
                    <div class="text-center text-bold text-italic">
                        Eat healthily, be physically active, and avoid excessive weight gain.
                    </div><br/>
                    <b><i>References:</i></b><br/>
                        <ul class="margin-top-10">
                            <li>
                                Global report on diabetes. World Health Organization, Geneva, 2016.
                            </li>
                            <li>
                                Mathers CD, Loncar D.2006. Projections of global mortality and burden of disease from 2002 to 2030. PLoS Med, 2006, 3(11):e442.
                            </li>
                            <li>
                                World Health Organisation – Non communicable disease (NCD) country profile, 2014.
                            </li>
                            <li>
                                http://apps.who.int/iris/bitstream/10665/128038/1/9789241507509_eng.pdf.
                            </li>
                        </ul>
                        <br/>
                           <b><i>Related Links:</i></b><br/>
                        <ul class="margin-top-10">
                            <li>
                                <a href="http://www.who.int/mediacentre/news/releases/2016/world-health-day/en/" target="_blank">http://www.who.int/mediacentre/news/releases/2016/world-health-day/en/</a>
                            </li>
                            <li>
                                <a href="http://www.diabetes.org/diabetes-basics/statistics/" target="_blank">http://www.diabetes.org/diabetes-basics/statistics/</a>
                            </li>    
                        </ul>
                </div>
            </div>
            <!-- End Single Project Slider -->
        </div>
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>