

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <a href="#healthy-tips?id=2" class="back-button pull-right">Back to healthy tips list</a>
        <h4 class="classic-title"><span>PREVALENCE OF DIABETES IN UNITED STATES</span></h4>
        <div class="project-page row">

            <!-- Start Single Project Slider -->
            <div class="project-media col-md-12">
                <div class="text-justify margin-top-5">
                    Diabetes is a group of diseases characterized by high blood sugar. When a person has diabetes, the body either does not make enough insulin or is unable to use its own insulin well. If blood sugar builds up in the body and its levels are not controlled, it can lead to serious health complications, such as heart disease, stroke, kidney disease, blindness, amputations of the legs and feet, and early death.<br/><br/>
                    Prediabetes: People with prediabetes have blood sugar levels that are higher than normal, but not high enough to be considered diabetes. Prediabetes can put people at increased risk of developing type 2 diabetes, heart disease, and stroke.<br/><br/>
                    <strong>More than 29 million Americans have diabetes; 1 in 4 doesn’t know.</strong><br/><br/>
                    National Diabetes Statistics Report, 2014 (based on health data from 2012), include:<br/>
                    <ul class="margin-top-10">
                        <li>29 million people in the United States (9.3 percent) have diabetes.</li>
                        <li>1.7 million people aged 20 years or older were newly diagnosed with diabetes in 2012.</li>
                        <li>208,000 people younger than 20 years have been diagnosed with diabetes (type 1 or type 2).</li>
                        <li>86 million adults aged 20 years and older have pre diabetes that’s 1 out of 3 adults!  9 out of 10 of them don’t even know they have it.</li>
                        <li>Without intervention, 15% to 30% of people with prediabetes will develop type 2 diabetes within 5 years.</li>
                        <li>Diagnosed: 21.0 million people.</li>
                        <li>Undiagnosed: 8.1 million people ( 27.8% of people with diabetes are undiagnosed).</li>
                    </ul>
                    Even more alarming, it’s now beginning to show up in teenagers and children. More than 24 million Americans have diabetes; of those, about 6 million don’t know they have the disease. If the spread of type 2 diabetes continues at its present rate, the number of people diagnosed with diabetes in the United States will increase from about 16 million in 2005 to 48 million in 2050. Worldwide, the number of adults with diabetes will rise from 285 million in 2010 to 439 million in the year 2030.<br/><br/>
                    Diabetes Mellitus affects an estimated 23.6 million people in the United States and is the 7th leading cause of death. Diabetes<br/>
                    <ul class="margin-top-10">
                        <li>Lowers life expectancy by up to 15 years.</li>
                        <li>Increases the risk of heart disease by 2 to 4 times.</li>
                        <li>Is the leading cause of kidney failure, lower limb amputations, and adult-onset blindness.</li>
                    </ul>
                    Due to the steady rise in the number of persons with Diabetes mellitus, and possibly earlier onset of type 2 DM, there is growing concern about diabetes.<br/><br/>
                    Long – term complication of diabetes include heart disease and renal, nerve, and retinal damage.<br/><br/>
                    Diagnosed and undiagnosed diabetes prevalence among adults aged 20 and over, by age: United states 1988 – 1994 and 2009 – 2012.<br/><br/>
                    <div class="text-center margin-bottom-15">
                        <img src="../../images/healthyTips/tips-2-1.jpg"/>
                        <h6>Source: CDC/NCHS, Health, United states, 2014</h6>
                    </div>
                    Diabetes significantly increases the risk of heart disease. And it’s the seventh leading cause of death in the U.S., directly causing almost 70,000 deaths each year and contributing to thousands more. The prevalence of diabetes increases with age. In 2009– 2012, 3.7% of adults aged 20–44, 16.2% of adults aged 45–64, and 26.8% of adults aged 65 and over had diabetes.<br/><br/>
                    Prevalence of diabetes mellitus in Asian Indians is much higher than in whites, blacks, and Hispanics living in the United States. Nearly 30 Million Americans are living with diabetes 90 – 95% have type 2 diabetes.<br/><br/>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="4" class="text-bold text-italic">Health, United States, 2014: At Glance</td>
                            </tr>
                            <tr>
                                <td class="text-bold text-italic">Death per 100,000 population, age – adjusted</td>
                                <td colspan="3" class="text-bold text-italic">Value ( Year)</td>
                            </tr>
                            <tr>
                                <td>Diabetes</td>
                                <td>25.0<br/>(2000)</td>
                                <td>21.2<br/>(2012)</td>
                                <td>21.2<br/>(2013)</td>
                            </tr>
                            <tr>
                                <td class="text-bold text-italic">Diabetes, Morbidity and Risk Factors </td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>20 years and over</td>
                                <td>9.8<br/>(1999 –2002)</td>
                                <td>10.9<br/>(2003– 2006)</td>
                                <td>12.3<br/>(2009 -2012)</td>
                            </tr>
                        </table>
                        <h6>Source: Health, United States, 2014</h6>
                    </div>
                    <div class="col-md-12 no-padding margin-top-10">
                        In 2009 – 2012, about 2 in 10 (18.9%) of those aged 55 – 64 had diabetes.<br/><br/>
                        The high prevalence of diabetes in Asian Indians may be due to innate susceptibilities for β-cell dysfunction in this high risk population.<br/><br/>
                        Number of US Adults aged 18 or older with Diagnosed Diabetes, 1980 - 2012<br/><br/>
                        <div class="text-center margin-bottom-15">
                            <img src="../../images/healthyTips/tips-2-2.jpg"/>
                            <h6>Source: National Diabetes Surveillance System, National Health Interview Survey data</h6>
                        </div>
                        Over the past 32 years, from 1980 through 2012, the number of adults with diagnosed diabetes in the united states nearly quadrupled, from 5.5 million to 213 million. Among adults, about 1.7 million new cases of diabetes are diagnosed each year. If this trend continues, as many as 1 out of every 3 adults in the united states could have diabetes by 2050.<br/><br/>
                        Trends in rates of diabetes complications among US adults with Diagnosed Diabetes 1990 – 2010.<br/><br/>
                        <div class="text-center margin-bottom-15">
                            <img src="../../images/healthyTips/tips-2-3.jpg"/>
                            <h6>Adapted from: Gregg EW,Li Y,Wang J,et al. Changes in diabetes-related complications in the United States, 1990-2010</h6>
                        </div>
                        Emerging Issues in Diabetes<br/><br/>
                        Evidence is emerging that diabetes is associated with additional comorbidities including:<br/>
                        <ul class="margin-top-10">
                            <li>Cognitive impairment</li>
                            <li>Incontinence</li>
                            <li>Fracture risk</li>
                            <li>Cancer risk and prognosis</li>
                        </ul>
                        The good news is that type 2 diabetes is largely preventable. About 9 cases in 10 could be avoided by taking several simple steps: keeping weight under control, exercising more, eating a healthy diet, and not smoking. In addition to the millions of adults with diabetes, another 57 million adults have “pre-diabetes".<br/><br/>
                        <div class="text-center">
                            <img src="../../images/healthyTips/tips-2-4.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Project Slider -->
        </div>
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>