
<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="page-content">

            <div class="row">

                <div class="col-md-8">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Our Features</span></h4>

                    <div class="row">

                        <!-- Start Service Icon 1 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-magic icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Photoshop</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 1 -->

                        <!-- Start Service Icon 2 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-users icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Web Marketing</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 2 -->

                        <!-- Start Service Icon 3 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-globe icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Web Hosting</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 3 -->

                        <!-- Start Service Icon 4 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-picture-o icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Phtography</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 4 -->

                        <!-- Start Service Icon 5 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-leaf icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Product Design</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 5 -->

                        <!-- Start Service Icon 6 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-umbrella icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4>Supporting</h4>
                                <p>It is a long <strong class="accent-color">established</strong> fact that a reader will be distracted by the readable content of a page.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 6 -->

                    </div>
                </div>

                <div class="col-md-4">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>We are Awesome</span></h4>

                    <!-- Accordion -->
                    <div class="panel-group" id="accordion">

                        <!-- Start Accordion 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-desktop"></i> Fully Responsive Theme
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-one" class="panel-collapse collapse in">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore fugiat nulla pariatur.</div>
                            </div>
                        </div>
                        <!-- End Accordion 1 -->

                        <!-- Start Accordion 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-gift"></i> Touchable Slider
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-tow" class="panel-collapse collapse">
                                <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
                            </div>
                        </div>
                        <!-- End Accordion 2 -->

                        <!-- Start Accordion 3 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-tint"></i> Retina Ready
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-three" class="panel-collapse collapse">
                                <div class="panel-body"><strong>Duis</strong> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
                            </div>
                        </div>
                        <!-- End Accordion 3 -->

                    </div>
                    <!-- End Accordion -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->