
<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div id="w" class="clearfix">
        <div class="page-content">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                <!-- Classic Heading -->
                <h4 class="classic-title"><span>How it works</span></h4>

                <div class="row">
                    <!-- Start Service Icon 1 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-sign-in icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">1. Become a Member - It's Free</h4>
                            <p>
                                Join today and start enjoying our valuable features and get exclusive 
                                access to our food and exercise diary.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Icon 1 -->

                    <!-- Start Service Icon 2 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-pencil icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">2. Update Your Profile</h4>
                            <p>
                                Updating your profile and demography details to become more
                                comfortable with the system.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Icon 2 -->

                </div>

                <div class="row">
                    <!-- Start Service Icon 3 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-refresh icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">3. Daily Updates</h4>
                            <p>Keep updated your daily Food Intakes and Workouts.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 3 -->

                    <!-- Start Service Icon 4 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-bullseye icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">4. Set up your Goal</h4>
                            <p>Create your own individual goals and monitor your daily progress.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 4 -->
                </div>

                <div class="row">

                    <!-- Start Service Icon 5 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-user-plus icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">5. Subscribe Coach</h4>
                            <p>Subscribe our health experts and get advices to achieve your goals.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 5 -->

                    <!-- Start Service Icon 6 -->
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-book icon-medium"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="text-orange text-bold">6. Courses</h4>
                            <p>Search and enroll courses to know more about healthy life.</p>
                        </div>
                    </div>
                    <!-- End Service Icon 6 -->
                    <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                        <br/><br/>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Upcoming Features</span></h4>

                <!-- Accordion -->
                <div class="panel-group" id="accordion">

                    <!-- Start Accordion 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one" onclick="return false;">
                                    <i class="fa fa-angle-up control-icon"></i>
                                    <i class="fa fa-mobile"></i> Mobile Apps
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-one" class="panel-collapse collapse in">
                            <div class="panel-body">Cyberhealths Mobile App is all set to smack your hand phones shortly. 
                                It is accessible on all leading mobile platforms such as iOS, 
                                Android and Windows. Make the best use of this opportunity.
                            </div>
                        </div>
                    </div>
                    <!-- End Accordion 1 -->

                    <!-- Start Accordion 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed" onclick="return false;">
                                    <i class="fa fa-angle-up control-icon"></i>
                                    <i class="fa fa-comments"></i> Chat and Messaging
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-tow" class="panel-collapse collapse">
                            <div class="panel-body">
                                Get ready to catch up with your friends and coaches with the chat 
                                & messaging feature. We'll do all we can, to make your experience 
                                the best.
                            </div>
                        </div>
                    </div>
                    <!-- End Accordion 2 -->

                    <!-- Start Accordion 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed" onclick="return false;">
                                    <i class="fa fa-angle-up control-icon"></i>
                                    <i class="fa fa-tint"></i> Wearable Device
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-three" class="panel-collapse collapse">
                            <div class="panel-body">
                                In the world of new innovation & technology, fitness tracking wearable
                                devices is soon to be launched for your ease.
                            </div>
                        </div>
                    </div>
                    <!-- End Accordion 3 -->

                </div>
                <!-- End Accordion -->

            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>