
<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-8">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>How it works</span></h4>

                    <div class="row">

                        <!-- Start Service Icon 1 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-sign-in icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">1. Become a Member</h4>
                                <p>Join today and start enjoying our valuable features and get exclusive access to our food and exercise diary.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 1 -->

                        <!-- Start Service Icon 2 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-pencil icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">2. Profile Update</h4>
                                <p>Updating your profile and demography details make you become more comfortable.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 2 -->

                        <!-- Start Service Icon 3 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-refresh icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">3. Daily Updates</h4>
                                <p>Keep Update your daily Food Intakes and Energy Spent.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 3 -->

                        <!-- Start Service Icon 4 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-bullseye icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">4. Set up your Goal</h4>
                                <p>Set up your individual weight loss or weight gain goals and track your daily progress.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 4 -->

                        <!-- Start Service Icon 5 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-user-plus icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">5. Subscribe Coach</h4>
                                <p>Subscribe our talented coaches and get advices to achieve your goals.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 5 -->

                        <!-- Start Service Icon 6 -->
                        <div class="col-md-6 service-box service-icon-left-more">
                            <div class="service-icon">
                                <i class="fa fa-book icon-medium"></i>
                            </div>
                            <div class="service-content">
                                <h4 class="text-orange text-bold">6. Courses</h4>
                                <p>Search and enroll a course to know more about healthy life.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 6 -->

                    </div>
                </div>

                <div class="col-md-4">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Upcoming Features</span></h4>

                    <!-- Accordion -->
                    <div class="panel-group" id="accordion">

                        <!-- Start Accordion 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-mobile"></i> Mobile Apps
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-one" class="panel-collapse collapse in">
                                <div class="panel-body">Yes, We also focusing on providing our features in all mobile platforms iOS, Android, Windows to make you more comfortable.</div>
                            </div>
                        </div>
                        <!-- End Accordion 1 -->

                        <!-- Start Accordion 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-comments"></i> Chat and Messaging
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-tow" class="panel-collapse collapse">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                        <!-- End Accordion 2 -->

                        <!-- Start Accordion 3 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed" onclick="return false;">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-tint"></i> Retina Ready
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-three" class="panel-collapse collapse">
                                <div class="panel-body"><strong>Duis</strong> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
                            </div>
                        </div>
                        <!-- End Accordion 3 -->

                    </div>
                    <!-- End Accordion -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>