<!-- login or register popup-->
<div id="modal1" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="user_login1">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fa fa-facebook"></i></span>
                    <span class="icon_title">Login with Facebook</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or</span>
            </div>

            <form>
                <p>Email</p>
                <input type="text" />

                <p>Password</p>
                <input type="password" />
            </form>

            <a href="#" id="forgot_password1" class="forgot_password text-center">Forgot password?</a>

            <div class="action_btns">
                <div><a href="register_details.html" class="btn btn_red">Login</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="reset_password1">
            <form name="forgotPasswordForm">
                <p>Email</p>
                <input type="email" name="emailid" required email ng-model="emailid"/>
                <span ng-show="forgotPasswordForm.emailid.$dirty&&forgotPasswordForm.emailid.$invalid">
                <span class="error-message" ng-show="forgotPasswordForm.emailid.$error.required"><span>Required.</span></span>
                <span class="error-message" ng-show="forgotPasswordForm.emailid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID.</span></span>
                </span>
                <div class="action_btns margin-top-20">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a id="check_secret" class="btn btn_red"  ng-class="{'button-disable':loginForm.$invalid}" ng-click="doLogin()">Submit</a></div>
                </div>
            </form>

        </div>

        <!-- Answer for Secret Question -->
        <div class="secret_question">
            <form name="js">
                <p>Secret Question :</p>
                <p class="text-bold">fsdf</p>

                <p>Secret Answer</p>
                <input type="password"/>

                <div class="action_btns margin-top-20">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="" class="btn btn_red">Submit</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Start Purchase Section -->
<div class="section purchase">
    <div class="container">

        <!-- Start Video Section Content -->
        <div class="section-video-content text-center">

            <!-- Start Animations Text -->
            <!--<h1 class="fittext wite-text uppercase tlt">
                      <span class="texts">
                        <span>Modern</span>
                        <span>Clean</span>
                        <span>Awesome</span>
                        <span>Cool</span>
                        <span>Great</span>
                      </span>
                Margo is Ready for <br/>Business, Agency <strong>or</strong> Creative Portfolios
            </h1>-->
            <h1 class="fittext wite-text uppercase">
                Modern way of Digital Weight <br/>Loss Solution for this modern world
            </h1>

            <!-- End Animations Text -->


            <!-- Start Buttons -->
            <!--<a id="modal_trigger1" href="#modal1" class="btn-system btn-large"><i class="fa fa-sign-in"></i> Sign In</a>
            <a href="#" class="btn-system btn-large btn-wite"><i class="fa fa-download"></i> Get Our Mobile App</a>-->
            <a href="#" class="btn-system btn-large"><i class="fa fa-download"></i> Get Our Mobile App</a>

        </div>
        <!-- End Section Content -->

    </div><!-- .container -->
</div>
<!-- End Purchase Section -->

<!-- Start Services Section -->
<div class="section service">
    <div class="container">
        <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                <h1>This is Our Latest <strong>Work</strong></h1>
            </div>
            <hr/>
            <!-- End Big Heading -->

            <div class="row">
                <!-- Start Service Icon 2 -->
                <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
                    <div class="row">
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-right">HUGE FOOD CATALOGUE</h4>
                            <p class="text-right">We have more than 2,35,000 different<br/>styles of healthy food details</p>
                        </div>
                        <div class="service-icon col-md-4">
                            <i class="fa fa-cutlery icon-large"></i>
                        </div>
                    </div>
                    <div class="row margin-right-20">
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-right">LARGE EXERCISE DATABASE</h4>
                            <p class="text-right">We covering more than 1,63,000 type <br/>of exercise with latest trend </p>
                        </div>
                        <div class="service-icon col-md-4">
                            <i class="fa fa-bicycle icon-large"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-right">DAILY TIPS</h4>
                            <p class="text-right">Daily tips for the users to keep <br/>our users too healthy</p>
                        </div>
                        <div class="service-icon col-md-4">
                            <i class="fa fa-lightbulb-o icon-large"></i>
                        </div>
                    </div>
                </div>
                <!-- End Service Icon 2 -->

                <!-- Start Service Icon 3 -->
                <div class="col-md-4 col-sm-6 service-box service-center margin-top-50" data-animation="fadeIn" data-animation-delay="03">
                    <img src="images/fit-5.jpg">
                </div>
                <!-- End Service Icon 3 -->

                <!-- Start Service Icon 4 -->
                <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
                    <div class="row">
                        <div class="service-icon col-md-4">
                            <i class="fa fa-male icon-large"></i>
                        </div>
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-left">COACH TIPS</h4>
                            <p class="text-left">Any Users can become a coach or <br/> can ask the tips form coach</p>
                        </div>
                    </div>
                    <div class="row margin-left-20">
                        <div class="service-icon col-md-4">
                            <i class="fa fa-thumb-tack icon-large"></i>
                        </div>
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-left">SET GOAL FACILITY</h4>
                            <p class="text-left">Users can set the goal to make the <br/>body fitness faster</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-icon col-md-4">
                            <i class="fa fa-cogs icon-large"></i>
                        </div>
                        <div class="service-content col-md-8"><br/>
                            <h4 class="text-left">VALUE ADDED SERVICES</h4>
                            <p class="text-left">We provide useful courses to user and <br/>  Blog, News for more additional values</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Icon 4 -->
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- End Services Section -->

<div id="parallax-one" class="parallax">
    <div class="parallax-text-container-1">
        <div class="parallax-text-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-male"></i>
                            <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>
                            <h5>Healthy users</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-fire"></i>
                            <div class="timer" id="item1" data-to="93591" data-speed="5000"></div>
                            <h5>Kg Weight Lost</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-cutlery"></i>
                            <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                            <h5>Healthy Tips</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-trophy"></i>
                            <div class="timer" id="item3" data-to="6745" data-speed="5000"></div>
                            <h5>Goal Achiever</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Testimonials Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Start Recent Posts Carousel -->
                <div class="latest-posts">
                    <h4 class="classic-title"><span>Our Features</span></h4>
                    <div class="latest-posts-classic projects-carousel touch-carousel" data-appeared-items="2">

                        <!-- Start Profile -->
                        <div class="post-row item profile">
                            <div class="image-wrap"><img src="images/feature-1.jpg"> </div>

                            <h3 class="profile-name">Atlas Wristband</h3>
                            <p class="profile-description">
                                The Atlas Wristband is a fitness
                                tracker that identifies your exercises,
                                counts your reps, calculates your calories
                                burned your form.
                            </p>
                        </div>
                        <!-- End Profile -->

                        <!-- Start Profile -->
                        <div class="post-row item profile">
                            <div class="image-wrap"><img src="images/feature-2.jpg"> </div>

                            <h3 class="profile-name">Netatmo JUNE</h3>
                            <p class="profile-description">
                                The fashionable Netatmo JUNE measures
                                your daily sun exposure rates
                                and will advise you to wear
                                a hat in real time.
                            </p>
                        </div>
                        <!-- End Profile -->

                        <!-- Start Profile -->
                        <div class="post-row item profile">
                            <div class="image-wrap"><img src="images/feature-3.jpg"> </div>

                            <h3 class="profile-name">Spree Headband</h3>
                            <p class="profile-description">
                                Spree is currently the only
                                consumer fitness tracker that
                                can tell you in detail the
                                temperature your body is operating at.
                            </p>
                        </div>
                        <!-- End Profile -->

                        <!-- Start Profile -->
                        <div class="post-row item profile">
                            <div class="image-wrap"><img src="images/feature-4.jpg"> </div>

                            <h3 class="profile-name">Smart Earbuds</h3>
                            <p class="profile-description">
                                Intel has created earbuds
                                that have sensors inside the
                                earpiece which can measure
                                your heart rate.
                            </p>
                        </div>
                        <!-- End Profile -->

                        <!-- Start Profile -->
                        <div class="post-row item profile">
                            <div class="image-wrap"><img src="images/feature-5.jpg"> </div>

                            <h3 class="profile-name">Lifeband Touch</h3>
                            <p class="profile-description">
                                The Lifeband Touch features a
                                bright OLED screen that is
                                visible even when you’re
                                outdoors, and it’s touch
                                sensitive for easier navigation.
                            </p>
                        </div>
                        <!-- End Profile -->

                    </div>
                </div>
                <!-- End Recent Posts Carousel -->

            </div>

            <div class="col-md-4">
                <div class="panel no-margin no-box-shadow">
                    <div class="panel-body">
                        <a onclick="return false;" href="#" class="prev vertical-carousel-control pull-right margin-left-5"><span class="fa fa-angle-down"></span></a>
                        <a onclick="return false;"  href="#" class="next vertical-carousel-control pull-right"><span class="fa fa-angle-up"></span></a>
                        <h4 class="classic-title"><span>Others Says</span></h4>
                        <ul class="vertical-items">
                            <li class="news-item" ng-repeat="usertestimonial in usertestimoniallist">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" ng-src="{{usertestimonial.imageurl | trusted}}">

                                    </div>
                                    <div class="testimonials-carousel-content">

                                        <a href="#testimonials/{{usertestimonial.testimonialid}}" ng-click="">{{usertestimonial.title}}</a>
                                        <p ng-bind-html="usertestimonial.description | html"></p>
                                        <div><strong>-{{usertestimonial.givenby}},</strong></div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->



<!-- Start Pricing Table Section -->
<div class="pricing-section pricing-height">
    <div class="container section">
        <div class="row">
            <div class="col-md-12">
                <!-- Start Big Heading -->
                <div class="big-title text-center">
                    <h1>We Have Nice Pricing Plans For <strong>You!</strong></h1>
                </div>
                <!-- End Big Heading -->

                <!-- Text -->
                <p class="text-center">Sed ut perstem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>

        <div class="row">
            <div class="pricing-tables">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Basic</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>4</strong> Courses</li>
                                <li><strong>2</strong> Daily tips</li>
                                <li><strong>1</strong> Coach</li>
                                <li><strong>3</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table highlight-plan">
                        <div class="plan-name">
                            <h3>Advanced</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$99<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>8</strong> Courses</li>
                                <li><strong>4</strong> Daily tips</li>
                                <li><strong>3</strong> Coach</li>
                                <li><strong>6</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Professional</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$199<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>12</strong> Courses</li>
                                <li><strong>4</strong> Daily tips</li>
                                <li><strong>5</strong> Coach</li>
                                <li><strong>8</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Extreme</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$299<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>16</strong> Courses</li>
                                <li><strong>8</strong> Daily tips</li>
                                <li><strong>5</strong> Coach</li>
                                <li><strong>12</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Pricing Table Section -->


<!-- Start Testimonials Section -->
<div class="service1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Start Recent Posts Carousel -->
                <div class="latest-posts" >
                    <h4 class="classic-title"><span>Latest News</span></h4>
                    <div class="latest-posts-classic custom-carousel touch-carousel"  data-appeared-items="3" data-navigation="true" >
                    <!-- Posts 1 -->
                        <div class="post-row item" ng-repeat="usernews in usernewslist" ng-show="usernewslist.length!=0">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">{{ usernews.datetime | toSec | date:'dd'}}</span><span class="month">{{ usernews.datetime | toSec | date:'MMM'}}</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#news/{{usernews.newsid}}">{{usernews.title}}</a></h3>
                             <div class="post-content">
                            <p ng-bind-html="usernews.description | html"> <a class="read-more" href="#">Read More...</a></p>
                             </div>
                        </div>
                        <div class="post-row item" ng-show="usernewslist.length==0">News is not published!!!</div>

                </div>
                <!-- End Recent Posts Carousel -->
                <hr>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- End Testimonials Section -->


<!-- Start Client/Partner Section -->
<div class="partner service">
    <div class="container">
        <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
                <h1>Our valuable <strong>Products</strong></h1>
                <p class="title-desc">We Work With</p>
            </div>
            <!-- End Big Heading -->

            <!--Start Clients Carousel-->
            <div class="our-clients">
                <div class="clients-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">

                    <!-- Client 1 -->
                    <div class="client-item item margin-top-10">
                        <a href="#"><img src="images/logo_ehr.png" alt="" /></a>
                    </div>

                    <!-- Client 2 -->
                    <div class="client-item item">
                        <a href="#"><img src="images/logo_learnguild.png" alt="" /></a>
                    </div>

                    <!-- Client 3 -->
                    <div class="client-item item">
                        <a href="#"><img src="images/logo_american.jpg" alt="" /></a>
                    </div>

                    <!-- Client 4 -->
                    <div class="client-item item">
                        <a href="#"><img src="images/logo_deemgps.png" alt="" /></a>
                    </div>

                    <!-- Client 5 -->
                    <div class="client-item item">
                        <a href="#"><img src="images/logo_learnt.png" alt="" /></a>
                    </div>

                    <!-- Client 6 -->
                    <div class="client-item item margin-top-10">
                        <a href="#"><img src="images/logo_medic.png" alt="" /></a>
                    </div>

                    <!-- Client 7 -->
                    <div class="client-item item margin-top-10">
                        <a href="#"><img src="images/logo_csr.png" alt="" /></a>
                    </div>

                </div>
            </div>
            <!-- End Clients Carousel -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- End Client/Partner Section -->

<script type="text/javascript" src="js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger1").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        // Calling Login Form
        $("#forgot_password1").click(function(){
            $(".user_login1").hide();
            $(".reset_password1").show();
            $(".header_title").text('Reset Password');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function(){
            $(".reset_password1").hide();
            $(".user_login1").show();
            $(".header_title").text('Login');
            return false;
        });
    })
</script>

<script type="text/javascript">
    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage: 3,
            autoplay: true,
            pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });
</script>