
<div id="parallax-one" class="parallax">
    <div class="parallax-text-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="fa fa-male"></i>
                        <h4 class="text-bold text-orange count-text">{{memberCount}}</h4>
                        <h5>Healthy users</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="fa fa-cutlery"></i>
                        <h4 class="text-bold text-orange count-text">{{foodCount}}</h4>
                        <h5>Foods</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">

                    <div class="counter-item">
                        <i class="fa fa-bicycle"></i>
                        <h4 class="text-bold text-orange count-text">{{exerciseCount}}</h4>
                        <h5>Exercises</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="fa fa-book"></i>
                        <h4 class="text-bold text-orange count-text">{{courseCount}}</h4>
                        <h5>Courses</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Testimonials Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7 col-lg-8">
                <!-- Start Recent Posts Carousel -->
                <!--<div class="latest-posts">
                    <h4 class="classic-title"><span>Our Features</span></h4>
                    <section>
                        <div class="latest-posts-classic projects-carousel touch-carousel">
                            &lt;!&ndash; Start Profile &ndash;&gt;
                            <div class="post-row item profile">
                                <div class="image-wrap"><img src="images/feature-1.jpg" width="100%" height="auto" ></div>

                                <h3 class="profile-name">Atlas Wristband</h3>
                                <p class="profile-description">
                                    The Atlas Wristband is a fitness
                                    tracker that identifies your exercises,
                                    counts your reps, calculates your calories
                                    burned your form.
                                </p>
                            </div>
                            &lt;!&ndash; End Profile &ndash;&gt;

                            &lt;!&ndash; Start Profile &ndash;&gt;
                            <div class="post-row item profile">
                                <div class="image-wrap"><img src="images/feature-2.jpg" width="100%" height="auto"> </div>

                                <h3 class="profile-name">Netatmo JUNE</h3>
                                <p class="profile-description">
                                    The fashionable Netatmo JUNE measures
                                    your daily sun exposure rates
                                    and will advise you to wear
                                    a hat in real time.
                                </p>
                            </div>
                            &lt;!&ndash; End Profile &ndash;&gt;

                            &lt;!&ndash; Start Profile &ndash;&gt;
                            <div class="post-row item profile">
                                <div class="image-wrap"><img src="images/feature-3.jpg" width="100%" height="auto"> </div>

                                <h3 class="profile-name">Spree Headband</h3>
                                <p class="profile-description">
                                    Spree is currently the only
                                    consumer fitness tracker that
                                    can tell you in detail the
                                    temperature your body is operating at.
                                </p>
                            </div>
                            &lt;!&ndash; End Profile &ndash;&gt;

                            &lt;!&ndash; Start Profile &ndash;&gt;
                            <div class="post-row item profile">
                                <div class="image-wrap"><img src="images/feature-4.jpg" width="100%" height="auto"> </div>

                                <h3 class="profile-name">Smart Earbuds</h3>
                                <p class="profile-description">
                                    Intel has created earbuds
                                    that have sensors inside the
                                    earpiece which can measure
                                    your heart rate.
                                </p>
                            </div>
                            &lt;!&ndash; End Profile &ndash;&gt;

                            &lt;!&ndash; Start Profile &ndash;&gt;
                            <div class="post-row item profile">
                                <div class="image-wrap"><img src="images/feature-5.jpg" width="100%" height="auto"> </div>

                                <h3 class="profile-name">Lifeband Touch</h3>
                                <p class="profile-description">
                                    The Lifeband Touch features a
                                    bright OLED screen that is
                                    visible even when you’re
                                    outdoors, and it’s touch
                                    sensitive for easier navigation.
                                </p>
                            </div>
                            &lt;!&ndash; End Profile &ndash;&gt;

                        </div>
                    </section>


                </div>-->
                <!-- End Recent Posts Carousel -->
                <div class="row">
                    <h4 class="classic-title"><span>Our Features</span></h4>
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                        sample Text sample Textsample Textsample Textsample Textsample Textsample
                        Textsample Textsample Textsample Textsample Textsample Text
                        sample Text sample Textsample Textsample Textsample Textsample Textsample
                        Textsample Textsample Textsample Textsample Textsample Text<br/><br/>
                        sample Text sample Textsample Textsample Textsample Textsample Textsample
                        Textsample Textsample Textsample Textsample Textsample Text
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 calculator-section margin-top-10">
                        <form name="calculateForm" ng-show="showForm" novalidate>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="text-muted margin-bottom-15 col-md-4">Calculate Your BMI</h3>
                                <div class="col-md-4 margin-top5 margin-bottom-15 unit">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default active unit-toggle-label"  ng-click="test()">
                                            <input type="radio" name="unit" ng-model="units"  id="option1" autocomplete="off"> Metric
                                        </label>
                                        <label class="btn btn-default unit-toggle-label"  ng-click="test()">
                                            <input type="radio" name="unit" ng-model="units"  id="option2" autocomplete="off"> &nbsp;&nbsp;&nbsp;US&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                                <h5 class="col-md-4 col-sm-4 col-xs-12 margin-top-10">Height <sup class="text-red">*</sup></h5>
                                <div ng-show="units==2">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input class="calculator-input" name="feet" ng-model="feet" maxlength="2" ng-required="units==2">
                                    <div class="text-count-position"><span class="text-unit">ft</span></div>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                        <span ng-show="calculateForm.feet.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input class="calculator-input" name="inches" ng-model="inches" maxlength="2" ng-required="units==2">
                                    <div class="text-count-position"><span class="text-unit">in</span></div>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                        <span ng-show="calculateForm.inches.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                                </div>
                                <div ng-show="units==1">
                                    <div class="col-md-8 col-sm-8">
                                        <input class="calculator-input" name="height" ng-model="height" maxlength="3" ng-required="units==1">
                                        <div class="text-count-position"><span class="text-unit lbs">cm</span></div>
                                        <div class="text-error-message">
                                        <span ng-show="bmiSubmitted">
                                           <span ng-show="calculateForm.height.$error.required"><span>Required.</span></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <h5 class="col-md-4 col-sm-4 margin-top-10">D O B<sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <!--input class="search-input picker-image-textbox" name="dob" picker ng-model="dob" placeholder="dd/mm/yyyy" class="fa fa-calendar" type="text" data-beatpicker-id="myDatePicker" data-beatpicker="true" data-beatpicker-position="['*','*']" data-beatpicker-format="['DD','MM','YYYY']" data-beatpicker-disable="{from:[2016,1,1],to:'>'}" data-beatpicker-module="gotoDate,today,clear" required-->
                                    <input name='dob' class="search-input" id="dobForBMI" ng-model="dob" required />
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                       <span ng-show="calculateForm.dob.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 no-padding margin-top-10">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Weight <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <input class="calculator-input" name="weight" ng-model="weight" maxlength="3" required>
                                    <div class="text-count-position"><span class="text-unit lbs"><span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span></span></div>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                       <span ng-show="calculateForm.weight.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Email ID <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <input type="email" class="search-input" name="email" ng-model="email" required validate-email/>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                       <span ng-show="calculateForm.email.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 no-padding margin-top-10">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Gender <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8 margin-top-5">
                                    <input type="radio" id="1" name="sex" value="1" ng-model="gender" required/>
                                    <label for="1">Male</label>
                                    <input type="radio" id="2" name="sex" value="2" ng-model="gender" required/>
                                    <label for="2">Female</label>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                        <span  ng-show="calculateForm.sex.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 margin-top-10 text-right">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <a href="" class="btn-dis main_button red_button" ng-click="bmiSubmitted=true; calculateEMI(calculateForm.$valid)">GET MY RESULT</a>
                            </div>
                        </div>

                        <!--<div class="col-md-12 no-padding margin-top-10 text-center">
                            <a href="" class="btn-dis forum_button red_button" ng-disabled="calculateForm.$invalid" ng-click="calculateEMI()">GET MY RESULT</a>
                        </div>-->
                        </form>
                        <div ng-hide="showForm">
                            <div class="col-md-12 col-sm-12">
                                <a href="" class="pull-right btn btn-xs btn-warning" ng-click="returnToCalculate()">Click to Re-check</a>
                                <h1 class="text-muted"><small>Your BMI is</small> <span class="bmi-color">{{emiValue}}</span></h1>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div id="myGoal"></div>
                                <div class="margin-top-15">
                                    <i><small>Losing weight will lower your BMI and can help reduce your risk of heart disease, stroke, some cancers, type 2 diabetes
                                        and other health conditions. Weight loss success can be yours when you stick to a healthy, lower-calorie meal plan.
                                    </small><a href="" id="loginNow">Login Now</a></i>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-5 col-lg-4">
                <div class="panel no-margin no-box-shadow">
                    <div class="panel-body no-padding">
                        <div ng-show="usertestimoniallist.length>3">
                            <a onclick="return false;" href="#" class="prev vertical-carousel-control pull-right margin-left-5"><span class="fa fa-angle-down"></span></a>
                            <a onclick="return false;"  href="#" class="next vertical-carousel-control pull-right"><span class="fa fa-angle-up"></span></a>
                        </div>
                        <h4 class="classic-title"><span>Others Says</span></h4>
                        <br/>
                        <ul class="vertical-items remove-style">
                            <li class="news-item" ng-repeat="usertestimonial in usertestimoniallist">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-circle" ng-src="{{usertestimonial.imageurl | trusted}}">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="views/home/#/testimonials/{{usertestimonial.testimonialid}}">{{usertestimonial.title}}</a>
                                        <div class="wrap wrap-all"><p ng-bind-html="usertestimonial.description | html"></p></div>
                                        <div><strong>-&nbsp;{{usertestimonial.givenby}}</strong></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<!-- Start Pricing Table Section -->
<div class="pricing-section">
    <div class="container section">
        <!--<div class="row">
            <div class="col-md-12">
                <div class="big-title text-center">
                    <h1>We Have Nice Pricing Plans For <strong>You!</strong></h1>
                </div>

                <p class="text-center">Sed ut perstem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>

        <div class="row">
            <div class="pricing-tables">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Basic</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>4</strong> Courses</li>
                                <li><strong>2</strong> Daily tips</li>
                                <li><strong>1</strong> Coach</li>
                                <li><strong>3</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table highlight-plan">
                        <div class="plan-name">
                            <h3>Advanced</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$99<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>8</strong> Courses</li>
                                <li><strong>4</strong> Daily tips</li>
                                <li><strong>3</strong> Coach</li>
                                <li><strong>6</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Professional</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$199<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>12</strong> Courses</li>
                                <li><strong>4</strong> Daily tips</li>
                                <li><strong>5</strong> Coach</li>
                                <li><strong>8</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Extreme</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$299<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>16</strong> Courses</li>
                                <li><strong>8</strong> Daily tips</li>
                                <li><strong>5</strong> Coach</li>
                                <li><strong>12</strong> Daily Exercise</li>
                                <li><strong>Free</strong> user updates</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->

        <div class="row pricing">
            <div class="col-md-12">
                <div class="counter-item">
                    <h5>Why CYBERHEALTHS?</h5>
                    <h6>
                        At least one out of three adults in the United States has higher than normal blood sugar, also known as pre-diabetes. Without prevention, pre-diabetes can transition to diabetes within 10 years. This problem is exploding in countries like India. We are planning to develop a hybrid model of in-person contact and online interactions for diabetes prevention. In-person contact will be limited to few sessions, such as the core curriculum and interaction with a diabetes educator are addressed through online delivery. Education and counseling will be offered through interactions via phone, email or video conference.
                        <br/><br/>
                        To foster community and social support, social media will be introduced. Participants will use electronic diaries and mobile apps to enter their food and exercise records, which can be monitored online through an administration interface. The health coach will be able to closely monitor participant progress and intervene in real time via text messages, email, phone, video conference of surface mail.
                    </h6>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Pricing Table Section -->

<!-- Start Testimonials Section -->
<div class="service1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Start Recent Posts Carousel -->
                <div class="latest-posts" >
                    <h4 class="classic-title"><span>Latest News</span></h4>
                    <div class="latest-posts-classic news-carousel touch-carousel"  data-appeared-items="3" data-navigation="true" >
                        <!-- Posts 1 -->
                        <div class="post-row item" ng-repeat="usernews in usernewslist" ng-show="usernewslist.length!=0">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">{{ usernews.datetime | toSec | date:'dd'}}</span><span class="month">{{ usernews.datetime | toSec | date:'MMM'}}</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a class="hiding" href="views/home/#/news/{{usernews.newsid}}">{{usernews.title}}</a></h3>
                            <span ng-show="usernews.isUpdated==1" class="text-red font-12"><i >Updated</i></span>
                            <div class="post-content">
                                <p ng-bind-html="usernews.description | html"> <a class="read-more" href="#">Read More...</a></p>
                            </div>
                        </div>
                        <div class="post-row item" ng-show="usernewslist.length==0">News is not published!!!</div>

                    </div>
                    <!-- End Recent Posts Carousel -->
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<!-- Start Client/Partner Section -->
<div class="partner service">
    <div class="container">
        <div class="row">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
                <h1>Our valuable <strong>Products</strong></h1>
                <p class="title-desc">We Work With</p>
            </div>
            <!-- End Big Heading -->

            <!--Start Clients Carousel-->
            <div class="our-clients">
                <div class="clients-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">

                    <!-- Client 1 -->
                    <div class="client-item item margin-top-10">
                        <a href="http://www.chirovirtualoffice.com" target="_blank"><img src="images/logo_ehr.png" alt="" width="240" height="25"/></a>
                    </div>

                    <!-- Client 2 -->
                    <div class="client-item item">
                        <a href="http://www.americannurses.com" target="_blank"><img src="images/logo_american.jpg" alt="" width="292" height="61" /></a>
                    </div>


                    <!-- Client 3 -->
                    <div class="client-item item">
                        <a href="http://www.deemgpstracker.com" target="_blank"><img src="images/logo_deemgps.png" alt="" width="127" height="40" /></a>
                    </div>

                    <!-- Client 4 -->
                    <div class="client-item item margin-top-10">
                        <a href="http://www.medsmonit.com" target="_blank"><img src="images/logo_medic.png" alt="" width="177" height="25"/></a>
                    </div>


                    <!-- Client 5 -->

                    <div class="client-item item margin-top-10">
                        <a href="http://www.testmytalent.in" target="_blank"><img src="images/logo_csr.png" alt="" width="159" height="30"/></a>
                    </div>


                    <!-- Client 6 -->
                    <div class="client-item item">
                        <a href="http://www.learnterest.com" target="_blank"><img src="images/logo_learnt.PNG" alt="" width="160" height="40"/></a>
                    </div>


                    <!-- Client 7 -->
                    <div class="client-item item">
                        <a href="http://www.learnguild.com/" target="_blank"><img src="images/logo_learnguild.png" alt="" width="146" height="30"/></a>
                    </div>

                </div>
            </div>
            <!-- End Clients Carousel -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- End Client/Partner Section -->
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.stepProgressBar.js"></script>
<script type="text/javascript" src="js/BeatPicker.js"></script>

<script>

    function callGraph(){
        $('#myGoal').stepProgressBar({
            currentValue: 0,
            steps: [
                {
                    topLabel: ' ',
                    value: 0
                },
                {
                    topLabel: ' ',
                    value: 9.25,
                    bottomLabel: '<span style="color: #00b8e6">UNDERWEIGHT</span>'
                },
                {
                    value: 18.5,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 21.75,
                    bottomLabel: '<span style="color: #66cc00">HEALTHY</span>'
                },
                {
                    value: 25,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 27.5,
                    bottomLabel: '<span style="color: #e4ac01">OVERWEIGHT</span>'
                },
                {
                    value: 30,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 35,
                    bottomLabel: '<span style="color: #ff5c33">OBESE</span>'
                },
                {
                    topLabel: ' ',
                    value: 40,
                    bottomLabel: ' '
                }
            ],
            unit: ' '
        });

        if(emi>0&&emi<18.5){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#00b8e6");
            $('.bmi-color').css("color","#00b8e6");
        }else if(emi>=18.5&&emi<25){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#66cc00");
            $('.bmi-color').css("color","#66cc00");
        }else if(emi>=25&&emi<30){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#e4ac01");
            $('.bmi-color').css("color","#e4ac01");
        }else{
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#ff5c33");
            $('.bmi-color').css("color","#ff5c33");
        }
        setTimeout(function(){
            refreshGraph()
        },200);
    };

    function refreshGraph(){
        $('#myGoal').stepProgressBar('setCurrentValue', emi);
    };

    $('#loginNow').click(function(){
        $('.modal_trigger').click();
    });

</script>

<script type="text/javascript">
/*
    myDatePicker.on("select", function (data) {
        var selectedDate = myDatePicker.getSelectedDate();
        document.getElementById("mypicker").value=selectedDate;

    }); */
    
    $(function() {
    $('#dobForBMI').datepicker({
                // Consistent format with the HTML5 picker
                    dateFormat : 'dd/mm/yy',
                    maxDate: new Date()
                },
                // Localization
                $.datepicker.regional['us']);
  });

    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,
            pauseOnHover:true,
            direction: 'up',
            heightOnPage:310,
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });

    function newscarousel(){
        setTimeout(function(){
            $('.news-carousel').each(function(){
                var owl = jQuery(this),
                        itemsNum = $(this).attr('data-appeared-items'),
                        sliderNavigation = $(this).attr('data-navigation');
                var returnSliderNavigation;
                var deskitemsNum;
                var desksmallitemsNum;
                var tabletitemsNum;

                if( sliderNavigation == 'false' || sliderNavigation == '0' ) {
                    returnSliderNavigation = false
                }else{
                    returnSliderNavigation = true
                }
                if( itemsNum == 1) {
                    deskitemsNum = 1;
                    desksmallitemsNum = 1;
                    tabletitemsNum = 1;
                }
                else if (itemsNum >= 2 && itemsNum < 4) {
                    deskitemsNum = itemsNum;
                    desksmallitemsNum = itemsNum - 1;
                    tabletitemsNum = itemsNum - 1;
                }
                else if (itemsNum >= 4 && itemsNum < 8) {
                    deskitemsNum = itemsNum -1;
                    desksmallitemsNum = itemsNum - 2;
                    tabletitemsNum = itemsNum - 3;
                }
                else {
                    deskitemsNum = itemsNum -3;
                    desksmallitemsNum = itemsNum - 6;
                    tabletitemsNum = itemsNum - 8;
                }
                owl.owlCarousel({
                    slideSpeed : 300,
                    stopOnHover: true,
                    autoPlay: true,
                    navigation : returnSliderNavigation,
                    pagination: false,
                    lazyLoad : true,
                    items : itemsNum,
                    itemsDesktop : [1000,deskitemsNum],
                    itemsDesktopSmall : [900,desksmallitemsNum],
                    itemsTablet: [768,2],
                    itemsMobile : [600,1],
                    transitionStyle : "goDown"
                });
            });
            var carousel=$('.touch-carousel');
            carousel.find('.owl-prev').html('<i class="fa fa-angle-left"></i>');
            carousel.find('.owl-next').html('<i class="fa fa-angle-right"></i>');
        },500);
    }
</script>