
<script type="text/javascript">
        $(function () {
            $("#dobForBMI").datepicker({ dateFormat: "mm/dd/yy",maxDate:new Date()}).val()
            $(function ()
            {
                $('#dobForBMI1').datetimepicker({format: 'DD/MM/YYYY', ignoreReadonly: true});
                $('#dobIcon1').click(function()
                {
                    $('#dobForBMI1').focus();
                });
            });
        });

    </script>



<!-- Start Testimonials Section -->
<div class="section service">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                <div class="row">
                    <a name="bmicalc">
                    <h5 class="classic-title"><span>Your BMI</span></h5></a>
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                        <div>
                            Body Mass Index, or BMI, is used to identify whether you are lying in a 
                            healthy weight range for your height. Knowing your BMI helps you to know 
                            whether you are underweight, healthy weight, overweight, or obese for your 
                            height range.<br/><br/>
                        </div>
                        <div>
                            Choose US or Metric measures and fill the form to know your BMI result.
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 calculator-section margin-top-10">
                        <form name="calculateForm" ng-show="showForm" novalidate>
                            <div class="col-md-12 col-sm-12">
                                <h3 class="text-muted margin-bottom-15 col-md-4">Calculate Your BMI</h3>
                                <div class="col-md-4 margin-top5 margin-bottom-15 unit">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default active unit-toggle-label"  ng-click="test('mUnit')">
                                            <input type="radio" name="unit" ng-model="units"  id="option1" autocomplete="off"> Metric
                                        </label>
                                        <label class="btn btn-default unit-toggle-label"  ng-click="test('uUnit')">
                                            <input type="radio" name="unit" ng-model="units"  id="option2" autocomplete="off"> &nbsp;&nbsp;&nbsp;US&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  no-padding">
                                <div class="col-md-6 col-sm-12  no-padding">
                                    <h5 class="col-md-4 col-sm-4 margin-top-10">Height <sup class="text-red">*</sup></h5>
                                    <div ng-show="units==2">
                                    <div class="col-md-4 col-sm-4">
                                        <input class="calculator-input" name="feet" ng-model="feet" maxlength="2" ng-required="units==2">
                                        <div class="text-count-position"><span class="text-unit">ft</span></div>
                                        <div class="text-error-message">
                                        <span ng-show="bmiSubmitted">
                                            <span ng-show="calculateForm.feet.$error.required"><span>Required.</span></span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <input class="calculator-input" name="inches" ng-model="inches" maxlength="2" ng-required="units==2" ng-change="maxHeightCheck(inches)">
                                        <div class="text-count-position"><span class="text-unit">in</span></div>
                                        <span class="text-error-message" ng-show="!calculateForm.inches.$error.required&&maxHeightInches"><span>Please&nbsp;Enter&nbsp;Valid&nbsp;Height</span></span>
                                        <div class="text-error-message">
                                        <span ng-show="bmiSubmitted">
                                            <span ng-show="calculateForm.inches.$error.required"><span>Required.</span></span>
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                    <div ng-show="units==1">
                                        <div class="col-md-8 col-sm-8">
                                            <input class="calculator-input" name="height" ng-model="height" maxlength="5" ng-required="units==1" onkeypress="return validateFloatKeyPress(this,event);">
                                            <div class="text-count-position"><span class="text-unit lbs">cm</span></div>
                                            <div class="text-error-message">
                                            <span ng-show="bmiSubmitted">
                                               <span ng-show="calculateForm.height.$error.required"><span>Required.</span></span>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="units==2">
                                <div class="col-md-6 col-sm-12 no-padding">
                                    <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                    <h5 class="col-md-4 col-sm-4 margin-top-10">D O B<sup class="text-red">*</sup></h5>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="input-group">
                                        <input type="text" name='dob' class="search-input" id="dobForBMI" date-options="dateOptions" date-validation-us ng-model="dob" placeholder="mm/dd/yyyy" required />
                                        <span class="input-group-addon" id="dobIcon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                        <div class="text-error-message">
                                        <span ng-show="bmiSubmitted">
                                               <span ng-show="calculateForm.dob.$error.invalidDate">Invalid date.</span>
                                               <span ng-show="calculateForm.dob.$error.required"><span>Please enter a valid date.</span></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="units==1">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <h5 class="col-md-4 col-sm-4 margin-top-10">D O B<sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <div class="input-group">
                                    <input name='dob1' class="search-input" id="dobForBMI1"
                                           ng-model="dob"  placeholder="dd/mm/yyyy" readonly style='background-color:white;cursor: pointer' ng-required="units==1"/>
                                    <span class="input-group-addon" id="dobIcon1">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    </div>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                           <span ng-show="calculateForm.dob.$error.invalidDate">Invalid date.</span>
                                           <span ng-show="calculateForm.dob.$error.required"><span>Please enter a valid date.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12 col-sm-12 no-padding margin-top-10">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Weight <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <input class="calculator-input" name="weight" ng-model="weight" maxlength="5" required onkeypress="return validateFloatKeyPress(this,event);">
                                    <div class="text-count-position"><span class="text-unit lbs"><span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span></span></div>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                       <span ng-show="calculateForm.weight.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Email ID <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8">
                                    <input type="email" class="search-input" name="email" ng-model="email" required validate-email/>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                       <span ng-show="calculateForm.email.$error.required"><span>Required.</span></span>
                                        <span ng-show="calculateForm.email.$error.validateEmail"><span>Invalid&nbsp;Format.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 no-padding margin-top-10">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <h5 class="col-md-4 col-sm-4 margin-top-10">Gender <sup class="text-red">*</sup></h5>
                                <div class="col-md-8 col-sm-8 margin-top-5">
                                    <input type="radio" id="1" name="sex" value="1" ng-model="gender" required/>
                                    <label for="1">Male</label>
                                    <input type="radio" id="2" name="sex" value="2" ng-model="gender" required/>
                                    <label for="2">Female</label>
                                    <div class="text-error-message">
                                    <span ng-show="bmiSubmitted">
                                        <span  ng-show="calculateForm.sex.$error.required"><span>Required.</span></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 margin-top-10 text-right">
                                <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                                <a href="" class="btn-dis main_button red_button" ng-click="bmiSubmitted=true; calculateEMI(calculateForm.$valid)" ng-disabled="maxHeightInches">GET MY RESULT</a>
                            </div>
                        </div>

                        <!--<div class="col-md-12 no-padding margin-top-10 text-center">
                            <a href="" class="btn-dis forum_button red_button" ng-disabled="calculateForm.$invalid" ng-click="calculateEMI()">GET MY RESULT</a>
                        </div>-->
                        </form>
                        <div ng-hide="showForm">
                            <div class="col-md-12 col-sm-12">
                                <a href="" class="pull-right btn btn-xs btn-warning" ng-click="returnToCalculate()">Click to Re-check</a>
                                <h1 class="text-muted"><small>Your BMI is</small> <span class="bmi-color">{{emiValue}}</span></h1>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div id="myGoal"></div>
                                <div class="margin-top-15">
                                    <i>
                                        <small ng-show="bmiUnder">
                                                You are underweight for your height. You need to maintain your weight range between 
                                                <b>{{ weightRange }}</b> for a strong and healthy life.<br/><br/>
                                                Being underweight may weaken your immune system and put you at threat. 
                                                For better health intake foods with essential nutrients on time and burn the extra 
                                                calories. <br/><br/>
                                                Set a fitness goal and start tracking your daily intake, calories burnt with 
                                                cyberhealths and reach your target weight in a healthy manner. 
                                                <button class="loginNow btn btn-default">Sign up</button> with 
                                                cyberhealths and commit to be fit.
                                        </small>
                                        <small ng-show="bmiHealthy">
                                            You are sustaining a healthy weight for your height. You need to maintain your 
                                            weight range between <b>{{ weightRange }}</b> for a strong and healthy life.<br/><br/>
                                            Maintain a healthy weight range by eating healthy, with appropriate workout 
                                            routines. Having healthy snacks in-between helps you to be nutritionally fit. <br/><br/>
                                            Set a fitness goal and start tracking your daily intake, calories burnt with 
                                            cyberhealths and maintain your weight in a healthy manner. 
                                            <button class="loginNow btn btn-default">Sign up</button> with 
                                            cyberhealths and commit to be fit.
                                        </small>
                                        <small ng-show="bmiOver">
                                            You are overweight for your height. You need to maintain your weight range 
                                            between <b>{{ weightRange }}</b> for a strong and healthy life. <br/><br/>
                                            Excess weight also increases your likelihood of developing other problems 
                                            linked to coronary heart disease, high blood sugar & cholesterol, etc. 
                                            To achieve and maintain a healthy weight, eat healthy foods with proper 
                                            workout routines. Having healthy food helps you to be nutritionally fit.<br/><br/>
                                            Set a fitness goal and start tracking your daily intake, calories burnt with 
                                            cyberhealths and reduce your weight in a healthy manner. 
                                            <button class="loginNow btn btn-default">Sign up</button> with 
                                            cyberhealths and commit to be fit.
                                        </small>
                                        <small ng-show="bmiObese">
                                            You are obese for your height. You need to maintain your weight range 
                                            between <b>{{ weightRange }}</b> for a strong and healthy life. <br/><br/>
                                            Excess weight also increases your likelihood of developing other problems 
                                            linked to coronary heart disease, high blood sugar & cholesterol, etc. 
                                            Follow a healthy eating plan. Know your daily calorie needs and achieve 
                                            it with healthy nutritional diet.<br/><br/>
                                            Set a fitness goal and start tracking your daily intake, calories burnt 
                                            with cyberhealths and reduce your weight in a healthy manner. 
                                            <button class="loginNow btn btn-default">Sign up</button> with 
                                            cyberhealths and commit to be fit.                                            
                                        </small>
                                    </i>                                    
                                </div>
                            </div>
                        </div>
                        <div class="hidden-lg hidden-md"><div class="margin-top-10"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->
<!-- <div id="parallax-one" class="parallax">
    <div class="parallax-text-container">
        <div class="container">
            <div class="row">
                div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="fa fa-male"></i>
                        <h4 class="text-bold text-orange count-text">{{memberCount}}</h4>
                        <h5>Healthy users</h5>
                    </div>
                </div -->
                <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="counter-item">
                        <i class="fa fa-cutlery"></i>
                        <h4 class="text-bold text-orange count-text">{{foodCount}}</h4>
                        <h5>Foods</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="counter-item">
                        <i class="fa fa-bicycle"></i>
                        <h4 class="text-bold text-orange count-text">{{exerciseCount}}</h4>
                        <h5>Exercises</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="counter-item">
                        <i class="fa fa-book"></i>
                        <h4 class="text-bold text-orange count-text">{{courseCount}}</h4>
                        <h5>Courses</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Start Pricing Table Section -->
<div class="pricing-section">
    <div class="container section">
        <div class="row pricing">
            <div class="col-md-12">
                <div class="counter-item">
                    <h5>Why CYBERHEALTHS?</h5>
                    <h6>
                        At least one out of three adults in the United States has higher than normal blood sugar, also known as pre-diabetes. Without prevention, pre-diabetes can transition to diabetes within 10 years. This problem is exploding in countries like India. We are planning to develop a hybrid model of in-person contact and online interactions for diabetes prevention. In-person contact will be limited to few sessions, such as the core curriculum and interaction with a diabetes educator are addressed through online delivery. Education and counseling will be offered through interactions via phone, email or video conference.
                        <br/><br/>
                        To foster community and social support, social media will be introduced. Participants will use electronic diaries and mobile apps to enter their food and exercise records, which can be monitored online through an administration interface. The health coach will be able to closely monitor participant progress and intervene in real time via text messages, email, phone, video conference of surface mail.
                    </h6>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Pricing Table Section -->



<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.stepProgressBar.js"></script>
<script type="text/javascript" src="js/BeatPicker.js"></script>

<script>

    function callGraph(){
        $('#myGoal').stepProgressBar({
            currentValue: 0,
            steps: [
                {
                    topLabel: ' ',
                    value: 0
                },
                {
                    topLabel: ' ',
                    value: 9.25,
                    bottomLabel: '<span style="color: #00b8e6">UNDERWEIGHT</span>'
                },
                {
                    value: 18.5,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 21.75,
                    bottomLabel: '<span style="color: #66cc00">HEALTHY</span>'
                },
                {
                    value: 25,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 27.5,
                    bottomLabel: '<span style="color: #e4ac01">OVERWEIGHT</span>'
                },
                {
                    value: 30,
                    bottomLabel: ' '
                },
                {
                    topLabel: ' ',
                    value: 35,
                    bottomLabel: '<span style="color: #ff5c33">OBESE</span>'
                },
                {
                    topLabel: ' ',
                    value: 40,
                    bottomLabel: ' '
                }
            ],
            unit: ' '
        });

        if(emi>0&&emi<18.5){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#00b8e6");
            $('.bmi-color').css("color","#00b8e6");
        }else if(emi>=18.5&&emi<25){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#66cc00");
            $('.bmi-color').css("color","#66cc00");
        }else if(emi>=25&&emi<30){
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#e4ac01");
            $('.bmi-color').css("color","#e4ac01");
        }else{
            $('.step-progressbar-bar').find('.step-progressbar-progress').css("background-color","#ff5c33");
            $('.bmi-color').css("color","#ff5c33");
        }
        setTimeout(function(){
            refreshGraph()
        },200);
    };

    function refreshGraph(){
        $('#myGoal').stepProgressBar('setCurrentValue', emi);
    };

    $('.loginNow').click(function(){
        $('.modal_trigger').click();
        $("#register_form").click();
    });
    
</script>

<script type="text/javascript">
/*
    currentDatePicker.on("select", function (data) {
        var selectedDate = currentDatePicker.getSelectedDate();
        document.getElementById("mypicker").value=selectedDate;

    }); */
    
    $(function() {
    $('#dobForBMI').datepicker({
                // Consistent format with the HTML5 picker
                    dateFormat : 'dd/mm/yy',
                    maxDate: new Date()
                },
                // Localization
                $.datepicker.regional['us']);
  });
  $(function() {
      $('#dobIcon').click(function(){
          $('#dobForBMI').focus();
      }
              );
  });
   $(function() {
  
      $('#dobIcon1').click(function(){
          $('#dobForBMI1').focus();
      }
              );
  });

    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,
            pauseOnHover:true,
            direction: 'up',
            heightOnPage:310,
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });

    function newscarousel(){
        setTimeout(function(){
            $('.news-carousel').each(function(){
                var owl = jQuery(this),
                        itemsNum = $(this).attr('data-appeared-items'),
                        sliderNavigation = $(this).attr('data-navigation');
                var returnSliderNavigation;
                var deskitemsNum;
                var desksmallitemsNum;
                var tabletitemsNum;

                if( sliderNavigation == 'false' || sliderNavigation == '0' ) {
                    returnSliderNavigation = false
                }else{
                    returnSliderNavigation = true
                }
                if( itemsNum == 1) {
                    deskitemsNum = 1;
                    desksmallitemsNum = 1;
                    tabletitemsNum = 1;
                }
                else if (itemsNum >= 2 && itemsNum < 4) {
                    deskitemsNum = itemsNum;
                    desksmallitemsNum = itemsNum - 1;
                    tabletitemsNum = itemsNum - 1;
                }
                else if (itemsNum >= 4 && itemsNum < 8) {
                    deskitemsNum = itemsNum -1;
                    desksmallitemsNum = itemsNum - 2;
                    tabletitemsNum = itemsNum - 3;
                }
                else {
                    deskitemsNum = itemsNum -3;
                    desksmallitemsNum = itemsNum - 6;
                    tabletitemsNum = itemsNum - 8;
                }
                owl.owlCarousel({
                    slideSpeed : 300,
                    stopOnHover: true,
                    autoPlay: true,
                    navigation : returnSliderNavigation,
                    pagination: false,
                    lazyLoad : true,
                    items : itemsNum,
                    itemsDesktop : [1000,deskitemsNum],
                    itemsDesktopSmall : [900,desksmallitemsNum],
                    itemsTablet: [768,2],
                    itemsMobile : [600,1],
                    transitionStyle : "goDown"
                });
            });
            var carousel=$('.touch-carousel');
            carousel.find('.owl-prev').html('<i class="fa fa-angle-left"></i>');
            carousel.find('.owl-next').html('<i class="fa fa-angle-right"></i>');
        },500);
    }


//for restricting keypress event after (dot)
function validateFloatKeyPress(el, evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    var number = el.value.split('.');
    if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    //just one dot
    if(number.length>1 && charCode == 46){
        return false;
    }
    // for backspace issue in firefox
    if(charCode== 8){
        return true;
    }
    //get the carat position
    var caratPos = getSelectionStart(el);
    var dotPos = el.value.indexOf(".");
    if( caratPos > dotPos && dotPos>-1 && (number[1].length > 0)){
        return false;
    }
    return true;
}
function getSelectionStart(o) {
    if (o.createTextRange) {
        var r = document.selection.createRange().duplicate()
        r.moveEnd('character', o.value.length)
        if (r.text == '') return o.value.length
        return o.value.lastIndexOf(r.text)
    } else return o.selectionStart
}
</script>