<style>
.main-button {
   
    color: white !important;
    display: inline-block;
   
}
</style>

<!-- Start Content -->
<div id="content-page" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row blog-page">
         
           
            <!--Sidebar-->
            <div class="col-md-4 col-lg-4 col-sm-4 sidebar left-sidebar">
                <!-- Search Widget -->
                <!--<div class="widget widget-search">
                    <form action="#">
                        <input type="search" placeholder="Enter Keywords..." />
                        <button class="search-btns" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>-->


                <!-- Categories Widget -->
                <!--<div class="widget widget-categories">
                    <h4>Categories <span class="head-line"></span></h4>
                    <ul>
                        <li>
                            <a href="#">Brandign</a>
                        </li>
                        <li>
                            <a href="#">Design</a>
                        </li>
                        <li>
                            <a href="#">Development</a>
                        </li>
                        <li>
                            <a href="#">Graphic</a>
                        </li>
                    </ul>
                </div>-->

                <!-- Popular Posts widget -->
                <div class="widget widget-popular-posts">
                    <h4>Popular Tips <span class="head-line"></span></h4>
                    <ul class="remove-style">
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(1)"><img src="../../images/newTips/tips-1-small.jpg" alt="" width="65" height="65" /></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(1)">Attention-Deficit/Hyperactivity Hisorder </a></h5>
                                <span>Feb 06,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <!-- will add later
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(2)"><img src="../../images/healthyTips/tips-2-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(2)">Prevalence of Diabetes in United States</a></h5>
                                <span>Jan 27,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(3)"><img src="../../images/healthyTips/tips-3-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(3)">Global report on Diabetes</a></h5>
                                <span>Feb 03,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(4)"><img src="../../images/healthyTips/tips-4-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(4)">Do you know how much sugar is in your favourite drink?</a></h5>
                                <span>Feb 10,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(5)"><img src="../../images/healthyTips/tips-5-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(5)">Reduce consumption of sugary drinks</a></h5>
                                <span>Feb 17,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(6)"><img src="../../images/healthyTips/tips-6-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(6)">Sugar Sweetened Beverages (SSB) </a></h5>
                                <span>Feb 24,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(7)"><img src="../../images/healthyTips/tips-7-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(7)">Don’t Drink Sugary Drinks</a></h5>
                                <span>Mar 02,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(8)"><img src="../../images/healthyTips/tips-8-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(8)">It’s time to tax sugary drinks</a></h5>
                                <span>Mar 09,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(9)"><img src="../../images/healthyTips/tips-9-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(9)">Dietary Guidelines for healthy Eating</a></h5>
                                <span>Mar 16,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(10)"><img src="../../images/healthyTips/tips-10-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(10)">Physical activity</a></h5>
                                <span>Mar 23,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(11)"><img src="../../images/healthyTips/tips-11-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(11)">Eat more Fruits and Vegetables</a></h5>
                                <span>Mar 30,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(12)"><img src="../../images/healthyTips/tips-12-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(12)">It’s not too late to prevent diabetes</a></h5>
                                <span>Apr 06,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(13)"><img src="../../images/healthyTips/tips-13-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(13)">Diabetes in Asia</a></h5>
                                <span>Apr 13,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(14)"><img src="../../images/healthyTips/tips-14-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(14)">Whole Grains</a></h5>
                                <span>Apr 20,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="widget-thumb">
                                <a href="" ng-click="focusToIndividualTips(15)"><img src="../../images/healthyTips/tips-15-small.jpg" alt=""  width="65" height="65"/></a>
                            </div>
                            <div class="widget-content">
                                <h5><a href="" ng-click="focusToIndividualTips(15)">Childhood Obesity</a></h5>
                                <span>Apr 22,2016</span>
                            </div>
                            <div class="clearfix"></div>
                        </li> -->
                    </ul>
                </div>

            </div>
            <!--End sidebar-->

            <!---start Blog post -->
            <div class="col-lg-8 col-md-7 col-sm-7 sidebar right-sidebar">
                    <h4 class="classic-title"><span>New Tips</span></h4>
                            
                <!-- Start Post -->
                <div id="1" class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <img alt="" src="../../images/newTips/tips-1.jpg" width="100%" height="auto">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content1">
                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                        <h2><a href="#new-tips-1">Attention-Deficit/Hyperactivity Disorder </a></h2>
                        <ul class="post-meta remove-style">
                            <li>By <a href="">Cyber Health</a></li>
                            <li>Feb 06, 2016</li>
                            <!--<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                            <li><a href="#">4 Comments</a></li>-->
                        </ul>
                        <p>Attention-deficit/hyperactivity disorder (ADHD) is a chronic disorder that is considered to be a neuro-psychiatric disorder or a disorder of nervous system. ADHD is a common behavioral disorder </p>
                        <a class="main-button" href="#new-tips-1">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->
            </div>
            <!-- End Blog Posts -->

        </div>
    </div>
</div>
<!-- End Content -->

<script type="text/javascript" src="../../js/script.js"></script>