<!-- Start Testimonials Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
<!--

                <h3 class="classic-title"><span>Latest News</span></h3>

                <h4>{{usernewsdetails.title}}</h4>
                <p class="margin-top-10"  ng-bind-html="usernewsdetails.description | html"></p>-->

                <div class="panel no-margin no-box-shadow">
                    <div class="panel-body latest-posts-classic">
                        <h3 class="classic-title"><span>Latest News</span></h3>
                                <div class="post-row item">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">{{ usernewsdetails.datetime | toSec | date:'dd'}}</span><span class="month">{{ usernewsdetails.datetime | toSec | date:'MMM'}}</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <h4>{{usernewsdetails.title}}</h4>
                                    <p class="margin-top-10"  ng-bind-html="usernewsdetails.description | html"></p>

                                </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel no-margin no-box-shadow">
                    <div class="panel-body latest-posts-classic">
                        <a onclick="return false;" href="#" class="prev vertical-carousel-control pull-right margin-left-5"><span class="fa fa-angle-down"></span></a>
                        <a onclick="return false;"  href="#" class="next vertical-carousel-control pull-right"><span class="fa fa-angle-up"></span></a>
                        <h4 class="classic-title"><span>Other News</span></h4>
                        <ul class="vertical-items">
                            <li class="news-item" ng-repeat="usernews in usernewslist">
                                <div class="post-row item">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">{{ usernews.datetime | toSec | date:'dd'}}</span><span class="month">{{ usernews.datetime | toSec | date:'MMM'}}</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <a href="" ng-click="doGetNewsDetailsByUser(usernews.newsid)">{{usernews.title}}</a>
                                    <div class="post-content">
                                        <p ng-bind-html="usernews.description | html"><a class="read-more" href="#">Read More...</a></p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage:6,
            autoplay: true,
            pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });
</script>