

<!-- Start Content -->
<div id="content" style="width:100%!important;">
    <div class="container">
        <h4 class="classic-title"><span>Portfolio</span></h4>
        <div class=" portfolio-page portfolio-4column">

            <ul id="portfolio-list" data-animated="fadeIn">
                <li>
                    <img src="images/portfolio/portfolio_gps.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Town winter 2013</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_adherence.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Quarterly Musashino</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_ehr.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Mainichi April 2014</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_learguild.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Shitamachi Rocket</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_mm.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Majesty express vol. 01</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_gps.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Monocle issue 69</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_adherence.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Monocle issue 69</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
                <li>
                    <img src="images/portfolio/portfolio_ehr.jpg" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">Monocle issue 69</span>
                        <p class="body">web develpment, design</p>
                    </div>
                    <a href="#singleProject"><i class="more">+</i></a>

                </li>
            </ul>
            <!-- End Portfolio Items -->

        </div>
    </div>
</div>
<!-- End Content -->