

<!-- Start Content -->
<div id="content" ng-controller="privacyPolicyController">
    <div class="container">
        <div class="row blog-page">
            <h4 class="classic-title"><span>{{privacypolicydetails.title}}</span></h4>
            <div class="col-md-12">
                <div class="col-md-9"></div>
            <div class="col-md-3">
                <span>Last Updated On: {{privacypolicydetails.dateupdated}}</span>
            </div>
                </div>
            <div class="col-md-9">
                <span>{{privacypolicydetails.content}}</span>
                </div>

        </div>
    </div>
</div>