<!-- Start Testimonials Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="classic-title"><span>Testimonial</span></h3>
                <div class="media testimonial-inner">
                    <div class="pull-left">
                        <img class="img-responsive img-circle" src="images/pic-1.jpg">
                    </div>
                    <div class="media-body">
                        <h4>Title Lorem ipsum dolor sit amet, consectetur adipisicing</h4>
                        <p class="margin-top-10">A long-lived thread consists of a sequence of atomic thread invokations separated by calls to
                            split-phase operations. Each long-lived thread has a context, which contains its input arguments
                            and other working variables that are shared by its atomic threads. The macros provides syntactic
                            constructs for writing long-lived threads as if they were normal functions. The details of atomic
                            thread decomposition and context management are hidden from the user.
                            A long-lived thread consists of a sequence of atomic thread invokations separated by calls to
                            split-phase operations. Each long-lived thread has a context, which contains its input arguments
                            and other working variables that are shared by its atomic threads. The macros provides syntactic
                            constructs for writing long-lived threads as if they were normal functions. The details of atomic
                            thread decomposition and context management are hidden from the user.</p>
                        <div class="margin-top-10"><strong>- Marie curie,</strong> Director of corlate.com</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <a onclick="return false;" href="#" class="prev vertical-carousel-control pull-right margin-left-5"><span class="fa fa-angle-down"></span></a>
                        <a onclick="return false;"  href="#" class="next vertical-carousel-control pull-right"><span class="fa fa-angle-up"></span></a>
                        <h4 class="classic-title"><span>Users Says</span></h4>
                        <ul class="vertical-items">
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-1.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing adipisicing</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-3.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing adipisicing</a>
                                        <p>Lorem ipsuisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-1.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing  adipisicing</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-3.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing  adipisicing</a>
                                        <p>Lorem ipsuisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-3.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing  adipisicing</a>
                                        <p>Lorem ipsuisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-3.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing  adipisicing</a>
                                        <p>Lorem ipsuisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                            <li class="news-item">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" src="images/pic-3.jpg">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="">consectetur adipisicing  adipisicing</a>
                                        <p>Lorem ipsuisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <div><strong>- Marie curie/</strong> Director of corlate.com</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<script type="text/javascript">
    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage: 3,
            autoplay: true,
            pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });
    });
</script>