<!-- Start Testimonials Section -->
<div class="section service" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-7" id="TestimonialView">
                <h3 class="classic-title"><span>Testimonial</span></h3>
                <div class="media testimonial-inner">
                    <div class="pull-left">
                        <img class="img-responsive img-circle" ng-src="{{myImgSrc}}">
                    </div>
                    <div class="media-body">
                        <h4>{{usertestimonialdetails.title}}</h4>
                        <p class="margin-top-10 wrap" ng-bind-html="usertestimonialdetails.description | html"></p>
                        <div class="margin-top-10 text-italic"><strong>-&nbsp;{{usertestimonialdetails.givenby}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5">
                <div class="panel no-margin no-box-shadow">
                    <div class="panel-body">
                        <div ng-show="usertestimoniallist.length>3">
                            <a onclick="return false;" href="#" class="prev vertical-carousel-control pull-right margin-left-5"><span class="fa fa-angle-down"></span></a>
                            <a onclick="return false;" href="#" class="next vertical-carousel-control pull-right"><span class="fa fa-angle-up"></span></a>
                        </div>
                        <h4 class="classic-title"><span>Others Says</span></h4>
                        <ul class="vertical-items remove-style">
                            <li class="news-item" ng-repeat="usertestimonial in usertestimoniallist">
                                <div class="media testimonial-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive img-circle" ng-src="{{usertestimonial.imageurl | trusted}}">
                                    </div>
                                    <div class="testimonials-carousel-content">
                                        <a href="" onclick="doGetTestimonialDetails($(this).attr('data-value'));return false;" data-value="{{usertestimonial.testimonialid}}">{{usertestimonial.title}}</a>
                                        <div class="wrap wrap-all"><p ng-bind-html="usertestimonial.description | html"></p></div>
                                        <div><strong>-&nbsp;{{usertestimonial.givenby}}</strong></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript">
    $(function () {
        $(".vertical-items").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,
            pauseOnHover:false,
            direction: 'up',
            heightOnPage:310
        });
    });

    doGetTestimonialDetails=function(id){
        angular.element(document.getElementById('TestimonialView')).scope().doGetTestimonialDetailsByUser(id);
    }
</script>
