
<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12" ng-show="steps==0">
                <h4 class="classic-title"><span>Choose Plan</span></h4>
                <div flash-message="2000" class="col-lg-3 col-md-4 col-sm-4 no-padding pull-right"></div>
                <div class="col-lg-5 col-sm-5 col-md-5 margin-top-10">
                    <img src="../../images/weight-plans.jpg">
                </div>
                <div class="col-lg-7 col-sm-7 col-md-7">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div  class="horizon-swiper">
                            <div class="horizon-item">
                                <div class="historyOverride plan-div" style="background-color: #98d6aa!important;">
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top: -6px;">
                                        <img src="../../images/sample-image.png" class="plan-image">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="" ng-click="planChoosen(2)" ng-model="defaultRegistrationData.plantype" class="plan-text">Weight Loss</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div  class="horizon-swiper">
                        <div class="horizon-item" >
                            <div class="historyOverride plan-div" style="background-color: #ff7373 !important;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top: -6px;">
                                <img src="../../images/weight-gain-plan.png" class="plan-image" >
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <a href=""  ng-click="planChoosen(3)" ng-model="defaultRegistrationData.plantype"  class="plan-text">Weight Gain</a>
                                </div>
                            </div>
                    </div>
                </div>
                </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                    <div  class="horizon-swiper">
                        <div class="horizon-item" >
                            <div class="historyOverride plan-div" style="background-color: #f8ba01 !important;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top: -6px;">
                                <img src="../../images/sample-image.png" class="plan-image">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="" ng-click="planChoosen(1)" ng-model="defaultRegistrationData.plantype" class="plan-text">Maintain Weight</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                    <div  class="horizon-swiper">
                        <div class="horizon-item">
                            <div class="historyOverride plan-div" style="background-color: #c5c4c4 !important;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top: -6px;">
                                <img src="../../images/sample-image.png" class="plan-image">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <a href="" ng-click="userRegistration(4)" ng-model="defaultRegistrationData.plantype" class="plan-text">Skip Plan</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 no-padding" ng-show="steps==1">
                <h4 class="classic-title"><span>Basic Details</span></h4>
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding margin-top-10">
                    <h2 class="h2-label"> Choose Your Gender</h2>
                    <div class="col-md-3 col-sm-3 col-xs-3 margin-top-10">
                        <input type="radio" id="male" name="gender"  value="1" ng-model="defaultRegistrationData.gender" class="input-hidden" />
                        <label for="male" class="male-label">
                            <img src="../../images/Male.jpg" alt="Male" />
                        </label>

                    </div>
                    <div  class="col-md-3 col-sm-3 col-xs-3  margin-top-10">
                        <input type="radio" id="female" name="gender" value="2" ng-model="defaultRegistrationData.gender" class="input-hidden" />
                        <label for="female" class="female-label">
                            <img src="../../images/Female.png" alt="Female" />
                        </label>
                    </div>

                    <div class="col-md-6 col-sm-6 margin-top-10 no-padding">
                        <h2 class="h2-label" >Select Your Date Of Birth</h2>
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10">
                            <div class="input-group">
                                <input type="text" name='dob' ng-model="defaultRegistrationData.dob" class="search-input datepicker_cursor" id="dob"  readonly/>
                                <span class="input-group-addon cursor" id="dobIcon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="pull-right margin-top-100">
                    <a href="" class="btn step_button"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="" class="btn step_button margin-left-20"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 no-padding"  ng-show="steps==2">
                <form  name="basicDetailsForm" ng-submit="basicDetailsForm.$valid" ng-model="basicDetailsForm" novalidate>
                <h4 class="classic-title"><span>BMI Details</span></h4>
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="col-md-12 margin-top5 margin-top-20 unit">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active unit-toggle-label"  ng-click="test('mUnit')">
                                <input type="radio" name="unit" ng-model="units"  id="option1" autocomplete="off" autofocus> Metric
                            </label>
                            <label class="btn btn-default unit-toggle-label"  ng-click="test('uUnit')">
                                <input type="radio" name="unit" ng-model="units"  id="option2" autocomplete="off"> &nbsp;&nbsp;&nbsp;US&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12  margin-top-20 no-padding">
                    <div class="col-md-4 col-sm-4 margin-top-10">Height<span class="pull-right">:</span></div>
                    <div ng-show="units==2">
                        <div class="col-md-4 col-sm-4">
                            <input class="calculator-input" name="feet" maxlength="2" ng-model="defaultRegistrationData.heightFeet" ng-pattern="/^0*[1-9]\d*$/"  ng-required="units==2" required>
                            <div class="text-count-position"><span class="text-unit">ft</span></div>
                                <span ng-show="userPlanSubmitted">
                                    <span  class="error-message" ng-show="basicDetailsForm.feet.$error.required"><span>Required.</span></span>
                                    <span class="error-message" ng-show="basicDetailsForm.feet.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                                </span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input class="calculator-input" name="inches" maxlength="2"  ng-model="defaultRegistrationData.heightInches" ng-required="units==2"  ng-model="inches" ng-pattern="/^[0-9]+$/" required>
                            <div class="text-count-position"><span class="text-unit">in</span></div>

                                <span ng-show="userPlanSubmitted">
                                    <span class="error-message" ng-show="basicDetailsForm.inches.$error.required"><span>Required.</span></span>
                                    <span class="error-message" ng-show="basicDetailsForm.inches.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                                </span>
                        </div>
                    </div>
                    <div ng-show="units==1">
                        <div class="col-md-8 col-sm-8">
                            <input class="calculator-input" ng-model="defaultRegistrationData.height"  name="height" ng-required="units==1" required maxlength="5">
                            <div class="text-count-position"><span class="text-unit lbs">cm</span></div>
                            <span ng-show="userPlanSubmitted">
                                <span class="error-message"  ng-show="basicDetailsForm.height.$error.required"><span>Required.</span></span>
                            </span>
                        </div>
                    </div>
                <div class="col-md-12 col-sm-12 margin-top-10 no-padding">
                    <div class="col-md-4 col-sm-4 margin-top-10"  ng-pattern="/^0*[1-9]\d*$/">Weight<span class="pull-right">:</span></div>
                    <div class="col-md-8 col-sm-8">
                        <span ng-show="units==1">
                           <input class="calculator-input"  ng-model="defaultRegistrationData.weight" name="weight" ng-required="units==1"  maxlength="5" required>
                        <div class="text-count-position"><span class="text-unit lbs">kgs</span></div>
                        <span ng-show="userPlanSubmitted">
                            <span class="error-message" ng-show="basicDetailsForm.weight.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="basicDetailsForm.weight.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                        </span>
                        <span ng-show="units==2">
                             <input class="calculator-input"  ng-model="defaultRegistrationData.weightlbs" name="weightlbs" ng-required="units==2" required>
                        <div class="text-count-position"><span class="text-unit lbs">lbs</span></div>
                        <span ng-show="userPlanSubmitted">
                            <span class="error-message" ng-show="basicDetailsForm.weightlbs.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="basicDetailsForm.weightlbs.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12  margin-top-10 no-padding" ng-hide="planType==1">
                    <div class="col-md-4 col-sm-4 margin-top-10" ng-show="planType==2">How Many&nbsp;<span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span>&nbsp;You Want to Reduce?<span class="pull-right">:</span></div>
                    <div class="col-md-4 col-sm-4 margin-top-10" ng-show="planType==3">How Many&nbsp;<span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span>&nbsp;You Want to Increase?<span class="pull-right">:</span></div>
                <div class="col-md-8 col-sm-8">
                <input class="calculator-input" ng-model="defaultRegistrationData.targetweight"  name="targetweight"  maxlength="5" required>
                    <span ng-show="userPlanSubmitted">
                            <span class="error-message" ng-show="basicDetailsForm.targetweight.$error.required"><span>Required.</span></span>
                        </span>
                </div>
                </div>

                <div class="col-md-12 col-sm-12 no-padding margin-top-10"  ng-hide="planType==1 || planType==2">
                    <div class="col-md-4 col-sm-4">
                      Choose End Date <span class="pull-right">:</span>
                    </div>
                    <div class="col-md-8 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="enddate" id="enddate" class="search-input datepicker_cursor" ng-model="enddate" readonly/>
                        <span class="input-group-addon cursor" id="enddateIcon" >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                    </div>
                </div>
                <div class="pull-right margin-top-70">
                    <a href="" class="btn step_button"  ng-click="previousStep();"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="" class="btn step_button margin-left-20"  ng-click="doValidation();userPlanSubmitted=true;">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
                </div>
                </form>
                </div>
            <div class="col-lg-12 col-sm-12 col-md-12 no-padding"  ng-show="steps==3">

                <h4 class="classic-title"><span>Activity Type{{defaultRegistrationData.activityType}}</span></h4>
                <div class="col-lg-12 col-sm-12 col-md-12 no-padding text-center">
                <h2 class="h2-label margin-top-20"> Choose Exercise Type</h2>
                <div  class="margin-top-20">
                <input type="radio" id="noexercise" class="height" name="noexercise" value="1" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label" for="noexercise">Little to No Exercise</label>
                </div>
                    <div  class="margin-top-20">
                <input type="radio" id="littleexercise" class="height" name="littleexercise" value="2" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label"  for="littleexercise">Little Exercise <br/><small class="small-font-size"> 1-3 days per week</small></label>

                </div>
                    <div  class="margin-top-20">
                <input type="radio" id="moderate" class="height" name="moderate" value="3" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label"   for="moderate">Moderate Exercise<br/><small  class="small-font-size"> 3-5 days per week</small></label>

                </div>
                    <div  class="margin-top-20">
                <input type="radio" id="heavy" class="height" name="heavy" value="4" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label"  for="heavy">Heavy Workout<br/><small  class="small-font-size"> 6-7 days per week</small></label>

                </div>
                <div  class="margin-top-20">
                <input type="radio" id="veryheavy" class="height" name="veryheavy" value="5" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label"  for="veryheavy">Very Heavy Workout<br/><small  class="small-font-size"> Twice Per day ,extra Heavy Workout</small></label>

                </div>
                </div>
                <div class="pull-right margin-top-50">
                    <a href="" class="btn step_button"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="" class="btn step_button margin-left-20"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 no-padding" ng-show="planType==2 && steps==4">

                <h4 class="classic-title"><span> Workout Plan Type</span></h4>
                <div class="col-lg-12 col-sm-12 col-md-12 no-padding text-center">
                    <h2 class="h2-label margin-top-20"> Choose Workout Plan Type</h2>
                    <div ng-show="units==1">
                    <div  class="margin-top-20">
                        <input type="radio" id="kg1" class="height" name="planChoice" value="1" ng-model="defaultRegistrationData.planchoice"/>
                        <label class=" workout-plan-button workout-label" for="kg1">Lose 1/4 kg per Week</label>
                    </div>
                    <div  class="margin-top-20">
                        <input type="radio" id="kg2" class="height" name="planChoice" value="2" ng-model="defaultRegistrationData.planchoice"/>
                        <label class=" workout-plan-button workout-label" for="kg2">Lose 1/2 kg per Week</label>
                    </div>
                    <div  class="margin-top-20">
                        <input type="radio" id="kg3" class="height" name="planChoice" value="3" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg3">Lose 3/4 kg per Week</label>
                    </div>
                    <div  class="margin-top-20">
                        <input type="radio" id="kg4" class="height" name="planChoice" value="4" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg4">Lose 1 kg per Week</label>
                    </div>
                    <div  class="margin-top-20">
                        <input type="radio" id="kg5" class="height" name="planChoice" value="5" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg5">Custom Exercise</label>
                    </div>
                    </div>
                    <div ng-show="units==2">
                        <div  class="margin-top-20">
                            <input type="radio" id="lbs1" class="height" name="lose 11/20lbs" value="1" ng-model="defaultRegistrationData.planchoice"/>
                            <label class="workout-plan-button" for="lbs1">Lose 11/20 lbs per Week</label>
                        </div>
                        <div  class="margin-top-20">
                            <input type="radio" id="lbs2" class="height" name="lose 11/10lbs" value="2" ng-model="defaultRegistrationData.planchoice"/>
                            <label class="workout-plan-button" for="lbs2">Lose 11/10 lbs per Week</label>
                        </div>
                        <div  class="margin-top-20">
                            <input type="radio" id="lbs3" class="height" name="lose 33/20lbs" value="3" ng-model="defaultRegistrationData.planchoice"/>
                            <label class="workout-plan-button" for="lbs3">Lose 33/20 lbs per Week</label>
                        </div>
                        <div  class="margin-top-20">
                            <input type="radio" id="lbs4" class="height" name="lose 21/5lbs" value="4" ng-model="defaultRegistrationData.planchoice"/>
                            <label class="workout-plan-button" for="lbs4">Lose 21/5 lbs per Week</label>
                        </div>
                        <div  class="margin-top-20">
                            <input type="radio" id="lbs5"  class="height" name="custom" value="5" ng-model="defaultRegistrationData.planchoice"/>
                            <label class="workout-plan-button" for="lbs5">Custom Exercise</label>
                        </div>
                    </div>
                    <div ng-show="defaultRegistrationData.planchoice==5">
                        <div class="col-md-12 col-sm-12 no-padding margin-top-10">
                            <div class="col-md-4 col-sm-4">
                                Choose an  End Date <span class="pull-right">:</span>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="customEndDate" id="customEndDate" ng-model="defaultRegistrationData.customEndDate" class="search-input datepicker_cursor" ng-model="enddate" readonly/>
                                    <span class="input-group-addon cursor" id="customEndDateIcon" >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right margin-top-50">
                        <a href="" class="btn step_button"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        <a href="" class="btn step_button margin-left-20"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-12 col-sm-12 col-md-12 no-padding"  ng-show="steps==5">
                <h4 class="classic-title"><span>Plan Preview</span></h4>
                <div class="col-lg-12 col-sm-12 col-md-12 news-block margin-top-20">
                    <h2 class="h2-label margin-top-20 "> Current Plan Preview</h2>
                    <hr/>

                    <div class="margin-top-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label"> Your Plan Type </div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label" ng-show="userPlanDetails.plantype==1"> <i>Maintain Weight</i></div>
                            <div class="preview-label" ng-show="userPlanDetails.plantype==2"> <i>Weight Loss</i></div>
                            <div class="preview-label" ng-show="userPlanDetails.plantype==3"> <i>Weight Gain</i></div>
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Your Daily Calorie Goal</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label">  <i>{{userPlanDetails.budget}} KCal</i></div>
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">   You Will Reach Your Goal In</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label">   <i>{{userPlanDetails.duration}}</i></div>
                        </div>
                    </div>
                    <div class="margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label"> Current Weight</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label">  <i>{{userPlanDetails.currentweight}}</i></div>
                        </div>
                    </div>
                    <div class="margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Target Weight</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label">   <i>{{userPlanDetails.targetweight}}</i></div>
                        </div>
                    </div>
                    <div class="margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Start Date</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label"> <i>{{userPlanDetails.startdate}}</i></div>
                        </div>
                    </div>
                    <div class=" margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  End Date</div>
                        </div>
                        <div class="col-md-7">
                            <div class="preview-label">  <i>{{userPlanDetails.enddate}}</i></div>
                        </div>
                    </div>
                </div>
                <!--Custom plan Alert-->
                <div id="custom-plan-confirmation" class="popupContainer" style="display:none;left:37%!important;">
                    <header class="popupHeader">
                        <span class="header_title">Alert</span>
                        <span class="modal_close"><i class="fa fa-times"></i></span>
                    </header>

                    <section class="popupBody">
                        <!-- Register Form -->
                        <div class="common_model">
                            Your Weigh Loss Plan Can be achieved Only on {{possibledate}} Would You Like to Continue This Plan?
                            <div class="action_btns margin-top-20">
                                <div class="one_third modal_close"><a href="" class="btn btn_blue">Yes,Use This Date</a></div><br/>
                                <div class="one_third last modal_close"><a class="btn btn_blue" ng-click="changePlan()">No,ChangePlan</a></div><br/>
                                <div class="one_third last modal_close"><a class="btn btn_blue" ng-click="userRegistration()">Skip & Register</a></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="pull-right margin-top-50">
                    <a href=""  ng-click="userRegistration()" class="workout-plan-button btn button register-button" >&nbsp; Register</a>
                    <a href="" class="workout-plan-button btn button margin-left-20 change-plan" ng-click="changePlan()">Change Plan</a>
                </div>
            </div>


        <div class="col-lg-12 col-sm-12 col-md-12 no-padding"  ng-show="steps==6">
            <h4 class="classic-title"><span>Register</span></h4>
            <div class="col-lg-12 col-sm-12 col-md-12">
            <form  name="registerForm" ng-submit="registerForm.$valid" ng-model="registerForm" novalidate>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px;!important"> First name<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" name="firstname"  ng-model="registerUser.firstname" required validate-alpha-with-space><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.firstname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.firstname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px;!important"> Last name<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" name="lastname" ng-model="registerUser.lastname" required validate-alpha-with-space><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.lastname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.lastname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px;!important">Email ID<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" ng-model="registerUser.emailid" name="email"validate-email required><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.email.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.email.$error.validateEmail"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px;!important">Password<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input type="password" id="password" ng-model="registerUser.password" class="calculator-input" name="password" maxlength="20" required>
                        <span ng-show="submitted">
                        <span class="error-message" ng-show="registerForm.password.$error.required"><span>Required.</span></span>
                          <span class="error-message" ng-show="registerForm.password.$error.pattern"><span>Condition&nbsp;not&nbsp;satisfied</span></span>
                        </span>
                        <!--<div id="password_info">-->
                            <!--<h4>Password must meet the following requirements:</h4>-->

                            <!--<ul class="remove-style">-->
                                <!--<li id="letter" class="invalid">At least <strong>one small letter</strong>-->

                                <!--</li>-->
                                <!--<li id="capital" class="invalid">At least <strong>one capital letter</strong>-->

                                <!--</li>-->
                                <!--<li id="number" class="invalid">At least <strong>one number</strong>-->

                                <!--</li>-->
                                <!--<li id="special" class="invalid">At least <strong>one special character</strong>-->

                                <!--</li>-->
                                <!--<li id="length" class="invalid">Be at least <strong>6 characters</strong>-->

                                <!--</li>-->
                                <!--<li id="space" class="valid">Should not allow space-->

                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>

                </div>
            <div class="col-md-12" style="margin-top: 3%" >
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
               <a href="" class="workout-plan-button btn button change-plan" ng-click="submitted=true || doUserRegistration()" >Submit</a>
                    <a href="" class="btn step_button margin-left-20"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                </div>
            </div>

            </form>
             </div>
        </div>
            </div>
        </div>

</div>
<!--
<script type="text/javascript">
    $(document).ready(function () {
        $('#password').keyup(function () {
            // set password variable
            var password = $('#password').val();
            if (password.length < 6) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
//validate letter
            if (password.match(/[a-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }
//validate capital letter
            if (password.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

//validate number
            if (password.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (password.match(/\s/)) {
                $('#space').removeClass('valid').addClass('invalid');
            } else {
                $('#space').removeClass('invalid').addClass('valid');
            }

            if (password.match(/[#?!@$%^&*-]/)) {
                $('#special').removeClass('invalid').addClass('valid');
            } else {
                $('#special').removeClass('valid').addClass('invalid');
            }

            if ($('#password_info li.invalid').length == 0) {
                $('#password_info').fadeOut();
            } else {
                $('#password_info').fadeIn();
            }
        });
        $('#password').focus(function () {
            // set password variable
            var password = $('#password').val();
            if (password.length < 6) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
//validate letter
            if (password.match(/[a-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }
//validate capital letter
            if (password.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

//validate number
            if (password.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (password.match(/\s/)) {
                $('#space').removeClass('valid').addClass('invalid');
            } else {
                $('#space').removeClass('invalid').addClass('valid');
            }

            if (password.match(/[#?!@$%^&*-]/)) {
                $('#special').removeClass('invalid').addClass('valid');
            } else {
                $('#special').removeClass('valid').addClass('invalid');
            }

            if ($('#password_info li.invalid').length == 0) {
                $('#password_info').fadeOut();
            } else {
                $('#password_info').fadeIn();
            }
        });
        $('#password').keyup(function () {
        }).focus(function () {
            $('#password_info').show();
        }).blur(function () {
            $('#password_info').hide();
        });
    });

</script>-->
