
<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
            <div class="col-lg-12 col-sm-12 col-md-12" ng-show="steps==0">
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <div id="coach-table">
                    <h1 class="h1-label">Choose Plan</h1>
                    <div class="margin-top-10"><small><i>How Can I help You?</i></small></div>
                    <div class="plans" ng-click="planChoosen(2)">
                        <div class="plan">
                            <div class="coach">
                                <span style="color:#12dc4d">Losing Weight is a mind game</span>
                            </div>
                            <div>
                                <span class="price" style="background-color: #12dc4d!important;">
                                    <span class="h2-label">Weight Loss</span><br/>
                                </span>
                            </div>
                            <div class="coach">
                                <img class="plan-image" src="../../images/Reg-Weight-Loss.png">
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="plans" ng-click="planChoosen(3)">
                        <div class="plan">
                            <div class="coach">
                                <span style="color:#ff6666">Weight gain dosenot Happen Overnight</span>
                            </div>
                            <div>
                                <span class="price" style="background-color:#ff6666!important;">
                                    <span class="h2-label">Weight Gain</span><br/>
                                </span>
                            </div>
                            <div class="coach">
                               <img class="plan-image" src="../../images/Reg-Weight-Gain.png">
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="plans" ng-click="planChoosen(1)">
                        <div class="plan">
                            <div class="coach">
                                <span style="color:#f8ba01">Losing Weight is a mind game</span>
                            </div>
                            <div>
                                <span class="price" style="background-color: #f8ba01!important;">
                                    <span class="h2-label" >Maintain Weight</span><br/>
                                </span>
                            </div>
                            <div class="coach">
                                <img class="plan-image" src="../../images/Reg-Maintain-Weight.png">
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="plans" ng-click="planChoosen(4)">
                        <div class="plan">
                            <div class="coach">
                                <span style="color:#948f8f">No More It's Too Hard</span>
                            </div>
                            <div>
                                <span class="price" style="background-color: #948f8f!important;">
                                      <span class="h2-label">Skip & Register</span><br/>
                                </span>
                            </div>
                            <div class="coach">
                                <img class="plan-image" src="../../images/no-plan.png">
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;" ng-show="steps==1">
                <h1 class="h1-label">Let's know Your Personal Details</h1>
                <h3 style="padding-top: 30px;font-size: 24px;" class="text-center">Choose Your Gender</h3>
                <div class="col-md-12 text-center margin-top-30" >
                            <input type="radio" id="male" name="gender" value="1" ng-model="defaultRegistrationData.gender" class="input-hidden" />
                            <label for="male" class="gender-label male-label">
                                <img src="../../images/Male.jpg" alt="Male" />
                            </label>
                            <input type="radio" id="female" name="gender"  value="2" ng-model="defaultRegistrationData.gender" class="input-hidden" />
                            <label for="female" class="gender-label female-label margin-left-25">
                                <img src="../../images/Female.png" alt="Female" />
                            </label>
                </div>
                    <div class="col-md-12 text-center">
                        <br/>
                            <h3 style="font-size: 24px;"> Date Of Birth</h3>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <br/>
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                             <div class="input-group">
                                    <input type="text" name='dob' ng-model="defaultRegistrationData.dob" class="search-input datepicker_cursor" id="dob"  readonly/>
                                    <span class="input-group-addon cursor" id="dobIcon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                            </div>
                            </div>
                        </div>
                <div class="col-md-12 margin-top-100">
                    <a href="" class="btn step_button pull-left"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="" class="btn step_button pull-right"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>


            <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;" ng-show="steps==2">
                <h1 class="h1-label">Let's know Your Physical Details</h1>
                <hr/>
                <form  name="basicDetailsForm" ng-submit="basicDetailsForm.$valid" ng-model="basicDetailsForm" novalidate>
                <div class="col-md-4 col-sm-4 no-padding pull-right">
                    <div class="col-md-12 margin-top5 margin-top-20 unit">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active unit-toggle-label"  ng-click="test('mUnit')">
                                <input type="radio" name="unit" ng-model="units"  id="option1" autocomplete="off" autofocus> Metric
                            </label>
                            <label class="btn btn-default unit-toggle-label"  ng-click="test('uUnit')">
                                <input type="radio" name="unit" ng-model="units"  id="option2" autocomplete="off"> &nbsp;&nbsp;&nbsp;US&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 margin-top-20">
                    <div class="col-md-4 col-sm-4 margin-top-10">Height<span class="pull-right">:</span></div>
                    <div ng-show="units==2">
                        <div class="col-md-3 col-sm-3">
                            <input class="calculator-input" name="feet" maxlength="2" ng-model="defaultRegistrationData.heightFeet" ng-pattern="/^0*[1-9]\d*$/"  ng-required="units==2" required>
                            <div class="text-count-position"><span class="text-unit">ft</span></div>
                                <span ng-show="userPlanSubmitted">
                                    <span  class="error-message" ng-show="basicDetailsForm.feet.$error.required"><span>Required.</span></span>
                                    <span class="error-message" ng-show="basicDetailsForm.feet.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                                </span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <input class="calculator-input" name="inches" maxlength="2"  ng-model="defaultRegistrationData.heightInches" ng-required="units==2"  ng-model="inches" ng-pattern="/^[0-9]+$/" required>
                            <div class="text-count-position"><span class="text-unit">in</span></div>

                                <span ng-show="userPlanSubmitted">
                                    <span class="error-message" ng-show="basicDetailsForm.inches.$error.required"><span>Required.</span></span>
                                    <span class="error-message" ng-show="basicDetailsForm.inches.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                                </span>
                        </div>
                    </div>
                    <div ng-show="units==1">
                        <div class="col-md-6 col-sm-6">
                            <input class="calculator-input" ng-model="defaultRegistrationData.height"  name="height" ng-required="units==1" required maxlength="5">
                            <div class="text-count-position"><span class="text-unit lbs">cm</span></div>
                            <span ng-show="userPlanSubmitted">
                                <span class="error-message"  ng-show="basicDetailsForm.height.$error.required"><span>Required.</span></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 margin-top-10">
                    <div class="col-md-4 col-sm-4 margin-top-10"  ng-pattern="/^0*[1-9]\d*$/">Weight<span class="pull-right">:</span></div>
                    <div class="col-md-6 col-sm-6">
                        <span ng-show="units==1">
                           <input class="calculator-input"  ng-model="defaultRegistrationData.weight" name="weight" ng-required="units==1"  maxlength="5">
                        <div class="text-count-position"><span class="text-unit lbs">kgs</span></div>
                        <span ng-show="userPlanSubmitted">
                            <span class="error-message" ng-show="basicDetailsForm.weight.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="basicDetailsForm.weight.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                        </span>
                        <span ng-show="units==2">
                             <input class="calculator-input"  ng-model="defaultRegistrationData.weightlbs" name="weightlbs" ng-required="units==2">
                        <div class="text-count-position"><span class="text-unit lbs">lbs</span></div>
                        <span ng-show="userPlanSubmitted">
                            <span class="error-message" ng-show="basicDetailsForm.weightlbs.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="basicDetailsForm.weightlbs.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12  margin-top-10" ng-hide="planType==1">
                    <div class="col-md-4 col-sm-4 margin-top-10" ng-show="planType==2">How Many&nbsp;<span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span>&nbsp;You Want to Reduce?<span class="pull-right">:</span></div>
                    <div class="col-md-4 col-sm-4 margin-top-10" ng-show="planType==3">How Many&nbsp;<span ng-show="units==1">kgs</span><span ng-show="units==2">lbs</span>&nbsp;You Want to Increase?<span class="pull-right">:</span></div>
                <div class="col-md-6 col-sm-6">
                <input class="calculator-input" ng-model="defaultRegistrationData.targetweight"  name="targetweight"  ng-required="planType!=1">
                    <span ng-show="userPlanSubmitted">
                        <span class="error-message" ng-show="basicDetailsForm.targetweight.$error.required"><span>Required.</span></span>
                    </span>
                </div>
                </div>

                <div class="col-md-12 col-sm-12 margin-top-10"  ng-hide="planType==1 || planType==2">
                    <div class="col-md-4 col-sm-4">
                      Choose End Date <span class="pull-right">:</span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                    <div class="input-group">
                        <input type="text" name="enddate" id="enddate" class="search-input datepicker_cursor" ng-model="enddate" readonly/>
                        <span class="input-group-addon cursor" id="enddateIcon" >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                    </div>
                </div>
                    <div class="col-md-12 text-center margin-top-70">
                        <a href="" class="btn step_button pull-left"  ng-click="previousStep();"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        <a href="" class="btn step_button pull-right"  ng-click="doValidation();userPlanSubmitted=true;">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                </form>

                </div>
            <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;"  ng-show="steps==3">
                <h1 class="h1-label">Let's know Your Activity Details</h1>
                <div class="col-lg-12 col-sm-12 col-md-12 no-padding">
                    <div class="col-md-12">
                        <div  class="col-md-4 col-sm-4 margin-top-20">
                            <input type="radio" id="noexercise" class="height" name="noexercise" value="1" ng-model="defaultRegistrationData.activitytype"/>
                            <label class="workout-label exercise-type text-center" for="noexercise">Little to No Exercise <br/><small class="small-font-size"> - </small><br/>
                                <img src="../../images/reg-little.png" style="height: 100px;width: 100px; margin-top: 10px">
                            </label>

                        </div>
                        <div  class=" col-md-4 col-sm-4 margin-top-20">
                            <input type="radio" id="littleexercise" class="height" name="littleexercise" value="2" ng-model="defaultRegistrationData.activitytype"/>
                            <label class="workout-label exercise-type text-center"  for="littleexercise">Little Exercise <br/><small class="small-font-size"> 1-3 days per week</small>
                                <img src="../../images/reg-little.png" style="height: 100px;width: 100px; margin-top: 10px"></label>

                        </div>
                        <div  class=" col-md-4 col-sm-4 margin-top-20">
                            <input type="radio" id="moderate" class="height" name="moderate" value="3" ng-model="defaultRegistrationData.activitytype"/>
                            <label class="workout-label exercise-type text-center"   for="moderate">Moderate Exercise<br/><small  class="small-font-size"> 3-5 days per week</small>
                                <img src="../../images/reg-moderate.png" style="height: 100px;width: 100px; margin-top: 10px">
                            </label>

                        </div>
                    </div>
                </div>
                    <div class="col-md-12">
                    <div  class="col-md-2"></div>
                    <div  class="col-md-4 margin-top-20">
                <input type="radio" id="heavy" class="height" name="heavy" value="4" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label exercise-type text-center"  for="heavy">Heavy Workout<br/><small  class="small-font-size"> 6-7 days per week</small>
                    <img src="../../images/reg-heavy.png" style="height: 100px;width: 100px; margin-top: 10px">
                </label>

                </div>
                <div  class="col-md-6 col-sm-4 margin-top-20">
                <input type="radio" id="veryheavy" class="height" name="veryheavy" value="5" ng-model="defaultRegistrationData.activitytype"/>
                <label class="workout-label exercise-type text-center"  for="veryheavy">Very Heavy Workout<br/><small  class="small-font-size"> Twice Per day ,extra Heavy Workout</small>

                    <img src="../../images/reg-very-heavy.png" style="height: 100px;width: 100px; margin-top: 10px"></label>

                </div>
                    </div>
                
                <div class="col-md-12 text-center margin-top-70">
                    <a href="" class="btn step_button pull-left"  ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="" class="btn step_button pull-right"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>

            </div>
            <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;" ng-show="planType==2 && steps==4">
                <h1 class="h1-label">Let's know Your Activity Details</h1>
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div ng-show="units==1">
                    <div  class="col-md-12 margin-top-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding">
                        <input type="radio" id="kg1" class="height" name="planChoice" value="1" ng-model="defaultRegistrationData.planchoice"/>
                        <label class=" workout-plan-button workout-label" for="kg1">
                            <span ng-show="units==1">Lose 1/4 kg per Week</span>
                            <span ng-show="units==2">Lose 11/20 lbs per Week</span></label>
                        </div>
                    </div>
                    <div  class="col-md-12 margin-top-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding">
                        <input type="radio" id="kg2" class="height" name="planChoice" value="2" ng-model="defaultRegistrationData.planchoice"/>
                        <label class=" workout-plan-button workout-label" for="kg2">
                                <span ng-show="units==1">Lose 1/2 kg per Week</span>
                                <span ng-show="units==2">Lose 11/10 lbs per Week</span></label>
                        </div>
                    </div>
                    <div  class="col-md-12 margin-top-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding">
                        <input type="radio" id="kg3" class="height" name="planChoice" value="3" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg3">
                                <span ng-show="units==1">Lose 3/4 kg per Week</span>
                                <span ng-show="units==2">Lose 33/20 lbs per Week</span></label>
                        </div>
                    </div>
                    <div  class="col-md-12 margin-top-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding">
                        <input type="radio" id="kg4" class="height" name="planChoice" value="4" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg4">
                                <span ng-show="units==1">Lose 1 kg per Week</span>
                                <span ng-show="units==2">Lose 21/5 lbs per Week</span></label>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-20">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 no-padding">
                        <input type="radio" id="kg5" class="height" name="planChoice" value="5" ng-model="defaultRegistrationData.planchoice"/>
                        <label class="workout-plan-button workout-label" for="kg5">Custom Exercise</label>
                        </div>
                        <div class="col-md-4 no-padding" style="margin-top:-15px;" ng-show="defaultRegistrationData.planchoice==5">
                                End Date
                                <div class="input-group">
                                    <input type="text" name="customEndDate" id="customEndDate" ng-model="defaultRegistrationData.customEndDate" class="search-input datepicker_cursor" readonly/>
                                    <span class="input-group-addon cursor" id="customEndDateIcon" >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                        </div>
                    </div>
                    </div>
                    <!-- <div >
                        <div class="col-md-12 col-sm-12 margin-top-20 text-center">
                            <div class="col-md-4 col-sm-4">
                                Choose an End Date <span class="pull-right">:</span>
                            </div>
                           
                        </div>
                    </div> -->
                    <div class="col-md-12 margin-top-70">
                        <a href="" class="btn step_button pull-left" ng-click="previousStep()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        <a href="" class="btn step_button pull-right"  ng-click="nextStep()">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>

            <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;" ng-show="steps==5">
                <h1 class="h1-label">Your Plan Preview</h1>
                <hr/>
                <div class="col-lg-12 col-sm-12 col-md-12 margin-top-20">
                    <!-- <h2 class="h2-label margin-top-20 "> Current Plan Preview</h2>
                    <hr/> -->
                    <div class="col-md-12 margin-top-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label"> Your Plan Type </div>
                        </div>
                        <div class="col-md-7">
                            <div ng-show="userPlanDetails.plantype==1"> <i>Maintain Weight</i></div>
                            <div ng-show="userPlanDetails.plantype==2"> <i>Weight Loss</i></div>
                            <div ng-show="userPlanDetails.plantype==3"> <i>Weight Gain</i></div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Your Daily Calorie Goal</div>
                        </div>
                        <div class="col-md-7">
                             <i>{{userPlanDetails.budget}} KCal</i>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-10" ng-hide="userPlanDetails.plantype==1">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">You Will Reach Your Goal In</div>
                        </div>
                        <div class="col-md-7">
                            <i>{{userPlanDetails.duration}}</i>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label"> Current Weight</div>
                        </div>
                        <div class="col-md-7">
                            <i>{{userPlanDetails.currentweight}}</i>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Target Weight</div>
                        </div>
                        <div class="col-md-7">
                            <div ng-if="userPlanDetails.targetweight!=null"><i>{{userPlanDetails.targetweight}}</i></div>
                            <div ng-if="userPlanDetails.targetweight==null"><span>-</span></div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  Start Date</div>
                        </div>
                        <div class="col-md-7">
                            <i>{{userPlanDetails.startdate}}</i>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-10">
                        <div class="col-md-4"><span class="pull-right">:</span>
                            <div class="preview-label">  End Date</div>
                        </div>
                        <div class="col-md-7">
                            <div ng-if="userPlanDetails.enddate!=null"><i>{{userPlanDetails.enddate}}</i></div>
                            <div ng-if="userPlanDetails.enddate==null"><span>-</span></div>
                        </div>
                    </div>
                </div>
                <!--Custom plan Alert-->
                <div id="custom-plan-confirmation" class="popupContainer" style="display:none;left:37%!important;">
                    <header class="popupHeader">
                        <span class="header_title">Alert</span>
                        <span class="modal_close"><i class="fa fa-times"></i></span>
                    </header>

                    <section class="popupBody">
                        <!-- Register Form -->
                        <div class="common_model">
                            Your Weigh Loss Plan Can be achieved Only on {{possibledate}} Would You Like to Continue This Plan?
                            <div class="action_btns margin-top-20">
                                <div class="one_third modal_close"><a href="" class="btn btn_blue" ng-click="doGetUserPlanOverView(true)">Yes,Use This Date</a></div><br/>
                                <div class="one_third last modal_close"><a class="btn btn_blue" ng-click="changePlan()">No,ChangePlan</a></div><br/>
                                <div class="one_third last modal_close"><a class="btn btn_blue" ng-click="userRegistration()">Skip & Register</a></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="pull-right margin-top-50">
                    <a href=""  ng-click="userRegistration()" class="workout-plan-button btn button register-button" >&nbsp; Register</a>
                    <a href="" class="workout-plan-button btn button margin-left-20 change-plan" ng-click="changePlan()">Change Plan</a>
                </div>
            </div>


        <div class="container" style="width:75% !important; box-shadow: 0 0 3px rgba(0, 0, 0, .3); padding:20px;" ng-show="steps==6">
            <h1 class="h1-label">Sign Up</h4>
            <hr/>
            <div class="col-lg-12 col-sm-12 col-md-12 margin-top-20">
            <form  name="registerForm" ng-submit="registerForm.$valid" ng-model="registerForm" novalidate>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px !important"> First name<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" name="firstname"  ng-model="registerUser.firstname" required validate-alpha-with-space><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.firstname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.firstname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px !important"> Last name<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" name="lastname" ng-model="registerUser.lastname" required validate-alpha-with-space><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.lastname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.lastname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px !important">Email ID<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input class="calculator-input" ng-model="registerUser.emailid" name="email"validate-email required><br/>
                        <span ng-show="submitted">
                            <span class="error-message" ng-show="registerForm.email.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="registerForm.email.$error.validateEmail"><span>Invalid&nbsp;Format.</span></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="padding-left: 150px !important">Password<span class="pull-right">:</span></div>
                    <div class="col-md-7">
                        <input type="{{showPassword?'text':'password'}}" id="password" ng-model="registerUser.password" class="calculator-input" name="password" maxlength="20" required>
                        <span class="fa fa-fw {{showPassword?'fa-eye-slash':'fa-eye'}} field-icon" ng-click="toggleShowPassword()"></span>
                        <span ng-show="submitted">
                        <span class="error-message" ng-show="registerForm.password.$error.required"><span>Required.</span></span>
                          <span class="error-message" ng-show="registerForm.password.$error.pattern"><span>Condition&nbsp;not&nbsp;satisfied</span></span>
                        </span>
                        <div id="password_info">
                            <h4>Password must meet the following requirements:</h4>

                            <ul class="remove-style">
                                <li id="letter" class="invalid">At least <strong>one small letter</strong>

                                </li>
                                <li id="capital" class="invalid">At least <strong>one capital letter</strong>

                                </li>
                                <li id="number" class="invalid">At least <strong>one number</strong>

                                </li>
                                <li id="special" class="invalid">At least <strong>one special character</strong>

                                </li>
                                <li id="length" class="invalid">Be at least <strong>6 characters</strong>

                                </li>
                                <li id="space" class="valid">Should not allow space

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            <div class="col-md-12" style="margin-top: 3%" >
                <div class="col-md-5 col-sm-5">
                </div>
                <div class="col-md-7 col-sm-7">
                    <a href="" class="btn step_button margin-left-20"  ng-click="changePlan()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Previous</a>&nbsp;
                    <a href="" class="workout-plan-button btn button change-plan" ng-click="doUserRegistration();" >Submit</a>
                </div>
            </div>

            </form>
             </div>
        </div>
            </div>
        </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#password').keyup(function () {
            // set password variable
            var password = $('#password').val();
            if (password.length < 6) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
//validate letter
            if (password.match(/[a-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }
//validate capital letter
            if (password.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

//validate number
            if (password.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (password.match(/\s/)) {
                $('#space').removeClass('valid').addClass('invalid');
            } else {
                $('#space').removeClass('invalid').addClass('valid');
            }

            if (password.match(/[#?!@$%^&*-]/)) {
                $('#special').removeClass('invalid').addClass('valid');
            } else {
                $('#special').removeClass('valid').addClass('invalid');
            }

            if ($('#password_info li.invalid').length == 0) {
                $('#password_info').fadeOut();
            } else {
                $('#password_info').fadeIn();
            }
        });
        $('#password').focus(function () {
            // set password variable
            var password = $('#password').val();
            if (password.length < 6) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
//validate letter
            if (password.match(/[a-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }
//validate capital letter
            if (password.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

//validate number
            if (password.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (password.match(/\s/)) {
                $('#space').removeClass('valid').addClass('invalid');
            } else {
                $('#space').removeClass('invalid').addClass('valid');
            }

            if (password.match(/[#?!@$%^&*-]/)) {
                $('#special').removeClass('invalid').addClass('valid');
            } else {
                $('#special').removeClass('valid').addClass('invalid');
            }

            if ($('#password_info li.invalid').length == 0) {
                $('#password_info').fadeOut();
            } else {
                $('#password_info').fadeIn();
            }
        });
        $('#password').keyup(function () {
        }).focus(function () {
            $('#password_info').show();
        }).blur(function () {
            $('#password_info').hide();
        });
    });

</script>f
