
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <div flash-message="2000" class="col-lg-3 col-md-3 col-sm-3 pull-right no-padding"></div>
                <h5 class="classic-title"><span><a href="#advices">My Advice</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#coach-plans">My Meal Plans</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#coach-plans">My Workout Plans</a></h5>
                <form name="adviceForm" novalidate>
                    <p class="pull-right" ng-show="showCount && myadvice.description.length"><span class="text-bold text-red">{{ (350-myadvice.description.length) }}</span> Characters left&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="pull-right" ng-hide="showCount && myadvice.description.length">&nbsp;</p>
                    <h5 class="text-muted">Description :</h5>
                    <textarea class="height-150 forum-textarea" name="description" ng-model="myadvice.description" maxlength="350" ng-blur="showCount=0" ng-focus="showCount=1" required></textarea>
                     <span ng-show="adviceForm.description.$dirty&&adviceForm.description.$invalid">
                                      <span class="error-message textarea-errormessage40" ng-show="adviceForm.description.$error.required"><span>Required.</span></span>
                                 </span>
                    <div class="text-center">
                        <a href="" class="btn btn-success" ng-disabled="adviceForm.$invalid || isClean()" ng-click="doInsertOrUpdateMyAdvice()">Save Advice</a>
                        <a href="#dashboard" class="btn btn-warning">Cancel</a>
                        <span ng-show="myadvice.status==0"><a href=""  class="btn btn-success" ng-click="doEnableDisableMyAdvice()">Enable&nbsp;</a></span>
                        <span ng-hide="myadvice.status==0"><a href="" class="btn btn-danger" ng-click="doEnableDisableMyAdvice()">Disable</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

