

<div class="row" ng-cloak class="ng-cloak">
    <div ng-if="viewload">
        <div class="loader-style">
            <div class="loader"></div>
        </div>
    </div>
    <div ng-show="coachuserlist.length>0">
        <div class="col-lg-8 col-md-8 col-sm-8 height-320 margin-bottom-10">
            <h2><strong>USER DETAILS</strong></h2>  

          <table class="table table-bordered table-striped margin-top-20">
                <tr>
                    <td class="col-md-4">Name</td>
                    <td class="col-md-8">{{coachuserdetails.name}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Date of Birth</td>
                    <td class="col-md-8">{{coachuserdetails.dob}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Phone Number</td>
                    <td class="col-md-8">{{coachuserdetails.phone}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Gender</td>
                    <td class="col-md-8">{{coachuserdetails.gender==1?"Male":"Female"}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">City</td>
                    <td class="col-md-8">{{coachuserdetails.city}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">State</td>
                    <td class="col-md-8">{{coachuserdetails.stateName}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Country</td>
                    <td class="col-md-8">{{coachuserdetails.countryName}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Zip</td>
                    <td class="col-md-8">{{coachuserdetails.zipcode}}</td>
                </tr>
           </table>                     
           
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center;">
            <div class="col-md-12 col-md-12 col-sm-12 margin-top-10">
            <img ng-src="{{coachuserdetails.imageurl | trusted}}"/>
            <h3 class="text-orange margin-bottom-10 text-uppercase margin-top-7">{{coachuserdetails.name}}</h3>
            <h5 class="margin-bottom-10 margin-top-7"><strong>{{coachuserdetails.emailid}}</strong></h5>
            <span><a href="" class="btn register_button" ng-click="doSendInvitationByCoach(coachuserdetails.userid)" ng-show="coachuserdetails.relationship==1 ||coachuserdetails.relationship=='NA'|| coachuserdetails.relationship==5">Send Invitation</a></span>
            <div class="text-uppercase margin-top-7"><a href="" ng-show="coachuserdetails.relationship==1" ng-click="doRemoveInvitationsByCoach(coachuserdetails.userid);"><strong>Remove Interests</strong></a></div>
            <h3  class="text-success" ng-if="coachuserdetails.relationship==2"><i class="fa fa-check-circle">&nbsp;&nbsp;Invitation Sent </i></h3>
            <h3  class="text-success" ng-show="coachuserdetails.relationship==3 ||coachuserdetails.relationship==4 "><i class="fa fa-user">&nbsp;&nbsp;Already a Member</i></h3>
            <h3  class="text-red" ng-show="coachuserdetails.relationship==5"><i class="fa fa-user">&nbsp;&nbsp;Removed User</i></h3>
        </div>
    </div>
    </div>
    <div ng-show="coachuserlist.length==0" class="text-center margin-top-50">
        <img src="../../images/no-coach.png" width="200" height="200"/>
        <h1 class="text-gray">NO USER FOUND!!!</h1><br/>
    </div>
</div>
<script type="text/javascript" src="../../js/script.js"></script>

