
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row min-height-450" ng-init="init()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <a id="modal_workout_plan" href="#workout-plan" class="back-button pull-right margin-left-5" ng-click="reset()"><i class="fa fa-plus-circle"></i> Add Workout Plan</a>
                <div flash-message="2000" class="col-lg-3 col-md-3 col-sm-3 pull-right no-padding"></div>
                <h5 class="classic-title"><a href="#coach-assessments"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Assessments</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#coach-meal-plans"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Meal Plans</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#coach-workout-plans"><i class="fa fa-list"></i>&nbsp;&nbsp;Workout Plans</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#advices"><i class="fa fa-comment"></i>&nbsp;&nbsp;Quote</a></h5>
            </div>
            
            <div class="col-md-12 col-md-12 col-sm-12">    
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>    

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="warning">
                            <th class="col-md-2">Plan Name</th>
                            <th class="col-md-6">Plan Description</th>
                            <th class="col-md-2">Plan Duration</th>
                            <th class="col-md-2">Options</th>
                        </tr>    
                    </thead>
                    <tbody>
                        <tr dir-paginate="plan in coachWorkoutPlanList.plans | itemsPerPage:pagination.itemsPerPage" ng-show="coachWorkoutPlanList.plans.length!=0" current-page="pagination.pageNumber" total-items="coachWorkoutPlanList.totalrecords">
                            <td class="wrap-all">{{plan.planname}}</td>
                            <td class="wrap-all">{{plan.description}}</td>
                            <td>{{plan.plandays>1?plan.plandays+"&nbsp;Days":plan.plandays+"&nbsp;Day"}}</td>
                            <td>
                                <a href="#coach-workout-plans-view/{{plan.id}}" class="btn-xs btn-primary">Plan</a>
                                <a href="" class="btn-xs btn-warning" ng-click="doEditCoachWorkoutPlan(plan.id)">Edit</a>
                                <a href="" class="btn-xs btn-danger" ng-click="doDeleteCoachWorkoutPlan(plan.id)">Delete</a>
                            </td>
                        </tr>    
                        <tr ng-show="coachWorkoutPlanList.plans.length==0"><td colspan="4" class="text-center">No Records Found !!!</td></tr>
                    </tbody>    
                </table>    
               <!-- Start Pagination -->
                <dir-pagination-controls ng-show="paginationLoad" boundary-links="true"> </dir-pagination-controls>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->
<!-- coach meal plan Popup-->
<div id="workout-plan" class="popupContainer-width-big" style="display:none;left:19%;">
    <header class="popupHeader width-100">
        <span class="header_title">{{title}}</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- measure Form -->
        <div class="common_model">
            <form name="workoutPlanForm" novalidate>
            <div class="row">
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>Plan Name</p>
                        <input type="text" name="planname" data-mealplanid="workoutPlan.id"  validate-all-characters ng-model="workoutPlan.planname" maxlength="200" required focus-me="shouldBeOpen">
                             <span ng-show="workoutPlanForm.planname.$dirty&&workoutPlanForm.planname.$invalid">
                                 <span class="error-message" ng-show="workoutPlanForm.planname.$error.required"><span>Required.</span></span>
                                 <span class="error-message" ng-show="workoutPlanForm.planname.$error.validateAllCharacters"><span>Please&nbsp;Enter&nbsp;Valid&nbsp;Name.</span></span>
                             </span>
                    </div>             
                </div>         
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>Plan Days</p>
                        <select name="plandays" class="full-width main" ng-class="{'disabled-class':changeDays}" ng-model="workoutPlan.plandays" ng-init="workoutPlan.plandays='0'" required focus-me="shouldBeOpen" style="height: 42px !important" ng-disabled="changeDays">
                            <option value="">-- Select Plan Days --</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                                
                        <span ng-show="workoutPlanForm.plandays.$dirty&&workoutPlanForm.plandays.$invalid">
                             <span class="error-message" ng-show="workoutPlanForm.plandays.$error.required"><span>Required.</span></span>
                        </span>
                    </div>            
                </div>
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>Intensity<small class="pull-right text-red"><i>optional</i></small></p>
                        <input type="text" name="plandays" ng-model="workoutPlan.intensity" focus-me="shouldBeOpen">
                    </div>             
                </div>         
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>Level<small class="pull-right text-red"><i>optional</i></small></p>
                        <input type="text" name="plandays" ng-model="workoutPlan.level" focus-me="shouldBeOpen">
                    </div>            
                </div>
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>It is Good For<small class="pull-right text-red"><i>optional</i></small></p>
                        <input type="text" name="plandays" ng-model="workoutPlan.goodfor" focus-me="shouldBeOpen">
                    </div>            
                </div>         
                <div class="col-md-4 no-padding">
                    <div class="col-md-12">
                        <p>Equipments Used<small class="pull-right text-red"><i>optional</i></small></p>
                        <input type="text" name="plandays" ng-model="workoutPlan.equipments" max-length="200" focus-me="shouldBeOpen">
                    </div>            
                </div>
                <div class="col-md-12">
                    <p style="margin-bottom: -13px">Description</p>
                    <span ng-show="workoutPlanForm.description.$dirty&&workoutPlanForm.description.$invalid">
                         <span class="error-message textarea-errormessage40" ng-show="workoutPlanForm.description.$error.required"><span>Required.</span></span>
                    </span>
                    <textarea class="forum-textarea" name="description" ng-model="workoutPlan.description" maxlength="250" required></textarea>
                </div>
            </div>
            
                 <div class="action_btns margin-top-20">
                    <div class="col-lg-8 col-md-8 col-sm-8 workout-btn">
                    <div class="one_half" ng-show="isNew"><a ng-class="{modal_close:workoutPlanForm.$invalid}" class="btn btn_red" ng-disabled="workoutPlanForm.$invalid" ng-click="doAddWorkoutPlanByCoach()">Add Workout</a></div>
                    <div class="one_half" ng-hide="isNew"><a ng-class="{modal_close:workoutPlanForm.$invalid}" class="btn btn_red" ng-disabled="workoutPlanForm.$invalid || isClean()" ng-click="doAddWorkoutPlanByCoach()">Save Changes </a></div>
                    <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">Cancel</a></div>
                    </div>
                </div>
            
            </form>
        </div>
    </section>
</div>

<script type="text/javascript">
    $("#modal_workout_plan").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
