<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row min-height-450">
        <div class="col-md-12 col-md-12 col-sm-12">
            <span><a href="#coach-assessments" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
            <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
            <h4 class="classic-title"><span>{{mainTitle}}</span></h4>
        </div>
        	 <form name="assessmentsForm" novalidate>
        	 		<div class="col-md-8">
                        <div class="col-lg-4 col-md-4 col-sm-4 margin-top-7">
                            <h4>Assessment Name <span class="pull-right">:</span></h4><br/>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <span ng-show="assessmentsForm.assessmentname.$dirty&&assessmentsForm.assessmentname.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="assessmentsForm.assessmentname.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input" maxlength="150" name="assessmentname" placeholder="Enter Assessment Name" ng-model="assessments.assessmentname" required>
                            <div class="text-count-position"><span class="text-count">{{(150 - assessments.assessmentname.length)}}</span></div>
                        </div>                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	<h4>Questions</h4>
                        	<hr/>
                        	<span ng-show="assessments.questions.length==0">
                        		<div class="col-lg-5 col-md-5 col-sm-5">
                                    <img class="pull-right" src="../../images/no-section.png"/>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 margin-top-10">
                                    <h2 class="text-gray margin-top-20">no questions added</h2>
                            	</div>
                            </span>
                        	<div class="question" ng-repeat="question in assessments.questions">
                        	<h5>Q{{$index+1}}.&nbsp;&nbsp;{{question.question}}&nbsp;&nbsp;<span class="badge pull-right">{{question.answertype==1?"Single Choice":question.answertype==2?"Multi Choice":"Text"}}</span></a></h5>
                        	<div  class="answers" ng-repeat="option in question.answers"> 
                        	<p>{{$index+1}}.&nbsp;{{option}}</p>
                        	</div>
                        	<div class="actions"><a class="appointment_booknow margin-top-10" href="" ng-click="doEditQuestion($index)">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="appointment_booknow margin-top-10" href="" ng-click="assessments.questions.splice($index, 1)">Delete</a></div>
                        	</div>
                        	<div class="col-md-offset-4 col-md-8">
                        	<span class="pull-right margin-top-5"><a id="modal_add_question" href="#add-question" class="appointment_booknow" ng-click="reset()"><i class="fa fa-plus-circle"></i> Add Question</a><span>
                        	</div>
                            <div class="col-md-12"><hr/></div>
                            <div class="col-md-offset-4 col-md-8">
                                <span ng-show="true"><a href="" ng-disabled="assessmentsForm.$invalid || assessments.questions.length==0" class="btn btn-success" ng-click="doSaveUpdateAssessment(1)">Save Assessment</a></span>
                            <span ng-show="true"><a href=""  ng-disabled="assessmentsForm.$invalid || assessments.questions.length==0 ||isClean()"  class="btn btn-primary" ng-click="doSaveUpdateAssessment(0)">Save as Draft</a></span>
                            <span ng-show="true"><a href="#coach-assessments" class="btn btn-danger">Cancel</a></span>
                            </div>
                            
                        </div> 
                    </div>   
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        	<center><img src="../../images/assessment.png" class="margin-top-50"/></center>
                        </div> 

             </form>
        </div>
    </div>

</div>


    <div id="add-question" class="popupContainer-width-big" style="display:none;left:19%;">
    <header class="popupHeader width-100">
        <span class="header_title">{{title}}</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- measure Form -->
        <div class="common_model">
            <form name="addQuestionForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <strong><p>Question:</p></strong>
                    </div>  
                    <div class="col-md-10">
                        <input type="text" name="question" validate-all-characters ng-model="addQuestion.question" maxlength="200" required>
                             <span ng-show="addQuestionForm.question.$dirty&&addQuestionForm.question.$invalid">
                                 <span class="error-message" ng-show="addQuestionForm.question.$error.required"><span>Required.</span></span>
                             </span> 
                    </div>          
                </div>         
                <div class="col-md-12 margin-top-10">
                    <div class="col-md-2">
                        <strong><p>Question Type:</p></strong>                                       
                    </div> 
                    <div class="col-md-10">
                     <select name="questiontype" ng-model="addQuestion.answertype" ng-options="answertype.typeId as answertype.type for answertype in answertypelist" class="full-width main" style="height: 42px !important">
                        </select> 
                    </div>             
                </div>
                <div class="col-md-12 margin-top-10" ng-show="addQuestion.answertype!=3">
                	<div class="col-md-2">
                        <p><strong>Options:</strong></p>
                    </div> 
                    <div class="col-md-10">
                    	<a class="appointment_booknow pull-left margin-top-10" href="" ng-click="addQuestion.answers.push('')">Add One More Option</a>
                   	</div>
                    <div class="col-md-12">
                    <hr/>
                	</div>
                </div>
                <div class="col-md-12 options-content no-padding" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '10px',background:'#eee'}"> 
                <div class="col-md-12 margin-top-30" ng-repeat="answer in addQuestion.answers track by $index" ng-show="addQuestion.answertype!=3">
                	<div class="col-md-2">
                        <p class="pull-right">Option {{$index+1}}:</p>
                    </div>  
                    <div class="col-md-9 col-sm-10 no-padding">
                                    {{addQuestion.answers[$index]}}
		                       		 <input type="text" name="answer_{{$index}}" ng-model="addQuestion.answers[$index]" maxlength="200" ng-required="addQuestion.answertype!=3">
		                             <span ng-show="addQuestionForm.answer_{{$index}}.$dirty&&addQuestionForm.answer_{{$index}}.$invalid">
		                                 <span class="error-message" ng-show="addQuestionForm.answer_{{$index}}.$error.required"><span>Required.</span></span>
                                         <span class="error-message" ng-show="!addQuestionForm.answer_{{$index}}.$error.required&&addQuestionForm.answer_{{$index}}.$error.compareTo"><span>Options&nbsp;should&nbsp;not&nbsp;match.</span></span>
		                             </span> 

                    </div>
                    <div class="col-md-1 col-sm-2 no-padding" ng-show="addQuestion.answers.length>2"><a href="" ng-click="addQuestion.answers.splice($index, 1);"><i class="fa fa-trash option_delete_icon" aria-hidden="true"></i></a></div>
               	</div>
               	</div>               
                </div>              
            </div>
            
                 <div class="action_btns margin-top-20">
                    <div class="col-lg-8 col-md-8 col-sm-8 workout-btn" style="margin-left:15% !important;">
                    <div class="one_half" ng-show="isNew"><a ng-class="{modal_close:addQuestionForm.$invalid}" class="btn btn_red" ng-disabled="addQuestionForm.$invalid" ng-click="assessments.questions.push(addQuestion)">Add Question</a></div>
                    <div class="one_half" ng-hide="isNew"><a ng-class="{modal_close:addQuestionForm.$invalid}" class="btn btn_red" ng-click="doAddWorkoutPlanByCoach()">Save Changes </a></div>
                    <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">Cancel</a></div>
                    </div>
                </div>
            
            </form>
        </div>
    </section>
</div>	

<script type="text/javascript">
    $("#modal_add_question").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>