
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12" ng-init="coachUserInit()">
                <div class="display-style pull-right">
                    <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back <span class="hidden-md hidden-sm">to Dashboard</span></a>
                </div>
                
                <h5><button type="submit" class="invite-button modal-inviteUsers pull-right margin-left-5" ng-click="doInviteUserPopup()"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Invite User</button></h5>
                <div flash-message="2000" class="col-lg-3 col-md-3 col-sm-3 pull-right no-padding"></div>
                
                <h5 class="classic-title"><a href="#my-members"><i class="fa fa-money"></i>&nbsp;&nbsp;CLIENTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#coach-invitations"><i class="fa fa-dollar"></i>&nbsp;&nbsp;INVITATIONS</a></span></h5>
            </div>           
            <div class="col-lg-4 col-md-5 col-sm-5 margin-bottom-10">

                <div>
                    <input type="radio" id="interest" value="1" ng-model="invitationType" checked="checked"><label for="interest">Interested Users</label>
                    <input type="radio" id="new" value="2" ng-model="invitationType"><label for="new">New User</label>
                </div>
                
                <div class="search-content">
                    <input class="coach-input" ng-change="doGetUserListByCoach(true);" ng-model="coachsearch" placeholder="Search users here..">
                </div>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="coach-list">
                    <div class="content_scrollbar" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}" nice-scroll-end="doGetUserListByCoach(false)">
                        <div ng-show="coachuserlist.length>0" class="coach-view-width">
                            <div class="coach-view col-lg-12 col-md-12 col-sm-12" ng-class="{'active': coachuser.userid==coachuserdetails.userid}" ng-repeat= "coachuser in coachuserfilter= (coachuserlist | startsWithLetterSearch : coachsearch)" ng-click="doGetUserDetailsByCoach(coachuser.userid)">
                                <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                                    <img class="img-circle" ng-src="{{coachuser.imageurl | trusted}}">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 no-padding margin-top-5">
                                    <h4 class="col-lg-12 col-md-12 col-sm-12">{{coachuser.name}}</h4>
                                    <p class="col-lg-12 col-md-12 col-sm-12">{{coachuser.emailid}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <div ng-show="coachuserfilter.length==0" class="text-center margin-top-50">
                            <img src="../../images/no-coach-small.png" width="120" height="120"/>
                            <h3 class="text-gray">NO USER FOUND!!!</h3><br/>
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                               <h5><button type="submit" class="invite-button modal-inviteUsers text-center" ng-click="doInviteUserPopup()"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Invite User</button></h5>
                            </div> -->
                        </div>

                    </div>
                   
                </div>


            </div>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <div ng-include src="'views/coach-invitations-view.html'"></div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<!-- Users email invitation popup-->
<div id="coachSendEmail" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Invite a User</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form name="inviteUserForm" novalidate>
               <p>Inviting User Email ID</p>
               <input type="text" name="email" ng-model="sendEmail.useremailid" maxlength="50" required focus-me="shouldBeOpen" validate-email/>
               <span ng-show="inviteUserForm.email.$dirty&&inviteUserForm.email.$invalid && !inviteUserForm.email.$pristine">
                   <span class="error-message" ng-show="inviteUserForm.email.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="inviteUserForm.email.$error.validateEmail"><span>Invalid&nbsp;Email&nbsp;ID.</span></span>
               </span>

               <div class="action_btns margin-top-20">
                   <div class="one_half"><a class="btn btn_red modal_close" onclick="return false" ng-disabled="inviteUserForm.$invalid" ng-click="doSendEmailInvitationByCoach(sendEmail.useremailid)">Send Email</a></div>
                   <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">Cancel</a></div>
               </div>
           </form>
       </div>
   </section>
</div>

<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript">
   $(".modal-inviteUsers").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
