
<!-- Start Page Banner -->
<script type="text/ng-template" id="foodTemplate.html" xmlns="http://www.w3.org/1999/html">
  <a>
      <img ng-if="match.model.foodImagePath" class="img-circle" ng-src="{{match.model.foodImagePath}}50x50.jpg" width="35">&nbsp;
      <span class="wrap" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>&nbsp;
  </a>
</script>

<script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         ng-show="isOpen() && !moveInProgress"
         style="display: block;"
         aria-hidden="{{!isOpen()}}">
        <ul class="dropdown-menu remove-style" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                should-focus="isActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </ul>
    </div>
</script>
<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row min-height-450" ng-init="plansViewInit()">
        <div class="col-md-12 col-md-12 col-sm-12">
            <span><a href="#coach-meal-plans" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
            <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
            <h4 class="classic-title"><span>My Plans</span></h4>
        </div>
            
        <div class="col-md-12 col-md-12 col-sm-12 margin-top-10 margin-bottom-10">    
            <div ng-if="loaded">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="warning">
                            <th colspan="6"><h2 class="text-center"><strong>{{plandetail.description}}</strong></h2></th>
                        </tr>
                    </thead>
                <tr>
                    <th class="col-md-1 text-center" style="margin-top:15px"><strong>Plans</strong></th>
                    <th class="col-md-2 text-center"><strong>Breakfast</strong></th>
                    <th class="col-md-2 text-center"><strong>Brunch</strong></th>
                    <th class="col-md-2 text-center"><strong>Lunch</strong></th>
                    <th class="col-md-2 text-center"><strong>Snacks</strong></th>
                    <th class="col-md-2 text-center"><strong>Dinner</strong></th>
                </tr>
                <tr ng-repeat="mealPlanDetail in mealPlanDetailList" ng-init="$last ? doIntializeLeanModal() : null">
                    <td class="col-md-1 food-plans text-center align-bottom">{{mealPlanDetail.day}}</td>
                    <td class="food-plans">                           
                        <!--Breakfast-->
                        <div class="food" ng-repeat="foodItem in mealPlanDetail.foods[0].foodItems">
                            {{foodItem.foodname}}<i class="fa fa-times-circle" ng-click="doDeleteFoodItemFromPlan(foodItem.id);"></i>
                        </div>
                        <div><a id="modal_trigger_food" href="#modal-add-food" class="food-plan-add-food text-bottom" ng-click="doCoachAddFood(mealPlanDetail.dayId,mealPlanDetail.foods[0].sessionId);">Add Food</a></div>
                    </td>
                    <td class="food-plans">                           
                         <!--Brunch-->
                         <div class="food" ng-repeat="foodItem in mealPlanDetail.foods[1].foodItems">
                            {{foodItem.foodname}}<i class="fa fa-times-circle" ng-click="doDeleteFoodItemFromPlan(foodItem.id);"></i>
                        </div>
                        <div><a id="modal_trigger_food" href="#modal-add-food" class="food-plan-add-food text-bottom" ng-click="doCoachAddFood(mealPlanDetail.dayId,mealPlanDetail.foods[1].sessionId);">Add Food</a></div>
                    </td>
                    <td class="food-plans">                           
                        <!--Lunch-->
                        <div class="food" ng-repeat="foodItem in mealPlanDetail.foods[2].foodItems">
                            {{foodItem.foodname}}<i class="fa fa-times-circle" ng-click="doDeleteFoodItemFromPlan(foodItem.id);"></i>
                        </div>
                        <div><a id="modal_trigger_food" href="#modal-add-food" class="food-plan-add-food text-bottom" ng-click="doCoachAddFood(mealPlanDetail.dayId,mealPlanDetail.foods[2].sessionId);">Add Food</a></div>
                    </td>
                    <td class="food-plans">                            
                        <!--Snacks-->
                        <div class="food" ng-repeat="foodItem in mealPlanDetail.foods[3].foodItems">
                            {{foodItem.foodname}}<i class="fa fa-times-circle" ng-click="doDeleteFoodItemFromPlan(foodItem.id);"></i>
                        </div>
                        <div><a id="modal_trigger_food" href="#modal-add-food" class="food-plan-add-food text-bottom" ng-click="doCoachAddFood(mealPlanDetail.dayId,mealPlanDetail.foods[3].sessionId);">Add Food</a></div>
                    </td>
                    <td class="food-plans">                            
                         <!--Dinner-->
                         <div class="food" ng-repeat="foodItem in mealPlanDetail.foods[4].foodItems">
                            {{foodItem.foodname}}<i class="fa fa-times-circle" ng-click="doDeleteFoodItemFromPlan(foodItem.id);"></i>
                        </div>
                        <div><a id="modal_trigger_food" href="#modal-add-food" class="food-plan-add-food text-bottom" ng-click="doCoachAddFood(mealPlanDetail.dayId,mealPlanDetail.foods[4].sessionId);">Add Food</a></div>
                    </td>
                </tr>

                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- User Add Food-->
<div id="modal-add-food" class="popupContainer-width" style="display:none;">
    <div class="center-block">
        <header class="popupHeader width-100">
            <span class="header_title">{{title}}</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>

        <section class="popupBody">
            <!-- Register Form -->
            <div class="user_register">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="content-1">
                            <input class="profile_input" type="text" ng-model="selectedFood" placeholder="Search Food" uib-typeahead="food as food.foodname for food in inputChanged($viewValue)" typeahead-popup-template-url="customPopupTemplate.html" typeahead-template-url="foodTemplate.html" typeahead-on-select="foodSelected()" typeahead-class="form-control">
                        </div>
                        <div class="search-loading" ng-show="loadingFoods"><i class="fa fa-spinner fa-pulse"></i>&nbsp;&nbsp;Searching Foods...</div>
                       
                    </div><br/>
                    <div ng-show="addFood">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                            <img ng-if="userSelectedFoodDetails.foodImagePath" class="img-circle border-image" ng-src="{{userSelectedFoodDetails.foodImagePath+'50x50.jpg'}}">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="text-italic">Food Name:</div>
                            <h5 class="wrap">
                                <span><span ng-show="userSelectedFoodDetails.issuitable==1" class="green">&nbsp;</span>
                                <span ng-show="userSelectedFoodDetails.issuitable==0" class="red">&nbsp;</span>&nbsp;{{userSelectedFoodDetails.foodname}}</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <hr/>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <form name="FoodAddForm" novalidate>
                        <input type="hidden" ng-model="userFood.day"/>   
                        <input type="hidden" ng-model="userFood.foodsessionid" /> 
                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <h5 class="margin-top-10">Select Measure:</h5>
                            <select name="measure" ng-model="userFood.measure" ng-options="measure.measurename for measure in userSelectedFoodDetails.measure track by measure.measureid" ng-change="doCalculateCalories()" required>
                                <option value="">-- Select Measure --</option>
                            </select>
                             <span ng-show="FoodAddForm.measure.$dirty&&FoodAddForm.measure.$invalid">
                                     <span class="error-message" ng-show="FoodAddForm.measure.$error.required"><span>Required.</span></span>
                             </span>
                        <h5 class="margin-top-10">Value:</h5>
                        <input type="text"  ng-disabled="!userFood.measure" name="measurecount"  maxlength="6" ng-model="userFood.measurecount" ng-change="doCalculateCalories();maxFoodValueCheck(userFood.measurecount)" onkeypress="return validateFloatKeyPress1(this,event);"  required validate-zero>
                            <span class="error-message" ng-show="!FoodAddForm.measurecount.$error.required&&maxfoodvalue"><span>Please&nbsp;Enter&nbsp;Valid&nbsp;Value.</span></span>
                            <span ng-show="FoodAddForm.measurecount.$dirty&&FoodAddForm.measurecount.$invalid">
                               <span class="error-message" ng-show="FoodAddForm.measurecount.$error.required"><span>Required.</span></span>
                               <span class="error-message" ng-show="!FoodAddForm.measurecount.$error.required&&FoodAddForm.measurecount.$error.validateZero"><span>Invalid&nbsp;data.</span></span>
                            </span>
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10 no-padding">  
                            <h5>Is&nbsp;Optional?</h5>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center no-padding">
                                <input id="yes" type="radio" ng-model="userFood.isoptional" value="1">
                                  <label for="yes">Yes</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 no-padding text-center">
                                <input id="no" type="radio" ng-model="userFood.isoptional" value="0">
                                  <label for="no">No</label>
                            </div> 
                        </div> -->
                         
                         </div>
                        </form>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 text-center">
                        <h5>Calories Intake</h5>
                        <div class="circle-wrapper">
                            <div class="circle-progress ng-cloak" ng-style="getStyle()">{{current}}<br/><small>Calories</small></div>
                            <div round-progress
                                 max="max"
                                 current="current"
                                 color="#66E066"
                                 bgcolor="{{ bgColor }}"
                                 radius="{{ radius }}"
                                 semi="isSemi"
                                 rounded="rounded"
                                 stroke="{{ stroke }}"
                                 clockwise="clockwise"
                                 responsive="responsive"
                                 duration="{{ duration }}"
                                 animation="{{ currentAnimation }}"
                                 offset="{{ offset }}">
                            </div>
                        </div>
                        <p class="col-lg-12 col-md-12 col-sm-12 text-gray">out of {{max}} calories</p>
                    </div>
                    </div>
                </div>

                <div class="action_btns margin-tb-20 col-lg-12 col-md-12 col-sm-12 no-padding">
                    <div class="one_half" ng-show="isNew"><a href="#" onclick="return false;" ng-disabled="FoodAddForm.$invalid || maxfoodvalue" class="btn btn_blue modal_close" ng-click="doInsertFoodPlanByCoach()">Add Food</a></div>
                    <div class="one_half" ng-hide="isNew"><a href="#" onclick="return false;" ng-disabled="FoodAddForm.$invalid || isCleanFood() || maxfoodvalue" class="btn btn_blue modal_close"  ng-click="doUpdateUserFood()">Update Food</a></div>
                    <div class="one_half last modal_close"><a class="btn btn_red">Cancel</a></div>
                </div>
            </div>
        </section>
    </div>
</div>


<script type="text/javascript" src="../../js/script.js"></script>


