
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12" ng-init="coachUserInit()">
                <div class="display-style pull-right">
                    <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back <span class="hidden-md hidden-sm">to Dashboard</span></a>                    
                </div>
                <h5 class="classic-title"><a href="#my-members"><i class="fa fa-money"></i>&nbsp;&nbsp;CLIENTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#coach-invitations"><i class="fa fa-dollar"></i>&nbsp;&nbsp;INVITATIONS</a></span></h5>
            </div>           
            <div class="col-lg-4 col-md-5 col-sm-5 margin-bottom-10">
                <div class="search-content">
                    <input class="coach-input" ng-model="coachsearch" placeholder="Search coach here..">
                </div>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="coach-list">
                    <div class="content_scrollbar" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}" nice-scroll-end="doGetUserListByCoach(false)">
                        <div ng-show="coachuserlist.length>0" class="coach-view-width">
                            <div class="coach-view col-lg-12 col-md-12 col-sm-12" ng-class="{'active': coachuser.userid==coachuserdetails.userid}" ng-repeat= "coachuser in coachuserfilter= (coachuserlist | startsWithLetterSearch : coachsearch)" ng-click="doGetUserDetailsByCoach(coachuser.userid)">
                                <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                                    <img class="img-circle" ng-src="{{coachuser.imageurl | trusted}}">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 no-padding margin-top-5">
                                    <h4 class="col-lg-12 col-md-12 col-sm-12">{{coachuser.name}}</h4>
                                    <p class="col-lg-12 col-md-12 col-sm-12">{{coachuser.emailid}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <div ng-show="coachuserfilter.length==0" class="text-center margin-top-50">
                            <img src="../../images/no-coach-small.png" width="120" height="120"/>
                            <h3 class="text-gray">NO USER FOUND!!!</h3><br/><br/><br/>
                        </div>

                    </div>
                   
                </div>


            </div>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <div ng-include src="'views/coach-invitations-view.html'"></div>
            </div>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
</div>

<script type="text/javascript" src="../../js/script.js"></script>
