
<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-450">
                <a href="#courseView" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span>Course Edit</span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-md-2 margin-top-7">
                        <h4>Course Title <span class="pull-right">:</span></h4><br/>
                        <h4 class="margin-top-10">Course Subtitle <span class="pull-right">:</span></h4><br/>
                        <h4 class="margin-top-10">Course Category <span class="pull-right">:</span></h4><br/>
                        <h4 class="margin-top-10">Course Price <span class="pull-right">:</span></h4>
                    </div>
                    <div class="col-md-7">
                        <input class="search-input" placeholder="Enter course title">
                        <input class="search-input margin-top-15" placeholder="Enter course sub-title">
                        <select class="full-width course-select margin-top-15" name="secretquestion" required>
                            <option value="">Select the category</option>
                            <option value="1">Aging</option>
                            <option value="2">Beauty & Fashion</option>
                            <option value="3">Diets & Weight Loss</option>
                            <option value="4">Health & Fitness</option>
                            <option value="5">Health Tips</option>
                            <option value="6">Healthy Foods</option>
                        </select>
                        <input class="search-input margin-top-15" placeholder="Enter course price">
                        <p class="text-red margin-top-5"><b>Note : Price "zero" will be consider as free course.</b></p>
                    </div>
                    <div class="col-md-3">
                        <img id="profile-image-change" ng-src="{{userProfile.imageurl | trusted}}">
                        <input type="hidden" ng-model="userProfile.imageurl" name="profileImage" id="profileImageId"/>
                        <a id="modal_trigger" href="#modal" class="btn btn-sm btn-warning margin-top-10">Change Course Image</a>
                    </div>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-2 margin-top-15">
                            <h4>Course Description <span class="pull-right">:</span></h4>
                        </div>
                        <div class="col-md-10">
                            <textarea class="forum-textarea height-100"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="" class="btn btn-success">Save Changes</a>
                        <a href="#courseView" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create coach popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Profile Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="image-editor">
                <div class="cropit-image-preview center-block"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">

                <div class="action_btns margin-top-20">
                    <div class="one_half">
                        <div class="fileUpload food-button">
                            <span>Choose File</span>
                            <input type="file" class="upload cropit-image-input" />
                        </div>
                    </div>
                    <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close" ng-click="doUpdateProfileImage()">Upload Image</a></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

