
<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-450">
                <a href="#courseView/{{sectionDetails.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <span ng-show="sectionDetails.canedit==1 && courseSections.length!=0">
                    <a href="#courseSectionAdd/{{sectionDetails.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Add Section</a>
                    <a ng-click="reviewModel()" id="modal_trigger1" href="" class="back-button pull-right margin-left-5"><i class="fa fa-paper-plane"></i> Send to Review</a>
                </span>
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <h4 class="classic-title"><span>Course View</span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-md-8">
                        <h2 class="wrap">Section {{sectionDetails.sequenceno}}&nbsp;&nbsp;: {{sectionDetails.sectiontitle}} &nbsp;&nbsp;
                            <span ng-show="sectionDetails.canedit==1">
                                <a href="#courseSectionEdit/{{sectionDetails.sectionid}}?cancelvalue=2" title="Edit Section"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                <a href="" ng-click="sectionDeleteModel(sectionDetails.sectionid)" title="Delete Section" class="fa fa-trash"></a>
                            </span>
                        </h2>
                        <p class="margin-top-15 margin-bottom-20 wrap" ng-bind-html="sectionDetails.sectioncontent|html"></p>
                        <hr/>
                        <div class="text-center margin-top-20">
                            <a href="" class="btn course_button" ng-disabled="sectionDetails.sequenceno==1" ng-click="prevSection(sectionDetails.sequenceno)"><i class="fa fa-backward"></i>&nbsp;&nbsp; Previous Section</a>
                            <a href="" class="btn course_button margin-left-20" ng-disabled="sectionDetails.sequenceno==sectionLength" ng-click="nextSection(sectionDetails.sequenceno)">Next Section  &nbsp;&nbsp;<i class="fa fa-forward"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="wrap">{{sectionDetails.coursename}}</h2>
                        <h4 class="text-gray margin-top-10 margin-bottom-20 wrap">{{sectionDetails.coursesubtitle}}</h4>
                        <h5 ng-repeat="section in courseSections" class="margin-bottom-10 wrap">Section {{section.sequenceno}}:  <a href="" ng-click="changeSection(section.sectionid)">{{section.sectiontitle}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- send for review course popup-->
<div id="review-modal" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Send Confirmation</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="text-center"><img src="../../images/alert-ring.png"/></div><br/>
            <h5 class="text-center">You can't edit this course after<br/> sent to the review<br/><br/>Are you sure want to send this<br/> course for review?</h5>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_red modal_close" ng-click="sendCourseToReview(sectionDetails.courseid)">Yes</a></div>
                <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">No</a></div>
            </div>
        </div>
    </section>
</div>


<!-- delete section popup-->
<div id="section-modal" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Confirmation</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="text-center"><img src="../../images/alert-ring.png"/></div><br/>
            <h5 class="text-center">It will delete entire data of this section<br/>Are you sure want to delete this section?</h5>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_red modal_close" ng-click="deleteSection()">Yes</a></div>
                <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">No</a></div>
            </div>
        </div>
    </section>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger1").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>