
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 min-height-450">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <a href="" ng-click="checkBrowser()" class="back-button pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Create New Course</a>
                <div flash-message="2000" class="col-lg-4 col-md-4 col-sm-4 pull-right no-padding"></div>
                <h4 class="classic-title"><span><i class="fa fa-book"></i>&nbsp;&nbsp;Courses <span class="text-red">({{myCourseList.length}})</span> </span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="courseList in myCourseList"  ng-show="myCourseList.length!=0">
                        <a href="#course-view/{{courseList.courseid}}">
                            <div class="dashboard">
                                <span ng-show="courseList.coursestatus==1"><img class="course-status" src="../../images/draft.png"></span>
                                <span ng-show="courseList.coursestatus==2"><img class="course-status" src="../../images/pending.png"></span>
                                <span ng-show="courseList.coursestatus==3"><img class="course-status" src="../../images/published.png"></span>
                                <span ng-show="courseList.coursestatus==4"><img class="course-status" src="../../images/rejected.png"></span>
                                <div class="course-grid">
                                    <div class="col-lg-6 col-md-6 col-sm-6 margin-top-5">
                                        <h4 class="wrap course-title" title="{{courseList.coursename}}" >{{courseList.coursename}}</h4>
                                        <p class="margin-top-5">{{courseList.categoryname}}</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding hight-125">
                                        <img class="course-image-1" ng-src="{{courseList.promoimage | trusted}}">
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-6 margin-top-10">
                                        <span ng-hide="courseList.price==0"><h4 class="text-red text-bold">{{courseList.price}} $</h4></span>
                                        <span ng-show="courseList.price==0"><h4 class="text-green text-bold">Free</h4></span>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 margin-top-10">
                                        <span class="text-gray"> {{courseList.enrollcount}} Enrolls</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 hidden-sm margin-top-10">
                                        <span class="pull-right text-gray">{{courseList.createdon}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" ng-show="myCourseList.length==0">
                        <h1 class="col-lg-12 col-md-12 col-sm-12 margin-top-50 text-gray text-center">
                        No Courses Enrolled!!!<br/><br/>
                        <a class="btn btn-warning btn-sm" href="#course-add"><i class="fa fa-book"></i>&nbsp;&nbsp;Create a New Course</a>
                    </h1>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="browser-modal" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Alert</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="text-center"><img src="../../images/alert-ring.png"/></div><br/>
            <h5 class="text-center">We recommended you to use Google Chrome / Mozilla Firefox browser to Create/Edit course.</h5>
            <div class="action_btns margin-top-20">
                <div><a href="#course-add" class="btn btn_red modal_close" >Proceed Anyway</a></div>
            </div>
        </div>
    </section>
</div>

<!-- End Page Banner -->
<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>

<script type="text/javascript" src="../../js/script.js"></script>

