
<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-450">
                <a href="#course" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <a href="#courseSectionAdd" class="back-button pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Add Section</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span>Natural Health Tips for Skin</span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div class="col-md-3">
                        <img src="../../images/course-1.jpg">
                        <p class="margin-top-10">
                            Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                        </p>
                        <a href="#courseEdit" class="main-button margin-top-10">Edit Basic Info</a>
                    </div>
                    <div class="col-md-9 no-padding">
                        <div class="col-md-1 col-sm-2 no-padding">
                            <h4>Section 1:</h4>
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <h4><a href="#courseSection">Combination skin is usually dry or normal in some areas</a>&nbsp;&nbsp;&nbsp;<a href="#courseSectionEdit" class="fa fa-pencil"></a></h4>
                            <p class="margin-top-7 margin-bottom-20">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                        </div>
                        <div class="col-md-1 col-sm-2 no-padding">
                            <h4>Section 2:</h4>
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <h4><a href="#courseSection">Combination skin is usually dry or normal in some areas</a>&nbsp;&nbsp;&nbsp;<a href="#courseSectionEdit" class="fa fa-pencil"></a></h4>
                            <p class="margin-top-7 margin-bottom-20">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                        </div>
                        <div class="col-md-1 col-sm-2 no-padding">
                            <h4>Section 3:</h4>
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <h4><a href="#courseSection">Combination skin is usually dry or normal in some areas</a>&nbsp;&nbsp;&nbsp;<a href="#courseSectionEdit" class="fa fa-pencil"></a></h4>
                            <p class="margin-top-7 margin-bottom-20">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                        </div>
                        <div class="col-md-1 col-sm-2 no-padding">
                            <h4>Section 4:</h4>
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <h4><a href="#courseSection">Combination skin is usually dry or normal in some areas</a>&nbsp;&nbsp;&nbsp;<a href="#courseSectionEdit" class="fa fa-pencil"></a></h4>
                            <p class="margin-top-7 margin-bottom-20">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                        </div>
                        <div class="col-md-1 col-sm-2 no-padding">
                            <h4>Section 5:</h4>
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <h4><a href="#courseSection">Combination skin is usually dry or normal in some areas</a>&nbsp;&nbsp;&nbsp;<a href="#courseSectionEdit" class="fa fa-pencil"></a></h4>
                            <p class="margin-top-7 margin-bottom-20">
                                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

