<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Dashboard</span></h4>
            <div class="col-md-12 margin-top-10 margin-bottom-10">
                <div class="col-md-4">
                    <a href="#mymembers">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-users"></i> &nbsp;My Members
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backgreen">
                                <div class="dashcontent">
                                    <div class="col-md-4">
                                        <i class="fa fa-5x fa-users"></i>
                                    </div>
                                    <div class="col-md-8 left-border">
                                        <h3>
                                            My Members
                                        </h3>
                                        <p><span class="timer timerstyle" data-to="842" data-speed="2000"></span> Members</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#coach">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-user"></i> &nbsp;My Payments
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backorange">
                                <div class="dashcontent">
                                    <div class="col-md-4">
                                        <i class="fa fa-5x fa-user"></i>
                                    </div>
                                    <div class="col-md-8 left-border">
                                        <h3>
                                            My Payments
                                        </h3>
                                        <p><span class="timer timerstyle" data-to="50" data-speed="2000"></span> Payments</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#exercise">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-book"></i> &nbsp;My Advices
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backlovender">
                                <div class="dashcontent">
                                    <div class="col-md-4">
                                        <i class="fa fa-5x fa-bicycle"></i>
                                    </div>
                                    <div class="col-md-8 left-border">
                                        <h3>
                                            My Advices
                                        </h3>
                                        <p><span class="timer timerstyle" data-to="100" data-speed="2000"></span> Advices</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>