<!-- Start Page Banner -->
<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <span class="col-lg-12 col-md-12 col-sm-12 no-padding"><h4 class="classic-title"><span>Dashboard</span></h4></span>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#my-members">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-users"></i> &nbsp;My Members
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backgreen">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-users"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Members
                                        </h3>
                                        <p><span class="timer timerstyle count" count-to="{{myMemberCount}}" value="{{countFrom}}" duration="1"></span> Members</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#payments">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-dollar"></i> &nbsp;My Payments
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backorange">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-dollar"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Payments
                                        </h3>
                                        <p><span class="payment-font">{{myPayCount}}</span>&nbsp;$</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#advices">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-commenting"></i> &nbsp;My Plans & Quote
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backlovender">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-commenting"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Plans & Quote
                                        </h3>
                                        <p>Update your plans & daily quote</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#course">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-book"></i> &nbsp;My Courses
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backblue">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-book"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Courses
                                        </h3>
                                        <p><span class="timer timerstyle count" count-to="{{myCourseCount}}" value="{{countFrom}}" duration="1"></span> &nbsp;Published Courses</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#events">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-cogs"></i> &nbsp;Events
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backgreeness">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-cogs"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Events
                                        </h3>
                                        <p>Update your Events</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#settings">
                        <div class="dashboard">
                            <div class="head">
                                <i class="fa fa-cog"></i> &nbsp;Settings
                                <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                            </div>
                            <div class="backyellow">
                                <div class="dashcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <i class="fa fa-5x fa-cog"></i>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 left-border">
                                        <h3>
                                            Settings
                                        </h3>
                                        <p>Update your settings</p>
                                    </div>
                                </div>
                                <div class="link">
                                    More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>