<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <!-- Classic Heading -->
            <span class="col-md-12"><h4 class="classic-title"><span>Dashboard</span></h4></span>
            <div class="row">
                <div class="col-md-12 margin-top-10">
                    <div class="col-md-4">
                        <a href="#mymembers">
                            <div class="dashboard">
                                <div class="head">
                                    <i class="fa fa-users"></i> &nbsp;My Members
                                    <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                                </div>
                                <div class="backgreen">
                                    <div class="dashcontent">
                                        <div class="col-md-4">
                                            <i class="fa fa-5x fa-users"></i>
                                        </div>
                                        <div class="col-md-8 left-border">
                                            <h3>
                                                My Members
                                            </h3>
                                            <p><span class="timer timerstyle count" count-to="{{myMemberCount}}" value="{{countFrom}}" duration="1"></span> Members</p>
                                        </div>
                                    </div>
                                    <div class="link">
                                        More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#payments">
                            <div class="dashboard">
                                <div class="head">
                                    <i class="fa fa-user"></i> &nbsp;My Payments
                                    <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                                </div>
                                <div class="backorange">
                                    <div class="dashcontent">
                                        <div class="col-md-4">
                                            <i class="fa fa-5x fa-user"></i>
                                        </div>
                                        <div class="col-md-8 left-border">
                                            <h3>
                                                My Payments
                                            </h3>
                                            <p>{{myPayCount}} $</p>
                                        </div>
                                    </div>
                                    <div class="link">
                                        More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#advices">
                            <div class="dashboard">
                                <div class="head">
                                    <i class="fa fa-book"></i> &nbsp;My Advices
                                    <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                                </div>
                                <div class="backlovender">
                                    <div class="dashcontent">
                                        <div class="col-md-4">
                                            <i class="fa fa-5x fa-bicycle"></i>
                                        </div>
                                        <div class="col-md-8 left-border">
                                            <h3>
                                                My Advices
                                            </h3>
                                            <p>sample text sample text sample text sample text</p>
                                        </div>
                                    </div>
                                    <div class="link">
                                        More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#course">
                            <div class="dashboard">
                                <div class="head">
                                    <i class="fa fa-desktop"></i> &nbsp;My Courses
                                    <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                                </div>
                                <div class="backblue">
                                    <div class="dashcontent">
                                        <div class="col-md-4">
                                            <i class="fa fa-5x fa-book"></i>
                                        </div>
                                        <div class="col-md-8 left-border">
                                            <h3>
                                                My Courses
                                            </h3>
                                            <p><span class="timer timerstyle count" count-to="{{myCourseCount}}" value="{{countFrom}}" duration="1"></span> &nbsp;Published Courses</p>
                                        </div>
                                    </div>
                                    <div class="link">
                                        More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#paymentSettings">
                            <div class="dashboard">
                                <div class="head">
                                    <i class="fa fa-cogs"></i> &nbsp;Payment Settings
                                    <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                                </div>
                                <div class="backgreeness">
                                    <div class="dashcontent">
                                        <div class="col-md-4">
                                            <i class="fa fa-5x fa-book"></i>
                                        </div>
                                        <div class="col-md-8 left-border">
                                            <h3>
                                                Payment Settings
                                            </h3>
                                            <p>sample text sample text sample text sample text</p>
                                        </div>
                                    </div>
                                    <div class="link">
                                        More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>