
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 min-height-450">
                <span ng-show="isAdd==0"><a href="#events" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <span ng-show="isAdd==1"><a href="#events" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <h4 class="classic-title"><span>{{eventTitle}}</span></h4>
                <div class="col-lg-12 col-md-12 col-sm-12 row margin-top-10 margin-bottom-10">
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <form name="courseForm" novalidate>
                        <div class="col-lg-3 col-md-3 col-sm-3 margin-left-200 margin-top-7">
                            <h4 class="margin-top-10" ng-show="isAdd==0">Event No <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Name <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Description <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Date <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Duration <span class="pull-right">:</span></h4>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 margin-top-7">
                            <input class="section-input disabled-class" ng-show="isAdd==0" maxlength="150" name="id" placeholder="null" ng-model="eventDetails.id" ng-disabled>

                            <span ng-show="courseForm.name.$dirty&&courseForm.name.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="courseForm.name.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="150" name="name" placeholder="Enter Event Name" ng-model="eventDetails.eventname" required>

                            <span ng-show="courseForm.discription.$dirty&&courseForm.discription.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.discription.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="200" name="discription" placeholder="Enter Event Description" ng-model="eventDetails.description" required>

                            <div class="input-group">
                                <input hidden id="main-start-date" ng-model="eventDetails.datetime">
                                    
                                </input>
                                <!-- <input type="text" name='startdate' class="date-input" id="main-start-date" date-options="dateOptions" date-validation-in ng-model="eventDetails.datetime" placeholder="Enter Event Date" required /> -->
                                
                                <input id="main-date" name='startdate' class="section-input margin-top-15 cal-width" placeholder="Enter Event Date" ng-model="eventDetails.datetime" date-validation-in required>
                                <div id="ui-datepicker"></div>
                                <div class="margin-top-15 mouse-pointer cal-icon">&nbsp;&nbsp;<i class="fa fa-calendar" ng-click="datePicker()"></i></div>
                            </div>

                            <span ng-show="courseForm.durationHours.$dirty&&courseForm.durationHours.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.durationHours.$error.required"><span>Required.</span></span>
                            </span>
                            <span ng-show="courseForm.durationMinutes.$dirty&&courseForm.durationMinutes.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.durationMinutes.$error.required"><span>Required.</span></span>
                            </span>
                            <!-- <input class="section-input margin-top-15" maxlength="200" name="duration" placeholder="Enter Event Duration" ng-model="eventDetails.duration" required> -->
                            <div class="col-lg-6 col-md-6 col-sm-6 margin-top-15 no-padding">
                                <select class="section-input" name="customhours"  ng-model="eventDetails.durationHours" ng-init="selectedHours='0'" style="padding: 8px 15px; width:99%" required>
                                    <option value="">-- Select Hours --</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 margin-top-15 no-padding">
                                <select class="section-input" name="minutes" ng-model="eventDetails.durationMinutes" ng-init="selectedMinutes='0'" style="padding: 8px 15px; width:99%" required>
                                    <option value=""> -- Select Minutes -- </option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                    <option value="51">51</option>
                                    <option value="52">52</option>
                                    <option value="53">53</option>
                                    <option value="54">54</option>
                                    <option value="55">55</option>
                                    <option value="56">56</option>
                                    <option value="57">57</option>
                                    <option value="58">58</option>
                                    <option value="59">59</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 text-center margin-top-15">
                            <span ng-show="isAdd==1"><a href="" ng-disabled="courseForm.$invalid" class="btn btn-success" ng-click="doInsertOrUpdateEvents()">Save Event</a></span>
                            <span ng-show="isAdd==0"><a href="" ng-disabled="isCleanCourse() || courseForm.$invalid" class="btn btn-success" ng-click="doUpdateEvent(eventDetails.id)">Save Changes</a></span>
                            <span><a href="#events" class="btn btn-danger">Cancel</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>


 <script>
//for dashboard main date
function daterangepicker() {
    var options = {
        minDate : new Date(),
        startDate : new Date(),
        opens:'left',
        singleDatePicker: true
    };

   $('#main-date').daterangepicker(options, function(start, end, label) {
     //document.getElementById("main-start-date").value = start.format('DD/MM/YYYY');
    });
};
</script>