
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 min-height-450">
                <span ng-show="isAdd==0"><a href="#events" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <span ng-show="isAdd==1"><a href="#events" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <h4 class="classic-title"><span>{{eventTitle}}</span></h4>
                <div class="col-lg-12 col-md-12 col-sm-12 row margin-top-10 margin-bottom-10">
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <form name="courseForm" novalidate>
                        <div class="col-lg-3 col-md-3 col-sm-3 margin-left-200 margin-top-7">
                            <h4 class="margin-top-10" ng-show="isAdd==0">Event No <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Name <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Description <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Date <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Event Duration <span class="pull-right">:</span></h4>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 margin-top-7">
                            <input class="section-input disabled-class" ng-show="isAdd==0" maxlength="150" name="id" placeholder="null" ng-model="eventDetails.id" ng-disabled>

                            <span ng-show="courseForm.name.$dirty&&courseForm.name.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="courseForm.name.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="150" name="name" placeholder="Enter Event Name" ng-model="eventDetails.eventname" required>

                            <span ng-show="courseForm.discription.$dirty&&courseForm.discription.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.discription.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="200" name="discription" placeholder="Enter Event Description" ng-model="eventDetails.description" required>

                            <div class="input-group">
                                <input hidden id="main-start-date" ng-model="eventDetails.datetime">
                                    
                                </input>
                                <!-- <input type="text" name='startdate' class="date-input" id="main-start-date" date-options="dateOptions" date-validation-in ng-model="eventDetails.datetime" placeholder="Enter Event Date" required /> -->
                                
                                <input id="main-date" name='startdate' class="section-input margin-top-15 cal-width" placeholder="Enter Event Date" ng-model="eventDetails.datetime" date-validation-in required>
                                <div id="ui-datepicker"></div>
                                <div class="margin-top-15 mouse-pointer cal-icon">&nbsp;&nbsp;<i class="fa fa-calendar" ng-click="datePicker()"></i></div>
                            </div>

                            <span ng-show="courseForm.duration.$dirty&&courseForm.duration.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.duration.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="200" name="duration" placeholder="Enter Event Duration" ng-model="eventDetails.duration" required>
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 text-center margin-top-15">
                            <span ng-show="isAdd==1"><a href="" ng-disabled="courseForm.$invalid" class="btn btn-success" ng-click="doInsertOrUpdateEvents()">Save Event</a></span>
                            <span ng-show="isAdd==0"><a href="" ng-disabled="isCleanCourse() || courseForm.$invalid" class="btn btn-success" ng-click="doUpdateEvent(eventDetails.id)">Save Changes</a></span>
                            <span><a href="#events" class="btn btn-danger">Cancel</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>


 <script>
//for dashboard main date
function daterangepicker() {
    var options = {
        minDate : new Date(),
        startDate : new Date(),
        opens:'left',
        singleDatePicker: true
    };

   $('#main-date').daterangepicker(options, function(start, end, label) {
     //document.getElementById("main-start-date").value = start.format('DD/MM/YYYY');
    });
};
</script>