
<div class="col-lg-12 col-md-12 col-sm-12 no-padding" ng-cloak class="ng-cloak" ng-init="init()" ng-show="isActive">
    <!-- <div flash-message="2000" class="col-lg-4 col-md-4 col-sm-4 pull-right"></div> -->
        <h3 class="classic-title"><span class="sub-title">Client Details</span>
            <a href=""  class="remove-text-color pull-right" ng-click="doRemoveUserByCoach(coachclientdetails.userid)">Remove User</a>
        </h3>
        <div ng-if="loaded">
            <div class="loader-style">
                <div class="loader"></div>
        </div>
    </div>

    <div ng-show="clients.length>0">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-2 col-md-2 col-sm-2 margin-top-5 no-padding">
                <img class="img-circle" style="width:140px;" ng-src="{{coachclientdetails.imageurl}}">
            </div>  
            <div class=" col-lg-6 col-md-6 col-sm-6 margin-top-5">
                <h2 class="text-color"><strong>{{coachclientdetails.name}}</strong></h2>
                <div class="col-lg-12 col-md-12 col-sm-12 row margin-bottom-10">
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding text-bold">
                        Gender <span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.gender==1?"Male":"Female"}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding text-bold">
                        Age <span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.age}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding text-bold">
                        Country <span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.country}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding text-bold">
                        Prefer Food <span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.preferfood ==1?"Indian":"Western"}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding text-bold">
                        Unit Preference<span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.unitPreference ==1?"Metric":"US"}}
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 no-padding text-bold">
                        About <span class="pull-right">:</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{coachclientdetails.about}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                <span class="col-lg-12 col-sm-12 col-md-12 notesSpan">Notes 
                    <a href="" type="button" style="padding:0px 5px;" class="btn btn-danger pull-right margin-left-5" ng-click="doClearAllNotes(coachclientdetails.userid)">Clear All</a>
                    <a href="" id="notesButton" type="button" style="padding:0px 12px;" class="btn btn-success pull-right" ng-click="doInsertOrUpdateNotes(coachclientdetails.userid)">Save</a>
                </span>
                <div ng-model="invitationDetails.referral">
                    <textarea id="stickyNotes" style="overflow:auto" class="sticky-notes" ng-model="Notes.notes"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10 no-padding">
            <h2 class="classic-title text-color"><span class="sub-title"><strong><i class="fa fa-male"></i>&nbsp;&nbsp;DEMOGRAPHY</strong></span></h2>   
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 padding-rl-10 margin-top-15">
                    <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                        <div class="demo-font client-content">
                            <span ng-show="coachclientdetails.unitPreference==1">
                                <span>{{demographyDeatil.height}}</span>
                            </span>
                            <span ng-show="coachclientdetails.unitPreference==2" >
                                <span>{{demographyDeatil.height}}</span>                                       
                            </span></br/></br/>
                            <span class="text-bold">
                                <h4>Height <span ng-show="coachclientdetails.unitPreference==1"><small>(cms)</small></span> <span ng-show="coachclientdetails.unitPreference==2"><small>(feet,inches)</small></span></h4>
                            </span>
                        </div> 
                    </div>  
                    <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                        <div class="demo-font client-content">
                            <span ng-show="coachclientdetails.unitPreference==1">
                                <span>{{demographyDeatil.weight}}</span>
                            </span>
                            <span ng-show="coachclientdetails.unitPreference==2" >
                                <span>{{demographyDeatil.weight}}</span>                                           
                            </span><br/><br/>   
                            <span class="text-bold">
                                <h4>Weight <span ng-show="coachclientdetails.unitPreference==1"><small>(kgs)</small></span> <span ng-show="coachclientdetails.unitPreference==2"><small>(lbs)</small></span></h4>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                        <div class="demo-font client-content">
                            <span>{{demographyDeatil.bmi}}</span><br/><br/>
                            <span class="text-bold">
                                <h5>BMI <small>(Kg/m<sup>2</sup>)</small></h5>
                            </span>                                    
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                        <div class="demo-font client-content">
                            <span> {{demographyDeatil.targetweight}} </span><br/><br/>
                            <span class="text-bold">
                                <h5>Target Weight</h5>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 margin-top-10">
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                            <h4 class="text-bold margin-top-10">User Type</h4>
                                <img class="margin-top-10" ng-show="demographyDeatil.obesity ==1" style="width:60px;" src="../../images/obese.png"/>
                                <img class="margin-top-10" ng-show="demographyDeatil.diabetes == 1" style="width:60px;" src="../../images/diabetes.jpg"/>
                                <img class="margin-top-10" ng-show="demographyDeatil.obesity == 1 && demographyDeatil.diabetes == 1" style="width:60px;" src="../../images/obese_diabetes.png"/>
                                <img class="margin-top-10" ng-show="demographyDeatil.obesity == null && demographyDeatil.diabetes == null" style="width:60px;" src="../../images/healthy.png"/>

                            <div class="margin-top-10" ng-show="demographyDeatil.diabetes == 1">Diabetes</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.diabetes == 1">Obese</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.obesity == 1" && ng-show="demographyDeatil.obesity == 1">Obese & Diabetes}}</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.diabetes == null && demographyDeatil.obesity == null">Normal</div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                            <h4 class="text-bold margin-top-10">Plan Type</h4>
                                <img class="margin-top-10" ng-show="demographyDeatil.userPlanType ==1" style="width:60px;" src="../../images/weight_maintain.png"/>
                                <img class="margin-top-10" ng-show="demographyDeatil.userPlanType == 2" style="width:60px;" src="../../images/weight_loss.png"/>
                                <img class="margin-top-10" ng-show="demographyDeatil.userPlanType == 3" style="width:60px;" src="../../images/weight_gain.png"/>
                                <div class="margin-top-10" ng-show="demographyDeatil.userPlanType == 1">Weight Maintain</div>
                                <div class="margin-top-10" ng-show="demographyDeatil.userPlanType == 2">Weight Loss</div>
                                <div class="margin-top-10" ng-show="demographyDeatil.userPlanType == 3">Weight Gain</div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3 text-center">
                            <h4 class="text-bold margin-top-10">Activity Level</h4>
                            <img class="margin-top-10" ng-show="demographyDeatil.userActivityType == 1" style="width:60px;" src="../../images/no-exercise.png"/>
                            <img class="margin-top-10" ng-show="demographyDeatil.userActivityType == 2" style="width:60px;" src="../../images/little-no.png"/>
                            <img class="margin-top-10" ng-show="demographyDeatil.userActivityType == 3" style="width:60px;" src="../../images/moderate.png"/>
                            <img class="margin-top-10" ng-show="demographyDeatil.userActivityType == 4" style="width:60px;" src="../../images/heavy.png"/>
                            <img class="margin-top-10" ng-show="demographyDeatil.userActivityType == 5" style="width:60px;" src="../../images/very-heavy.png"/>
                            <div class="margin-top-10" ng-show="demographyDeatil.userActivityType == 1">Little to No Excersize</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.userActivityType == 2">Little Excersize</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.userActivityType == 3">Moderate Excersize</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.userActivityType == 4">Heavy Excersize</div>
                            <div class="margin-top-10" ng-show="demographyDeatil.userActivityType == 5">Very Heavy Excersize</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10">
            <div class="accordion-group puul-right">
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner medical-content">
                        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10 margin-bottom-5 no-padding border">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="text-center" style="font-size: 17px;">Basic Nutrients</div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Hip<small>(Inches)</small><span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span> {{demographyDeatil.hip}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Waist <small>(Inches)</small><span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span> {{demographyDeatil.waist}} </span>
                                    </div>
                                </div>                        
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Protein <small>(g)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span>{{demographyDeatil.protein}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Fat  <small>(g)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span> {{demographyDeatil.fat}} </span>
                                    </div>
                                </div>                        
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-5">
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Carbo Hydrate <small>(g)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span> {{demographyDeatil.carbo}} </span>
                                    </div>
                                </div>                        
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding margin-top-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                        <h5>Fiber <small>(g)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 padding-right-0">
                                        <span> {{demographyDeatil.fibre}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10 margin-bottom-5">
                            <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-10">
                                <div class="text-center" style="font-size: 17px;">Medical Details</div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="col-lg-9 col-md-7 col-sm-8 no-padding">
                                        <h5>Blood Group <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-4">
                                        <span ng-show="demographyDeatil.bloodgroup==1">A +ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==2">B +ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==3">O +ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==4">AB +ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==5">A -ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==6">B -ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==7">O -ve</span>
                                        <span ng-show="demographyDeatil.bloodgroup==8">AB -ve</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div class="col-lg-9 col-md-7 col-sm-8 no-padding">
                                        <h5>HbA<sub>1c</sub> <small>(%)</small> <span class="pull-right">:</span> </h5>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-4">
                                        <span> {{demographyDeatil.HbA1c==null?"N/A":demographyDeatil.HbA1c}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Systolic Blood Pressure <small>(mmHg)</small><span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span>{{demographyDeatil.systolicbloodpressure==null?"N/A":demographyDeatil.systolicbloodpressure}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Diastollic Blood Pressure <small>(mmHg)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 padding-right-0">
                                        <span> {{demographyDeatil.diastolicbloodpressure==null?"N/A":demographyDeatil.diastolicbloodpressure}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>HDL Cholestrol <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span> {{demographyDeatil.HDLcholestrol==null?"N/A":demographyDeatil.HDLcholestrol}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>LDL Cholestrol <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span>{{demographyDeatil.LDLcholestrol==null?"N/A":demographyDeatil.LDLcholestrol}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Triglycerides <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span> {{demographyDeatil.triglycerides==null?"N/A":demographyDeatil.triglycerides}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Random Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span> </h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span> {{demographyDeatil.randombloodglucose==null?"N/A":demographyDeatil.randombloodglucose}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding margin-top-10">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Fasting Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span> {{demographyDeatil.fastingbloodglucose==null?"N/A":demographyDeatil.fastingbloodglucose}} </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                                        <h5>Postprandial Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <span> {{demographyDeatil.postprandialbloodglucose==null?"N/A":demographyDeatil.postprandialbloodglucose}}</span>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" id="ShowMore" class="text-color pull-right margin-top-10" data-toggle="collapse" data-target="#collapseTwo">Show More...</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padding">  
            <div class="col-md-8 col-lg-8 col-sm-8 no-padding margin-top-10">
                <h2 class="classic-title text-color"><span class="sub-title"><strong><i class="fa fa-male"></i>&nbsp;&nbsp;DAILY ACTIVITY</strong></span></h2> 
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding text-center">
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 sleep-textcolor text-bold margin-top-5">Sleep</div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/sleep.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold" ><small>{{wearable.sleep==null?"N/A":wearable.sleep}}</small></div>
                            <div class="text-bold"><small>(minutes)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 heart-textcolor text-bold margin-top-5">Heart&nbsp;Beat</div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/bloodpressure.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold"><small>{{wearable.restingheartrate==null?"N/A":wearable.restingheartrate}}</small></div>
                            <div class="text-bold"><small>(bpm)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class=" col-md-12 col-lg-12 col-sm-12 water-textcolor margin-top-5 no-padding text-center text-bold">Water&nbsp;Level</div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/fat.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold" style="font-size: 78%">{{water.milliliters}}/{{water.ounces}}</div>
                            <div class="text-bold"><small>ml/oz</small></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center no-padding margin-top-10">
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 floor-textcolor text-bold margin-top-5">Floors</div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/floor.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold"><small>{{wearable.floors==null?"N/A":(wearable.floors==0?"N/A":wearable.floors)}}</small></div>
                            <div class="text-bold"><small>(floor)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 steps-textcolor text-bold margin-top-5">Steps</div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/step.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold"><small>{{wearable.steps==null?"N/A":(wearable.steps==0?"N/A":wearable.steps)}}</small></div>
                            <div class="text-bold"><small>(count)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 bloodoxygen-textcolor text-bold no-padding text-center margin-top-5"><small>Blood&nbsp;Oxygen</small></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/bloodoxygen.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold"><small>{{wearable.bloodoxygen==null?"N/A":wearable.bloodoxygen}}</small></div>
                            <div class="text-bold"><small>(%)</small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 no-padding margin-top-10 pull-right">                                    
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 bloodpessure-textcolor text-bold no-padding text-center text-center margin-top-5"><small>Blood&nbsp;Pressure</small></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/heart1.gif"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold" title="Systolic Blood Pressure/Diastolic Blood Pressure"><small>{{wearable.systolic==null?"N/A":wearable.systolic}} / {{wearable.diastolic==null?"N/A":wearable.diastolic}}</small></div>
                            <div class="text-bold" title="Systolic Blood Pressure/Diastolic Blood Pressure"><small>(mmHg)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 bloodglucose-textcolor text-center no-padding text-bold margin-top-5"><small>Blood&nbsp;Glucose</small></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/bloodglucose.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold" title="Random Glucose/Fasting Glucose"><small>{{wearable.randombloodglucose==null?"N/A":wearable.randombloodglucose}} / {{wearable.fastingbloodglucose==null?"N/A":wearable.fastingbloodglucose}}</small></div>
                            <div class="text-bold" title="Random Glucose/Fasting Glucose"><small>(mg/dl)</small></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding activity margin-left-30">
                        <div class="col-md-12 col-lg-12 col-sm-12 bodytemperature-textcolor text-center no-padding text-bold margin-top-5"><small>Body&nbsp;Temperature</small></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 no-padding margin-top-5">
                            <img class="img-width" src="../../images/smalltemp.png"/>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                            <div class="text-bold"><small>{{wearable.bodytemperature==null?"N/A":wearable.bodytemperature}}</small></div>
                            <div class="text-bold"><small>(<sup>o</sup>F)</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 margin-top-10">
                <h2 class="classic-title text-color"><span class="sub-title"><strong><i class="fa fa-male"></i>&nbsp;&nbsp;DAILY BUDGETS</strong></span></h2>
                <div class="row">
                    <h5 class="col-lg-12 col-md-12 col-sm-12 margin-bottom-5">
                        Budget Vs Net&nbsp;-&nbsp;
                        <span style="font-size: small">
                                <span ng-show="budgetDetails.OverorUnderStatus==1"><span class="fa fa fa-thumbs-down text-red">&nbsp;&nbsp;</span>Over Budget</span>
                                <span ng-show="budgetDetails.OverorUnderStatus==2"><span class="fa fa fa-thumbs-up text-green">&nbsp;&nbsp;</span>Under Budget</span>
                        </span>
                    </h5>
                        <div class="col-lg-5 col-md-12 col-sm-12 margin-top-10">
                            <div class="circle-wrapper">
                                <div class="circle-progress ng-cloak font-14" ng-style="getStyle()">{{Net}}</div>
                                <div    round-progress
                                     max="Budget"
                                     current="Net"
                                     color="{{currentGainColour}}"
                                     bgcolor="{{ bgColor }}"
                                     radius="37"
                                     semi="isSemi"
                                     rounded="rounded"
                                     stroke="6"
                                     clockwise="clockwise"
                                     responsive="responsive"
                                     duration="{{ duration }}"
                                     animation="{{ currentAnimation }}"
                                     offset="{{ offset }}">
                                </div>
                            </div>
                            <p class="text-gray text-center">of {{Budget}} cals.</p>
                        </div>

                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="label-update">
                            <span class="label-text">Budget</span>
                            <span class="label-count blue">{{budgetDetails.Budget}}</span>
                        </div>
                        <div class="label-update">
                            <span class="label-text">Gained</span>
                            <span class="label-count green">{{budgetDetails.Intake}}</span>
                        </div>
                        <div class="label-update">
                            <span class="label-text">Burnt</span>
                            <span class="label-count red">{{budgetDetails.Burnt}}</span>
                        </div>
                        <div class="label-update">
                            <span class="label-text">Net</span>
                            <span class="label-count orange">{{budgetDetails.Net}}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--<h6 ng-show="budgetCheck==0"><div class="label-danger">You are going under our recommended budget value. Please change your weight plan.</div></h6>-->
                        <h6 ng-show="budgetDetails.OverorUnderStatus==1"><div class="label-danger">You have consumed {{budgetDetails.OverorUnderValue}} more calories. Please do exercise.</div></h6>
                        <h6 ng-show="budgetDetails.OverorUnderStatus==2"><div class="label-success">You should take {{budgetDetails.OverorUnderValue}} more calories to reach today’s budget.</div></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 margin-top-10 no-padding">
            <h2 class="classic-title text-color"><span class="sub-title"><strong><i class="fa fa fa-bar-chart"></i>&nbsp;&nbsp;GRAPHS</strong></span></h2>
            <h2 class="text-center"><strong>&nbsp;&nbsp;Activity</strong></h2>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="excersize" style="height:350px;"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="floors" style="height:350px;"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="steps"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="sleep"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="graph4"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                <div id="graph5"></div>
            </div>
        </div>
       <div class="chat-window col-xs-5 col-md-3" id="chat_window_1">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default" style="margin-bottom:0px;">
                <div class="panel-heading chat-top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span class="wrap"> Chat - {{coachclientdetails.firstname}}</h3>
                        <span class="nav-item__badge" style="position: absolute; margin-left: 20px; margin-top: -9px;" ng-show="showMessageCount">
                            <span aria-hidden="true" class="nav-item__badge-count ng-binding">{{unreadChatMessageCount}}</span>
                        </span>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href=""><span id="minim_chat_window" class="glyphicon glyphicon-plus icon_minim" ng-click="doReadChatMessage();"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base" style="display:none;">
                    <div class="row msg_container" ng-repeat="chatMessage in chatMessages">
                        <div class="col-md-10 col-xs-10" ng-if="chatMessage.sentby==2">
                            <div class="messages msg_sent">
                                <p>{{chatMessage.message}}</p>
                                <time datetime="2009-11-13T20:00">{{chatMessage.datetime}}</time>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar no-padding" ng-if="chatMessage.sentby==2">
                            <img src="{{userImageUrl}}" class=" img-responsive ">
                        </div>

                        <div class="col-md-2 col-xs-2 avatar no-padding" ng-if="chatMessage.sentby==3">
                            <img src="{{coachclientdetails.imageurl}}" class=" img-responsive ">
                        </div>
                        <div class="col-md-10 col-xs-10"  ng-if="chatMessage.sentby==3">
                            <div class="messages msg_receive">
                                <p>{{chatMessage.message}}</p>
                                <time datetime="2009-11-13T20:00">{{chatMessage.datetime}}</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="chat.message" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button class="btn btn-sm btn-warning" id="btn-chat" ng-click="doSendChatMessage();">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
    <div ng-show="clients.length==0 || !clientFilter.length" class="text-center margin-top-50">
        <img src="../../images/no-coach-small.png" width="120" height="120"/>
        <h3 class="text-gray">NO CLIENTS FOUND!!!</h3><br/><br/><br/>
    </div>
</div>    

   



<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
Highcharts.chart('excersize', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Excersize Minutes'
    },
    xAxis: {
        type: 'category',
        title: {
            text: 'Date'
        },
        labels: {
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        title: {
            text: 'Minutes'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#f8ba01'
        }]
    },
    colors: [
        '#4d6483'
    ],
    exporting: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y:.1f} mins</b>'
    },
    series: [{
        name: 'Population',
        data: [
            ['Aug 6', 23.7],
            ['Aug 7', 16.1],
            ['Aug 8', 14.2],
            ['Aug 9', 14.0],
            ['Aug 10', 12.5],
            ['Aug 11', 12.1],
            ['Aug 12', 11.8],
            ['Aug 13', 11.7],
            ['Aug 14', 11.1],
            ['Aug 15', 11.1]
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>
<script type="text/javascript">
Highcharts.chart('floors', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Floors'
    },
    xAxis: {
        type: 'category',
        title: {
            text: 'Date'
        },
        labels: {
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Minutes'
        }
    },
    legend: {
        enabled: false
    },
    colors: [
        '#ea645e'
    ],
    exporting: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y:.1f} millions</b>'
    },
    series: [{
        name: 'Population',
        data: [
            ['Aug 6', 23.7],
            ['Aug 7', 15.1],
            ['Aug 8', 4.2],
            ['Aug 9', 14.0],
            ['Aug 10', 1.5],
            ['Aug 11', 2.1],
            ['Aug 12', 19.8],
            ['Aug 13', 17.7],
            ['Aug 14', 21.1],
            ['Aug 15', 11.1]
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>

<script type="text/javascript">
Highcharts.chart('steps', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Floors'
    },
    xAxis: {
        type: 'category',
        title: {
            text: 'Date'
        },
        labels: {
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Minutes'
        }
    },
    legend: {
        enabled: false
    },
    colors: [
        '#fec40d'
    ],
    exporting: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y:.1f} millions</b>'
    },
    series: [{
        name: 'Population',
        data: [
            ['Aug 6', 23.7],
            ['Aug 7', 15.1],
            ['Aug 8', 4.2],
            ['Aug 9', 14.0],
            ['Aug 10', 1.5],
            ['Aug 11', 2.1],
            ['Aug 12', 19.8],
            ['Aug 13', 17.7],
            ['Aug 14', 21.1],
            ['Aug 15', 11.1]
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>

<script type="text/javascript">
Highcharts.chart('sleep', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Floors'
    },
    xAxis: {
        type: 'category',
        title: {
            text: 'Date'
        },
        labels: {
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Minutes'
        }
    },
    legend: {
        enabled: false
    },
    colors: [
        '#00887a'
    ],
    exporting: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: '<b>{point.y:.1f} millions</b>'
    },
    series: [{
        name: 'Population',
        data: [
            ['Aug 6', 23.7],
            ['Aug 7', 15.1],
            ['Aug 8', 4.2],
            ['Aug 9', 14.0],
            ['Aug 10', 1.5],
            ['Aug 11', 2.1],
            ['Aug 12', 19.8],
            ['Aug 13', 17.7],
            ['Aug 14', 21.1],
            ['Aug 15', 11.1]
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#feedback_button").click(function(){
            if($('#form').css('left')=='0px'){
                $("#feedback-form").slideToggle(800);
                $('#form').animate({left:'-270px'},  500);
            }else{
                $('#form').animate({left:'0'},  500);
                $("#feedback-form").slideToggle(300);
            }
        });
    });
</script>

<script type="text/javascript">
$('#ShowMore').click(function(){
        var $this = $(this);
        $this.toggleClass('ShowMore');
        if($this.hasClass('ShowMore')){
            $this.text('Show Less...');         
        } else {
            $this.text('Show More...');
        }
    });
</script>

<script type="text/javascript">
$('.msg-overlay-list-bubble--is-minimized').click(function(){
        var $this = $(this);
        $this.toggleClass('ShowMore');
        if($this.hasClass('ShowMore')){
            $this.text('Show Less...');         
        } else {
            $this.text('Show More...');
        }
    });
</script>

<script type="text/javascript">
  $(document).ready(function() {    
    $("textarea").niceScroll({cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'});
    $("#stickyNotes").niceScroll();
    // $('#stickyNotes').getNiceScroll(0).doScrollTop($('textarea').height());
    $(".sticky-notes").animate({ scrollTop: $(document).height() }, "slow");
  return false;
  });

  $(".sticky-notes").animate({ scrollTop: $(document).height() }, "slow");


$(document).on('click', '.panel-heading span.icon_minim', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('focus', '.panel-footer input.chat_input', function (e) {
    var $this = $(this);
    if ($('#minim_chat_window').hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $('#minim_chat_window').removeClass('panel-collapsed');
        $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('click', '#new_chat', function (e) {
    var size = $( ".chat-window:last-child" ).css("margin-left");
     size_total = parseInt(size) + 400;
    alert(size_total);
    var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
    clone.css("margin-left", size_total);
});
$(document).on('click', '.icon_close', function (e) {
    alert("deal");  
    //$(this).parent().parent().parent().parent().remove();
    $( "#chat_window_1" ).remove();
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > ($(document).height()-50)) {
      $("#chat_window_1").animate({
                'margin-bottom':'120px'
            },10);
   }else{

    $("#chat_window_1").animate({
                'margin-bottom':'0px'
            },10);
   }
});

</script>

<script type="text/javascript">
$('#notesButton').hide();

$('#stickyNotes').on('keyup', function() {
    if (this.value.length) {
        $('#notesButton').show();
    }else{
        $('#notesButton').hide();
    }
});
</script>