<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="display-style pull-right">
                    <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back <span class="hidden-md hidden-sm">to Dashboard</span></a>                    
                </div>
                <div flash-message="2000" class="col-md-3 col-lg-3 col-sm-3 pull-right"></div>
                <h5 class="classic-title"><span><a href="#my-members"><i class="fa fa-money"></i>&nbsp;CLIENTS</a></span>&nbsp;|&nbsp;<a href="#coach-invitations"><i class="fa fa-dollar"></i>&nbsp;INVITATIONS</a>&nbsp;|&nbsp;<a href="#coach-compose-message"><i class="fa fa-envelope"></i>&nbsp;SEND MESSAGE</a>&nbsp;|&nbsp;<a href="#my-reviews"><i class="fa fa-star"></i>&nbsp;MY REVIEWS</a>&nbsp;|&nbsp;<a href="#Expired-training-plan"><i class="fa fa-gg"></i>&nbsp;EXPIRED TRAINING PLAN</a></h5>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding">
                    <h4 class="classic-title margin-left-20" style="line-height: 17px; margin-top: 3px;"><span>Groups</span><a href="#settings" class="edit-text-color margin-left-10">Edit</a></h4>
                    <div class="col-md-12 col-lg-12 col-sm-12 group_scrollbar" style="padding-right: 5px; !important" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}" >
                    <ul class="sidebar-menu remove-style " >
                        <li ng-repeat="group in groupsList" ng-class="{'active':group.id==selectedGroupId}" ng-click="doFilterGroup(group.id)">
                            <a href=""><i class="fa fa-group"></i> &nbsp;{{group.groupname}}</a>
                        </li>
                    </ul>
					</div>
                    <center><a id="modal_group" href="#group" ng-click="resetAddGroup()" class="add-text-color margin-top-10">Create New Group</a></center>
                   <!--  <a href="" class="assign-modal" ng-click="setAssignUserId(client.userid)">Assign Group</a> -->
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">   
                    <h4 class="classic-title" style="margin-left:20px;"><span>Clients</span></h4>
                    <div class="col-lg-12 col-md-12 col-sm-12 friends-scroll-responsive" ng-nicescroll nice-option="{cursorcolor: '#666',autohidemode:false,cursorborder:'none',cursorwidth: '6px',background:'#eee'}" >
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin-bottom-10" ng-repeat="client in filteredClients=(myClients|complexFilter:{'groupid':selectedGroupId})" ng-init="$last ? doIntializeLeanModal() : null">
                        <a href="#member-view/{{client.userid}}">
                            <div class="client-card" ng-class="{'badge1':client.unreadmessagecount>0}" data-badge="{{client.unreadmessagecount}}">
                                <img class="client-card-img" src="{{client.imageurl}}"/>
                                <div class="client-card-details">
                                    <h5><strong>{{client.name}}</strong></h5>
                                    <hr/>
                                    <p>{{client.emailid}}</p>
                                    <p>{{client.phone}}</p>
                                    <hr/>
                                    <a href="#assignModel" class="assign-modal assign-text-color" ng-show="client.groupid==null" ng-click="setAssignUserId(client.userid)"><i class="fa fa-users"></i>&nbsp;Assign Group</a><a href="#reassignModel" class="re-assign-modal assign-text-color" ng-hide="client.groupid==null" ng-click="setReassignUserId(client.userid,client.groupid)"><i class="fa fa-users"></i>&nbsp;Reassign Group</a>&nbsp;|&nbsp;<a href="#confirmDelete" class="confirm-delete-modal remove-text-color" ng-click="setRemovingUserId(client.userid)"><i class="fa fa-trash"></i>&nbsp;Remove Client</a>
                                </div>
                            </div>    
                        </a>                         
                    </div>
                        </div>
                    <div ng-show="myClients.length==0||!filteredClients.length" class="text-center margin-top-50">
                        <img src="../../images/no-coach-small.png" width="120" height="120"/>
                        <h3 class="text-gray">NO CLIENTS FOUND!!!</h3><br/><br/><br/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- coach group Popup-->
<div id="group" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Add Group</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- measure Form -->
        <div class="common_model">
            <form name="groupForm">
                <p>Group Name</p>
                <input type="text" name="group" ng-model="group.groupname" maxlength="45" validate-all-characters required>
                <span ng-show="groupForm.group.$dirty&&groupForm.group.$invalid">
                    <span class="error-message" ng-show="groupForm.group.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="groupForm.group.$error.validateAllCharacters"><span>Please&nbsp;Enter&nbsp;Valid&nbsp;Name.</span></span>
                </span>
                <div class="action_btns margin-top-20">
                    <!-- <div><a href="" class="btn btn_red modal_close" ng-click="doAddCoachGroup()" ng-disabled="groupForm.$invalid">Add Group</a></div> -->
                    <div><a ng-class="{modal_close:groupForm.$invalid}" class="btn btn_red" ng-disabled="groupForm.$invalid" ng-click="doAddCoachGroup()">Add Group </a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Remove user section popup-->
<div id="confirmDelete" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Confirmation</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <div class="remove_common_model">
            <div class="text-center"><img src="../../images/alert-ring.png"/></div><br/>
            <h5 class="text-center">Are you sure want to remove this client?</h5>{{removingUser}}
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_red modal_close" ng-click="removeClientFromList()">Yes</a></div>
                <div class="one_half last modal_close"><a onclick="return false;" class="btn back_btn">No</a></div>
            </div>
        </div>
    </section>
</div>

<!-- user Assign to group section popup-->
<div id="assignModel" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Assign to Group</span>
        <span class="modal_close" ng-click="doGetGroupList()"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <div class="common_model1">
            <form name="assigngroupForm" novalidate>
                <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10 font-weight">From:</div>
                <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10">{{assignGroupName}}</div>
                <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10 font-weight">To:</div>
                <div class="row padding-right-0">
                    <select class="assign-control" ng-model="assignGroup" required>
                        <option value="">--Select--</option>
                        <option value="{{group.id}}" ng-repeat="group in groupList">{{group.groupname}}</option>
                    </select>   
                </div>
                <div class="action_btns margin-top-20">
                    <div class="one_half"><a href="" class="btn btn_blue modal_close" ng-click="doAssignGroup()" ng-disabled="!assignGroup || assignGroup.length == 0">Assign</a></div>
                    <div class="one_half last modal_close"><a href="" class="btn btn_red modal_close" onclick="return false;" ng-click="doGetGroupList()">Cancel</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- user reassign to group section popup-->
<div id="reassignModel" class="popupContainer" style="display:none;left: 37%!important;">
    <header class="popupHeader">
        <span class="header_title">Reassign to Group</span>
        <span class="modal_close" ng-click="doGetGroupList()"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <div class="common_model2">
            <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10 font-weight">From:</div>
            <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10">{{reAssigngroupName}}</div>
            <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10 font-weight">To:</div>
            <div class="row margin-top-20">
                <select class="assign-control" ng-model="assignGroup" required>
                    <option value="">--Select--</option>
                    <option value="{{group.id}}" ng-repeat="group in groupList" ng-hide="(group.id == assignGroupId)">{{group.groupname}}</option>
                </select>
            </div>
            <div class="action_btns margin-top-20">
                <div class="one_half"><a href="" class="btn btn_blue modal_close" ng-click="doAssignGroup()" ng-disabled="!assignGroup || assignGroup.length == 0">Reassign</a></div>
                <div class="one_half last modal_close"><a href="" class="btn btn_red modal_close" onclick="return false;" ng-click="doGetGroupList()">Cancel</a></div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript">
    $(".confirm-delete-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })

</script>

<script type="text/javascript">
    $("#modal_group").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>