
<!-- Start Page Banner -->
<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="classic-title"><span>Payment Settings</span></h4>
                <div ng-include src="'views/payment-settings-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 min-height-450">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <div flash-message="2000" class="col-lg-4 col-md-4 col-sm-4 pull-right"></div>
                <h3 class="margin-bottom-10"><i class="fa fa-paypal"></i> &nbsp;Paypal Settings</h3>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <hr/>
                    <form name="paypalSettingsForm" novalidate>
                        <div class="row form-set">
                            <div class="col-lg-3 col-md-3 col-sm-3 margin-top-10">
                                <h4>Paypal Email <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 margin-top-10">
                                <input type="email" class="search-input" placeholder="Enter Paypal Email ID" name="paypalid" ng-model="paypalDetails.paypalid" required validate-email>
                                 <span ng-show="paypalSettingsForm.paypalid.$dirty&&paypalSettingsForm.paypalid.$invalid">
                                        <span class="error-message" ng-show="paypalSettingsForm.paypalid.$error.required"><span>Required.</span></span>
                                      <span class="error-message" ng-show="paypalSettingsForm.paypalid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID</span></span>
                                 </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 margin-top-10">
                                <h4>Paypal Name <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 margin-top-10">
                                <input class="search-input" name="paypalname" placeholder="Enter Paypal User Name" ng-model="paypalDetails.paypalname" maxlength="100" required validate-alpha-with-space>
                                 <span ng-show="paypalSettingsForm.paypalname.$dirty&&paypalSettingsForm.paypalname.$invalid">
                                        <span class="error-message" ng-show="paypalSettingsForm.paypalname.$error.required"><span>Required.</span></span>
                                      <span class="error-message" ng-show="paypalSettingsForm.paypalname.$error.validateAlphaWithSpace"><span>Invalid&nbsp;Format.</span></span>
                                 </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 margin-top-10">
                                <h4>Currency <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 margin-top-10">
                                <select class="full-width course-select" placeholder="Select Currency" name="currencycode" ng-model="paypalDetails.currencycode" ng-options="currencycode.currencycode as currencycode.currencycode for currencycode in currencycodeData" required>
                                        <option value="">-- Select a Currency Code --</option>
                                </select>
                                <span ng-show="paypalSettingsForm.currencycode.$dirty&&paypalSettingsForm.currencycode.$invalid">
                    <span class="error-message textarea-errormessage10" ng-show="paypalSettingsForm.currencycode.$error.required"><span>Required.</span></span>
                             </span>
                            </div>

                        </div>

                    <div class="text-center margin-top-10">
                        <a href=""  class="btn btn-success" ng-disabled="paypalSettingsForm.$invalid || isCleanPaypalSettings()" ng-click="doUpdatePaypalDetails()">Save Changes</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>