
<!-- Start Page Banner -->

<div class="page-banner" ng-cloak class="ng-cloak">
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-450">
                <span ng-show="isAdd==0"><a href="#courseView/{{courseDetails.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <span ng-show="isAdd==1"><a href="#course" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
                <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
                <h4 class="classic-title"><span>{{CourseTitle}}</span></h4>
                <div class="row margin-top-10 margin-bottom-10">
                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <form name="courseForm" novalidate>
                        <div class="col-md-2 margin-top-7">
                            <h4>Course Name <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Course Subtitle <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Course Category <span class="pull-right">:</span></h4><br/>
                            <h4 class="margin-top-10">Course Price <span class="pull-right">:</span></h4>
                        </div>
                        <div class="col-md-7">
                            <span ng-show="courseForm.title.$dirty&&courseForm.title.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="courseForm.title.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input" maxlength="150" name="title" placeholder="Enter course title" ng-model="courseDetails.coursename" required>
                            <div class="text-count-position"><span class="text-count">{{(150 - courseDetails.coursename.length)}}</span></div>

                            <span ng-show="courseForm.subtitle.$dirty&&courseForm.subtitle.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.subtitle.$error.required"><span>Required.</span></span>
                            </span>
                            <input class="section-input margin-top-15" maxlength="200" name="subtitle" placeholder="Enter course sub-title" ng-model="courseDetails.coursesubtitle" required>
                            <div class="text-count-position"><span class="text-count">{{(200 - courseDetails.coursesubtitle.length)}}</span></div>

                            <select class="full-width course-select margin-top-15" ng-model="courseDetails.categoryid" ng-options="option.categoryid as option.categoryname for option in options">
                                <option value="" selected hidden />
                            </select>

                            <span ng-show="courseForm.price.$dirty&&courseForm.price.$invalid">
                                <span class="error-message textarea-errormessage55" ng-show="courseForm.price.$error.required"><span>Required.</span></span>
                                <span class="error-message textarea-errormessage55" ng-show="!courseForm.price.$error.required&& courseForm.price.$error.validateFloat1"><span>Invalid&nbsp;Data.</span></span>
                            </span>
                            <input class="search-input margin-top-15" name="price"  placeholder="Enter course price" ng-model="courseDetails.price" maxlength="7" required valid-floatnumberzero>
                            <p class="text-red margin-top-5"><b>Note : Price "zero" will be consider as free course.</b></p>
                        </div>
                        <div class="col-md-3">
                            <span ng-show="isAdd==1"><img src="{{courseDetails.promoimage | trusted}}"></span>
                            <span ng-show="isAdd==0"><img ng-src="{{courseDetails.promoimage | trusted}}"></span>
                            <a ng-click="openCourseImageModel()" id="modal_trigger" href="" class="btn btn-sm btn-warning margin-top-10">Change Course Image</a>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-2 margin-top-15">
                                <h4>Course Description <span class="pull-right">:</span></h4>
                            </div>
                            <div class="col-md-10 margin-top-10">
                                <span ng-show="courseForm.content.$dirty&&courseForm.content.$invalid">
                                    <span class="error-message textarea-errormessage40" ng-show="courseForm.content.$error.required"><span>Required.</span></span>
                                </span>
                                <div summernote config="options" name="content"  ng-model="courseDetails.coursedescription" required></div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center margin-top-15">
                            <span ng-show="isAdd==1"><a href="" ng-disabled="courseForm.$invalid" class="btn btn-success" ng-click="doAddCourse()">Save Course</a></span>
                            <span ng-show="isAdd==0"><a href="" ng-disabled="isCleanCourse() || courseForm.$invalid" class="btn btn-success" ng-click="doUpdateCourse()">Save Changes</a></span>
                            <span ng-show="isAdd==0"><a href="#courseView/{{courseDetails.courseid}}" class="btn btn-danger">Cancel</a></span>
                            <span ng-show="isAdd==1"><a href="#course" class="btn btn-danger">Cancel</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create coach popup-->
<div id="modal" class="popupContainer" style="display:none;left:37%!important;">
    <header class="popupHeader">
        <span class="header_title">Change Profile Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="image-editor">
                <div class="cropit-image-preview center-block"></div>
                <p class="text-red text-bold">Note : Minimum size : 270x180 pixels</p>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">

                <div class="action_btns margin-top-20">
                    <div class="one_half">
                        <div class="fileUpload food-button">
                            <span>Choose Image</span>
                            <input type="file" class="upload cropit-image-input" />
                        </div>
                    </div>
                    <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close" ng-click="doUpdateImage()">Upload Image</a></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>

