<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <a href="#coach" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Coach List</a>
                <h4 class="classic-title"><span>Coach Management</span></h4>
                <div class="col-md-3 coach-details">
                    <img ng-src="{{coachProfile.imageurl | trusted}}"/>
                    <h3 class="margin-top-10">{{coachProfile.name}}</h3>
                    <p class="margin-bottom-20">Running Specilist</p>
                    Ratings: {{averageRatings}}
                    <div class="score" data-rating="{{averageRatings}}"></div>
                    <p><strong>Email-Id : </strong>{{coachProfile.emailid}}</p>
                    <p><strong>DOB : </strong>{{coachProfile.dob}}</p>
                    <p><strong>Phone : </strong>{{coachProfile.phone}}</p>
                    <p><strong>Gender : </strong><span ng-if="coachProfile.gender == 1">Male</span><span ng-if="coachProfile.gender == 2">Female</span></p>
                    <p><strong>Country : </strong>{{coachProfile.country}}</p>
                    <p><strong>City : </strong>{{coachProfile.city}}</p>
                    <p><strong>Zipcode : </strong>{{coachProfile.zipcode}}</p>
                    <p><strong>Qualification : </strong>{{coachProfile.qualification}}</p>
                </div>
                <div class="col-md-9">
                    <h4 class="text-orange">Description :</h4>
                    <p class="margin-top-5">{{coachProfile.about}}</p>
                    <hr/>
                    <h4 class="margin-top-20 margin-bottom-10 text-orange">Reviews :</h4>
                    <div class="row" dir-paginate="reviews in coachReviews | itemsPerPage: 4" ng-show="coachReviews.length!=0">
                        <div class="col-md-2">
                            <img class="img-responsive img-circle" ng-src="{{reviews.review_imageurl | trusted}}">
                           <strong>{{reviews.review_username}}</strong>
                            <span>{{reviews.reviewddatetime}}</span>
                        </div>
                        <div class="col-md-7">
                            <strong>{{reviews.reviewtitle}}</strong>
                            <p>{{reviews.reviewdescription}}</p>
                        </div>


                        <div class="col-md-3 review">
                            Ratings : {{reviews.ratinglevel}}<br/>
                            <div class="score" data-rating="{{reviews.ratinglevel}}"></div>
                            <!--<i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                            <i class="fa fa-star-o"></i>-->
                        </div>
                        <div class="col-md-12"><hr/></div>

                    </div>


                </div>
                <dir-pagination-controls boundary-links="true"> </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script src="../../plugin/jquery.raty-2.4.5/js/jquery.min.js"></script>
<script src="../../plugin/jquery.raty-2.4.5/js/jquery.raty.min.js"></script>
<script type="text/javascript">
    setTimeout(function(){

            $('.score').raty({
                score: function() {
                    return $(this).attr('data-rating');
                }
            });

    },500);
</script>