

<div class="container" ng-cloak class="ng-cloak">
    <div class="row min-height-385">
        <div class="col-md-12" ng-init="init()" >
            <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
            <a id="modal_trigger" href="#modal" class="back-button pull-right margin-left-5" ng-click="reset()"><i class="fa fa-plus-circle"></i> Add Coach</a>
            <!-- Stat Search -->
            <div class="pull-right" id="hidden-search">
                <a href="#" onclick="return false;" class="show-list-search search_button margin-left-5"><i class="fa fa-search"></i></a>
                <div class="search-list-form override">
                    <form autocomplete="off" class="searchform">
                        <input type="text" ng-model="coachsearch" placeholder="Search here...">
                    </form>
                </div>
            </div>
            <!-- End Search -->
            <div flash-message="2000" class="col-md-3 pull-right no-padding"></div>
            <h4 class="classic-title"><span>Coach Management</span></h4>
            <div ng-if="loaded">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="warning">
                    <th class="col-md-5">Name</th>
                    <th class="col-md-5">Email ID</th>
                    <th class="col-md-2">Options</th>
                </tr>
                </thead>
                <tbody >
                <tr dir-paginate="coach in coachfilter = (coachList |startsWithLettercoach: coachsearch| itemsPerPage: 9)" ng-show="coachList.length!=0">
                    <td><span class="line-clamp-md">{{coach.name}}</span></td>
                    <td><span class="line-clamp-md">{{coach.emailid}}</span></td>
                    <td>
                        <a href="#coach-view/{{coach.userid}}" class="btn-xs btn-primary">View Details</a>
                        <a href="" class="btn-xs btn-success" ng-click="doEnableDisableCoach(coach.userid)" ng-show="coach.isenabled==0">Enable</a>
                        <a href="" class="btn-xs btn-danger" ng-click="doEnableDisableCoach(coach.userid)" ng-hide="coach.isenabled==0">Disable</a>
                    </td>
                </tr>
                <tr ng-show="coachList.length==0 || !coachfilter.length "><td colspan="3" class="text-center">No Records Found !!!</td></tr>
                <!--<tr ng-show="!coachfilter.length"><td colspan="3" class="text-center">No Records Found !!!</td></tr>-->
                </tbody>
            </table>
            <!-- Start Pagination -->
            <dir-pagination-controls ng-show="paginationLoad" boundary-links="true"> </dir-pagination-controls>
            <!-- End Pagination -->
        </div>
    </div>
</div>

<!-- create coach popup-->
<!--<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Add Coach</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <div class="user_register">
            <form name="coachRegisterForm" novalidate>
                <p>First name</p>
                <input type="text" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="coach.firstname" name="firstname" required maxlength="24" focus-me="shouldBeOpen"/>
                <span ng-show="coachRegisterForm.firstname.$dirty&&coachRegisterForm.firstname.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.firstname.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.firstname.$error.pattern"><span>Enter&nbsp;valid&nbsp;Name.</span></span>
                </span>
                <p>Last name</p>
                <input type="text" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="coach.lastname" name="lastname" required maxlength="24"/>
                <span ng-show="coachRegisterForm.lastname.$dirty&&coachRegisterForm.lastname.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.lastname.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.lastname.$error.pattern"><span>Enter&nbsp;valid&nbsp;Name.</span></span>
                </span>

                <p>Email</p>
                <input type="email" name="emailid" ng-model="coach.emailid" required validate-email emailexists/>
                <span ng-show="coachRegisterForm.emailid.$dirty&&coachRegisterForm.emailid.$invalid && !coachRegisterForm.emailid.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm.emailid.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.emailid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID</span></span>
                </span>
                <span class="error-message" ng-show="coachRegisterForm.emailid.$error.emailexists"><span>Email&nbsp;ID&nbsp;Already&nbsp;Exist.</span></span>
                <p>Password</p>
                <input type="password" name="password" ng-pattern="/^[^ ]+$/" ng-model="coach.password" required minlength="6" maxlength="20"/>
                 <span ng-show="coachRegisterForm.password.$dirty&&coachRegisterForm.password.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.password.$error.required"><span>Required.</span></span>
                     <span class="error-message" ng-show="coachRegisterForm.password.$error.pattern"><span>Password&nbsp;doesn't&nbsp;allow&nbsp;space.</span></span>
                      <span class="error-message" ng-show="!coachRegisterForm.password.$error.pattern&&coachRegisterForm.password.$error.minlength"><span>Should&nbsp;be&nbsp;of&nbsp;length&nbsp;6.</span></span>
                </span>
                <p>Confirm Password</p>
                <input type="password" name="confirm_password" ng-model="confirm_password"  compare-to="coach.password" maxlength="20">
                <span ng-show="coachRegisterForm.confirm_password.$dirty&&coachRegisterForm.confirm_password.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.confirm_password.$error.compareTo"><span>Password&nbsp;don't&nbsp;match.</span></span>
                </span>

                <div class="action_btns margin-top-20">
                    <div><a href="" class="btn btn_red" ng-click="doAddCoach();" ng-disabled="coachRegisterForm.$invalid">Add Coach</a></div>
                </div>
            </form>
        </div>
    </section>
</div>-->


<!-- login or register popup-->
<div id="modal" class="popupContainer width-28" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">Add Coach</span>
        <span class="modal_close pull-right"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">

        <!-- Register Form -->
        <div class="user_register">
            <div flash-message="3000" ></div>
            <form name="coachRegisterForm" novalidate>
                <p>First name</p>
                <input type="text" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="coach.firstname" name="firstname" required maxlength="24" focus-me="shouldBeOpen"/>
                <span ng-show="coachRegisterForm.firstname.$dirty&&coachRegisterForm.firstname.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.firstname.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.firstname.$error.pattern"><span>Enter&nbsp;valid&nbsp;Name.</span></span>
                </span>
                <p>Last name</p>
                <input type="text" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="coach.lastname" name="lastname" required maxlength="24"/>
                <span ng-show="coachRegisterForm.lastname.$dirty&&coachRegisterForm.lastname.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.lastname.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.lastname.$error.pattern"><span>Enter&nbsp;valid&nbsp;Name.</span></span>
                </span>

                <p>Email</p>
                <input type="email" name="emailid" ng-model="coach.emailid" required validate-email emailexists/>
                <span ng-show="coachRegisterForm.emailid.$dirty&&coachRegisterForm.emailid.$invalid && !coachRegisterForm.emailid.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm.emailid.$error.required"><span>Required.</span></span>
                    <span class="error-message" ng-show="coachRegisterForm.emailid.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID</span></span>
                </span>
                <span class="error-message" ng-show="coachRegisterForm.emailid.$error.emailexists"><span>Email&nbsp;ID&nbsp;Already&nbsp;Exist.</span></span>
                <p>Password</p>
                <input type="password" name="password" ng-pattern="/^[^ ]+$/" ng-model="coach.password" required minlength="6" maxlength="20"/>
                 <span ng-show="coachRegisterForm.password.$dirty&&coachRegisterForm.password.$invalid">
                    <span class="error-message" ng-show="coachRegisterForm.password.$error.required"><span>Required.</span></span>
                     <span class="error-message" ng-show="coachRegisterForm.password.$error.pattern"><span>Password&nbsp;doesn't&nbsp;allow&nbsp;space.</span></span>
                      <span class="error-message" ng-show="!coachRegisterForm.password.$error.pattern&&coachRegisterForm.password.$error.minlength"><span>Should&nbsp;be&nbsp;of&nbsp;length&nbsp;6.</span></span>
                </span>
                <p>Confirm Password</p>
                <input type="password" name="confirm_password" ng-model="confirm_password"  compare-to="coach.password" maxlength="20">
                <span ng-show="coachRegisterForm.confirm_password.$dirty&&coachRegisterForm.confirm_password.$invalid&& !coachRegisterForm.confirm_password.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm.confirm_password.$error.compareTo"><span>Password&nbsp;don't&nbsp;match.</span></span>
                </span>
                <div class="action_btns margin-top-20">
                    <div class="one_half"><a href="" data-ng-click="reset()" class="btn back_btn modal_close">Cancel</a></div>
                    <div class="one_half last"><a id="register_form2" ng-disabled="coachRegisterForm.$invalid" class="btn btn_red">Proceed <i class="fa fa-angle-double-right"></i></a></div>
                </div>
            </form>
        </div>

        <!-- Register Form Continuation-->
        <div class="user_register1">
            <form name="coachRegisterForm1" novalidate>
                <p>Specialist in </p>
                <input type="text" name="specialist" ng-model="coach.specialist" maxlength="30" required/>
                <span ng-show="coachRegisterForm1.specialist.$invalid &&coachRegisterForm1.specialist.$dirty&& !coachRegisterForm1.specialist.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm1.specialist.$error.required"><span>Required.</span></span>
                </span>
                <p>Qualification</p>
                <input type="text" name="qualification" ng-model="coach.qualification" maxlength="30" required/>
                <span ng-show="coachRegisterForm1.qualification.$invalid && coachRegisterForm1.qualification.$dirty&& !coachRegisterForm1.qualification.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm1.qualification.$error.required"><span>Required.</span></span>
                </span>
                <p>Experience(In months)</p>
                <input type="text" name="experience" ng-pattern="/^\d+$/" ng-model="coach.experience" maxlength="3" required/>
                <span ng-show="coachRegisterForm1.experience.$invalid && coachRegisterForm1.experience.$dirty && !coachRegisterForm1.experience.$pristine">
                    <span class="error-message" ng-show="coachRegisterForm1.experience.$error.required"><span>Required.</span></span>
                     <span class="error-message" ng-show="coachRegisterForm1.experience.$error.pattern"><span>Invalid &nbsp;Data.</span></span>
                </span>
                <div class="action_btns margin-top-20">
                    <div class="one_half"><a href="" id="register_form" class="btn back_btn_register"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a ng-click="doAddCoach(coach)" ng-disabled="coachRegisterForm1.$invalid" class="btn btn_red modal_close">Add Coach</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

</div>

<!-- Start Page Banner -->


<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){

        $(".user_register").show();

        // Calling Register Form
        $("#register_form").click(function(){
            $(".user_register").show();
            $(".user_register1").hide();
            return false;
        });

        // modal trigger Form
        $("#modal_trigger").click(function(){
            $(".user_register").show();
            $(".user_register1").hide();
            return false;
        });

        // Calling Register Second Form
        $("#register_form2").click(function(){
            $(".user_register").hide();
            $(".user_register1").show();
            return false;
        });
    });
</script>