

<!-- Start Page Banner -->
<div class="container" ng-cloak class="ng-cloak">
    <a href="#coursePending" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
    <div flash-message="2000" class="col-md-4 pull-right"></div>
    <h4 class="classic-title"><span>Natural Health Tips for Skin</span></h4>
    <div class="row margin-top-10 margin-bottom-10">
        <div class="col-md-3">
            <img class="margin-bottom-15" src="../../images/course-test.jpg">
            <div class="col-md-2 no-padding margin-top-5"><img class="course-author-img" src="../../images/pic-1.jpg"></div>
            <div class="col-md-10">
                <h5>course author name</h5>
                <p>course author specialist</p>
                <h5 class="margin-top-10"><i class="fa fa-book text-gray"></i> - 23 Sections</h5>
            </div>
            <a href="" class="col-md-12 suggest_button margin-top-10">Accept this course</a>
            <a href="" class="col-md-12 suggest_button red_button">Reject this course</a>
        </div>
        <div class="col-md-9">
            <h4 class="margin-bottom-5">Course Description:</h4>
            <p class="margin-tb-10">
                Combination skin is usually dry or normal in some areas but oily in the T-zone – a fancy name for the forehead, nose, and chin area of your face. If this is your skin type, you might be struggling with enlarged pores, blackheads, and some grease and shine along your T-zone.
            </p>
            <h5 class="margin-bottom-10">Section 1 : <a href="#courseView">Combination skin is usually dry or normal in is usually dry or normal in s</a></h5>
            <h5 class="margin-bottom-10">Section 2 : <a href="#courseView">Combination skin is usually dry or kin is usually dry or normal in </a></h5>
            <h5 class="margin-bottom-10">Section 3 : <a href="#courseView">Combination skin is usually d skin is usually dry or normal in</a></h5>
            <h5 class="margin-bottom-10">Section 4 : <a href="#courseView">Combination skin is usually dry or norn skin is usually dry or normal in</a></h5>
            <h5 class="margin-bottom-10">Section 5 : <a href="#courseView">Combination skin is usually dry or norn skin is usually dry or normal in</a></h5>
            <h5 class="margin-bottom-10">Section 6 : <a href="#courseView">Combination skin is usually dry oion skin is usually dry or normal in</a></h5>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
