

<!-- Start Page Banner -->
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">
        <!-- Classic Heading -->
        <!--<span class="col-md-12"><h4 class="classic-title"><span>Dashboard</span></h4></span>-->
        <div class="col-md-12 margin-top-10 margin-bottom-10 no-padding">
            <div class="col-md-4">
                <a href="#member">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-users"></i> &nbsp;Member Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backgreen">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-users"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Member Management

                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{memberCount}}" value="{{countFrom}}" duration="1"></span> Members</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#invitation-list">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-user"></i> &nbsp;Coach Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backorange">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-user"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Coach Management
                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{coachCount}}" value="{{countFrom}}" duration="1"></span> Coaches</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#exercise">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-bicycle"></i> &nbsp;Exercise Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backlovender">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-bicycle"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Exercise Management
                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{exerciseCount}}" value="{{countFrom}}" duration="1"></span> Exercises</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#food">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-cutlery"></i> &nbsp;Food Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backblue">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-cutlery"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Food Management
                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{foodCount}}" value="{{countFrom}}" duration="1"></span> Foods</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details <i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#course">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-book"></i> &nbsp;Course Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backgreeness">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-book"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Course Management
                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{courseCount}}" value="{{countForm}}" duration="1"></span> Courses</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#payments">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-money"></i> &nbsp;Payment Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="backyellow">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-money"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Payment Management{{payUSD}}
                                    </h3>
                                    <p><span class="timer timerstyle count" count-to="{{payUSD}}" value="{{countForm}}" duration="1"></span>&nbsp;USD&nbsp;<span style="font-size:25px;">|</span>&nbsp;<span class="timer timerstyle count" count-to="{{payINR}}" value="{{countForm}}" duration="1"></span>&nbsp;RS.</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#site">
                    <div class="dashboard">
                        <div class="head">
                            <i class="fa fa-cogs"></i> &nbsp;Site Management
                            <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                        </div>
                        <div class="greenyellow">
                            <div class="dashcontent">
                                <div class="col-md-4">
                                    <i class="fa fa-5x fa-cogs"></i>
                                </div>
                                <div class="col-md-8 left-border">
                                    <h3>
                                        Site Management
                                    </h3>
                                    <p>Manage your site settings</p>
                                </div>
                            </div>
                            <div class="link">
                                More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#activity-logs">
                <div class="dashboard">
                    <div class="head">
                        <i class="fa fa-calendar-check-o"></i> &nbsp;Activity Logs
                        <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                    </div>
                    <div class="pinky">
                        <div class="dashcontent">
                            <div class="col-md-4">
                                <i class="fa fa-5x fa-calendar-check-o"></i>
                            </div>
                            <div class="col-md-8 left-border">
                                <h3>
                                    Activity Log
                                </h3>
                                <p>Manage your Activity logs</p>
                            </div>
                        </div>
                        <div class="link">
                            More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#user-feedback">
                <div class="dashboard">
                    <div class="head">
                        <i class="fa fa-envelope"></i> &nbsp;User Feedback
                        <i class="fa fa-heartbeat pull-right text-lightgray"></i>
                    </div>
                    <div class="violety">
                        <div class="dashcontent">
                            <div class="col-md-4">
                                <i class="fa fa-5x fa-envelope"></i>
                            </div>
                            <div class="col-md-8 left-border">
                                <h3>
                                    User Feedback
                                </h3>
                                <p>Manage user Feedbacks</p>
                            </div>
                        </div>
                        <div class="link">
                            More Details<i class="fa fa-arrow-circle-o-right pull-right"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>