
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#exercise" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Exercise List</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span>{{title}}</span></h4>
                <form name="exerciseForm" novalidate>
                <div class="col-md-9 no-padding">
                    <h5>Exercise Name :</h5>
                    <input class="form-control" name="exercisename" maxlength="100"  ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="exerciseDetail.exercisename" required/>
                    <span ng-show="exerciseForm.exercisename.$dirty&&exerciseForm.exercisename.$invalid">
                        <span class="error-message" ng-show="exerciseForm.exercisename.$error.required"><span>Required.</span></span>
                        <span class="error-message" ng-show="exerciseForm.exercisename.$error.pattern"><span>Enter&nbsp;Valid&nbsp;Name.</span></span>
                        <span class="error-message" ng-show="exerciseForm.exercisename.$error.exercisenameExists"><span>Exercise&nbsp;Name&nbsp;Already&nbsp;Exist.</span></span>
                    </span>
                    <br/>
                    <h5>Tags :</h5>
                    <div class="form-group">
                        <ui-select multiple tagging="tagTransform" tagging-label="(custom 'new' label)" name="tags"  ng-model="exerciseDetail.tags" theme="select2" sortable="true" ng-disabled="disabled" class="form-control" ui-select-required>
                            <ui-select-match placeholder="Type/Select tags">{{$item.tagname}}</ui-select-match>
                            <ui-select-choices repeat="tag in exerciseTagList | filter:$select.search">
                                {{tag.tagname}}
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="exerciseForm.tags.$dirty&&exerciseForm.tags.$invalid">
                        <span class="error-message" ng-show="exerciseForm.tags.$error.uiSelectRequired"><span>Required.</span></span>
                    </span>
                    <br/>
                        <div ng-if="loaded">
                            <div class="loader-style">
                                <div class="loader"></div>
                            </div>
                        </div>
                    <h5>Exercise Type :</h5>
                        <ui-select ng-model="level.selected" theme="select2" ng-disabled="disabled" class="form-control">
                            <ui-select-match placeholder="Select or search a exercise name...">{{$select.selected.type}}</ui-select-match>
                            <ui-select-choices repeat="level in levelslist | propsFilter: {type: $select.search}">
                                <div ng-click="doChangeExerciseType(level.typeid);">
                                    <div class="typename" ng-bind-html="level.type | highlight: $select.search | html">{{level.type}}</div>
                                    <small>
                                        {{level.levelnames}}
                                    </small>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    <br/>
                    <h5>Energy Spent By Exercise Type :</h5>
                    </div>
                </div>

                <div class="col-md-3 coach-details text-center margin-top-10">
                    <span class="error-message textarea-errormessage20-left" ng-show="isNoImage"><span>Required</span></span>
                    <img class="food-image-wrap" id="food-image-change" ng-src="{{exerciseDetail.imageurl|trusted}}"/><br/><br/>
                    <a id="modal_trigger" href="#modal" onclick="return false;" ng-click="doRefreshPreview();" class="btn-sm btn-warning">Change Exercise Image</a>
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="success">
                                <th class="col-md-4">Level Name</th>
                                <th class="col-md-4">Timing (mints)</th>
                                <th class="col-md-4">Calories Spent</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="levels in exerciseDetail.type.levels">
                                    <td>{{levels.levelname}}</td>
                                    <td>
                                        <ng-form name="workoutValueForm">
                                            <input class="form-control" name="workoutValue" maxlength="3" ng-pattern="/^[0-9]{1,3}$/" ng-model="levels.workoutvalue" required/>
                                            <span ng-show="workoutValueForm.workoutValue.$dirty && workoutValueForm.workoutValue.$invalid">
                                                <span class="error-message" ng-show="workoutValueForm.workoutValue.$error.required"><span>Required</span></span>
                                                <span class="error-message" ng-show="workoutValueForm.workoutValue.$error.pattern"><span>Enter&nbsp;Valid&nbsp;Number</span></span>
                                            </span>
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="caloriesForm">
                                            <input class="form-control" name="calories" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" ng-model="levels.calories" required/>
                                            <span ng-show="caloriesForm.calories.$dirty && caloriesForm.calories.$invalid">
                                                <span class="error-message" ng-show="caloriesForm.calories.$error.required"><span>Required</span></span>
                                                <span class="error-message" ng-show="caloriesForm.calories.$error.pattern"><span>Enter&nbsp;Valid&nbsp;Number</span></span>
                                            </span>
                                        </ng-form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 margin-top-10 text-center">
                        <a class="btn register_button" href="" ng-click="doUpdateExerciseDetail()" ng-disabled="exerciseForm.$invalid||isClean()" ng-hide="isNew">Update Exercise Details</a>
                        <a class="btn register_button" href="" ng-click="doAddExerciseDetail()" ng-disabled="exerciseForm.$invalid||imageAdded" ng-show="isNew">Save Exercise Details</a>
                        <a class="btn cancel_button" href="#exercise">Cancel</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Food Image popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Exercise Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <p>Preview:</p>
            <img class="food-preview center-block" ng-src="{{exerciseDetail.exerciseimage|trusted}}"/>
            <h6 class="text-red text-center margin-tb-10">Note : Upload Image Size 1000x1000</h6>
            <p>Progress:</p>
            <progress class="food-progress" value="{{progress}}"></progress>
            <div class="action_btns margin-top-10">
                <div class="one_half">
                    <div class="fileUpload food-button">
                        <span>Choose Image</span>
                        <input type="file"class="upload" ng-file-select="onFileSelect($files)" />
                    </div>
                </div>
                <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close" ng-click="doUpdateExerciseImage();">Save Image</a></div>
            </div>
        </div>
    </section>
</div>

<!-- Help container -->
<div class="switcher-box">
    <a href="#" onclick="return false" class="open-switcher show-switcher"><i class="fa fa-question-circle fa-2x"></i></a>
    <h4>Help</h4>
    <span>12 Predefined Color Skins</span>
    <ul>
        <li>
            tips 1
        </li>
        <li>
            tips 2
        </li>
        <li>
            tips 3
        </li>
        <li>
            tips 4
        </li>
    </ul>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#measure-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>


