
<div class="row sidebar-active">
    <ul class="sidebar-menu remove-style">
        <li class="{{activeClass.exerciselist}}"><a href="#exercise"><i class="fa fa-list-ul"></i> &nbsp;Exercise List</a></li>
        <li class="{{activeClass.exercisetype}}"><a href="#exercise-type"><i class="fa fa-clone"></i> &nbsp;Exercise Types</a></li>
        <li class="{{activeClass.exercisesuggestion}}"><a href="#exercise-suggestion"><i class="fa fa-pencil-square-o"></i> &nbsp;Exercise Suggestion</a></li>

    </ul>
</div>