
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Exercise Management</span></h4>
                <div ng-include src="'views/exercise-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <a id="modal_exerciseType" ng-click="reset()" href="#exerciseType" class="back-button pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Add Exercise Type</a>
                <!-- Stat Search -->
                <div class="pull-right">
                    <a href="#" onclick="return false;" class="show-list-search search_button"><i class="fa fa-search"></i></a>
                    <div class="search-list-form override">
                        <form autocomplete="off" class="searchform">
                            <input type="text" ng-model="typesearch" placeholder="Search here...">
                        </form>
                    </div>
                </div>
                <!-- End Search -->
                <div flash-message="2000" class="col-md-5 pull-right"></div>
                <h3 class="margin-bottom-10"><i class="fa fa-clone"></i> &nbsp;Exercise Types</h3>


                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="min-height-380">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="warning">
                        <th class="col-md-1">Type Id</th>
                        <th class="col-md-3">Type Name</th>
                        <th class="col-md-4">Levels</th>
                        <th class="col-md-3">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="list in exercisetypefilter = (exerciseTypeList |filter: typesearch | itemsPerPage: 9)" ng-show="exerciseTypeList.length!=0">
                        <td>{{list.typeid}}</td>
                        <td>
                            <span class="line-clamp-sm">
                                {{list.typename}}
                            </span>
                        </td>
                        <td>
                            <span class="line-clamp-md">
                                <span  ng-repeat="level in list.levels">
                                    {{level.levelname}}{{$last ? '' : ','}}
                                </span>
                            </span>
                        </td>
                        <td>
                            <a href="" class="btn-xs btn-primary" ng-click="doViewExerciseType(list.typeid)">View</a>
                            <a href="" class="btn-xs btn-warning" ng-show="list.canedit==1" ng-click="doEditExerciseType(list.typeid)">Edit</a>
                            <a href="" class="btn-xs btn-success" ng-click="doEnableDisableExerciseType(list.typeid)" ng-hide="list.status==1">Enable</a>
                            <a href="" class="btn-xs btn-danger" ng-click="doEnableDisableExerciseType(list.typeid)" ng-show="list.status==1">Disable</a>
                            <a href="" class="btn-xs btn-danger" ng-show="list.canedit==1" ng-click="doDeleteExerciseType(list.typeid)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="!exercisetypefilter.length" class="text-center"><td colspan="4">No Records Found !!!</td></tr>
                    </tbody>
                </table>
                </div>
                <!-- Start Pagination -->
                <dir-pagination-controls ng-show="paginationLoad" max-size="5" direction-links="true"
                                         boundary-links="true"> </dir-pagination-controls>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>

<!-- Category popup-->
<div id="exerciseType" class="popupContainer-width" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">{{title}}</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>


    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form name="exerciseTypeAddForm" novalidate>
                <p>Exercise Type Name</p>
                <input type="text" name="exerciseTypeName" ng-change="isNameAlreadyExist(exerciseType.typename)" ng-model="exerciseType.typename" maxlength="45" required/>
                <span ng-show="exerciseTypeAddForm.exerciseTypeName.$dirty && exerciseTypeAddForm.exerciseTypeName.$invalid">
                    <span class="error-message" ng-show="exerciseTypeAddForm.exerciseTypeName.$error.required"><span>Required.</span></span>
                </span>
                <span class="error-message" ng-show="nameAlreadyExist"><span>Type&nbsp;Name&nbsp;Already&nbsp;Exist</span></span>

                <p class="text-red pull-right" ng-show="errorMessageForType">Atleast one level is required</p>
                <p class="margin-bottom-10">List of level (<a href="" class="text-bold" ng-click="addInput()"> <i class="fa fa-plus-circle"></i> Add New Level </a> )</p>

                <div ng-repeat="input in inputs" class="margin-bottom-20">
                    <ng-form name="levelForm">
                        <input class="level_input" type="text" name="exerciseLevel" ng-model="input.levelname" maxlength="45" required/>
                        <span class="level_close" ng-click="removeInput($index)"><span>Remove</span></span>
                            <span ng-show="levelForm.exerciseLevel.$dirty && levelForm.exerciseLevel.$invalid && !errorMessageForType">
                                <span class="error-message override" ng-show="levelForm.exerciseLevel.$error.required"><span>Empty&nbsp;field&nbsp;not&nbsp;accepted.</span></span>
                            </span>
                    </ng-form>
                </div>
                <div class="action_btns margin-top-20">
                    <div class="one_half" ng-show="isNew"><a href="" class="btn btn_red modal_close" ng-disabled="exerciseTypeAddForm.$invalid || nameAlreadyExist" ng-click="doAddExerciseType()">Save Exercise Type </a></div>
                    <div class="one_half" ng-hide="isNew"><a href="" class="btn btn_red modal_close" ng-disabled="exerciseTypeAddForm.$invalid || isClean() || nameAlreadyExist" ng-click="doUpdateExerciseType()">Update Exercise Type </a></div>
                    <div class="one_half last modal_close"><a id="register_form" class="btn">Cancel</a></div>
                </div>

            </form>
        </div>
    </section>
</div>

<!-- Category popup-->
<div id="exerciseTypeView" class="popupContainer-width" style="display:none;">

    <header class="popupHeader width-100">
        <span class="header_title">{{title}}</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <table class="table table-bordered margin-top-10">
                <tbody>
                    <tr class="warning">
                        <td class="col-md-4">Type Id</td>
                        <td class="col-md-8">{{exerciseType.typeid}}</td>
                    </tr>
                    <tr>
                        <td>Type Name</td>
                        <td>{{exerciseType.typename}}</td>
                    </tr>
                    <tr class="warning">
                        <td>Levels</td>
                        <td>
                            <span ng-repeat="level in exerciseType.levels">
                                {{level.levelname}}{{$last ? '' : ','}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_exerciseType").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>