

<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#food" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Food List</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span>{{title}}</span></h4>
                <form name="foodForm">
                <div class="col-md-10 no-padding">
                    <h5>Food Name :</h5>
                    <input class="form-control" name="foodname" maxlength="100" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="foodDetails.foodname" required/>
                    <span ng-show="foodForm.foodname.$dirty&&foodForm.foodname.$invalid">
                                <span class="error-message" ng-show="foodForm.foodname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="foodForm.foodname.$error.pattern"><span>Enter&nbsp;Valid&nbsp;name.</span></span>
                         </span>
                    <br/>
                    <h5>Categories :</h5>
                    <ui-select multiple name="categoryid" ng-model="foodDetails.categoryid" theme="select2" ng-disabled="disabled" class="form-control" ui-select-required>
                        <ui-select-match placeholder="Type and Select Categories">{{$item.categoryname}}</ui-select-match>
                        <ui-select-choices repeat="category in foodCategoryListAll | filter:$select.search">
                            {{category.categoryname}}
                        </ui-select-choices>
                    </ui-select>
                    <span ng-show="foodForm.categoryid.$dirty&&foodForm.categoryid.$invalid">
                        <span class="error-message" ng-show="foodForm.categoryid.$error.uiSelectRequired"><span>Required.</span></span>
                    </span>
                    <br/>

                    <h5>Session :</h5>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <span class="fh-checkbox" required>
                        <input type="checkbox" id="session-1" name="session" ng-model="foodDetails.sessionSet.breakfast">
                        <label for="session-1">Break Fast</label>
                        <input type="checkbox" id="session-2" name="session" ng-model="foodDetails.sessionSet.brunch">
                        <label for="session-2">Brunch</label>
                        <input type="checkbox" id="session-3" name="session" ng-model="foodDetails.sessionSet.lunch">
                        <label for="session-3">Lunch</label>
                        <input type="checkbox" id="session-4" name="session" ng-model="foodDetails.sessionSet.eveningsnacks">
                        <label for="session-4">Evening Snacks</label>
                        <input type="checkbox" id="session-5" name="session" ng-model="foodDetails.sessionSet.dinner">
                        <label for="session-5">Dinner</label>
                    </span>
                <span ng-show="foodForm.$invalid">
                                <span class="error-message" ng-show="foodForm.session.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                </div>
                <div class="col-md-2 coach-details">
                    <img id="food-image-change" ng-src="{{foodDetails.foodImagePath|trusted}}"/><br/><br/>
                    <a id="modal_trigger" href="#modal" onclick="return false;" class="btn-sm btn-warning">Change Food Image</a>
                </div>
                <div class="col-md-12 no-padding">
                    <hr>
                    <h5>Tags :</h5>
                  <div class="form-group">
                      <ui-select multiple tagging="tagTransform" tagging-label="(custom 'new' label)"  ng-model="foodDetails.tagid" theme="select2" sortable="true" ng-disabled="disabled" class="form-control">
                          <ui-select-match placeholder="Type/Select tags">{{$item.tagname}}</ui-select-match>
                          <ui-select-choices repeat="tag in foodTagList | filter:$select.search">
                              {{tag.tagname}}
                          </ui-select-choices>
                      </ui-select>
                     <!-- <span ng-show="foodForm.tagid.$dirty&&foodForm.tagid.$invalid">
                        <span class="error-message" ng-show="foodForm.tagid.$error.uiSelectRequired"><span>Required.</span></span>
                    </span>-->
                  </div>


                    <div ng-if="loaded">
                        <div class="loader-style">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="no-padding margin-top-5 pull-right">
                        <a id="measure-modal" href="#measure-modal-edit" onclick="return false;" class="main_button"><i class="fa fa-plus-circle"></i>&nbsp;Add New Measure</a>
                    </div>
                    <h5>Measures :</h5><br/>
                    <div class="col-md-1"></div>
                    <div class="col-md-11 min-height-100">
                        <span  class="fh-checkbox" ng-repeat="foodMeasure in foodMeasureListAll">
                        <input class="col-md-1" id="{{foodMeasure.measureid}}" type="checkbox" ng-model="foodMeasure.checked" ng-change="doAddNewMeasureMinerals(foodMeasure.measureid,foodMeasure.measurename)">
                        <label class="col-md-2" for="{{foodMeasure.measureid}}">{{foodMeasure.measurename}}{{foodMeasure.measureid}}</label>
                        </span>
                    </div>

                    <div class="col-md-12 no-padding margin-top-10">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="success">
                                <th class="col-md-1 text-center">Measures</th>
                                <th class="col-md-1 text-center">Value</th>
                                <th class="col-md-10 text-center">Minerals</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="measureDetail in foodDetails.measureid">
                            <tr>
                                <td>{{measureDetail.measurename}}</td>
                                <td class="input_mineral"><input type="text" ng-model="measureDetail.value"/></td>
                                <td class="line input_mineral">
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Calories</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.calories"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.fat"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Protein</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.protein"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Carbo</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.carbo"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Fiber</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.fibre"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Calcium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.calcium"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Zinc</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.zinc"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Folic Acid</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.folicacid"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Iron</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.iron"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Niacin</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.niacin"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Phosphorous</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.phosphorous"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Potassium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.potassium"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Riboflavin</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.riboflavin"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Saturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.saturatedfat"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Sodium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.sodium"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Sugar</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.sugar"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Thiamine</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.thiamine"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin A</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminA"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin B12</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminB12"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin B6</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminB6"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin C</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminC"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin E</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminE"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin K</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.vitaminK"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Polyunsaturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.polyunsaturatedfat"/>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Monounsaturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" ng-model="measureDetail.monounsaturatedfat"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 margin-top-10 text-center">
                        <a class="register_button" href="" ng-click="doUpdateFoodDetails()" ng-hide="isNew">Save Food Details</a>
                        <a class="register_button" href="" ng-click="doAddFoodDetails()" ng-show="isNew">Save Food Details</a>
                        <a class="cancel_button" href="#food">Cancel</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Food Image popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Food Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <p>Preview:</p>
            <img class="food-preview center-block" ng-src="{{foodDetails.foodimage|trusted}}"/>
            <h6 class="text-red text-center margin-tb-10">Note : Upload Image Size 1000x1000</h6>
            <p>Progress:</p>
            <progress class="food-progress" value="{{progress}}"></progress>
            <div class="action_btns margin-top-10">
                <div class="one_half">
                    <div class="fileUpload food-button">
                        <span>Choose Image</span>
                        <input type="file"class="upload" ng-file-select="onFileSelect($files)" />
                    </div>
                </div>
                <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close" ng-click="doUpdateFoodImage();">Save Image</a></div>
            </div>
        </div>
    </section>
</div>

<!-- Measure popup-->
<div id="measure-modal-edit" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">add measurement unit</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form>
                <p>Measurement Unit Name</p>
                <input type="text" />

                <div class="action_btns margin-top-20">
                    <div><a href="" class="btn btn_red">Save Measurement Unit </a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#measure-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>


