
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Food Management</span></h4>
                <div ng-include src="'views/food-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9 min-height-450" ng-init="init()">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <a href="#uploadFood" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-down"></i> Import Food</a>
                <a href="#addFood" class="back-button pull-right margin-left-5"><i class="fa fa-plus-circle"></i> Add Food</a>
                <!-- Stat Search -->
                <div class="pull-right" id="hidden-search">
                    <a href="#" onclick="return false;" class="show-list-search search_button"><i class="fa fa-search"></i></a>
                    <div class="search-list-form override">
                        <form autocomplete="off" class="searchform">
                            <input type="text" ng-model="foodsearch" placeholder="Search here...">
                        </form>
                    </div>
                </div>
                <!-- End Search -->
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h3 class="margin-bottom-10"><i class="fa fa-list-ul"></i> &nbsp;Food List</h3>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="warning sort-icon">
                        <!--<th class="col-md-1" ng-click="sort('foodid')">FoodId&nbsp;<span ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span></th>
                        <th class="col-md-2" ng-click="sort('foodname')">Food &nbsp;&nbsp; <span  ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span> </th>-->
                        <th class="title-col">Food&nbsp;Id&nbsp;<i ng-click="sortFoodId()" class="{{sortfoodidicon}}"></i></th>
                        <th class="descripton-col">Food Name&nbsp;&nbsp;<i ng-click="sortFoodName()" class="{{sortfoodnameicon}}"></i></th>
                        <th class="descripton-col">Categories&nbsp;&nbsp;</th>
                        <th class="descripton-col">Sessions&nbsp;&nbsp;</th>
                        <th class="title-col">Region&nbsp;&nbsp;</th>
                        <th class="descripton-col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="food in foodfilter=(foodList | filter:foodsearch  |orderBy:sortKey:reverse | itemsPerPage: 10)" ng-show="foodList.length!=0">
                        <td>{{food.foodid}}</td>
                        <td title="{{food.foodname}}"><span class="line-clamp-xxs">{{food.foodname}}</span></td>
                        <td><span class="line-clamp-xxs">
                            <span  ng-repeat="category in food.categoryid" title="{{food.category}}">
                                <span>{{category.categoryname}}{{$last ? '' : ','}}</span>
                            </span></span>
                        </td>
                        <td ><span class="line-clamp-xxs">
                            <span  ng-repeat="session in food.sessionid" title="{{food.session}}">
                                {{session.sessionname}}{{$last ? '' : ','}}
                            </span>
                        </span>
                        </td>
                        <td title="{{food.regionid.regionname}}">{{food.regionid.regionname}}</td>
                        <td>
                            <a href="#food-view/{{food.foodid}}" class="btn-xs btn-primary">View</a>
                            <a href="#food-edit/{{food.foodid}}" class="btn-xs btn-warning">Edit</a>
                            <a href=""  class="btn-xs btn-success" ng-click="doEnableDisable(food.foodid)" ng-show="food.status==0">Enable</a>
                            <a href="" class="btn-xs btn-danger" ng-click="doEnableDisable(food.foodid)" ng-hide="food.status==0">Disable</a>
                        </td>
                    </tr>
                    <tr ng-show="foodList.length==0"><td colspan="6" class="text-center">No Records Found !!!</td></tr>
                    <tr ng-show="!foodfilter.length"><td colspan="6" class="text-center">No Records Found !!!</td></tr>
                    </tbody>
                </table>

                <!-- Start Pagination -->
                <dir-pagination-controls ng-show="paginationLoad" max-size="5" direction-links="true"
                                         boundary-links="true"> </dir-pagination-controls>

                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script>
        $(".hideSearch").click(function(){
            alert("okay");
            $("#hidden-search").hide();
            $("#hidden-search").fadeIn(2000);
        });
</script>
