

<!-- Start Page Banner -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#food" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Food List</a>
            <h4 class="classic-title"><span>Food Management</span></h4>
            <div class="col-md-10">
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Food Id :
                    </div>
                    <div class="col-md-10">
                        {{foodDetails.foodid}}
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Food Name :
                    </div>
                    <div class="col-md-10">
                        {{foodDetails.foodname}}
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Categories :
                    </div>
                    <div class="col-md-10">
                                        <span  ng-repeat="category in foodDetails.categoryid">
                                            {{category.categoryname}}{{$last ? '' : ','}}
                                        </span>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Session :
                    </div>
                    <div class="col-md-10">
                                        <span  ng-repeat="session in foodDetails.sessionid">
                                            {{session.sessionname}}{{$last ? '' : ','}}
                                        </span>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Region :
                    </div>
                    <div class="col-md-10">
                        {{foodDetails.regionid.regionname}}
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Tags :
                    </div>
                    <div class="col-md-10">
                                        <span  ng-repeat="tag in foodDetails.tagid">
                                            {{tag.tagname}}{{$last ? '' : ','}}
                                        </span>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Not Suitable For :
                    </div>
                    <div class="col-md-10">
                        {{foodDetails.notSuitableFor}}
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-2">
                        Status :
                    </div>
                    <div class="col-md-10">
                        <a class="btn-xs btn-success" ng-hide="foodDetails.status==0">Enable</a>
                        <a class="btn-xs btn-danger" ng-show="foodDetails.status==0">Disable</a>
                    </div>
                </div>

            </div>
            <div class="col-md-2 coach-details">
                <img id="food-image-change" ng-src="{{foodDetails.foodImagePath}}"/><br/><br/>
            </div>
            <div class="col-md-12">
                <div class="row margin-bottom-10">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="success">
                                <th class="col-md-1 text-center">Measures</th>
                                <th class="col-md-1 text-center">Value</th>
                                <th class="col-md-10 text-center">Minerals</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="measureDetail in foodDetails.measureid">
                            <tr>
                                <td>{{measureDetail.measurename}}</td>
                                <td>{{measureDetail.value}}</td>
                                <td class="line">
                                    <div class="col-md-3">
                                        <div class="col-md-7 no-padding">
                                            <p>Calories</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.calories==null?'NA':measureDetail.calories}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.fat==null?'NA':measureDetail.fat}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Protein</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.protein==null?'NA':measureDetail.protein}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Carbo</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.carbo==null?'NA':measureDetail.carbo}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Fibre</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.fibre==null?'NA':measureDetail.fibre}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Calcium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.calcium==null?'NA':measureDetail.calcium}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Zinc</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.zinc==null?'NA':measureDetail.zinc}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Folic Acid</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.folicacid==null?'NA':measureDetail.folicacid}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Iron</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.iron==null?'NA':measureDetail.iron}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Niacin</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.niacin==null?'NA':measureDetail.niacin}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Phosphorous</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.phosphorous==null?'NA':measureDetail.phosphorous}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Potassium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.potassium==null?'NA':measureDetail.potassium}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Riboflavin</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.riboflavin==null?'NA':measureDetail.riboflavin}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-7 no-padding">
                                            <p>Saturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.saturatedfat==null?'NA':measureDetail.saturatedfat}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Sodium</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.sodium==null?'NA':measureDetail.sodium}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Sugar</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.sugar==null?'NA':measureDetail.sugar}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Thiamine</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.thiamin==null?'NA':measureDetail.thiamin}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin A</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminA==null?'NA':measureDetail.vitaminA}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin B12</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminB12==null?'NA':measureDetail.vitaminB12}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin B6</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminB6==null?'NA':measureDetail.vitaminB6}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin C</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminC==null?'NA':measureDetail.vitaminC}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin E</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminE==null?'NA':measureDetail.vitaminE}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Vitamin K</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.vitaminK==null?'NA':measureDetail.vitaminK}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Polyunsaturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.polyunsaturatedfat==null?'NA':measureDetail.polyunsaturatedfat}}</p>
                                        </div>
                                        <div class="col-md-7 no-padding">
                                            <p>Monounsaturated Fat</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="text-bold">{{measureDetail.monounsaturatedfat==null?'NA':measureDetail.monounsaturatedfat}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tag popup-->
<div id="minerals" class="popupContainer width-40" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">view minerals</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model line">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-7 no-padding">
                        <p>Calcium<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Chloride<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Magnesium<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Phosphorus<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Sodium<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Sulfur<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Iron<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="col-md-7 no-padding">
                        <p>Zinc<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Manganese<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Copper<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Molybdenum<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Iodine<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Chromium<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                    <div class="col-md-7 no-padding">
                        <p>Selenium<span class="pull-right">:</span></p>
                    </div>
                    <div class="col-md-5">
                        <p class="text-bold">123</p>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-3 action_btns margin-top-20">
                    <div class="modal_close"><a href="" class="btn btn_red">Cancel</a></div>
                </div><br/><br/>
            </div>
        </div>
    </section>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $(".minerals-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>
