
<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Food Management</span></h4>
                <div ng-include src="'views/food-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9">
                <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <a id="modal_category" ng-click="reset()" href="#category" class="back-button pull-right"><i class="fa fa-plus-circle"></i> Add Category</a>
                <form class="form-wrapper pull-right">
                    <input type="text" ng-model="categorysearch" placeholder="Search here...">
                </form>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h3 class="margin-bottom-10"><i class="fa fa-list-ul"></i> &nbsp;Food Category</h3>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="warning">
                        <th>S.No</th>
                        <th>Category Name</th>
                        <th class="option-col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="category in categoryfilter = (foodCategoryList |filter: categorysearch | itemsPerPage: 10|orderBy:sortKey:!reverse)" ng-show="foodCategoryList.length!=0">
                        <td>{{$index+1}}</td>
                        <td>{{category.categoryname}}</td>
                        <td>
                            <a href="" class="btn-xs btn-warning">Edit</a>
                            <a href="" class="btn-xs btn-success" ng-click="doEnableDisableFoodCategory(category.categoryid)" ng-show="category.status==0">Enable</a>
                            <a href="" class="btn-xs btn-danger" ng-click="doEnableDisableFoodCategory(category.categoryid)" ng-hide="category.status==0">Disable</a>
                            <a href="" class="btn-xs btn-danger" ng-click="doDeleteFoodCategory(category.categoryid)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="foodCategoryList.length==0"><td colspan="3">No Records Found !!!</td></tr>
                    <tr ng-show="!categoryfilter.length"><td colspan="3">No Records Found !!!</td></tr>
                    </tbody>
                </table>
                <!-- Start Pagination -->
                <dir-pagination-controls max-size="5" direction-links="true"  boundary-links="true"> </dir-pagination-controls>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>

<!-- Category popup-->
<div id="category" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">add New category</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form name="foodCategoryAddForm">
                <p>Category Name</p>
                <input type="text" name="categoryname" ng-model="foodCategory.categoryname" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" maxlength="45" required/>
                <span ng-show="foodCategoryAddForm.categoryname.$dirty&&foodCategoryAddForm.categoryname.$invalid">
                                <span class="error-message" ng-show="foodCategoryAddForm.categoryname.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="foodCategoryAddForm.categoryname.$error.pattern"><span>Enter&nbsp;Valid&nbsp;name.</span></span>
                         </span>
                <div class="action_btns margin-top-20">
                    <div><a href="" class="btn btn_red" ng-class="{modal_close:foodCategoryAddForm.$invalid}" ng-disabled="foodCategoryAddForm.$invalid" ng-click="doAddFoodCategory()">Save Category </a></div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_category").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>
