

<!-- Start Page Banner -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <a href="#food" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Food List</a>
            <div flash-message="2000" class="col-md-4 pull-right"></div>
            <h4 class="classic-title"><span>{{title}}</span></h4>
            <form name="foodForm" novalidate>
                <div class="col-md-9 no-padding">
                    <input type="hidden" name="foodid" ng-model="foodDetails.foodid"/>
                    <h5>Food Name :</h5>
                    <input class="form-control" data-foodid="foodDetails.foodid" name="foodname" maxlength="100"  ng-model="foodDetails.foodname" foodexists required/>
                    <span ng-show="foodForm.foodname.$dirty&&foodForm.foodname.$invalid">
                        <span class="error-message" ng-show="foodForm.foodname.$error.required"><span>Required.</span></span>
                        <span class="error-message" ng-show="foodForm.foodname.$error.foodexists"><span>Food&nbsp;Already&nbsp;Exists</span></span>
                    </span>
                    <br/>
                    <h5>Categories :</h5>
                    <ui-select multiple ng-model="foodDetails.categoryid" theme="select2" ng-disabled="disabled" class="form-control" ui-select-required>
                        <ui-select-match placeholder="Type and Select Categories">{{$item.categoryname}}</ui-select-match>
                        <ui-select-choices repeat="category in foodCategoryListAll | propsFilter: {categoryid: $select.search, categoryname: $select.search}">
                            {{category.categoryname}}
                        </ui-select-choices>
                    </ui-select>

                    <span ng-show="foodForm.categoryid.$dirty&&foodForm.categoryid.$invalid">
                        <span class="error-message" ng-show="foodForm.categoryid.$error.uiSelectRequired"><span>Required.</span></span>
                    </span>
                    <br/>
                    <h5 class="margin-bottom-10">Session :
                        <span ng-show="foodForm.session.$invalid">
                            <span class="text-red">Required.</span>
                        </span>
                    </h5>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <checkbox-group min-required="1">
                            <span class="fh-checkbox" required>
                                <input type="checkbox" id="session-1" name="session" ng-model="foodDetails.sessionSet.breakfast">
                                <label for="session-1">Break Fast</label>
                                <input type="checkbox" id="session-2" name="session" ng-model="foodDetails.sessionSet.brunch">
                                <label for="session-2">Brunch</label>
                                <input type="checkbox" id="session-3" name="session" ng-model="foodDetails.sessionSet.lunch">
                                <label for="session-3">Lunch</label>
                                <input type="checkbox" id="session-4" name="session" ng-model="foodDetails.sessionSet.eveningsnacks">
                                <label for="session-4">Evening Snacks</label>
                                <input type="checkbox" id="session-5" name="session" ng-model="foodDetails.sessionSet.dinner">
                                <label for="session-5">Dinner</label>
                            </span>
                        </checkbox-group>
                    </div>
                    <h5 class="margin-tb-5">Region :</h5>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <input type="radio" id="india" class="height" name="regionid" value="1" ng-model="foodDetails.regionid"/>
                        <label for="india">India</label>
                        <input type="radio" id="us" class="height" name="regionid" value="2" ng-model="foodDetails.regionid"/>
                        <label for="us">United states</label>
                        <input type="radio" id="general" class="height" name="regionid" value="3" ng-model="foodDetails.regionid"/>
                        <label for="general">General</label>
                    </div>
                    <h5>Tags :</h5>
                    <div class="form-group">
                        <ui-select multiple tagging="tagTransform" tagging-label="(custom 'new' label)" name="tagid"  ng-model="foodDetails.tagid" theme="select2" sortable="true" ng-disabled="disabled" class="form-control" ui-select-required>
                            <ui-select-match placeholder="Type/Select tags">{{$item.tagname}}</ui-select-match>
                            <ui-select-choices repeat="tag in foodTagList | filter:$select.search">
                                {{tag.tagname}}
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="foodForm.tagid.$dirty&&foodForm.tagid.$invalid">
                            <span class="error-message" ng-show="foodForm.tagid.$error.uiSelectRequired"><span>Required.</span></span>
                        </span>
                    </div>
                    <h5>Not Suitable For :</h5><br/>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <span class="fh-checkbox" required>
                            <input type="checkbox" id="notobesity" name="notobesity" ng-true-value="'1'" ng-false-value="'0'"  ng-checked="foodDetails.notobesity=='1'" ng-model="foodDetails.notobesity">
                            <label for="notobesity">Obesity</label>
                            <input type="checkbox" id="notdiabetes" name="notdiabetes" ng-true-value="'1'" ng-false-value="'0'"  ng-checked="foodDetails.notdiabetes=='1'" ng-model="foodDetails.notdiabetes">
                            <label for="notdiabetes">Diabetes</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 coach-details text-center margin-top-20">
                    <img class="food-image-wrap" id="food-image-change" ng-src="{{foodDetails.foodImagePath}}"/><br/><br/>
                    <a id="modal_trigger" href="#modal" onclick="return false;" ng-click="doRefreshPreview();" class="btn-sm btn-warning">Change Food Image</a>
                </div>
                <div class="col-md-12 no-padding">
                <hr>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <h5>Measures :
                    <span ng-show="foodForm.foodMeasureName.$invalid">
                        <span class="text-red">Required.</span>
                    </span>
                </h5>
                <br/>
                <div class="col-md-1"></div>
                <div class="col-md-11">{{measureRequired}}
                    <checkbox-group min-required="1">
                        <span  class="fh-checkbox" ng-repeat="foodMeasure in foodMeasureListAll">
                            <input class="col-md-1" name="foodMeasureName" ng-required="measureRequired" id="{{foodMeasure.measureid}}" type="checkbox" ng-model="foodMeasure.checked" ng-change="doAddNewMeasureMinerals(foodMeasure.measureid,foodMeasure.measurename)">
                            <label class="col-md-2" for="{{foodMeasure.measureid}}">{{foodMeasure.measurename}}</label>
                        </span>
                    </checkbox-group>
                </div>
                <div class="col-md-12 no-padding margin-top-15">
                <table class="table table-bordered">
                    <thead>
                        <tr class="success">
                            <th class="col-md-1 text-center">Measures</th>
                            <th class="col-md-1 text-center">Value</th>
                            <th class="col-md-10 text-center">Minerals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-class="animate-repeat" ng-repeat="measureDetail in foodDetails.measureid" ng-form="mineralForm">
                            <td>{{measureDetail.measurename}}</td>
                            <td class="input_mineral">
                                <input type="text" name="measureValue" ng-model="measureDetail.value" maxlength="3" required validate-Float1/>
                                <span ng-show="mineralForm.measureValue.$dirty&&mineralForm.measureValue.$invalid">
                                    <span class="error-message textarea-errormessage20" ng-show="mineralForm.measureValue.$error.required"><span>Required.</span></span>
                                    <span class="error-message textarea-errormessage20" ng-show="!mineralForm.measureValue.$error.required&&mineralForm.measureValue.$error.validateFloat1"><span>Invalid&nbsp;data.</span></span>
                                </span>
                            </td>
                            <td class="line input_mineral">
                        <div class="col-md-3 no-padding">
                            <div class="col-md-7 no-padding">
                                <p>Calories<span class="text-red">*</span>
                                    <span ng-show="mineralForm.calories.$dirty&&mineralForm.calories.$invalid">
                                        <span ng-show="mineralForm.calories.$error.required"> <span class="pull-right text-red">Required.</span></span>
                                        <span ng-show="!mineralForm.calories.$error.required&&mineralForm.calories.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="calories" ng-model="measureDetail.calories" maxlength="7" required validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Fat<span class="text-red">*</span>
                                    <span ng-show="mineralForm.fat.$dirty&&mineralForm.fat.$invalid">
                                        <span ng-show="mineralForm.fat.$error.required"> <span class="pull-right text-red">Required.</span></span>
                                        <span ng-show="!mineralForm.fat.$error.required&&mineralForm.fat.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="fat" ng-model="measureDetail.fat" maxlength="7" required validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Protein<span class="text-red">*</span>
                                    <span ng-show="mineralForm.protein.$dirty&&mineralForm.protein.$invalid">
                                        <span ng-show="mineralForm.protein.$error.required"> <span class="pull-right text-red">Required.</span></span>
                                        <span ng-show="!mineralForm.protein.$error.required&&mineralForm.protein.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="protein" ng-model="measureDetail.protein" maxlength="7" required validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Carbo<span class="text-red">*</span>
                                    <span ng-show="mineralForm.carbo.$dirty&&mineralForm.carbo.$invalid">
                                        <span ng-show="mineralForm.carbo.$error.required"> <span class="pull-right text-red">Required.</span></span>
                                        <span ng-show="!mineralForm.carbo.$error.required&&mineralForm.carbo.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="carbo" ng-model="measureDetail.carbo" maxlength="7" required validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Fiber<span class="text-red">*</span>
                                    <span ng-show="mineralForm.fibre.$dirty&&mineralForm.fibre.$invalid">
                                        <span ng-show="mineralForm.fibre.$error.required"> <span class="pull-right text-red">Required.</span></span>
                                        <span ng-show="!mineralForm.fibre.$error.required&&mineralForm.fibre.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="fibre" ng-model="measureDetail.fibre" maxlength="7" required validate-Float/>
                                <!-- <span ng-show="mineralForm.fibre.$dirty&&mineralForm.fibre.$invalid">
                                <span class="error-message" ng-show="mineralForm.fibre.$error.required"><span>Required.</span></span>
                                </span>-->
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Calcium
                                    <span ng-show="mineralForm.calcium.$dirty&&mineralForm.calcium.$invalid">
                                        <span ng-show="mineralForm.calcium.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="calcium" ng-model="measureDetail.calcium" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Zinc
                                    <span ng-show="mineralForm.zinc.$dirty&&mineralForm.zinc.$invalid">
                                        <span ng-show="mineralForm.zinc.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="zinc" ng-model="measureDetail.zinc" maxlength="7" validate-Float/>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="col-md-7 no-padding">
                                <p>Folic Acid
                                    <span ng-show="mineralForm.folicacid.$dirty&&mineralForm.folicacid.$invalid">
                                        <span ng-show="mineralForm.folicacid.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="folicacid" ng-model="measureDetail.folicacid" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Iron
                                    <span ng-show="mineralForm.iron.$dirty&&mineralForm.iron.$invalid">
                                        <span ng-show="mineralForm.iron.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="iron" ng-model="measureDetail.iron" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Niacin
                                    <span ng-show="mineralForm.niacin.$dirty&&mineralForm.niacin.$invalid">
                                        <span ng-show="mineralForm.niacin.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="niacin" ng-model="measureDetail.niacin" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Phosphorous
                                    <span ng-show="mineralForm.phosphorous.$dirty&&mineralForm.phosphorous.$invalid">
                                        <span ng-show="mineralForm.phosphorous.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="phosphorous" ng-model="measureDetail.phosphorous" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Potassium
                                    <span ng-show="mineralForm.potassium.$dirty&&mineralForm.potassium.$invalid">
                                        <span ng-show="mineralForm.potassium.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="potassium" ng-model="measureDetail.potassium" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Riboflavin
                                    <span ng-show="mineralForm.riboflavin.$dirty&&mineralForm.riboflavin.$invalid">
                                        <span ng-show="mineralForm.riboflavin.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="riboflavin" ng-model="measureDetail.riboflavin" maxlength="7" validate-Float/>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="col-md-7 no-padding">
                                <p>Saturated Fat
                                    <span ng-show="mineralForm.saturatedfat.$dirty&&mineralForm.saturatedfat.$invalid">
                                        <span ng-show="mineralForm.saturatedfat.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="saturatedfat" ng-model="measureDetail.saturatedfat" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Sodium
                                    <span ng-show="mineralForm.sodium.$dirty&&mineralForm.sodium.$invalid">
                                        <span ng-show="mineralForm.sodium.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="sodium" ng-model="measureDetail.sodium" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Sugar
                                    <span ng-show="mineralForm.sugar.$dirty&&mineralForm.sugar.$invalid">
                                        <span ng-show="mineralForm.sugar.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="sugar" ng-model="measureDetail.sugar" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Thiamine
                                    <span ng-show="mineralForm.thiamin.$dirty&&mineralForm.thiamin.$invalid">
                                        <span ng-show="mineralForm.thiamin.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="thiamin" ng-model="measureDetail.thiamin" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Vitamin A
                                    <span ng-show="mineralForm.vitaminA.$dirty&&mineralForm.vitaminA.$invalid">
                                        <span ng-show="mineralForm.vitaminA.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminA" ng-model="measureDetail.vitaminA" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Vitamin B12
                                    <span ng-show="mineralForm.vitaminB12.$dirty&&mineralForm.vitaminB12.$invalid">
                                        <span ng-show="mineralForm.vitaminB12.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminB12" ng-model="measureDetail.vitaminB12" maxlength="7" validate-Float/>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="col-md-7 no-padding">
                                <p>Vitamin B6
                                    <span ng-show="mineralForm.vitaminB6.$dirty&&mineralForm.vitaminB6.$invalid">
                                        <span ng-show="mineralForm.vitaminB6.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminB6" ng-model="measureDetail.vitaminB6" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Vitamin C
                                    <span ng-show="mineralForm.vitaminC.$dirty&&mineralForm.vitaminC.$invalid">
                                        <span ng-show="mineralForm.vitaminC.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminC" ng-model="measureDetail.vitaminC" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Vitamin E
                                    <span ng-show="mineralForm.vitaminE.$dirty&&mineralForm.vitaminE.$invalid">
                                        <span ng-show="mineralForm.vitaminE.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminE" ng-model="measureDetail.vitaminE" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Vitamin K
                                    <span ng-show="mineralForm.vitaminK.$dirty&&mineralForm.vitaminK.$invalid">
                                        <span ng-show="mineralForm.vitaminK.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vitaminK" ng-model="measureDetail.vitaminK" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Polyunsaturated Fat
                                    <span ng-show="mineralForm.polyunsaturatedfat.$dirty&&mineralForm.polyunsaturatedfat.$invalid">
                                        <span ng-show="mineralForm.polyunsaturatedfat.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="polyunsaturatedfat" ng-model="measureDetail.polyunsaturatedfat" maxlength="7" validate-Float/>
                            </div>
                            <div class="col-md-7 no-padding">
                                <p>Monounsaturated Fat
                                    <span ng-show="mineralForm.monounsaturatedfat.$dirty&&mineralForm.monounsaturatedfat.$invalid">
                                        <span ng-show="mineralForm.monounsaturatedfat.$error.validateFloat"> <span class="pull-right text-red">Invalid&nbsp;data.</span></span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="monounsaturatedfat" ng-model="measureDetail.monounsaturatedfat" maxlength="7" validate-Float/>
                            </div>
                        </div>
                        </td>
                        </tr>
                        <tr ng-show="foodDetails.measureid.length==0"><td colspan="3" class="text-center">No Measure Selected !!!</td></tr>
                        </tbody>
                </table>
                </div>
                <div class="col-md-12 margin-top-10 text-center">
                    <span ng-hide="isNew"><a class="btn register_button" href="" ng-click="doUpdateFoodDetails()" ng-disabled="foodForm.$invalid||isClean()||doingUpdate"><span ng-if="spinner"><span class="one-quarters-loader">Loading…</span></span>Update Food Details</a></span>
                    <span ng-show="isNew"><a class="btn register_button" href="" ng-click="doAddFoodDetails()" ng-disabled="foodForm.$invalid || doingUpdate"><span ng-if="spinner"><span class="one-quarters-loader">Loading…</span></span>Save Food Details</a></span>
                    <a class="btn cancel_button" href="#food">Cancel</a>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Food Image popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Food Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <p>Preview:</p>
            <img class="food-preview center-block" ng-src="{{foodDetails.foodimage}}"/>
            <h6 class="text-red text-center margin-tb-10">Note : Upload Image Size 1000x1000</h6>
            <p>Progress:</p>
            <progress class="food-progress" value="{{progress}}"></progress>
            <div class="action_btns margin-top-10">
                <div class="one_half">
                    <div class="fileUpload food-button">
                        <span>Choose Image</span>
                        <input type="file" name="image" valid-file accept="image/*" ng-model="foodDetails.foodimage" class="upload" ng-file-select="onFileSelect($files)"/>
                    </div>
                </div>
                <div class="one_half last"><a href="" onclick="return false;" class="btn food-button export modal_close" id="submit_button" ng-click="doUpdateFoodImage();" ng-disabled="inputContainsFile">Save Image</a></div>
            </div>
        </div>
    </section>
</div>

<!-- Help container -->
<div class="switcher-box">
    <a href="#" onclick="return false" class="open-switcher show-switcher"><i class="fa fa-question-circle fa-2x"></i></a>
    <h4>Help</h4>
    <span>12 Predefined Color Skins</span>
    <ul>
        <li>
            tips 1
        </li>
        <li>
            tips 2
        </li>
        <li>
            tips 3
        </li>
        <li>
            tips 4
        </li>
    </ul>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#measure-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>
<script>
    $(document).ready(
             function(){
                $('input:file').change(
                        function(){
                            if ($(this).val()) {
                                $('#submit_button').attr('disabled',false);
                            }
                        }
                );
            });
</script>

