

<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#food" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Food List</a>
                <h4 class="classic-title"><span>{scope} Food</span></h4>
                <div class="col-md-2 coach-details">
                    <img id="food-image-change" src="../../images/food.jpg"/><br/><br/>
                    <a id="modal_trigger" href="#modal" onclick="return false;" class="btn-sm btn-primary">Change Food Image</a>
                </div>
                <div class="col-md-10 no-padding">
                    <div class="col-md-2 margin-top-5">
                        <h4>Food Name :</h4>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control"/>
                        <hr/>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Categories :</h4>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="categories" value="Biriyani,NonVegetarian,Chicken" placeholder="Type something and hit enter" />
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 margin-top-5">
                        <h4>Session :</h4>
                    </div>
                    <div class="col-md-10">
                    <span class="fh-checkbox">
                        <input type="checkbox" id="session-1" name="session" checked>
                        <label for="session-1">Break Fast</label>
                        <input type="checkbox" id="session-2" name="session">
                        <label for="session-2">Lunch</label>
                        <input type="checkbox" id="session-3" name="session">
                        <label for="session-3">Evening Snacks</label>
                        <input type="checkbox" id="session-4" name="session">
                        <label for="session-4">Dinner</label>
                    </span>
                        <hr/>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Tags :</h4>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="tags" value="Lunch,Heavy,Food" placeholder="Type something and hit enter" />
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 margin-top-5">
                                <h4>Measures :</h4>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="fh-checkbox col-md-12">
                                        <input class="col-md-1" id="measure-1" type="checkbox" checked>
                                        <label class="col-md-2" for="measure-1">Grams</label>
                                        <input class="col-md-1" id="measure-2" type="checkbox">
                                        <label class="col-md-2" for="measure-2">Kgs</label>
                                        <input class="col-md-1" id="measure-3" type="checkbox">
                                        <label class="col-md-2" for="measure-3">litter</label>
                                        <input class="col-md-1" id="measure-4" type="checkbox">
                                        <label class="col-md-2" for="measure-4">ml</label>
                                        <input class="col-md-1" id="measure-5" type="checkbox">
                                        <label class="col-md-2" for="measure-5">cup</label>
                                        <input class="col-md-1" id="measure-6" type="checkbox">
                                        <label class="col-md-2" for="measure-6">bowl</label>
                                        <input class="col-md-1" id="measure-7" type="checkbox">
                                        <label class="col-md-2" for="measure-7">plate</label>
                                        <input class="col-md-1" id="measure-8" type="checkbox">
                                        <label class="col-md-2" for="measure-8">pieces</label>
                                        <input class="col-md-1" id="measure-9" type="checkbox">
                                        <label class="col-md-2" for="measure-9">glass</label>
                                        <div class="col-md-3 no-padding margin-top-5">
                                            <a id="measure-modal" href="#measure-modal-edit" onclick="return false;" class="main_button"><i class="fa fa-plus-circle"></i>&nbsp;Add New</a>
                                        </div>
                                    </div>

                                </div>
                                <table class="table table-bordered margin-top-10">
                                    <thead>
                                    <tr class="success">
                                        <th class="action-col">Measures</th>
                                        <th>Fat (g)</th>
                                        <th>Protein (g)</th>
                                        <th>Carbo (g)</th>
                                        <th>Fibre (g)</th>
                                        <th>Calorie Intake</th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Grams</td>
                                        <td><input class="form-control"></td>
                                        <td><input class="form-control"></td>
                                        <td><input class="form-control"></td>
                                        <td><input class="form-control"></td>
                                        <td><input class="form-control"></td>
                                        <td><a href="#minerals" class="btn btn-primary minerals-modal">View more</a> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-10 text-center">
                        <a class="register_button" href="">Save Food</a>
                        <a class="cancel_button" href="#food">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- create coach popup-->
<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Change Food Image</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <div class="image-editor">
                <div class="cropit-image-preview center-block"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">

                <div class="action_btns margin-top-20">
                    <div class="one_half">
                        <div class="fileUpload food-button">
                            <span>Choose Image</span>
                            <input type="file" class="upload cropit-image-input" />
                        </div>
                    </div>
                    <div class="one_half last"><a href="" onclick="return false;" class="food-button export modal_close">Save Image</a></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Tag popup-->
<div id="measure-modal-edit" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">add measurement unit</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form>
                <p>Measurement Unit Name</p>
                <input type="text" />

                <div class="action_btns margin-top-20">
                    <div><a href="" class="btn btn_red">Save Measurement Unit </a></div>
                </div>
            </form>
        </div>
    </section>
</div>


<!-- Tag popup-->
<div id="minerals" class="popupContainer width-40" style="display:none;">
    <header class="popupHeader width-100">
        <span class="header_title">add more minerals</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            <form>
                <div class="col-md-4">
                    <p>name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Unit Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-4">
                    <p>Name</p>
                    <input type="text" />
                </div>
                <div class="col-md-12 action_btns margin-top-20 margin-bottom-20">
                    <div class="one_half"><a onclick="return false;" class="btn btn_blue">Save Values</a></div>
                    <div class="one_half last modal_close"><a href="" class="btn btn_red">Cancel</a></div>
                </div><br/><br/>
            </form>
        </div>
    </section>
</div>

<!-- End Page Banner -->
<script type="text/javascript" src="../../js/script.js"></script>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $("#measure-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

<script type="text/javascript">
    $(".minerals-modal").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        $(".common_model").show();
    })
</script>

<script>
    $(function() {
        $('.image-editor').cropit({
            imageState: {
                src: ''
            }
        });

        $('.export').click(function() {
            var imageData = $('.image-editor').cropit('export');
            document.getElementById("food-image-change").src=imageData;
        });
    });
</script>

<script type="text/javascript">
    jQuery(document).ready(function($) {

        $('#categories').tokenfield({
            autocomplete: {
                source: ['Vegetarian','Meals','Sea Food','Chiense','Ice Creams'],
                delay: 100
            },
            showAutocompleteOnFocus: true,
            delimiter: [',',' ', '-', '_']
        });

        $('#tags').tokenfield({
            autocomplete: {
                source: ['Biriyani','Chicken','Lunch','black','white'],
                delay: 100
            },
            showAutocompleteOnFocus: true,
            delimiter: [',',' ', '-', '_']
        });

    });
</script>



