<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <a href="#member" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Coach List</a>
                <h4 class="classic-title"><span>Member Management</span></h4>
                <div class="col-md-3 coach-details">
                    <img src="../../images/pic-2.jpg"/>
                    <h3 class="margin-top-10">JOHN CHRISTOPHER</h3>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-orange">Basic Profile :</h4>
                            <hr/>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Email ID :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Date Of Birth :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Phone Number :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Gender :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Country :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    State :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    City :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Qualification :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Experience :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-orange">Demographic Profile :</h4>
                            <hr/>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Height :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Weight :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Hip :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Waist :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Blood Group :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    BMI :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Blood Pressure :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Protein :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Fat :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Carbo :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Fibre :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-4 margin-top-5">
                                    Calories :
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="" class="btn btn-success">Save Changes</a>
                        <a href="#member" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>