<!-- Start Page Banner -->

<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-12" ng-init="doViewMembers()">
            <a href="#member" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Members List</a>
            <h4 class="classic-title"><span>Member Details</span></h4>
            <div class="col-md-2 no-padding">
                <div class="margin-right-20">
                    <img class="border-image" ng-src="{{myImgSrc}}"/>
                </div>
            </div>
            <div class="col-md-10 no-padding">
                <table class="table table-bordered table-striped wrap-all" style="table-layout: fixed">
                    <tr>
                        <td class="col-md-3">Name</td>
                        <td class="col-md-9">{{viewMemberDetails.name}}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>{{viewMemberDetails.emailid}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <div ng-if="viewMemberDetails.gender == 1">
                                Male
                            </div>

                            <div ng-if="viewMemberDetails.gender == 2">
                                Female
                            </div>
                            <div ng-if="viewMemberDetails.gender == null">
                                N/A
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td>{{viewMemberDetails.about}}</td>
                    </tr>
                    <tr>
                        <td>DOB</td>
                        <td>{{viewMemberDetails.dob}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{viewMemberDetails.phone}}</td>
                    </tr>
                    <tr>

                        <td>Country</td>
                        <td>{{viewMemberDetails.countryName }}</td>
                    </tr>
                    <tr>
                        <td>State</td>

                        <td>{{viewMemberDetails.stateName}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{viewMemberDetails.city}}</td>
                    </tr>
                    <tr>
                        <td>Zipcode</td>
                        <td>{{viewMemberDetails.zipcode}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>