
<div class="container" ng-cloak class="ng-cloak">
    <div class="row" ng-init="invitationCoachViewInit()">
         <div class="col-md-12">
            <div ng-if="modalloaded">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
            <a href="{{backTo}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
            <div flash-message="2000" class="col-md-3 no-padding pull-right"></div>
            <h5 class="classic-title"><span>SUBSCRIPTION DETAILS</span></h5>
           
            <div class="row">
                <div class="col-md-6">
                <h4 class="text-center text-bold margin-bottom-15 margin-top-10"> Subscription Details</h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td class="col-md-4 text-bold">User Name</td>
                        <td class="col-md-8">{{subscriptionHistory.username}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold"> User Email ID</td>
                        <td class="col-md-8">{{subscriptionHistory.useremail}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Phone Number</td>
                        <td class="col-md-8">{{subscriptionHistory.userphone}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Plan Choice</td>
                        <td class="col-md-8">{{subscriptionHistory.planchoice}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Coach ID</td>
                        <td class="col-md-8">{{subscriptionHistory.coachid}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Plan Name</td>
                        <td class="col-md-8">{{subscriptionHistory.planname}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Plan Price</td>
                        <td class="col-md-8">{{subscriptionHistory.planprice}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Discount</td>
                        <td class="col-md-9">{{subscriptionHistory.discount}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Discount Price</td>
                        <td class="col-md-8">{{subscriptionHistory.discountprice}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Currency Type</td>
                        <td class="col-md-8">{{subscriptionHistory.currencytype}}</td>
                    <tr>
                        <td class="col-md-4  text-bold">Start Date</td>
                        <td class="col-md-8">{{subscriptionHistory.startdate}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">End Date</td>
                        <td class="col-md-8">{{subscriptionHistory.enddate}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Buffer Date</td>
                        <td class="col-md-8">{{subscriptionHistory.bufferdate}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Clients Count</td>
                        <td class="col-md-8">{{subscriptionHistory.clientscount}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Status</td>
                        <td class="col-md-8">{{subscriptionHistory.status}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">

                <h4 class="text-center text-bold margin-bottom-15 margin-top-10"> Payment Details</h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td class="col-md-4 text-bold">User Name</td>
                        <td class="col-md-8">{{paymentHistory.username==null?'NA':paymentHistory.username}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold"> User Email ID</td>
                        <td class="col-md-8">{{paymentHistory.useremail==null?'NA':paymentHistory.useremail}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Phone Number</td>
                        <td class="col-md-8">{{paymentHistory.userphone==null?'NA':paymentHistory.userphone}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Transaction ID</td>
                        <td class="col-md-8">{{paymentHistory.transactionid==null?'NA':paymentHistory.transactionid}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Transaction Date</td>
                        <td class="col-md-8">{{paymentHistory.transactiondate==null?'NA':paymentHistory.transactiondate}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Price</td>
                        <td class="col-md-8">{{paymentHistory.price==null?'NA':paymentHistory.price}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">InternetHandling Charge</td>
                        <td class="col-md-8">{{paymentHistory.internethandlingcharge==null?'NA':paymentHistory.internethandlingcharge}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3 text-bold">Total Price</td>
                        <td class="col-md-9">{{paymentHistory.totalprice==null?'NA':paymentHistory.totalprice}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Customer IP</td>
                        <td class="col-md-8">{{paymentHistory.customerIP==null?'NA':paymentHistory.customerIP}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Payment Method</td>
                        <td class="col-md-8">{{paymentHistory.paymentmethod==null?'NA':paymentHistory.paymentmethod}}</td>
                    <tr>
                        <td class="col-md-4 text-bold">Auth Code</td>
                        <td class="col-md-8">{{paymentHistory.authcode==null?'NA':paymentHistory.authcode}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">End Date</td>
                        <td class="col-md-8">{{paymentHistory.responsecode==null?'NA':paymentHistory.responsecode}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Response Code</td>
                        <td class="col-md-8">{{paymentHistory.avscode==null?'NA':paymentHistory.avscode}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Card Response Code</td>
                        <td class="col-md-8">{{paymentHistory.cardresponsecode==null?'NA':paymentHistory.cardresponsecode}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Order ID</td>
                        <td class="col-md-8">{{paymentHistory.orderid==null?'NA':paymentHistory.orderid}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Bank Name</td>
                        <td class="col-md-8">{{paymentHistory.bankname==null?'NA':paymentHistory.bankname}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Card ID</td>
                        <td class="col-md-8">{{paymentHistory.cardid==null?'NA':paymentHistory.cardid}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Wallet Name</td>
                        <td class="col-md-8">{{paymentHistory.walletname==null?'NA':paymentHistory.walletname}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">VPA</td>
                        <td class="col-md-8">{{paymentHistory.vpa==null?'NA':paymentHistory.vpa}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Razor Email</td>
                        <td class="col-md-8">{{paymentHistory.razoremail==null?'NA':paymentHistory.razoremail}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Razor Contact</td>
                        <td class="col-md-8">{{paymentHistory.razorcontact==null?'NA':paymentHistory.razorcontact}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold">Transaction Status</td>
                        <td class="col-md-8">{{paymentHistory.transactionstatus==null?'NA':paymentHistory.transactionstatus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4 text-bold"> Razor Status</td>
                        <td class="col-md-8">{{paymentHistory.razorstatus==null?'NA':paymentHistory.razorstatus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-4  text-bold">Status</td>
                        <td class="col-md-8">{{paymentHistory.status==null?'NA':paymentHistory.status}}</td>
                    </tr>
                </table>
            </div>
                </div>
        </div>
    </div>
</div><!-- @end #content -->


<script type="text/javascript" src="../../js/script.js"></script>


