

<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-12 min-height-450" ng-init="studentlistdetailinit()">
                <a href="#courseSubscribersList/{{coursePurchsedDeatils.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to student list</a>
                <h5 class="classic-title"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;COURSE PURCHASED DETAILS</h5>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>COACH DETAILS</h4><br/>
                    <img class="margin-bottom-10" ng-src="{{coursePurchsedDeatils.promoimage|trusted}}">
                    <div class="col-md-2 no-padding">
                        <img ng-src="{{coursePurchsedDeatils.imageurl|trusted}}">
                    </div>
                    <div class="col-md-10">
                        <h4>{{coursePurchsedDeatils.ownername}}</h4>
                        <h5>{{coursePurchsedDeatils.specialistin}}</h5>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <h4 class="col-md-12">PURCHASED DETAILS<br/><br/></h4>
                    <h4>
                        <div class="col-md-4">Course Name</div>
                        <div class="col-md-8 no-padding">:&nbsp;&nbsp;{{coursePurchsedDeatils.coursename}}</div>
                        <div class="col-md-4">Enroll on</div>
                        <div class="col-md-8 no-padding">:&nbsp;&nbsp;{{coursePurchsedDeatils.createdon}}</div>
                        <div class="col-md-4">Price</div>
                        <div class="col-md-8 no-padding">:&nbsp;&nbsp;{{coursePurchsedDeatils.price}}</div>
                        <div class="col-md-4">Transcation Id</div>
                        <div class="col-md-8 no-padding">:&nbsp;&nbsp;{{coursePurchsedDeatils.ownerid}}</div>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>SUBSCRIBER DETAILS</h4><br/>
                    <img class="margin-bottom-10" ng-src="{{coursePurchsedDeatils.imageurl|trusted}}">
                    <h4>{{coursePurchsedDeatils.ownername}}</h4>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>