

<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-450 margin-bottom-20" ng-init="coachSubscribersDetailInit()">
                <a href="#coachSubscribersList/{{coachSubscriptionDetailView.coachdetail.coachid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to subscribers list</a>
                <h5 class="classic-title"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;COURSE PURCHASED DETAILS</h5>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <br/><br/><br/>
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-md-2 no-padding">
                    <h4>SUBSCRIBER DETAILS</h4><br/>
                    <img class="margin-bottom-10" ng-src="{{coachSubscriptionDetailView.userdetail.userimage|trusted}}">
                    <h5 class="wrap">{{coachSubscriptionDetailView.userdetail.username}}</h5>
                    <h6 class="wrap">{{coachSubscriptionDetailView.userdetail.useremailid}}</h6>
                </div>
                <div class="col-md-8">
                    <h4 class="col-md-12 text-center">SUBSCRIPTION DETAILS<br/></h4>
                    <h4 class="col-md-12 text-gray margin-bottom-15 margin-top-10">Inward Details</h4>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td class="col-md-4">Inward ID</td>
                                <td class="col-md-8">{{coachSubscriptionDetailView.inwarddetail.inwardid}}</td>
                            </tr>
                            <tr>
                                <td>Payer Email ID</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.payeremail}}</td>
                            </tr>
                            <tr>
                                <td>Paypal Firstname</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.paypalfirstname}}</td>
                            </tr>
                            <tr>
                                <td>Paypal Lastname</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.paypallastname}}</td>
                            </tr>
                            <tr>
                                <td>Payer ID</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.payerID}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Date</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.transactiondate}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Fee</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.transactionfee}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Amount</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.transactionamount}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Status</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.transactionstatus}}</td>
                            </tr>
                            <tr>
                                <td>Currency Code</td>
                                <td>{{coachSubscriptionDetailView.inwarddetail.currencycode}}</td>
                            </tr>
                        </table>
                    </div>
                    <h4 class="col-md-12 text-gray margin-bottom-10">Outward Details</h4>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td class="col-md-4">Outward ID</td>
                                <td class="col-md-8">{{coachSubscriptionDetailView.outwarddetail.outwardid}}</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.amount}}</td>
                            </tr>
                            <tr>
                                <td>Receiver Email ID</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.receiveremailid}}</td>
                            </tr>
                            <tr>
                                <td>Receiver Account ID</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.receiveraccountid}}</td>
                            </tr>
                            <tr>
                                <td>Sender Email ID</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.senderemailid}}</td>
                            </tr>
                            <tr>
                                <td>Sender Account ID</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.senderaccountid}}</td>
                            </tr>
                            <tr>
                                <td>Transaction ID</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.transactionid}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Date</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.transactiondate}}</td>
                            </tr>
                            <tr>
                                <td>Transaction Status</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.transactionstatus}}</td>
                            </tr>
                            <tr>
                                <td>Currency Code</td>
                                <td>{{coachSubscriptionDetailView.outwarddetail.currencycode}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-2 no-padding">
                    <h4>COACH DETAILS</h4><br/>
                    <img class="margin-bottom-10" ng-src="{{coachSubscriptionDetailView.coachdetail.coachimage|trusted}}">
                    <h5 class="wrap">{{coachSubscriptionDetailView.coachdetail.coachname}}</h5>
                    <h6 class="wrap">{{coachSubscriptionDetailView.coachdetail.coachemailid}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>