

<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-12 min-height-450" ng-init="subscribersListInit()">
                <a href="#payments" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to course list</a>
                <!-- Stat Search -->
                <form class="form-wrapper pull-right" novalidate>
                    <input type="text" placeholder="Search here..." ng-model="courseSearch" ng-change="doGetCourseSubsciberList(1)" required>
                    <button type="submit" ><i class="fa fa-search"></i></button>
                </form>
                <!-- End Search -->
                <h2 class="pull-right text-orange"><b>TOTAL EARN : <span class="text-red">1232 $</span></b>&nbsp;&nbsp;&nbsp;</h2>
                <h5 class="classic-title"><i class="fa fa-male"></i>&nbsp;&nbsp;COURSE ENROLLED SUBSCRIBERS LIST</h5>
                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="warning sort-icon">
                        <th class="col-md-1">Enrolled By<i ng-click="sortingCourseSubscriber('1')" class="{{sortIcon[1]}} pull-right"></i></th>
                        <th class="col-md-1">Purchased On<i ng-click="sortingCourseSubscriber('2')" class="{{sortIcon[2]}} pull-right"></i></th>
                        <th class="col-md-1">Purchase $<i ng-click="sortingCourseSubscriber('3')" class="{{sortIcon[3]}} pull-right"></i></th>
                        <th class="col-md-1">Earn $<i ng-click="sortingCourseSubscriber('4')" class="{{sortIcon[4]}} pull-right"></i></th>
                        <th class="col-md-1">Share $<i ng-click="sortingCourseSubscriber('5')" class="{{sortIcon[5]}} pull-right"></i></th>
                        <th class="col-md-2">Inward ID</th>
                        <th class="col-md-2">Outward ID</th>
                        <th class="col-md-1">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="students.length <= 0"><td colspan="5" style="text-align:center;">Loading new data!!</td></tr>
                    <tr dir-paginate="coursesPayment in coursesPaymentHistory|itemsPerPage:itemsPerPage" total-items="total_count">
                        <td><span class="line-clamp-xs">{{coursesPayment.enrolledby}}</span></td>
                        <td>{{coursesPayment.purchasedon}}</td>
                        <td>{{coursesPayment.purchasedamount}}</td>
                        <td>{{coursesPayment.adminamount}}</td>
                        <td>{{coursesPayment.coachamount}}</td>
                        <td>{{coursesPayment.inwardid}}</td>
                        <td>{{coursesPayment.outwardid}}</td>
                        <td><a href="#courseSubscriberDetails/{{coursesPayment.paymentid}}" class="btn-xs btn-primary">View Details</a></td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls
                        max-size="8"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="doGetStudentList(newPageNumber)" >
                </dir-pagination-controls>

            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>