

<!-- Start Page Banner -->
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">
        <div class="col-md-12 min-height-450 margin-bottom-20" ng-init="subscribersDetailInit()">
            <a href="#course-subscribers-list/{{coursePurchaseDetailView.coursedetail.courseid}}" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to subscribers list</a>
            <h5 class="classic-title"><span><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;COURSE ENROLLMENT - PAYMENT DETAILS</span></h5>
            <div ng-if="loaded">
                <div class="loader-style">
                    <br/><br/><br/>
                    <div class="loader"></div>
                </div>
            </div>
            <div class="col-md-2 no-padding">
                <h4>SUBSCRIBER DETAILS</h4><br/>
                <img class="margin-bottom-10 border-image" ng-src="{{coursePurchaseDetailView.userdetail.userimage|trusted}}">
                <h5 class="wrap">{{coursePurchaseDetailView.userdetail.username}}</h5>
                <h6 class="wrap">{{coursePurchaseDetailView.userdetail.useremailid}}</h6>
            </div>
            <div class="col-md-6">
                <h4 class="col-md-12">PURCHASED DETAILS<br/></h4>
                <h4 class="col-md-12 text-center text-gray margin-bottom-15 margin-top-10">Inward Details</h4>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td class="col-md-4">Inward ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.inwardid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Payer Email ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.payeremail}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Paypal Firstname</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.paypalfirstname}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Paypal Lastname</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.paypallastname}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Payer ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.payerID}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.transactionid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction Date</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.transactiondate}}</td>
                        </tr>
                      <!--  <tr>
                            <td class="col-md-4">Transaction Fee</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.transactionfee}}</td>
                        </tr>-->
                        <tr>
                            <td class="col-md-4">Transaction Amount</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.transactionamount}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction Status</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.inwarddetail.transactionstatus}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3">Currency Code</td>
                            <td class="col-md-9">{{coursePurchaseDetailView.inwarddetail.currencycode}}</td>
                        </tr>
                    </table>
                </div>

                <h4 class="col-md-12 text-center text-gray margin-bottom-10">Outward Details</h4>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td class="col-md-4">Outward ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.outwardid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Amount</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.amount}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Receiver Email ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.receiveremailid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Receiver Account ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.receiveraccountid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Sender Email ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.senderemailid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Sender Account ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.senderaccountid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction ID</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.transactionid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction Date</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.transactiondate}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Transaction Status</td>
                            <td class="col-md-8">{{coursePurchaseDetailView.outwarddetail.transactionstatus}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3">Currency Code</td>
                            <td class="col-md-9">{{coursePurchaseDetailView.outwarddetail.currencycode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <h4>COACH DETAILS</h4><br/>
                <div class="col-md-12 no-padding">
                    <img class="margin-bottom-10" ng-src="{{coursePurchaseDetailView.coursedetail.courseimage|trusted}}">
                </div>
                <div class="col-md-2 no-padding">
                    <img ng-src="{{coursePurchaseDetailView.coachdetail.coachimage|trusted}}">
                </div>
                <div class="col-md-10">
                    <h5 class="wrap">{{coursePurchaseDetailView.coachdetail.coachname}}</h5>
                    <h6 class="wrap">{{coursePurchaseDetailView.coachdetail.coachemailid}}</h6>
                </div>
                <div class="col-md-12 no-padding">
                    <h5 class="wrap margin-top-15">{{coursePurchaseDetailView.coursedetail.coursename}}</h5>
                    <h6 class="wrap margin-top-5 text-gray">{{coursePurchaseDetailView.coursedetail.coursesubtitle}}</h6>
                    <h6 class="margin-tb-10 col-md-12 no-padding">
                        <span class="col-md-3 no-padding">Category</span>
                        <span class="col-md-9">:&nbsp;&nbsp;{{coursePurchaseDetailView.coursedetail.categoryname}}</span>
                        <span class="col-md-3 no-padding">Amount</span>
                        <span class="col-md-9">:&nbsp;&nbsp;{{coursePurchaseDetailView.coursedetail.courseamount}}&nbsp;$</span>
                        <span class="col-md-3 no-padding">Published On</span>
                        <span class="col-md-9">:&nbsp;&nbsp;{{coursePurchaseDetailView.coursedetail.publishedon}}</span>
                        <span class="col-md-3 no-padding">Total Enrolls</span>
                        <span class="col-md-9">:&nbsp;&nbsp;{{coursePurchaseDetailView.coursedetail.enrollcount}}</span>
                        <span class="col-md-3 no-padding margin-top-10 text-bold">Description :</span>
                        <span class="col-md-12 wrap margin-top-5" ng-bind-html="coursePurchaseDetailView.coursedetail.coursedescription | html">:</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>