<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Settings</span></h4>
                <settingsmenu></settingsmenu>
            </div>
            <div class="col-md-9">
                <a href="#dashboard" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <div flash-message="5000" class="col-md-4 pull-right"></div>
                <h3 class="margin-bottom-10">Basic Info</h3>
                <hr/>
                <form name="contactUsForm">
                <div class="row form-set">
                    <div class="col-md-3">
                        <h4>Street Address :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control  margin-bottom-20" name="streetaddress" ng-model="contactUs.streetaddress" required>
                        <span ng-show="contactUsForm.streetaddress.$dirty&&contactUsForm.streetaddress.$invalid">
                                <span class="error-message" ng-show="contactUsForm.streetaddress.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>City :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="city" ng-model="contactUs.city" required>
                         <span ng-show="contactUsForm.city.$dirty&&contactUsForm.city.$invalid">
                                <span class="error-message" ng-show="contactUsForm.city.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>State :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="state" ng-model="contactUs.state" required>
                         <span ng-show="contactUsForm.state.$dirty&&contactUsForm.state.$invalid">
                                <span class="error-message" ng-show="contactUsForm.state.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Zipcode :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="zipcode" ng-model="contactUs.zipcode" required>
                        <span ng-show="contactUsForm.zipcode.$dirty&&contactUsForm.zipcode.$invalid">
                                <span class="error-message" ng-show="contactUsForm.zipcode.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Mobile :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="mobile" ng-model="contactUs.mobile" required>
                          <span ng-show="contactUsForm.mobile.$dirty&&contactUsForm.mobile.$invalid">
                                <span class="error-message" ng-show="contactUsForm.mobile.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Landline :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="landline" ng-model="contactUs.landline" required>
                          <span ng-show="contactUsForm.landline.$dirty&&contactUsForm.landline.$invalid">
                                <span class="error-message" ng-show="contactUsForm.landline.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Support email :</h4>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control margin-bottom-20" name="supportemail" ng-model="contactUs.supportemail" required email>
                         <span ng-show="contactUsForm.supportemail.$dirty&&contactUsForm.supportemail.$invalid">
                                <span class="error-message" ng-show="contactUsForm.supportemail.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="contactUsForm.supportemail.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Company URL :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="companyurl" ng-model="contactUs.companyurl" required>
                         <span ng-show="contactUsForm.companyurl.$dirty&&contactUsForm.companyurl.$invalid">
                                <span class="error-message" ng-show="contactUsForm.companyurl.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>App URL :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="appurl" ng-model="contactUs.appurl" required>
                        <span ng-show="contactUsForm.appurl.$dirty&&contactUsForm.appurl.$invalid">
                                <span class="error-message" ng-show="contactUsForm.appurl.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="text-center">
                        <a href="" class="btn btn-success" ng-click="doUpdateContactUs()" ng-disabled="contactUsForm.$invalid">Save Changes</a>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->
