

<div class="row sidebar-active">
    <ul class="sidebar-menu">
        <li class="{{activeClass.basic}}"><a href="#settings"><i class="fa fa-list-ul"></i> &nbsp;Basic Info</a></li>
        <li class="{{activeClass.mobileApp}}"><a href="#mobileApp"><i class="fa fa-tablet"></i> &nbsp;Mobile App</a></li>
        <li class="{{activeClass.paypal}}"><a href="#paypalSettings"><i class="fa fa-paypal"></i> &nbsp;Paypal</a></li>
        <li class="{{activeClass.sever}}"><a href="#serverSettings"><i class="fa fa-server"></i> &nbsp;Server</a></li>
        <li class="{{activeClass.social}}"><a href="#socialMediaSettings"><i class="fa fa-facebook"></i> &nbsp;Social Media</a></li>
    </ul>
</div>