<!-- Start Page Banner -->
<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Settings</span></h4>
                <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9">
                <a href="#dashboard" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span><i class="fa fa-tablet"></i> &nbsp;Mobile App</span></h4>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="classic-title"><span><i class="fa fa-windows"></i> &nbsp;WINDOWS</span></h5>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <form name="mobileInfoWindowsForm">
                        <div class="col-md-2 no-padding margin-top-5">Build Number :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="buildNumber" ng-model="mobileInfoWindows.buildnumber" maxlength="10" required>
                              <span ng-show="mobileInfoWindowsForm.buildNumber.$dirty&&mobileInfoWindowsForm.buildNumber.$invalid">
                                <span class="error-message" ng-show="mobileInfoWindowsForm.buildNumber.$error.required"><span>Required.</span></span>
                                   <span class="error-message" ng-show="mobileInfoWindowsForm.buildNumber.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                              </span>
                        </div>
                        <div class="col-md-2 margin-top-5">Version :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="version" ng-model="mobileInfoWindows.version" maxlength="10" required>
                            <span ng-show="mobileInfoWindowsForm.version.$dirty&&mobileInfoWindowsForm.version.$invalid">
                                <span class="error-message" ng-show="mobileInfoWindowsForm.version.$error.required"><span>Required.</span></span>
                                  <span class="error-message" ng-show="mobileInfoWindowsForm.version.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                              </span>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-success"  ng-disabled="mobileInfoWindows_isClean() || mobileInfoWindowsForm.$invalid" ng-click="doUpdateWindows()">Update</a>
                        </div>
                        </form>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="classic-title"><span><i class="fa fa-android"></i> &nbsp;ANDROID</span></h5>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <form name="mobileInfoAndroidForm">
                        <div class="col-md-2 no-padding margin-top-5">Build Number :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="buildNumber" ng-model="mobileInfoAndroid.buildnumber" maxlength="10" required>
                              <span ng-show="mobileInfoAndroidForm.buildNumber.$dirty&&mobileInfoAndroidForm.buildNumber.$invalid">
                                <span class="error-message" ng-show="mobileInfoAndroidForm.buildNumber.$error.required"><span>Required.</span></span>
                                  <span class="error-message" ng-show="mobileInfoAndroidForm.buildNumber.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                              </span>
                        </div>
                        <div class="col-md-2 margin-top-5">Version :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="version" ng-model="mobileInfoAndroid.version" maxlength="10" required>
                            <span ng-show="mobileInfoAndroidForm.version.$dirty&&mobileInfoAndroidForm.version.$invalid">
                                <span class="error-message" ng-show="mobileInfoAndroidForm.version.$error.required"><span>Required.</span></span>
                                <span class="error-message" ng-show="mobileInfoAndroidForm.version.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-success" ng-disabled="mobileInfoAndroid_isClean() || mobileInfoAndroidForm.$invalid" ng-click="doUpdateAndroid()">Update</a>
                        </div>
                            </form>
                    </div>
                </div>
                <hr/>
                <div class="row margin-bottom-20">
                    <div class="col-md-12">
                        <h5 class="classic-title"><span><i class="fa fa-apple"></i> &nbsp;iOS</span></h5>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <form name="mobileInfoIosForm">
                        <div class="col-md-2 no-padding margin-top-5">Build Number :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="buildNumber" ng-model="mobileInfoIos.buildnumber" maxlength="10" required>
                            <span ng-show="mobileInfoIosForm.buildNumber.$dirty&&mobileInfoIosForm.buildNumber.$invalid">
                                <span class="error-message" ng-show="mobileInfoIosForm.buildNumber.$error.required"><span>Required.</span></span>
                                <span class="error-message" ng-show="mobileInfoIosForm.buildNumber.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                              </span>
                        </div>
                        <div class="col-md-2 margin-top-5">Version :</div>
                        <div class="col-md-2">
                            <input class="form-control" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="version" ng-model="mobileInfoIos.version" maxlength="10" required>
                            <span ng-show="mobileInfoIosForm.version.$dirty&&mobileInfoIosForm.version.$invalid">
                                <span class="error-message" ng-show="mobileInfoIosForm.version.$error.required"><span>Required.</span></span>
                                <span class="error-message" ng-show="mobileInfoIosForm.version.$error.pattern"><span>Invalid&nbsp;Format.</span></span>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-success" ng-disabled="mobileInfoIos_isClean() || mobileInfoIosForm.$invalid" class="update-button" ng-click="doUpdateIos()">Update</a>
                        </div>
                            </form>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->
