<!-- Start Page Banner -->
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Settings</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#dashboard" class="back-button pull-right"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
            <h4 class="classic-title"><span><i class="fa fa-map-marker"></i> &nbsp;Address Info</span></h4>
            <form name="contactUsForm" novalidate>
                <div class="row form-set">
                    <div class="col-md-3 margin-top-10">
                        <h4>Street Address :</h4>
                    </div>
                    <div class="col-md-9 margin-top-10">
                        <input class="form-control  margin-bottom-20" name="streetaddress" ng-model="contactUs.streetaddress" maxlength="45" required>
                        <span ng-show="contactUsForm.streetaddress.$dirty&&contactUsForm.streetaddress.$invalid">
                                <span class="error-message" ng-show="contactUsForm.streetaddress.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>City :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="city" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="contactUs.city" maxlength="45" required>
                         <span ng-show="contactUsForm.city.$dirty&&contactUsForm.city.$invalid">
                                <span class="error-message" ng-show="contactUsForm.city.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="contactUsForm.city.$error.pattern"><span>Invalid&nbsp;city.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>State :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="state" ng-pattern="/^ *([a-zA-Z]+ ?)+ *$/" ng-model="contactUs.state" maxlength="45" required>
                         <span ng-show="contactUsForm.state.$dirty&&contactUsForm.state.$invalid">
                                <span class="error-message" ng-show="contactUsForm.state.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="contactUsForm.state.$error.pattern"><span>Invalid&nbsp;state.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Zipcode :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="zipcode"  ng-minlength="6" ng-model="contactUs.zipcode"  maxlength="6" validate-number required>
                        <span ng-show="contactUsForm.zipcode.$dirty&&contactUsForm.zipcode.$invalid">
                                <span class="error-message" ng-show="contactUsForm.zipcode.$error.required"><span>Required.</span></span>
                             <span class="error-message" ng-show="!contactUsForm.zipcode.$error.required&&contactUsForm.zipcode.$error.validateNumber"><span>Invalid&nbsp;Format.</span></span>
                           <span class="error-message" ng-show="!contactUsForm.zipcode.$error.validateNumber&&contactUsForm.zipcode.$error.minlength"><span>Should&nbsp;be&nbsp;of&nbsp;length&nbsp;6.</span></span>

                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Mobile :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="mobile"  ng-minlength="10" maxlength="14" ng-model="contactUs.mobile" validate-number required>
                          <span ng-show="contactUsForm.mobile.$dirty&&contactUsForm.mobile.$invalid">
                                <span class="error-message" ng-show="contactUsForm.mobile.$error.required"><span>Required.</span></span>
                                <span class="error-message" ng-show="!contactUsForm.mobile.$error.required&&contactUsForm.mobile.$error.validateNumber"><span>Invalid&nbsp;Format.</span></span>
                            <span class="error-message" ng-show="!contactUsForm.mobile.$error.validateNumber&&contactUsForm.mobile.$error.minlength"><span>Should&nbsp;be&nbsp;minimum&nbsp;of&nbsp;length&nbsp;10.</span></span>

                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Landline :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="landline"  ng-minlength="10" maxlength="14" ng-model="contactUs.landline" validate-number required>
                          <span ng-show="contactUsForm.landline.$dirty&&contactUsForm.landline.$invalid">
                                <span class="error-message" ng-show="contactUsForm.landline.$error.required"><span>Required.</span></span>
                                         <span class="error-message" ng-show="!contactUsForm.landline.$error.required&&contactUsForm.landline.$error.validateNumber"><span>Invalid&nbsp;Format.</span></span>
                               <span class="error-message" ng-show="!contactUsForm.landline.$error.validateNumber&&contactUsForm.landline.$error.minlength"><span>Should&nbsp;be&nbsp;minimum&nbsp;of&nbsp;length&nbsp;10.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Support email :</h4>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control margin-bottom-20" name="supportemail" ng-model="contactUs.supportemail" validate-email required>
                         <span ng-show="contactUsForm.supportemail.$dirty&&contactUsForm.supportemail.$invalid">
                                <span class="error-message" ng-show="contactUsForm.supportemail.$error.required"><span>Required.</span></span>
                            <span class="error-message" ng-show="contactUsForm.supportemail.$error.email"><span>Enter&nbsp;valid&nbsp;Email&nbsp;ID.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Company URL :</h4>
                    </div>
                    <div class="col-md-9">
                        <input type="text"  class="form-control margin-bottom-20" name="companyurl" maxlength="100" ng-model="contactUs.companyurl" validate-url required >
                        <span ng-show="contactUsForm.companyurl.$dirty&&contactUsForm.companyurl.$invalid">
                                <span class="error-message" ng-show="contactUsForm.companyurl.$error.required"><span>Required.</span></span>
                                <span class="error-message" ng-show="!contactUsForm.companyurl.$error.required&&contactUsForm.companyurl.$error.validateUrl"><span>Enter&nbsp;valid&nbsp;URL.</span></span>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <h4>App URL :</h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="appurl" maxlength="100" ng-model="contactUs.appurl" validate-url required>
                       <span ng-show="contactUsForm.appurl.$dirty&&contactUsForm.appurl.$invalid">
                                <span class="error-message" ng-show="contactUsForm.appurl.$error.required"><span>Required.</span></span>
                            <span class="error-message" ng-show="!contactUsForm.appurl.$error.required&&contactUsForm.appurl.$error.validateUrl"><span>Enter&nbsp;valid&nbsp;URL.</span></span>
                         </span>
                    </div>
                    <div class="text-center">
                        <a href="" class="btn btn-success" ng-click="doUpdateContactUs()" ng-disabled="doGetContactUs_isClean() || contactUsForm.$invalid">Save Changes</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- End Page Banner -->
