<!-- Start Page Banner -->
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Settings</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#dashboard" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
            <div flash-message="2000" class="col-md-4 pull-right"></div>
            <h5 class="classic-title"><a href="#paypal-settings"><i class="fa fa-dollar"></i>&nbsp;&nbsp;Paypal Info</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#razor-payment-settings"><i class="fa fa-dollar"></i>&nbsp;&nbsp;Razor Info</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="#authorizeNet-payment-settings"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;AuthorizeNet Info</a></span>
                </h5>
            <!-- <h4 class="classic-title"><span><i class="fa fa-credit-card"></i> &nbsp;AuthorizeNet Payment Info</span></h4> -->
            <form name="authorizeSettingsForm" novalidate>
                <div class="row form-set">
                    <div class="col-md-3 margin-top-10">
                        <h4>Authorize Key ID <span class="pull-right">:</span></h4>
                    </div>
                    <div class="col-md-9 margin-top-10">
                        <input class="form-control margin-bottom-20" name="authorizekeyid" ng-model="authorizeSettings.authorizekeyid" maxlength="100" required validate-email>
                         <span ng-show="authorizeSettingsForm.authorizekeyid.$dirty&&authorizeSettingsForm.authorizekeyid.$invalid">
                                <span class="error-message" ng-show="authorizeSettingsForm.authorizekeyid.$error.required"><span>Required.</span></span>
                         </span>
                    </div>
                    <div class="col-md-3">
                        <h4>Authorize Key Secret <span class="pull-right">:</span></h4>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control margin-bottom-20" name="authorizekeysecret" ng-model="authorizeSettings.authorizekeysecret" maxlength="100" required>
                         <span ng-show="authorizeSettingsForm.authorizekeysecret.$dirty&&authorizeSettingsForm.authorizekeysecret.$invalid">
                                <span class="error-message" ng-show="authorizeSettingsForm.authorizekeysecret.$error.required"><span>Required.</span></span>
                         </span>
                    </div>

                    <div class="col-md-3">
                        <h4>Authorize Type <span class="pull-right">:</span></h4>
                    </div>
                    <div class="col-md-9 margin-bottom-15">
                        <input type="radio" id="1" name="live" value="1" ng-model="authorizeSettings.authorizetype"   required/>
                        <label for="1">Live</label>
                        <input type="radio" id="2" name="sandbox" value="2" ng-model="authorizeSettings.authorizetype"   required/>
                        <label for="2">Sandbox</label>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <a href="" class="btn btn-success" ng-click="doUpdateAuthorizeSettings()" ng-disabled="submitContent">{{contentBtnTxt}}</a>
            </div>
        </div>
    </div>
</div>


<!-- End Page Banner -->
