
<!-- Start Page Banner -->

<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Site Management</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#cdc-list" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to CDC List</a>
            <h4 class="classic-title"><span><i class="fa fa-pencil"></i> &nbsp;{{title}}</span></h4>
            <div class="row">
                <form name="diseasecontrolForm">
                    <div class="row">
                        <img>
                        <div class="col-md-2">
                            <div class="col-md-12 image-editor-thumbnail">

                                <h5>Thumbnail</h5>

                                <div class="cropit-image-preview">
                                    <input type="hidden" id="thumbnail_image_base64"/>
                                </div>


                                <div class="margin-top-20 col-md-12 no-padding">
                                    <div class="fileUpload btn btn-xs btn-primary">
                                        <span>Choose File</span>
                                        <input type="file" id="thumbnail_image" name="thumbnailimage" class="upload cropit-image-input" valid-file  ng-model="healthyliving.thumbnailurl" ng-click="doUpdateImage();"/>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-12 image-editor-banner" style="margin-top: 25px;">

                                <h5>Banner</h5>
                                <div class="cropit-image-preview">
                                     <input type="hidden" id="banner_image_base64"/>
                                </div>
                                  <div class="margin-top-20 col-md-12 no-padding">
                                    <div class="fileUpload btn btn-xs btn-primary">
                                        <span>Choose File</span>
                                        <input type="file" id="banner_image" name="bannerimage" class="upload cropit-image-input" valid-file  ng-model="healthyliving.imageurl" ng-click="doUpdateImage();"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <h4>Title:</h4>
                            </div>
                            <div class="col-md-9 margin-bottom-20">
                                <input class="form-control" name="title" ng-model="healthyliving.title" required>
                                    <span ng-show="diseasecontrolForm.title.$dirty&&diseasecontrolForm.title.$invalid">
                                  <span class="error-message" ng-show="diseasecontrolForm.title.$error.required"><span>Required.</span></span>
                             </span>
                            </div>
                            <div class="col-md-3">
                                <h4>Short Description:</h4>
                            </div>
                            <div class="col-md-9 margin-bottom-20">
                                <textarea type="text" class="height-150 form-control" name="description" ng-model="healthyliving.shortdescription" maxlength="300" required></textarea>
                                    <span ng-show="diseasecontrolForm.description.$dirty&&diseasecontrolForm.description.$invalid">
                                  <span class="error-message" ng-show="diseasecontrolForm.description.$error.required" style="bottom: 100px;"><span>Required.</span></span>
                             </span>
                            </div>
                            <div class="col-md-3">
                                <h4>Date:</h4>
                            </div>
                            <div class="col-md-9 margin-bottom-20">
                            <div class="input-group">
                                 <input type="text" class="form-control" name="date" placeholder="dd/mm/yyyy" calendar ng-model="healthyliving.date" readonly style="background-color: white;cursor: pointer;">
                                   <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                    <span ng-show="diseasecontrolForm.date.$dirty&&diseasecontrolForm.date.$invalid">
                                    <span class="error-message" ng-show="diseasecontrolForm.date.$error.required"><span>Required.</span></span>
                                    </span>
                            </div>
                            </div>

                            <div class="col-md-3">
                                <h4>Content:</h4>
                            </div>
                            <div class="col-md-9 margin-bottom-20">
                                <textarea type="text" class="height-150 form-control" name="content" ng-model="healthyliving.content" required></textarea>
                            <span ng-show="diseasecontrolForm.content.$dirty&&diseasecontrolForm.content.$invalid">
                               <span class="error-message textarea-errormessage40" ng-show="diseasecontrolForm.content.$error.required" style="top:55px;"><span>Required.</span></span>
                            </span>
                         </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center margin-top-10">
                <a href="" class="btn btn-success" ng-click="doAddHealthyTips()" ng-disabled="diseasecontrolForm.$invalid||submitContent || isCleanHealthyTipsArticle()" ng-show="isNew">{{contentBtnTxt}}</a>
                <a href="" class="btn btn-success" ng-click="doUpdateHealthyTips()" ng-disabled="diseasecontrolForm.$invalid||submitContent || isCleanHealthyTipsArticle()" ng-hide="isNew">{{contentBtnTxt}}</a>
                <a href="#cdc-list" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
<script type="text/javascript">
function el(id){return document.getElementById(id);} // Get elem by ID

function readThumbnailImage() {
    if ( this.files && this.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
             el('thumbnail_image_base64').value=e.target.result;
        };
        FR.readAsDataURL( this.files[0] );
    }
}
function readBannerImage() {
    if ( this.files && this.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
             el('banner_image_base64').value=e.target.result;
        };
        FR.readAsDataURL( this.files[0] );
    }
}
el("thumbnail_image").addEventListener("change", readThumbnailImage, false);
el("banner_image").addEventListener("change", readBannerImage, false);


</script>