
<!-- Start Page Banner -->

<div class="container" ng-cloak class="ng-cloak">
    <div class="row">
        <div class="col-md-3">
            <h4 class="classic-title"><span>Site Management</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
            <div flash-message="2000" class="col-md-4 pull-right no-padding"></div>
            <h4 class="classic-title"><span><i class="fa fa-file-text"></i> &nbsp;Terms Of Use</span></h4>
            <div class="row">
                <form name="termsOfUseForm">
                    <div class="col-md-12">
                        <h4 class="margin-bottom-10">Title : {{terms.title}}</h4>
                        <h4 class="margin-bottom-10">Content :</h4>
                        <div ng-if="loaded">
                            <div class="loader-style">
                                <div class="loader"></div>
                            </div>
                        </div>
                            <span ng-show="summernote_touched==1&&termsOfUseForm.content.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="termsOfUseForm.content.$error.required"><span>Required.</span></span>
                            </span>
                        <div summernote config="options" name="content" ng-model="terms.content" required ng-init="summernote_touched=0" ng-change="summernote_touched=1"></div>
                    </div>
                </form>
            </div>
            <div class="text-center margin-top-15">
                <a href="" class="btn btn-success" ng-disabled="termsOfUseForm.$invalid || isClean()" ng-click="doUpdateTermsOfUse()">Save Changes</a>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>