<div class="page-banner">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4 class="classic-title"><span>Site Management</span></h4>
                <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9" ng-init="viewInit()">
                <a href="#forums" class="back-button pull-right"><i class="fa fa-arrow-circle-o-left"></i> Back to Forums List</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h4 class="classic-title"><span><i class="fa fa-eye"></i> &nbsp;View Forum</span></h4>

                <div ng-if="loaded">
                    <div class="loader-style">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="col-md-12 news-block">
                    <h4 class="wrap">{{forumDetails.posttitle}}</h4>
                    <p class="text-italic margin-top-5">Published on : {{forumDetails.postedon}}</p>
                    <div id="forumDescription"><div class="margin-top-20 wrap" ng-bind-html="forumDetails.postdescription | html"></div></div><br/>
                    <h4>Comments</h4>
                    <div class="text-center margin-tb-20" ng-show="forumAnswers.length==0">
                        <img src="../../images/no-reviews.png"/>
                        <h1 class="text-gray">NO COMMENTS</h1>
                    </div>
                    <div ng-repeat="forumAnswerList in forumAnswers" ng-hide="forumAnswers.length==0">
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 no-padding">
                                    <div class="col-md-2 no-padding">
                                        <img class="img-circle" ng-src="{{forumAnswerList.userimage | trusted}}"/>
                                    </div>
                                    <div class="col-md-10">
                                        <h5>{{forumAnswerList.username}}</h5>
                                        <p>{{forumAnswerList.postedon}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="wrap">{{forumAnswerList.comments}}</p>
                                </div>
                                <div class="col-md-2">
                                    Abuse Count : {{forumAnswerList.abusecount}}
                                    <div ng-hide="forumAnswerList.isblocked==0"><a href="" ng-click="doBlockUnblockForumAnswer(forumAnswerList.ansid)" class="btn-xs btn-success">Unblock</a></div>
                                    <div ng-show="forumAnswerList.isblocked==0"><a href="" ng-click="doBlockUnblockForumAnswer(forumAnswerList.ansid)" class="btn-xs btn-danger">Block</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <h4 class="margin-top-20">Post Comment</h4>
                    <form name="userCommentForm" novalidate>
                        <span ng-show="userCommentForm.comments.$dirty&&userCommentForm.comments.$invalid&& !userCommentForm.comments.$pristine">
                            <span class="error-message textarea-errormessage40" ng-show="userCommentForm.comments.$error.required"><span>Required.</span></span>
                        </span>
                        <textarea class="forum-textarea" name="comments" ng-model="comments" placeholder="Enter the comments" required/></textarea>
                        <a href="" ng-click="doPostForumAnswers()" class="btn main-button" ng-disabled="userCommentForm.$invalid">POST COMMENT</a>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>
