
<!-- Start Page Banner -->

<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Site Management</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#articles" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Article List</a>
            <h4 class="classic-title"><span><i class="fa fa-eye"></i> &nbsp;View Article</span></h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial">
                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" ng-src="{{myImgSrc}}" >
                            </div>
                            <div class="media-body">
                                <h4 class="wrap">{{articles.title}}</h4>
                                <div class="margin-top-10 wrap" ng-bind-html="articles.content | html"></div>
                                <span class="margin-top-10"><strong> - {{articles.by}}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>


<script>
    $(function() {
        $('.image-editor').cropit({
            imageState: {
                src: ''
            }
        });

        $('.export').click(function() {
            var imageData = $('.image-editor').cropit('export');
        });
    });
</script>