
<div class="row sidebar-active">
    <ul class="sidebar-menu">
        <li class="{{activeClass.faq}}"><a href="#site"><i class="fa fa-list-ul"></i> &nbsp;FAQ List</a></li>
        <li class="{{activeClass.instruction}}"><a href="#instruction"><i class="fa fa-exclamation-circle"></i> &nbsp;Instruction</a></li>
        <li class="{{activeClass.policy}}"><a href="#privacyPolicy"><i class="fa fa-pencil"></i> &nbsp;Privacy Policy</a></li>
        <li class="{{activeClass.terms}}"><a href="#termsOfUse"><i class="fa fa-file-text"></i> &nbsp;Terms Of Use</a></li>
        <li class="{{activeClass.testimonial}}"><a href="#testimonials"><i class="fa fa-comment"></i> &nbsp;Testimonials</a></li>
        <li class="{{activeClass.news}}"><a href="#latestNews"><i class="fa fa-newspaper-o"></i>  &nbsp;Latest News</a></li>
        <li class="{{activeClass.forum}}"><a href="#forums"><i class="fa fa-comment-o"></i>  &nbsp;Forums</a></li>
    </ul>
</div>