<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Site Management</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9" ng-init="viewInit()">
            <a href="#cdc-list" class="back-button pull-right"><i class="fa fa-arrow-circle-o-left"></i> Back to CDC List</a>
            <div flash-message="2000" class="col-md-4 pull-right"></div>
            <h4 class="classic-title"><span><i class="fa fa-eye"></i> &nbsp;View CDC</span></h4>

            <div ng-if="loaded">
                <div class="loader-style">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="col-md-12 news-block">
                <div class="col-md-12">
                  <h4>Title : {{healthyliving.title}}</h4>
                  <hr/>
                </div>
                <div class="col-md-12">
                <div class="col-md-3" style="margin-top: 50px;">
                    <img class="thumbnail" ng-src="{{myImgSrc}}" style="height: 100px;width: 102px;"/>

                    <p class="text-italic" style="font-family: 'trebuchet ms',sans-serif;font-weight: bold;margin-top: 20px;">Posted by : CyberHealths</p>
                    <p class="text-italic" style="font-family: 'trebuchet ms',sans-serif;font-weight: bold;">Posted on : {{healthyliving.date}}</p>
                </div>
                <div class="col-md-9">
                    <h4 class="wrap">Banner Image</h4>&nbsp;
                    <img class="thumbnail" ng-src="{{myImgSrc}}" style="height: 410px; width: 800px;"/>
                </div>
                    </div>

                <div class="col-md-12 no-padding">
                    <h4>Content</h4>
                    <div class="text-center margin-tb-10 wrap text-justify">
                    {{healthyliving.content}}

                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>

