
<!-- Start Page Banner -->

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="classic-title"><span>Site Management</span></h4>
                <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
            </div>
            <div class="col-md-9">
                <a href="#dashboard" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
                <div flash-message="2000" class="col-md-4 pull-right"></div>
                <h3 class="margin-bottom-10">Terms Of Use</h3>
                <hr/>
                <div class="row">
                    <form name="instructionForm">
                        <div class="col-md-2">
                            <h4>Title :</h4>
                        </div>
                        <div class="col-md-10 margin-bottom-20">
                            <span>{{instructions.title}}</span><br/>
                        </div>
                        <div class="col-md-2">
                            <h4>Content :</h4>
                        </div>
                        <div class="col-md-10">
                            <span ng-show="instructionForm.content.$dirty&&instructionForm.content.$invalid">
                                  <span class="error-message textarea-errormessage40" ng-show="instructionForm.content.$error.required"><span>Required.</span></span>
                             </span>
                            <div summernote config="options" name="content"  ng-model="instructions.content" required></div>
                        </div>
                    </form>
                </div>
                <div class="text-center margin-top-10">
                    <a href="" class="btn btn-success" ng-disabled="isClean() || instructionForm.$invalid" ng-click="doUpdateInstructions()">Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>