<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-3">
            <h4 class="classic-title"><span>Site Management</span></h4>
            <div ng-include src="'views/site-menu.html'" onload="activeClass"></div>
        </div>
        <div class="col-md-9">
            <a href="#latest-news" class="back-button pull-right margin-left-10"><i class="fa fa-arrow-circle-o-left"></i> Back to News List</a>
            <h4 class="classic-title"><span><i class="fa fa-pencil"></i> &nbsp;View Latest News</span></h4>
            <div class="col-md-12 news-block">
                <h4 class="wrap">{{latest.title}}</h4>
                <p class="text-italic margin-top-5">Published on : {{latest.datetime}}</p>
                <div id="test"><div class="margin-top-20 wrap" ng-bind-html="latest.description | html"></div></div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->



<script type="text/javascript" src="../../js/script.js"></script>

<script>
    $('#test').find('*').css('font-family','inherit');
</script>