

<!-- Start Page Banner -->
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">

        <div class="col-md-12 min-height-450" ng-init="init()">
            <a href="#dashboard" class="back-button pull-right margin-left-5"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
            <a class="target_button red_button remove-button pull-right"><i class="fa fa-trash"></i> &nbsp;Remove All</a>
            <select class="pull-right margin-right-10 select-feedback">
                <option>Web</option>
                <option>iOS</option>
                <option>Android</option>
            </select>
            <h5 class="pull-right margin-top-3">Search Platform By : &nbsp;&nbsp;</h5>
            <h5 class="classic-title"><span><a href=""><i class="fa fa-envelope"></i>&nbsp;&nbsp;USERS FEEDBACK</a></span></h5>
            <div ng-if="loaded">
                <div class="loader-style">
                    <br/><br/><br/>
                    <div class="loader"></div>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="warning sort-icon">
                    <th class="select-all" width="10"><input type="checkbox"/></th>
                    <th class="col-md-2">User name</th>
                    <th class="col-md-2">Email ID</th>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">Phone no.</th>
                    <th class="col-md-1">Platform</th>
                    <th class="col-md-4">Feed back</th>
                    <th class="col-md-1">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="courses.length < 0"><td colspan="9" class="text-center">Loading new data!!</td></tr>
                <tr ng-show="courses.length == 0"><td colspan="9" class="text-center">No Results!!!</td></tr>
                <tr ng-repeat="course in courses">
                    <td width="10"><input type="checkbox"/></td>
                    <td>User name</td>
                    <td>username@gmail.com</td>
                    <td>07/06/2016</td>
                    <td>6346783423</td>
                    <td>iOS</td>
                    <td>Exercise bicycling, mountain, uphill, vigorous disabled</td>
                    <td><a href="" class="btn btn-xs btn-danger">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <pagination
                    ng-show="total_count>itemsPerPage"
                    max-size="8"
                    items-per-page="itemsPerPage"
                    total-items="total_count"
                    direction-links="true"
                    boundary-links="true"
                    ng-model="currentPage"
                    ng-change="doGetCoursePaymentDetails()">
            </pagination>

        </div>
    </div>
</div>

<!-- End Page Banner -->

<script type="text/javascript" src="../../js/script.js"></script>