<div ng-show="isMenuShow==2" ng-controller="UserKeyDetailsController">
    <div class="page-banner1">
        <div class='circle-container'>
            <a href='#profile' class='center'><div class="circle-menu">Profile<br/>
                <img src="../../images/profile-icon.png" class="dashboard-menu-img"></div></a>
            <a href='#coach' class='deg0'><div class="circle-menu">Coach<br/>
                <img src="../../images/coach-icon.png" class="dashboard-menu-img"></div></a>
            <a href='#demography' class='deg45'><div class="circle-menu">Demography<br/>
                <img src="../../images/more-icon.png" class="dashboard-menu-img">
            </div></a>
            <a href='#group-goal' class='deg135'><div class="circle-menu">Goal<br/>
                <img src="../../images/goal-icon.png" style="width: 60%;margin-top: -30px"> </div></a>
            <a href='' ng-click="menuUrlChange(3)" class='deg180'><div class="circle-menu">App & Devices<br/>
                <img src="../../images/smartwatch-icon.png" class="dashboard-menu-img"></div></a>
            <a href=''  ng-click="menuUrlChange(1)" class='deg225'><div class="circle-menu">Food Diary<br/>
                <img src="../../images/food-icon.png" class="dashboard-menu-img"></div></a>
            <a href='' ng-click="menuUrlChange(2)" class='deg315'><div class="circle-menu">Exercise<br/>
                <img src="../../images/exercise-running-icon.png" class="dashboard-menu-img"></div></a>
        </div>
    </div>
</div>