<div ng-show="isMenuShow==2" ng-controller="UserKeyDetailsController">
    <div class="menu-banner" id="dashboard-menu">
        <!-- <div class="menu-leftsidebar">
            <div id="grad1" class="col-lg-12 col-md-12 col-sm-12 box-gradiant" ng-click="menuUrlChange(1)">
                <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                    <h5 class="text-white slogan-text-h5">Track your caloric intake.</h5>
                    <h3 class="text-white slogan-text">Record of Food Intake</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 no-padding"> 
                    <i class="fa fa-3x fa-caret-right"></i>  
                </div>
            </div>
            <div id="grad2" class="col-lg-12 col-md-12 col-sm-12 box-gradiant" ng-click="menuUrlChange(2)">
                <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                    <h5 class="text-white slogan-text-h5">Check calories burned by workout.</h5>
                    <h3 class="text-white slogan-text">Record of Energy Spent</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 no-padding"> 
                    <i class="fa fa-3x fa-caret-right"></i>  
                </div>
            </div> 
            <div id="grad3" class="col-lg-12 col-md-12 col-sm-12 box-gradiant" ng-click="menuUrlChange(3)">
                <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                    <h5 class="text-white slogan-text-h5">Access your physical Details.</h5>
                    <h3 class="text-white slogan-text">Wearble Devices</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 no-padding"> 
                    <i class="fa fa-3x fa-caret-right"></i>  
                </div>
            </div> 
            <div id="grad4" class="col-lg-12 col-md-12 col-sm-12 box-gradiant" ng-click="menuUrlChange(5)">
                <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                    <h5 class="text-white slogan-text-h5">Maintain your Basic & Nutrients Details.</h5>
                    <h3 class="text-white slogan-text">Know Yourself</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 no-padding"> 
                    <i class="fa fa-3x fa-caret-right"></i>  
                </div>
            </div> 
        </div> -->
        <!-- For Menu spinning -->
        <div class="menu-sidebar">
            <div class="col-md-3 col-lg-3 col-sm-3 margin-top-10">
                <div class="card box-1 cursor" ng-click="menuUrlChange(1)">
                    <div class="widget-statstic-card">
                        <div class="card-header borderless" >
                            <div class="card-header-left">
                                <h3>Food Intake</h3>
                                <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <i class="feather icon-sliders st-icon bg-c-yellow">
                                <img src="../../images/food-icon.png" class="dashboard-menu-img" />
                            </i>
                            <div class="text-left">
                                <h3>5,456</h3>
                                <span class="float-right bg-c-yellow">23%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 margin-top-10">
                <div class="card box-2 cursor" ng-click="menuUrlChange(2)">
                    <div class="widget-statstic-card">
                        <div class="card-header borderless">
                            <div class="card-header-left">
                                <h3>Energy Spent</h3>
                                <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <i class="feather icon-sliders st-icon bg-c-yellow">
                                <img src="../../images/exercise-icon.png" class="dashboard-menu-img" />
                            </i>
                            <div class="text-left">
                                <h3>5,456</h3>
                                <span class="float-right bg-c-yellow">23%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 margin-top-10">
                <div class="card box-3 cursor" ng-click="menuUrlChange(3)">
                    <div class="widget-statstic-card">
                        <div class="card-header borderless">
                            <div class="card-header-left">
                                <h3>App & Devices</h3>
                                <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <i class="feather icon-sliders st-icon bg-c-yellow">
                                <img src="../../images/smartwatch-icon.png" class="dashboard-menu-img" />
                            </i>
                            <div class="text-left">
                                <h3>5,456</h3>
                                <span class="float-right bg-c-yellow">23%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 margin-top-10">
                <div class="card box-4 cursor" ng-click="menuUrlChange(4)">
                    <div class="widget-statstic-card">
                        <div class="card-header borderless">
                            <div class="card-header-left">
                                <h3>Medications</h3>
                                <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <i class="feather icon-sliders st-icon bg-c-yellow">
                                <img src="../../images/smartwatch-icon.png" class="dashboard-menu-img" />
                            </i>
                            <div class="text-left">
                                <h3>5,456</h3>
                                <span class="float-right bg-c-yellow">23%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-8 col-lg-8 col-sm-8 no-padding">
                    <div class="col-sm-5 col-md-5 no-padding">
                        <div class="card-profile user-card2 cursor" ng-click="menuUrlChange(8)">
                            <img src="../../images/dashboard-background-profile.jpg" class="profile-bg-img img-fluid" />
                            <div class="card-block text-center">
                                <div class="margin-bottom-10">
                                    <a href="#profile" class="dashboard-profile-image">
                                        <img class="user-img img-radius" src={{userProfile.imageurl}} alt="user-profile-img">
                                    </a>
                                </div>
                                <div class="margin-bottom-20">
                                    <h3>{{userProfile.name}}</h3>
                                    <h6>{{userProfile.gender==1?'Male':'Female'}}</h6>
                                    <a href="#profile"><i class="feather fa fa-pencil-square-o m-t-10 f-16"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 no-padding">
                        <div class="col-md-5 social-card1 bg-coach">
                            <div class="small-card-block cursor">
                                <div class="row align-items-center">
                                    <div class="text-center">
                                        <i class="icon-coach social-icon fa fa-user"></i>
                                    </div>
                                    <div class="text-white text-center">
                                        <h4 class="margin-top-10 text-white">Coach</h4>
                                        <p class="text-white">Subscribe Coach</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 social-card2 bg-goal">
                            <div class="small-card-block cursor">
                                <div class="row align-items-center">
                                    <div class="text-center">
                                        <i class="icon-goal social-icon fa fa-bullseye"></i>
                                    </div>
                                    <div class="text-white text-center">
                                        <h4 class="margin-top-10 text-white">Goal</h4>
                                        <p class="text-white">Set you Goal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 social-card1 bg-demography">
                            <div class="small-card-block cursor">
                                <div class="row align-items-center">
                                    <div class="text-center">
                                        <i class="icon-demography social-icon fa fa-twitter"></i>
                                    </div>
                                    <div class="text-white text-center">
                                        <h4 class="margin-top-10 text-white">Demography</h4>
                                        <p class="text-white">Diabetic & Nutrients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 social-card2 bg-mealplan">
                            <div class="small-card-block cursor">
                                <div class="row align-items-center">
                                    <div class="text-center">
                                        <i class="icon-mealplan social-icon fa fa-twitter"></i>
                                    </div>
                                    <div class="text-white text-center">
                                        <h4 class="margin-top-10 text-white">Meal Plan</h4>
                                        <p class="text-white">Plan your intake</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-3 menu-rightsidebar" ng-click="menuUrlChange(4)">
            <h3 class="text-center">Coach Intraction</h3>
            <img src="../../images/assessments.png" class="coach-activity" />
            <img src="../../images/chat-icon.png" class="coach-activity" />
            <img src="../../images/events-icon.png" class="coach-activity" />
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-3 menu-rightsidebar1" ng-click="menuUrlChange(7)">
            <h3 class="text-center">Water Log</h3>
            <img src="../../images/water-log.png" class="margin-top15 pointer waterlog-img" />
        </div>
      
    </div>
</div>

<!-- For Diabetic details for user -->
<div id="diabetic-status" class="popupContainer width-28" style="display:none;left:37%!important;">
    <header class="popupHeader" style="width: 100% !important;">
        <span class="header_title">Diabetic Details</span>
    </header>
    <section class="popupBody">
        <!-- Register Form -->
        <div class="common_model">
            Are you Diabetic Person?
            <div class="col-lg-12 col-md-12 col-sm-12 margin-top-20 margin-bottom-20">
                <div class="one_half">
                    <input type="radio" id="diabetic" class="height" name="diabetic" value="1" ng-model="diabeticCheck.diabetic"/>
                    <label class="width-28 pull-right" for="diabetic">Yes</label>
                </div>
                <div class="one_half">
                    <input type="radio" id="notdiabetic" class="height one_half last modal_close" name="diabetic" value="null" ng-model="diabeticCheck.diabetic" ng-click="doDiabetesCheck()"/>
                    <label class="width-28" for="notdiabetic">No</label>
                </div>
            </div>
            <div ng-show="diabeticCheck.diabetic==1">
                <div ng-show="nonDiabeticAlert">
                    <span class="text-error-message">{{nonDiabeticAlertText}}</span>
                </div>
                <form name="diabeticForm" novalidate>
                    <div  class="col-lg-12 col-md-12 col-sm-12 margin-top-15 no-padding">
                        <div class="col-lg-8 col-md-7 col-sm-7 no-padding margin-top-5">
                            <h5>HbA<sub>1c</sub> <small>(%)</small> <span class="pull-right">:</span></h5>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 padding-right-0">
                            <input class="demography_input" name="HbA1c"  ng-model="diabeticCheck.HbA1c" ng-change="maxHbaValueCheck()" onkeypress="return validateFloatKeyPress(this,event);" validate-zero/>
                            <span class="error-message textarea-errormessage40" ng-show="!diabeticForm.HbA1c.$error.required&&maxHbaValue"><span class="error-bottom-invalid">Please&nbsp;Enter&nbsp;Valid&nbsp;Value.</span></span>
                                <span ng-show="diabeticForm.HbA1c.$dirty&&diabeticForm.HbA1c.$invalid">
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.HbA1c.$error.pattern"><span class="error-bottom-invalid">Invalid&nbsp;Format.</span></span>
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.HbA1c.$error.validateZero"><span class="error-bottom-invalid">Invalid</span></span>
                                </span>
                        </div>
                    </div>
                    <div  class="col-lg-12 col-md-12 col-sm-12 margin-top-15 no-padding">
                        <div class="col-lg-8 col-md-7 col-sm-7 no-padding margin-top-5">
                            <h5>Fasting Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span></h5>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 padding-right-0">
                            <input class="demography_input" name="fastingbloodglucose" maxlength="3" ng-model="diabeticCheck.fastingbloodglucose" validate-zero/>
                            <span ng-show="diabeticForm.fastingbloodglucose.$dirty&&diabeticForm.fastingbloodglucose.$invalid">
                                <span class="error-message textarea-errormessage40" ng-show="diabeticForm.fastingbloodglucose.$error.validateOnlyNumbers"><span class="error-bottom-invalid">Invalid&nbsp;Format.</span></span>
                                <span class="error-message textarea-errormessage40" ng-show="diabeticForm.fastingbloodglucose.$error.validateZero"><span class="error-bottom-invalid">Invalid</span></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 margin-top-15 no-padding">
                        <div class="col-lg-8 col-md-7 col-sm-7 no-padding margin-top-5">
                            <h5>Postprandial Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span><span class="pull-right"></h5>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 padding-right-0">
                            <input class="demography_input" name="postprandialbloodglucose" maxlength="3" ng-model="diabeticCheck.postprandialbloodglucose" validate-zero/>
                                <span ng-show="diabeticForm.postprandialbloodglucose.$dirty&&diabeticForm.postprandialbloodglucose.$invalid">
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.postprandialbloodglucose.$error.validateOnlyNumbers"><span class="error-bottom-invalid">Invalid&nbsp;Format.</span></span>
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.postprandialbloodglucose.$error.validateZero"><span class="error-bottom-invalid">Invalid</span></span>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 margin-top-15 no-padding margin-bottom-20">
                        <div class="col-lg-8 col-md-7 col-sm-7 no-padding margin-top-5">
                            <h5>Random Blood Glucose <small>(mg/dL)</small> <span class="pull-right">:</span><span class="pull-right"></h5>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 padding-right-0">
                            <input class="demography_input" name="randombloodglucose" maxlength="3" ng-model="diabeticCheck.randombloodglucose" validate-zero/>
                                <span ng-show="diabeticForm.randombloodglucose.$dirty&&diabeticForm.randombloodglucose.$invalid">
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.randombloodglucose.$error.validateOnlyNumbers"><span class="error-bottom-invalid">Invalid&nbsp;Format.</span></span>
                                    <span class="error-message textarea-errormessage40" ng-show="diabeticForm.randombloodglucose.$error.validateZero"><span class="error-bottom-invalid">Invalid</span></span>
                                </span>
                        </div>
                    </div>
                    <div class="text-center margin-top-20">
                        <a ng-class="{modal_close:diabeticForm.$invalid}" class="btn register_button" ng-disabled="diabeticForm.$invalid || maxHbaValue" ng-click="doDiabetesCheck()">Save</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">

    var nbOptions = 6;
    var angleStart = -360;

    // jquery rotate animation
    function rotate(li,d) {
        $({d:angleStart}).animate({d:d}, {
            step: function(now) {
                // alert("step");
                $(li)
                   .css({ transform: 'rotate('+now+'deg)' })
                   .find('div.menu-load')
                      .css({ transform: 'rotate('+(-now)+'deg)' });
            }, duration: 200
        });
    }

    // show / hide the options
    function toggleOptions(s) {
        $(s).toggleClass('open');
        var li = $(s).find('li');
        var deg = $(s).hasClass('half') ? 180/(li.length-1) : 360/li.length;
        for(var i=0; i<li.length; i++) {
            var d = $(s).hasClass('half') ? (i*deg)-90 : i*deg;
            $(s).hasClass('open') ? rotate(li[i],d) : rotate(li[i],angleStart);
        }
    }

  /*  $('.selector button').click(function(e) {
        toggleOptions($(this).parent());
    });*/

setTimeout(function() { toggleOptions('.selector'); }, 100);//@ sourceURL=pen.js
</script>